body, html {
  /*min-height: 100%;*/
  margin: 0px;
  font-family: 'Raleway', sans-serif !important;
  /*overflow:hidden; -> causes page not to be scrollable*/
  background-color: #ecf0f5;
}

.wrapper {
  min-height: 100vh !important;
}

.main-menu{
  width: 100%;
}

.main-menu div{
  padding-bottom: 15px;
  padding-top: 15px;
}

.login-form{
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .login-form{
    width: 50%;
  }
}

.login-form input{
  margin-bottom: 5px;
}

.login-form button{
  margin-top:5px;
}

.mycontainer {
  margin-top: 5em
}

.discount-number p {
  font-size: 45px;
  color: #337ab7;
  margin: 0px;
  border: 2px solid #337ab7;
  border-radius: 5px;
}

.discount-info p{
  display: inline-block;
}
.inline-text p{
  display: inline-block;
}

@media only screen and (min-width: 992px) {
  .my-panel-body{
    max-height: 300px;
  }
}
.checked{
  color:orange;
}
.rating{
  margin-top:10px;
  margin-bottom:10px;
  margin-left:auto; 
  margin-right:auto;
  /*width:90px;*/
  text-align: center !important;
}
.rating-large{
  /*display: inline-block;*/
  font-size: 20px;
  text-align: center;
}
.clickable{
  cursor: pointer;
}
.rating-large2{
  /*display: inline-block;*/
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}

.date {
  padding: 0px;
}
.search-design {
  margin: 0px 15px;
}
.user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}
.user-text {
  text-decoration: none;
  color: black;
}
.btn-app {
  border-radius: 3px;
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 12px;
}
.remove-gutters {
  padding: 0px;
}

#profilePicture{
  overflow: auto;
  height: 200px;
  width: 200px;
  margin-top:10px;
}
.profile-container{
  text-align: center;
}

a.icon-button:link, a.icon-button:visited, a.icon-button {
  color: black;
}

a.icon-button:hover, a.icon-button:active {
  color:grey;
}

.no-margin-heading {
  margin-top: 5px;
}
.no-margin-button {
  margin-left: 0px;
}
.dbbutton {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.sredinski-tekst {
  text-align: center;
}
.margin-bottom {
  margin-bottom: 8px;
}
.dolgo-besedilo {
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  width:100%;
  margin-bottom: 0px;
}

input.ng-invalid.ng-touched {
  border : 2px solid red;
}
.neveljavno {
  border : 2px solid red;
}

.page-img {
  height: 100vh; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  background-position-x: 50%;
  background-position-y: 0%;
  /*-webkit-animation: zoomin 30s infinite;*/
  overflow: hidden;
  background-image: url("../images/studying5.jpg");
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }

}

.over-image {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  font-size: 60px;
  color:white;
  
  transform: translate(-50%, -50%);
  padding: 0px 10px;
  left: 50%;
  top:50%;
  text-align: center;
}

.over-image p {
  margin-bottom: 0px ;
}

.navbar-brand {
  /*font-weight: bold;*/
  color: white !important;
}


/* avtobus */

.list-group {
  max-height: 500px;
  margin-bottom: 10px;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}

.list-group-item {
  cursor: pointer;
}

#bus-panel {
  min-height: 472px;
  max-height: 1200px;
  padding: 15px 0 15px 30px;
}

#bus-panel th, td {
  padding-bottom: 3px;
}

#bus-header {
  width: 50px;
}

#smer-header {
  width: 200px;
}

#naslednji-header {
  width: 120px;
}


/* boni */

.info-title {
  max-width: 200px;
  margin: 5px 2px 0 0;
}

.info-naslov {
  color: grey;
  margin-top: 2px;
}


/* The container */
.custom-checkbox .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom-checkbox .container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox .container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

td.selected {
  text-decoration: line-through;
}

.animate {position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

/* koledar */
.fc-day-number {
  font-size: 13px !important;
}
.fc-day-header {
  font-size: 12px !important;
}
.fc-time {
  font-size: 10px !important;
}
.fc-title {
  font-size: 10px !important;
}