<navigacija></navigacija>
<div class="container mycontainer">
    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Prijava</a></li>
                <li><a href="#tab_2" data-toggle="tab">Registracija</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger" id="sporocilo">{{ vm.napakaNaObrazcu }}</div>
                    <form class="login-form prijavaForm" ng-submit="vm.posiljanjePodatkovPrijava()">
                        <h1>Prijava</h1>
                        <label for="email">Email</label>
                            <input class="form-control" type="text" name="email" id="email1" ng-model="vm.prijavniPodatki.email"/>
                        <label for="password">Geslo</label>
                            <input class="form-control" type="password" name="password" id="password" ng-model="vm.prijavniPodatki.password"/>
                        <button class="btn btn-primary" type="submit" id="gumbPrijava" style="margin-bottom: 15px">Pošlji podatke</button>
                    </form>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <div role="alert" ng-show="vm.napakaNaObrazcu2" class="alert alert-danger" id="sporocilo2">{{ vm.napakaNaObrazcu2 }}</div>
                    <div role="alert" ng-show="vm.potrdiEmail" class="alert alert-info" >{{ vm.potrdiEmail }}</div>
                    <form class="login-form registracijaForm" ng-submit="vm.posiljanjePodatkovRegistracija()">
                        <h1>Registracija</h1>
                        <label for="email">Email</label>
                            <input class="form-control" type="email" name="email" id="email2" ng-model="vm.regPodatki.email"/>
                        <label for="password1">Geslo</label>
                            <input class="form-control" type="password" name="password1" id="password1" ng-model="vm.regPodatki.password1"/>
                        <label for="password2">Ponovi geslo</label>
                            <input class="form-control" type="password" name="password2" id="password2" ng-model="vm.regPodatki.password2"/>
                        <button class="btn btn-primary" type="submit" id="gumbRegistracija" style="margin-bottom: 15px">Pošlji podatke</button>
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
</div>

