body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 6rem;
  padding-bottom: 4rem;
  margin-bottom: 45px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
}

.list-group-item {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.card-body {
  padding: 0;
  overflow: auto;
}

#myCanvas
{
  border: 1px solid #000000;
  visibility: hidden;
  display: none;
}

#myImage
{
  border: 1px solid #000000;
}

#firstname
{
  visibility: hidden;
  display:none;
}

#lastname
{
  visibility: hidden;
  display:none;
}

