<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/spremeni_geslo.css" />
<script src="/public/javascripts/registerChecker.js"></script>

<div class="container">
    <div class="login-form">
    <form method="POST" id="userForm" ng-submit="vm.novoGeslo()" autocomplete="off">
            <h2 class="heading_secondary">Change password</h2>
            <div class="form_group">
                <input class="form_input" id="email" type="password" placeholder="original password" ng-model="vm.geslo.OldPassword" required/>
                <label class="form_label" for="email">original password</label>
            </div>
            <div class="form_group"><input class="form_input" id="password" type="password" placeholder="new password" ng-model="vm.geslo.newPassword" required/>
                <label class="form_label" for="password">new password</label>
            </div>
            <div class="form_group"><input class="form_input" id="password" type="password" placeholder="repeat new password" ng-model="vm.geslo.newPassword2" required/>
                <label class="form_label" for="password">new password</label>
            </div>
            <div class="button_wrapper">
                <button class="button button_green button_login" type="submit">Save changes</button>
            </div>
        </form>
    </div> 
</div>