{% extends 'header.html' %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button onclick="document.getElementById('id_sporocilo').value = '';" class="btn btn-outline-info">Cancel</button>
    <button class="btn btn-outline-info" type="submit">Post message</button>
</form>
{% endblock %}