{% extends 'header.html' %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
{% block content %}
    <h3 style="text-align: center" >Search for bus info</h3>
    <br>
    <div class="row" style="text-align: center">
        <a href="#busParent" id="searchBtn" class="waves-effect waves-light btn col s1 offset-s3"><i href="#busParent" class="material-icons">search</i></a>
        <div class="input-field col s5" style="margin: auto">
        <div class="col s12">
                <input id="postaja" type="text" class="autocomplete gn validate">
                <label for="postaja">Station name or ID</label>
                <span class="helper-text" data-error="No station with this name nor ID" data-success=""></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="busParent" class="col s12 busParent z-depth-1" style="text-align: center; overflow-y: auto; height: 50%; background-color: #ffffff">
        </div>
    </div>

    <script>
        document.getElementById("searchBtn").addEventListener("click", function(){
            var loadButton = '<div class="aligneMe"> <div class="preloader-wrapper big active">\n' +
                '    <div class="spinner-layer spinner-blue-only">\n' +
                '      <div class="circle-clipper left">\n' +
                '        <div class="circle"></div>\n' +
                '      </div><div class="gap-patch">\n' +
                '        <div class="circle"></div>\n' +
                '      </div><div class="circle-clipper right">\n' +
                '        <div class="circle"></div>\n' +
                '      </div>\n' +
                '    </div>\n' +
                '  </div> </div>'

            document.getElementById('busParent').innerHTML = loadButton;

            var term = document.getElementById("postaja").value;
            var isnum = /^\d+$/.test(term);
            var exists = false;
            if (isnum){
                exists = checkForId(term);
                term = Number(term);
            } else {
                exists = checkForName(term);
            }


            if(!exists) {
                console.log(term + " does not exist in our database");
                //TODO: print error msg
                printErrorMessage();
                return;
            }
            console.log(term + " exists in our database");

            var url = buildQueryUrl(term)
            $('.busParent').load(url);
        });

        function buildQueryUrl(query){
          if(typeof(query) == 'string'){
            query = query.split(" ").join("%20")
            query = query.split("ž").join("z")
            query = query.split("č").join("c")
            query = query.split("š").join("s")
          }
          
          var url = "{% url 'StraightAs:busQuery' query=123 %}";
          var finalUrl = url.replace('123', query);

          return finalUrl;
        }

        function printErrorMessage(){
          document.getElementById("busParent").innerHTML = "<h4>There is no station with this name or id!</h4>";
        }

        $(document).ready(function(){
            // pac kako to dela is beyond me... IDE mi kaze error, ampak ce dam string okol, potem mi faking ne parsa arraya, ampak string... jS :clap:
            var data1 = {{ autocomplete_data | safe }}
            console.log(typeof(data1))
            console.log(data1)
            // $('input.autocomplete').autocomplete({
            //     data: data1,
            //     limit: 5,            
            // });

            // var elem = document.getElementById("postaja")
            // var instance = M.Autocomplete.getInstance(elem);
            // instance.updateData(data1);
            autocomplete(document.getElementById("postaja"), data1);
        });

        function checkForId(id){
            {% for postaja_object in postaje %}
                // console.log('{{postaja_object.id_postaje}}');
                if('{{postaja_object.id_postaje}}' == id){
                    // not === because '{{postaja_object.id_postaje}}' is a string
                    return true;
                }
            {% endfor %}

            return false;
        }

        function checkForName(name){
            {% for postaja_object in postaje %}
                // console.log('{{postaja_object.naziv}}');
                if('{{postaja_object.naziv}}' === name){
                    return true;
                }
            {% endfor %}
            
            return false;
        }
    </script>


    <script>
    function autocomplete(inp, arr) {
        var LIMIT = 5; // parameter, spremenmo glede na to kok zelimo, da se opcij userju prikaze
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      var shown = 0;
      for (i = 0; i < arr.length; i++) {
          if(shown >= LIMIT){
              break;
          }
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            shown++;
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
            b.setAttribute('class',  'dropPos');
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
}
    </script>
{% endblock %}