<div style="margin: 1rem">
    {% if error == true %}
    <h4>There is no station with this name or id!</h4>
    {% else %}
    <ul >
        {% for station in postaje %}
            <li class="collection-item">
                <h4>{{ station.ime | safe }}</h4>
                <table>
                    <thead>
                        <tr>
                            <td>Num</td>
                            <td>Direction</td>
                            <td>Arrivals</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bus in station.busi %}
                        <tr>
                            <td>{{ bus.num | safe }}</td>
                            <td>{{ bus.end | safe }}</td>
                            <td>{{ bus.arrivals | safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>