{% extends 'header.html' %}

{% block content %}
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-info" type="submit">Save changes</button>
    </form>
{% endblock %}