<div style="margin: 1rem">
    <h5>Are you sure you want to delete selected entry?</h5>
    {% if form.errors.non_field_errors %}
      {{ form.errors.non_field_errors }}
    {% endif %}
    <form method="POST" action="{{ actionUrl }}">
      {% csrf_token %}
      <button class="btn waves-effect waves-light" type="submit" name="action">
          YES
      </button>
      <a class="btn waves-effect waves-light" href="{% url 'StraightAs:home_pogled' %}">NO</a>
    </form>
</div>