{% extends 'header.html' %}

{% block content %}
    <div>
        <!-- Uporabimo "safe", saj upravljalec dogodkov, ki bo dogodke dodajal, ne bo vpisoval javascript kode -->
        <div class="row">
        <h2>
            Student events
        </h2>
        {% for d in dogodki %}
            <div class="col s12 m4">
                <div class="card-panel teal lighten-3">
                    <span class="black-text">
                        <p><strong style="font-size: 200%">{{ d.ime | safe }}</strong><br>
                            Date: {{ d.datum | date:'d. m. Y' | safe }}<br>
                            Time: {{ d.datum | date:'H:i' | safe }}<br>
                            Organizer: {{ d.organizator | safe }}<br>
                            Description: {{ d.opis | safe }}
                        </p>
                    </span>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}