{% extends 'header.html' %}

{% block content %}
<h1>Restaurants</h1>
<br>
<div class="row">
    <div class="col s6" style="text-align: center">
        <div id="map" style="height: 400px;width: 100%;" class="container"></div>
        <script>
            var map = 0;
            var geocoder;
            var address = "Ljubljana";
            var latitude_global;
            var longitude_global;


              function initMap() {
                if(map !== 0) {return;}  // Already defined
                map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 8,
                  center: {lat: 46.0569, lng: 14.5058}
                });
                geocoder = new google.maps.Geocoder();
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                    };

                    // infoWindow.setPosition(pos);
                    // infoWindow.setContent('Location found.');
                    // infoWindow.open(map);
                    map.setCenter(pos);
                    showUserLocationMarker(map, pos);
                    map.setZoom(16);

                    var myNode = document.getElementById("restaurant_dropdown");

                    var cNode = myNode.cloneNode(false);
                    myNode.parentNode.replaceChild(cNode, myNode);

                    var url = "{% url 'StraightAs:restLocation' location=123 %}";
                    var location = position.coords.latitude.toString() + "$" + position.coords.longitude.toString();
                    var finalUrl = url.replace('123', location);
                    $('.dd-res').load(finalUrl);
                  }, function() {});
                }
              }

            function showUserLocationMarker(map_obj, user_loc) {
              var marker = new google.maps.Marker({
                      map: map_obj,
                      position: user_loc,
                      icon: {
                        url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                      }
              });
            }

            function createRestaurantMarker(lat_data, long_data, rname, raddr, ropens, rdoplacilo) {
                var markerPos = {lat: lat_data, lng: long_data};
                // map.setCenter(markerPos);
                var marker = new google.maps.Marker({
                    map: map,
                    position: markerPos,
                    restaurant_data: [rname, raddr, ropens, rdoplacilo],
                    title: rname,
                    icon: {
                        url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                    }
                });
                google.maps.event.addListener(marker, 'click', function() {
                    centerMapOnLoc(lat_data, long_data);
                    displayRestaurantInfo(marker.restaurant_data[0], marker.restaurant_data[1], marker.restaurant_data[2], marker.restaurant_data[3])
                });
            }

            function displayRestaurantInfo(restaurant_name_str, addr, opens, cost) {
                document.getElementById("restaurantname").innerHTML = "Restaurant: <strong>" + restaurant_name_str + "</strong>";
                document.getElementById("restaurantaddr").innerHTML = "Address: <strong>" + addr + "</strong>";
                document.getElementById("restaurantopens").innerHTML = "Opening time: <strong>" + opens + "</strong>";
                document.getElementById("restaurantcost").innerHTML = "Cost: <strong>" + cost + "</strong>";
            }

            function centerMapOnLoc(lat, lng) {
                map.setCenter({lat:lat, lng:lng});
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVnxI1Ax2He_4FtmFlj-1zgvulC9mkHJQ&callback=initMap"></script>
    </div>
    <div class="col s6" style="text-align: center">
        <div class="row" style="height: 200px; width: 100%">
            <!-- Dropdown Structure -->
            <ul id='restaurant_dropdown' class='dropdown-content dd-res' style="min-width: 20%; max-height: 20%;">
                {% for r in restavracije %}
                <li><a id="restaurantclick"
                       href="#"
                       onclick="centerMapOnLoc(parseFloat('{{ r.lat }}'), parseFloat('{{ r.long }}'));displayRestaurantInfo('{{ r.ime }}', '{{ r.naslov }}', '{{ r.odpiralni_cas | linebreaks }}', '{{ r.doplacilo }}');return false;">{{ r.ime }}</a>
                    <script>createRestaurantMarker(parseFloat('{{ r.lat }}'), parseFloat('{{ r.long }}'), '{{ r.ime }}', '{{ r.naslov }}', '{{ r.odpiralni_cas | linebreaks }}', '{{ r.doplacilo }}');</script>
                </li>
                {% endfor %}
            </ul>
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn' href='#' data-target='restaurant_dropdown'>Restaurants</a>
        </div>
        <div class="row" style="height: 200px;">
            <p id="restaurantname">Restaurant name</p>
            <p id="restaurantaddr">Restaurant address</p>
            <p id="restaurantopens">Opening time</p>
            <p id="restaurantcost">Meal cost</p>
        </div>
    </div>
</div>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
        });
</script>
{% endblock %}