<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/vanillaCalendar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        .errorlist {color: red;}
    </style>
</head>


<body class="blue-grey lighten-5">

    <!-- Include navigation bar -->
    {% include "includes/navbar.html" %}
     <!-- Include info messages -->
    {% include "includes/messages.html" %}

    <div class="container">
        <br>
        {% block content %}
        {% endblock %}
    </div>
</body>
