{% extends 'header.html' %}
{% block content %}
    <div>
        <div class="row">
            <div class="col s12 m6">
               <div id="v-cal" class="z-depth-1">
                <div class="vcal-header">
                    <button class="vcal-btn" data-calendar-toggle="previous">
                        <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                        </svg>
                    </button>

                    <div class="vcal-header__label" data-calendar-label="month">
                        March 2017
                    </div>
                    <button class="vcal-btn" data-calendar-toggle="next">
                        <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                        </svg>
                    </button>
                </div>
                <div class="vcal-week">
                    <span>Mon</span>
                    <span>Tue</span>
                    <span>Wed</span>
                    <span>Thu</span>
                    <span>Fri</span>
                    <span>Sat</span>
                    <span>Sun</span>
                </div>
                <div class="vcal-body" data-calendar-area="month"></div>
                </div>
            </div>

            <div class="col s12 m6">
{#                <h1>TIMETABLE</h1>#}
{#                <div>#}
{#                    {% for vnos in urnik_vnosi %}#}
{#                        <div class="container">#}
{#                            <p><strong style="font-size: 200%">{{ vnos.ime | safe }}</strong><br>#}
{#                                Dan: {{ vnos.dan | safe }}<br>#}
{#                                Ura: {{ vnos.ura | date:'d. m. Y H:i' | safe }}<br>#}
{#                                Id (za debug) : {{vnos.id | safe }}#}
{#                            </p>#}
{#                        </div>#}
{#                        <br>#}
{#                        <br>#}
{#                    {% endfor %} #}
{#                </div>#}
                <div id="table1" class="z-depth-1">
                    <div id="table2">
                        <table class="centered">
                            <thead>
                              <tr>
                                  <th></th>
                                  <th>Mon</th>
                                  <th>Tue</th>
                                  <th>Wed</th>
                                  <th>Thu</th>
                                  <th>Fri</th>
                                  <th>Sat</th>
                                  <th>Sun</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>6:00</th>
                                    <th class="hoverHand" onclick="clickedField(1, 1)" id="1.1" onclick="clickedField(1, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(1, 2)" id="1.2" onclick="clickedField(1, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(1, 3)" id="1.3" onclick="clickedField(1, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(1, 4)" id="1.4" onclick="clickedField(1, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(1, 5)" id="1.5" onclick="clickedField(1, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(1, 6)" id="1.6" onclick="clickedField(1, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(1, 7)" id="1.7" onclick="clickedField(1, 7)"></th>
                                </tr>
                                <tr>
                                    <th>7:00</th>
                                    <th class="hoverHand" onclick="clickedField(2, 1)" id="2.1" onclick="clickedField(2, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(2, 2)" id="2.2" onclick="clickedField(2, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(2, 3)" id="2.3" onclick="clickedField(2, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(2, 4)" id="2.4" onclick="clickedField(2, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(2, 5)" id="2.5" onclick="clickedField(2, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(2, 6)" id="2.6" onclick="clickedField(2, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(2, 7)" id="2.7" onclick="clickedField(2, 7)"></th>
                                </tr>
                                <tr>
                                    <th>8:00</th>
                                    <th class="hoverHand" onclick="clickedField(3, 1)" id="3.1" onclick="clickedField(3, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(3, 2)" id="3.2" onclick="clickedField(3, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(3, 3)" id="3.3" onclick="clickedField(3, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(3, 4)" id="3.4" onclick="clickedField(3, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(3, 5)" id="3.5" onclick="clickedField(3, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(3, 6)" id="3.6" onclick="clickedField(3, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(3, 7)" id="3.7" onclick="clickedField(3, 7)"></th>
                                </tr>
                                <tr>
                                    <th>9:00</th>
                                    <th class="hoverHand" onclick="clickedField(4, 1)" id="4.1" onclick="clickedField(4, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(4, 2)" id="4.2" onclick="clickedField(4, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(4, 3)" id="4.3" onclick="clickedField(4, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(4, 4)" id="4.4" onclick="clickedField(4, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(4, 5)" id="4.5" onclick="clickedField(4, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(4, 6)" id="4.6" onclick="clickedField(4, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(4, 7)" id="4.7" onclick="clickedField(4, 7)"></th>
                                </tr>
                                <tr>
                                    <th>10:00</th>
                                    <th class="hoverHand" onclick="clickedField(5, 1)" id="5.1" onclick="clickedField(5, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(5, 2)" id="5.2" onclick="clickedField(5, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(5, 3)" id="5.3" onclick="clickedField(5, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(5, 4)" id="5.4" onclick="clickedField(5, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(5, 5)" id="5.5" onclick="clickedField(5, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(5, 6)" id="5.6" onclick="clickedField(5, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(5, 7)" id="5.7" onclick="clickedField(5, 7)"></th>
                                </tr>
                                <tr>
                                    <th>11:00</th>
                                    <th class="hoverHand" onclick="clickedField(6, 1)" id="6.1" onclick="clickedField(6, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(6, 2)" id="6.2" onclick="clickedField(6, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(6, 3)" id="6.3" onclick="clickedField(6, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(6, 4)" id="6.4" onclick="clickedField(6, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(6, 5)" id="6.5" onclick="clickedField(6, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(6, 6)" id="6.6" onclick="clickedField(6, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(6, 7)" id="6.7" onclick="clickedField(6, 7)"></th>
                                </tr>
                                <tr>
                                    <th>12:00</th>
                                    <th class="hoverHand" onclick="clickedField(7, 1)" id="7.1" onclick="clickedField(7, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(7, 2)" id="7.2" onclick="clickedField(7, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(7, 3)" id="7.3" onclick="clickedField(7, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(7, 4)" id="7.4" onclick="clickedField(7, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(7, 5)" id="7.5" onclick="clickedField(7, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(7, 6)" id="7.6" onclick="clickedField(7, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(7, 7)" id="7.7" onclick="clickedField(7, 7)"></th>
                                </tr>
                                <tr>
                                    <th>13:00</th>
                                    <th class="hoverHand" onclick="clickedField(8, 1)" id="8.1" onclick="clickedField(8, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(8, 2)" id="8.2" onclick="clickedField(8, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(8, 3)" id="8.3" onclick="clickedField(8, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(8, 4)" id="8.4" onclick="clickedField(8, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(8, 5)" id="8.5" onclick="clickedField(8, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(8, 6)" id="8.6" onclick="clickedField(8, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(8, 7)" id="8.7" onclick="clickedField(8, 7)"></th>
                                </tr>
                                <tr>
                                    <th>14:00</th>
                                    <th class="hoverHand" onclick="clickedField(9, 1)" id="9.1" onclick="clickedField(9, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(9, 2)" id="9.2" onclick="clickedField(9, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(9, 3)" id="9.3" onclick="clickedField(9, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(9, 4)" id="9.4" onclick="clickedField(9, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(9, 5)" id="9.5" onclick="clickedField(9, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(9, 6)" id="9.6" onclick="clickedField(9, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(9, 7)" id="9.7" onclick="clickedField(9, 7)"></th>
                                </tr>
                                <tr>
                                    <th>15:00</th>
                                    <th class="hoverHand" onclick="clickedField(10, 1)" id="10.1" onclick="clickedField(10, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(10, 2)" id="10.2" onclick="clickedField(10, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(10, 3)" id="10.3" onclick="clickedField(10, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(10, 4)" id="10.4" onclick="clickedField(10, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(10, 5)" id="10.5" onclick="clickedField(10, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(10, 6)" id="10.6" onclick="clickedField(10, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(10, 7)" id="10.7" onclick="clickedField(10, 7)"></th>
                                </tr>
                                <tr>
                                    <th>16:00</th>
                                    <th class="hoverHand" onclick="clickedField(11, 1)" id="11.1" onclick="clickedField(11, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(11, 2)" id="11.2" onclick="clickedField(11, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(11, 3)" id="11.3" onclick="clickedField(11, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(11, 4)" id="11.4" onclick="clickedField(11, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(11, 5)" id="11.5" onclick="clickedField(11, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(11, 6)" id="11.6" onclick="clickedField(11, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(11, 7)" id="11.7" onclick="clickedField(11, 7)"></th>
                                </tr>
                                <tr>
                                    <th>17:00</th>
                                    <th class="hoverHand" onclick="clickedField(12, 1)" id="12.1" onclick="clickedField(12, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(12, 2)" id="12.2" onclick="clickedField(12, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(12, 3)" id="12.3" onclick="clickedField(12, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(12, 4)" id="12.4" onclick="clickedField(12, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(12, 5)" id="12.5" onclick="clickedField(12, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(12, 6)" id="12.6" onclick="clickedField(12, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(12, 7)" id="12.7" onclick="clickedField(12, 7)"></th>
                                </tr>
                                <tr>
                                    <th>18:00</th>
                                    <th class="hoverHand" onclick="clickedField(13, 1)" id="13.1" onclick="clickedField(13, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(13, 2)" id="13.2" onclick="clickedField(13, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(13, 3)" id="13.3" onclick="clickedField(13, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(13, 4)" id="13.4" onclick="clickedField(13, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(13, 5)" id="13.5" onclick="clickedField(13, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(13, 6)" id="13.6" onclick="clickedField(13, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(13, 7)" id="13.7" onclick="clickedField(13, 7)"></th>
                                </tr>
                                <tr>
                                    <th>19:00</th>
                                    <th class="hoverHand" onclick="clickedField(14, 1)" id="14.1" onclick="clickedField(14, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(14, 2)" id="14.2" onclick="clickedField(14, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(14, 3)" id="14.3" onclick="clickedField(14, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(14, 4)" id="14.4" onclick="clickedField(14, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(14, 5)" id="14.5" onclick="clickedField(14, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(14, 6)" id="14.6" onclick="clickedField(14, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(14, 7)" id="14.7" onclick="clickedField(14, 7)"></th>
                                </tr>
                                <tr>
                                    <th>20:00</th>
                                    <th class="hoverHand" onclick="clickedField(15, 1)" id="15.1" onclick="clickedField(15, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(15, 2)" id="15.2" onclick="clickedField(15, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(15, 3)" id="15.3" onclick="clickedField(15, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(15, 4)" id="15.4" onclick="clickedField(15, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(15, 5)" id="15.5" onclick="clickedField(15, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(15, 6)" id="15.6" onclick="clickedField(15, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(15, 7)" id="15.7" onclick="clickedField(15, 7)"></th>
                                </tr>
                                <tr>
                                    <th>21:00</th>
                                    <th class="hoverHand" onclick="clickedField(16, 1)" id="16.1" onclick="clickedField(16, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(16, 2)" id="16.2" onclick="clickedField(16, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(16, 3)" id="16.3" onclick="clickedField(16, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(16, 4)" id="16.4" onclick="clickedField(16, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(16, 5)" id="16.5" onclick="clickedField(16, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(16, 6)" id="16.6" onclick="clickedField(16, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(16, 7)" id="16.7" onclick="clickedField(16, 7)"></th>
                                </tr>
                                <tr>
                                    <th>22:00</th>
                                    <th class="hoverHand" onclick="clickedField(17, 1)" id="17.1" onclick="clickedField(17, 1)"></th>
                                    <th class="hoverHand" onclick="clickedField(17, 2)" id="17.2" onclick="clickedField(17, 2)"></th>
                                    <th class="hoverHand" onclick="clickedField(17, 3)" id="17.3" onclick="clickedField(17, 3)"></th>
                                    <th class="hoverHand" onclick="clickedField(17, 4)" id="17.4" onclick="clickedField(17, 4)"></th>
                                    <th class="hoverHand" onclick="clickedField(17, 5)" id="17.5" onclick="clickedField(17, 5)"></th>
                                    <th class="hoverHand" onclick="clickedField(17, 6)" id="17.6" onclick="clickedField(17, 6)"></th>
                                    <th class="hoverHand" onclick="clickedField(17, 7)" id="17.7" onclick="clickedField(17, 7)"></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="buttonLocation"></div>
{#                <a class="btn modal-trigger" id="addTimetable" href="#modalUrnik">+</a>#}
{#                <a class="btn modal-trigger" id="editTimetable" href="#modalUrnik">EDIT</a>#}
{#                <a class="btn modal-trigger" id="deleteTimetable" href="#modalUrnik">-</a>#}
            </div>

        </div>
    </div>
    <div class="row">
        <h1 style="text-align: center">TODO <a class="btn modal-trigger" id="addTodo" href="#modalTodo">add</a></h1>
        <div>
            {% for vnos in todo_vnosi %}
            <div class="col s12 m4 hoverHand modal-trigger" href="#modalTodo" onclick="clickedTodo('{{ vnos.id }}')">
                <div class="card-panel yellow lighten-4">
                    <div class="card-content wordwrap">
                            <p class="flow-text black-text">{{ vnos.opis | safe }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="modalCalendar" class="modal modalCalendar">
        <div class="modal-content-Calendar">
            <!--Form content goes in here.-->
        </div>
    </div>

    <div id="modalUrnik" class="modal modalUrnik">
        <div class="modal-content-Urnik">
            <!--Form content goes in here.-->
        </div>
    </div>

    <div id="modalTodo" class="modal modalTodo">
        <div id="modalTodoContent" class="modal-content-Todo">
                <!--Form content goes in here.-->
        </div>
    </div>

    <div id="modalCalendarBase" class="modal baseCalModal">
        <div class="modal-content-calendar-base">
          <h4>Day events</h4>

        </div>
        <div class="modal-footer">
            <a class="btn modal-trigger" id="addCalendarEvent" href="#modalCalendar">Add</a>
        </div>
    </div>

    <div id="modalTodoDelete" class="modal modalTodo">
        <div class="modal-content-TodoDelete">
            <!--Form content goes in here.-->
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    {% load static %}
	<script type="application/javascript" src="{% static 'js/vanillaCalendar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/vanillaCalendar.css' %}">
    <script>
        var calendarSelectedID = 3;
        var timetableSelectedDay = 1;
        var timetableSelectedHour = 11;
        var timetableSelectedID = 1;
        var todoSelectedID = 2;
        var tmp;
        var andrejevaUra;

        function modEditUrnik(a){
            $('.modalUrnik').modal();
            var url = "{% url 'StraightAs:timetableEdit' id=123 %}";
            var finalUrl = url.replace('123', a);
            $('.modal-content-Urnik').load(finalUrl);
        }

        function modDelUrnik(a){
            $('.modalUrnik').modal();
            var url = "{% url 'StraightAs:timetableDelete' id=123 %}";
            var finalUrl = url.replace('123', a);
            $('.modal-content-Urnik').load(finalUrl);

            location.hash = event.target.getAttribute('href').substr(1);
        }

        function modAddUrnik(a, b){
            andrejevaUra = a + 5;
            $('.modalUrnik').modal();
            var url = "{% url 'StraightAs:timetableCreate' dan=123 ura=456 %}";
            var url2 = url.replace('123', b);
            var url3 = url2.replace('456', a+5);
            $('.modal-content-Urnik').load(url3);

            {#location.hash = event.target.getAttribute('href').substr(1);#}
        }

        function clickedField (a, b) {
            var clickedNum= a.toString().concat(".", b.toString())
            var clickedElement = document.getElementById(clickedNum);
            var buttonElement = document.getElementById('buttonLocation')

            if (clickedElement.innerHTML == "") {
                var dodaj = " <a id=\"plus" + clickedNum + "\" class=\"btn this modal-trigger\" href=\"#modalUrnik\" onclick=\"modAddUrnik(" + a.toString() + "," + b.toString() + ")\">+</a> "
                buttonElement.innerHTML = dodaj;
            } else {
                var elementsId = clickedElement.innerHTML.split("\"")[1].replace(/\s/g, "");
                var dodaj = " <a id=\"" + elementsId + "\" class=\"btn this modal-trigger\" href=\"#modalUrnik\" onclick=\"modEditUrnik(" + elementsId + ")\">Edit</a>" +
                        "<a id=\"" + elementsId + "\" class=\"btn this modal-trigger\" href=\"#modalUrnik\" onclick=\"modDelUrnik(" + elementsId + ")\">-</a>"
                buttonElement.innerHTML = dodaj;
            }
        }

        function display_events (month) {
            {% for vnos in koledarski_vnosi %}
                var enVnos = "{{ vnos.datum | date:'d. m. Y H:i' | safe }}".replace(".", "");
                var enVnos = enVnos.replace(".", "");
                var splicedVnos = enVnos.split(" ");
                var searchId = "luka".concat(splicedVnos[0]);
                if (splicedVnos[2] == month[0] && splicedVnos[1] == month[1] && document.getElementById(searchId) == null){
                    var tpoKolokvij = "dan".concat(splicedVnos[0]).replace("0", "");
                    var parent = document.getElementById(tpoKolokvij);
                    var toAdd = '<span class="dot teal" id="'.concat( searchId,'"></span>');
                    parent.insertAdjacentHTML('afterend', toAdd);
                }
            {% endfor %}
        }

        function init_buttons () {
            document.getElementById('addCalendarEvent').addEventListener("click", function(event) {
                event.preventDefault();

                $('.modalCalendar').modal({
                    onOpenEnd : function () {
                        $("#id_datum").val(tmp);
                    },
                    onOpenStart : function () {
                        $('#modalCalendarBase').modal("close");
                    },
                    onCloseEnd : function () {
                        var lo = window.location.href.split("/");
                        lo[lo.length-1] = "home"
                        lo = lo.join("/")
                        window.location.replace(lo);
                    }
                });
                $('.modal-content-Calendar').load("{% url 'StraightAs:calendarCreate' %}");

                location.hash = event.target.getAttribute('href').substr(1);
            });
        }

        document.getElementById('addTodo').addEventListener("click", function(event) {
            event.preventDefault();

            $('.modalTodo').modal();
            var url = "{% url 'StraightAs:todoCreate' %}";
            $('.modal-content-Todo').load(url);

            location.hash = event.target.getAttribute('href').substr(1);
        });

        window.addEventListener('load', function () {
          vanillaCalendar.init({
				disablePastDays: true
			});
        })

        function show_events () {
            $('#modalCalendarBase').modal();
            var tmp2 = tmp.split(" ");
            var url = "{% url 'StraightAs:calendarSpecific' dan="2019-05-31" %}";
            var finalUrl = url.replace('2019-05-31', tmp2[0]);
            $('.modal-content-calendar-base').load(finalUrl);
        }

        function auto_resize () {
            var cal = document.getElementById("v-cal");
            var ur = document.getElementById("table1");
            ur.style.height = cal.clientHeight;
        }

        window.onload = function uploadUrnik () {
            {% for el in urnik_vnosi %}
                var danUr = {{ el.dan }};
                var uraUr = {{ el.ura }} - 5;
                var trajanje = {{ el.trajanje }};
                for (var i=0; i < trajanje; i++){
                    var newUra = uraUr + i;
                    var idUre = newUra.toString().concat(".", danUr.toString());
                    var addToThis = document.getElementById(idUre);
                    addToThis.innerHTML = "<div id=\" " + '{{ el.id }}' + " \" style=\"color: " + '{{ el.barva }}' + " \">" + '{{ el.ime }}' + "</div>"
                }
            {% endfor %}
        }

        function clickedTodo (a) {
            $('.modalTodo').modal();
            var url = "{% url 'StraightAs:todoEdit' id=123 %}";
            var finalUrl = url.replace('123', a);
            $('.modal-content-Todo').load(finalUrl);
        }

    </script>
    <style>
        .datepicker{

        }
    </style>
{% endblock content %}