{% extends 'header.html' %}
{% block content %}

<div class="container" style="text-align: center">
    <h1 style="margin-top: 15rem">Welcome to StraightAS!!!</h1>
    <h5>
        Your one stop shop for all thing student ╚(ಠ_ಠ)=┐
    </h5>
</div>

{% endblock %}