<div style="margin: 1rem" id="one">
    <h5>Dodaj vnos v koledar</h5>
    {% if form.errors.non_field_errors %}
      {{ form.errors.non_field_errors }}
    {% endif %}
    <form id="form-koledar-create" method="POST" action="{% url 'StraightAs:calendarCreate' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.source.errors }}
        {{ form.source }}
        <!--Form content-->
        {{form.as_p}}
        <!--Form button-->
        <button id="submitButton" class="btn" type="submit" name="action">
          CREATE
        </button>
        <p id="errorText"></p>
    </form>
</div>
<script>

    function daysInMonth(m, y) {
        switch (m) {
            case 1 :
                return (y % 4 == 0 && y % 100) || y % 400 == 0 ? 29 : 28;
            case 8 : case 3 : case 5 : case 10 :
                return 30;
            default :
                return 31
        }
    };

    function isValidDate(d, m, y) {
        return m >= 0 && m <= 12 && d > 0 && d <= daysInMonth(m, y) && y >= 1000 && y < 10000;
    };

    function isValidTime(h, m, s){
      return h >= 0 && h < 24 && m >= 0 && m < 60 && s >= 0 && s < 60;
    }
    
    $('#form-koledar-create').submit(function() {
      var form = document.getElementById("form-koledar-create")
      var date = form.elements["datum"].value

      var numPattern = /^[0-9\-\:\ ]+$/;
      if(!numPattern.test(date)){
        showErrorMsg();
        return false;
      }

      var splittedDate = date.split(" ")
      if(splittedDate.length != 2){
        showErrorMsg();      
        return false;
      }

      var datum = splittedDate[0];
      var time = splittedDate[1];

      var datePattern = /^[0-9\-]+$/;
      var timePattern = /^[0-9\:]+$/;
      if(!datePattern.test(datum) || !timePattern.test(time)){
        showErrorMsg();
        return false;
      }

      var datumSplitted = datum.split("-");
      var timeSplitted = time.split(":")
      if(datumSplitted.length != 3 || timeSplitted.length != 3){
        showErrorMsg();
        return false;
      }

      var year = datumSplitted[0];
      var month = datumSplitted[1];
      var day = datumSplitted[2];
      var hour = timeSplitted[0];
      var minute = timeSplitted[1]; 
      var second = timeSplitted[2];

      if(!isValidDate(day, month, year) || !isValidTime(hour, minute, second)){
        showErrorMsg();
        return false;
      }
      
      return true;
    });

    function showErrorMsg(){
        document.getElementById("submitButton").classList.add("red");
        document.getElementById("submitButton").classList.add("lighten-1");
        document.getElementById("errorText").innerHTML = "ERROR: Wrong date and/or time!";
    }
</script>