<div style="margin: 1rem">
    <h5>Events for selected day:</h5>
    <ul class="collection">
        {% for vnos in vnosi %}
            <li class="collection-item">
                <p><p><strong style="font-size: 200%">{{ vnos.ime | safe }}</strong></p>
                    Datum: {{ vnos.datum | date:'d. m. Y H:i' | safe }}<br>
                    Opis: {{ vnos.opis | safe }}<br>
                </p>
                <a class="btn modal-trigger red lighten-2" id="deleteCalendarEvent{{vnos.id | safe }}" href="#modalCalendar">Del</a>
                <a class="btn modal-trigger deep-purple lighten-2" id="editCalendarEvent{{vnos.id | safe }}" href="#modalCalendar">Edit</a>
            </li>
            <script>
                document.getElementById('editCalendarEvent{{vnos.id | safe }}').addEventListener("click", function(event) {
                    event.preventDefault();

                    $('.modalCalendar').modal({
                        onOpenStart : function () {
                            $('#modalCalendarBase').modal("close");
                        },
                            onCloseEnd : function () {
                            var lo = window.location.href.split("/");
                            lo[lo.length-1] = "home"
                            lo = lo.join("/")
                            console.log(lo)
                            window.location.replace(lo);
                        }
                    });
                    var url = "{% url 'StraightAs:calendarEdit' id=123 %}";
                    var finalUrl = url.replace('123', {{vnos.id | safe }});
                    $('.modal-content-Calendar').load(finalUrl);

                    location.hash = event.target.getAttribute('href').substr(1);
                });

                document.getElementById('deleteCalendarEvent{{vnos.id | safe }}').addEventListener("click", function(event) {
                    event.preventDefault();

                    $('.modalCalendar').modal({
                        onOpenStart : function () {
                            $('#modalCalendarBase').modal("close");
                        },
                        onCloseEnd : function () {
                            console.log("whaaat")
                            var lo = window.location.href.split("/");
                            lo[lo.length-1] = "home"
                            lo = lo.join("/")
                            console.log(lo)
                            window.location.replace(lo);
                        }
                    });
                    var url = "{% url 'StraightAs:calendarDelete' id=123 %}";
                    var finalUrl = url.replace('123', {{vnos.id | safe }});
                    $('.modal-content-Calendar').load(finalUrl);

                    location.hash = event.target.getAttribute('href').substr(1);
                });
            </script>
        {% endfor %}
    </ul>
</div>