{% extends 'header.html' %}

{% block content %}
<h3 style="text-align: center" >Login</h3> 
<div class="container">
    <div class="z-depth-1" style="padding: 15px 40px 30px 40px">
        <div>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-outline-info" type="submit" id="log_in_button">Log in</button>
        </form>

        Need an account? <a href="/register" target="blank"><strong>Register</strong></a> instead.
    </div>
</div>
</div>
{% endblock %}