{% extends 'header.html' %}

{% block content %}
<h3 style="text-align: center" >Registration</h3> 
<div class="container">
    <div class="z-depth-1" style="padding: 15px 40px 30px 40px">
        <div>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-outline-info" type="submit" id="register_button">Sign up</button>
            </form>
        
            If you already have an account <a href="/login" target="blank"><strong>login</strong></a> instead.

        </div>
    </div>
</div>
    

{% endblock %}