{% for r in restavracije %}
<li><a id="restaurantclick"
       href="#"
       onclick="centerMapOnLoc(parseFloat('{{ r.lat }}'), parseFloat('{{ r.long }}'));displayRestaurantInfo('{{ r.ime }}', '{{ r.naslov }}', '{{ r.odpiralni_cas | linebreaks }}', '{{ r.doplacilo }}');return false;">{{ r.ime }}</a>
    <script>createRestaurantMarker(parseFloat('{{ r.lat }}'), parseFloat('{{ r.long }}'), '{{ r.ime }}', '{{ r.naslov }}', '{{ r.odpiralni_cas | linebreaks }}', '{{ r.doplacilo }}');</script>
</li>
{% endfor %}