<div style="margin: 1rem">
<h5>Add timetable entry</h5>
{% if form.errors.non_field_errors %}
  {{ form.errors.non_field_errors }}
{% endif %}
<form id="form123" method="POST" action="{{ action_url }}">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.source.errors }}
  {{ form.source }}
  <!--Form content-->
  {{form.as_p}}
  <!--Form button-->
  <button id="submitButton123" class="btn" type="submit" name="action">
      CREATE
  </button>
  <p id="errorText123"></p>
</form>
</div>
<script>
  var ura = parseInt('{{ ura }}');
  var dan = parseInt('{{ dan }}');

  var events = [];
  var eventDays = [
    {% for v in vnosi %}
      '{{ v.dan }}',
    {% endfor %}
  ]

  var eventStarts = [
  {% for v in vnosi %}
      '{{ v.ura }}',
    {% endfor %}
  ]

  for (var i = 0; i < eventDays.length; i++) {
    events.push({
      day: eventDays[i],
      start: eventStarts[i]
    });
  }

  $('#form123').submit(function() {
    var form = document.getElementById("form123")
    var color = form.elements["barva"].value
    var trajanje = Number(form.elements["trajanje"].value)
    if(color.substring(0, 1) == '#'){
      color = color.substring(1);
      form.elements["barva"].value = color; 
    }

    errorString = "";
    
    var isOk  = /(^[0-9A-F]{6}$)|(^[0-9A-F]{3}$)/i.test(color);
    if(!isOk){
      if(errorString == "") errorString += "ERROR: ";
      errorString += "wrong color (has to be in hex without #), ";
    }
    if(trajanje < 1 || trajanje > 17){
      if(errorString == "") errorString += "ERROR: ";
      errorString += "event can last between 1 and 16 hours, ";
    }
    if(ura + trajanje > 23){
      if(errorString == "") errorString += "ERROR: ";
      errorString += "event can only be in 1 day, ";
    }
    if(checkOverlap(trajanje)){
      if(errorString == "") errorString += "ERROR: ";
      errorString += "events overlap.";
    }

    if(errorString != ""){
      showErrorMsg(errorString);
      return false;
    }

    return true; // return false to cancel form action
  });

  function checkOverlap(trajanje){
    for(var i = 0; i < events.length; i++){
      if(events[i].day == dan){
        if(ura < events[i].start && ura + trajanje > events[i].start){
          return true;
        }
      }
    }

    return false;
  }

  function showErrorMsg(errormsg){
      document.getElementById("submitButton123").classList.add("red");
      document.getElementById("submitButton123").classList.add("lighten-1");
      document.getElementById("errorText123").innerHTML = errormsg;
  }
</script>