<div style="margin: 1rem" id="one">
    <h5>Edit TODO</h5>
    {% if form.errors.non_field_errors %}
      {{ form.errors.non_field_errors }}
    {% endif %}
    <form method="POST" action="{{ actionUrl }}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.source.errors }}
        {{ form.source }}
        <!--Form content-->
        {{form.as_p}}
        <!--Form button-->
        <button class="btn" type="submit" name="action">
          UPDATE
        </button>
        <a class="btn red lighten-2" id="todoDelete">Del</a>
    </form>
</div>
<script>
  document.getElementById('todoDelete').addEventListener("click", function(event){
    // console.log("tlelele sem")
    // var modalEl = document.getElementById('modalTodo');
    // var instance = M.Modal.getInstance(modalEl);
    // instance.close();
    var myNode = document.getElementById("modalTodoContent")
    var cNode = myNode.cloneNode(false);
    myNode.parentNode.replaceChild(cNode, myNode);
    
    var url = "{{ deleteUrl }}";
    $('#modalTodoContent').load(url);

    // modalEl = document.getElementById('modalTodoDelete');
    // instance = M.Modal.getInstance(modalEl);
    // instance.open();

    // location.hash = event.target.getAttribute('href').substr(1);

  })
</script>
