<div style="margin: 1rem" id="one">
    <h5>Create new TODO list</h5>
    {% if form.errors.non_field_errors %}
      {{ form.errors.non_field_errors }}
    {% endif %}
    <form method="POST" action="{% url 'StraightAs:todoCreate' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.source.errors }}
        {{ form.source }}
        <!--Form content-->
        {{form.as_p}}
        <!--Form button-->
        <button class="btn" type="submit" name="action">
          CREATE
        </button>
        <a class="btn" href="{% url 'StraightAs:home_pogled' %}">CLOSE</a>
    </form>
</div>