{% extends 'header.html' %}

{% block content %}
    <div style="text-align: center">
        <a class="btn modal-trigger" href="#modal1">Add event</a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <form id="form1" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button id="submitButton" class="btn btn-outline-info" type="submit">Publish event</button>
                    <p id="errorText"></p>
                </form>
            </div>
        </div>
    </div>
    <br>

    <div class="row card-panel teal lighten-2">
        <span class="white-text">
            <div class="col s3" style="text-align: center; font-size: 200%">Name</div>
            <div class="col s3" style="text-align: center; font-size: 200%">Organizer</div>
            <div class="col s3" style="text-align: center; font-size: 200%">Date</div>
            <div class="col s3" style="text-align: center; font-size: 200%">Description</div>
        </span>
    </div>

    {% for d in dogodki %}
        <div class="row card-panel lighten-2">
            <div class="col s3" style="text-align: center"><strong style="font-size: 200%">{{ d.ime | safe }}</strong>
            </div>
            <div class="col s3" style="text-align: center">{{ d.organizator | safe }}</div>
            <div class="col s3" style="text-align: center">{{ d.datum | date:'d. m. Y' | safe }}
                at {{ d.datum | date:'H:i' | safe }}</div>
            <div class="col s3" style="text-align: center">{{ d.opis | safe }}</div>
        </div>
    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });

        function daysInMonth(m, y) {
        switch (m) {
            case 1 :
                return (y % 4 == 0 && y % 100) || y % 400 == 0 ? 29 : 28;
            case 8 : case 3 : case 5 : case 10 :
                return 30;
            default :
                return 31
        }
    };

    function isValidDate(d, m, y) {
        return m >= 0 && m <= 12 && d > 0 && d <= daysInMonth(m, y) && y >= 1000 && y < 10000;
    };

    function isValidTime(h, m, s){
      return h >= 0 && h < 24 && m >= 0 && m < 60 && s >= 0 && s < 60;
    }
    
    $('#form1').submit(function() {
      var form = document.getElementById("form1")
      var date = form.elements["datum"].value

      var numPattern = /^[0-9\-\:\ ]+$/;
      if(!numPattern.test(date)){
        showErrorMsg();
        return false;
      }

      var splittedDate = date.split(" ")
      if(splittedDate.length != 2){
        showErrorMsg();
        return false;
      }

      var datum = splittedDate[0];
      var time = splittedDate[1];

      var datePattern = /^[0-9\-]+$/;
      var timePattern = /^[0-9\:]+$/;
      if(!datePattern.test(datum) || !timePattern.test(time)){
        showErrorMsg();
        return false;
      }

      var datumSplitted = datum.split("-");
      var timeSplitted = time.split(":")
      if(datumSplitted.length != 3 || timeSplitted.length != 3){
        showErrorMsg();
        return false;
      }

      var year = datumSplitted[0];
      var month = datumSplitted[1];
      var day = datumSplitted[2];
      var hour = timeSplitted[0];
      var minute = timeSplitted[1]; 
      var second = timeSplitted[2];

      if(!isValidDate(day, month, year) || !isValidTime(hour, minute, second)){
        showErrorMsg();
        return false;
      }
      
      return true;
    });

    function showErrorMsg(){
        document.getElementById("submitButton").classList.add("red");
        document.getElementById("submitButton").classList.add("lighten-1");
        document.getElementById("errorText").innerHTML = "ERROR: Wrong date and/or time!!";
    }

    </script>
{% endblock %}