extends adminLayout

block content
	.row.d-md-flex
		.col-md-6.offset-md-3.justify-content-center
			.card
				.card-header
					strong System message
				.card-body
					.msgBox
						form.form-horizontal(action="", method="post", role="form")
							ul.list-group
								li.list-group-item
									.form-group
										p Message:
										textarea#Message(placeholder="message", name="msg", required="true")
								li.list-group-item
									.form-group
										a.btn.btn-dark(href="/admin") Cancel
								li.list-group-item
									.form-group
										button.btn.btn-dark#Apply(type='submit') Publish Message