extends layout

block content
    .row
        .col-md-12
            .input-group
                input.form-control#query(type='text' value=query placeholder='Search for bus stations. (input name of a station or its number)')
                .input-group-btn
                    .btn-group(role='group')
                        button.btn.btn-primary#search(type='button') Search

    if error
        br
        .alert.alert-danger
            b #{error}
    else if data && data.stations
        | Found <b>#{data.stations.length}</b> stations that match your result

        br
        br

        each station in data.stations
            .card.bg-light
                .card-body
                    table.table(style="margin-bottom:0px")
                        thead
                            tr
                                td.naslov Bus #
                                td Direction
                                td Next arrival time (min):
                        tbody
                            each bus in station.buses
                                tr
                                    td
                                        a(href="bus?q=" + encodeURIComponent(station.number+"/"+bus.number)) #{bus.number}
                                    td #{bus.direction}
                                    if !bus.arrivals || bus.arrivals.length === 0
                                        td /
                                    else
                                        td #{bus.arrivals}
            br


    script.
        window.addEventListener('load', function () {
            $('#search').click(function(){
                search();
            })

            $('#query').keyup(function (e) {
                if (e.keyCode === 13) {
                    search()
                }
            });

            // disable search button when the input is empty
            $('#query').on('input', function () {
                $('#search').prop('disabled', $('#query').val().trim() === '')
            });

            $('#search').prop('disabled', $('#query').val().trim() === '')
        })

        function search(){
            let query = $('#query').val().trim();

            if (query !== '') {
                window.location.href = "/bus?q=" + encodeURIComponent(query);
            }
        }