extends layout

block content
	
	table.table
		thead
			tr
				th Name
				th Organizer
				th Date
				th Description
		tbody
			each row in rows
				tr
					td #{row.ime}
					td #{row.organizator}
					td #{row.date.substring(8,10)}.#{row.date.substring(5,7)}.#{row.date.substring(0,4)}
					td #{row.opis}

	button#addEvent.btn.btn-dark(data-toggle="modal" data-target="#modalWindow") Add Event

	div.modal.fade#modalWindow
		.modal-dialog
			.modal-content
				form#eventForm.form-horizontal(action="", method="post", role="form")
					.modal-header
						p Event
					.modal-body
						ul.list-group
							li.list-group-item
								.form-group Name: 
									input#ime.form-control(name="ime" placeholder="Name" type="text" required="true")
							li.list-group-item
								.form-group Date: 
									input#date.form-control(name="date" placeholder="Date" type="date" required="true")
							li.list-group-item
								.form-group Organizer: 
									input#organizator.form-control(name="organizator" placeholder="Organizer" type="text" required="true")
							li.list-group-item
								.form-group Descripton: 
									textarea#opis.form-control(name="opis" placeholder="Descripton" required="true")
					.modal-footer
						a.btn(data-dismiss="modal") Close
						button.btn.btn-dark#apply(type="submit") Save