extends layout


block content
	script(src='/libs/@fullcalendar/core/main.js' type="module")
	script(src='/libs/@fullcalendar/daygrid/main.js' type="module")
	script(src='/libs/@fullcalendar/interaction/main.js' type="module")
	script var koledarRows = !{JSON.stringify(koledarRows).replace(/<\//g, '<\\/')}; console.log(koledarRows);
	script var urnikRows = !{JSON.stringify(urnikRows).replace(/<\//g, '<\\/')}; console.log(urnikRows);
	script(src='/javascripts/calendar.js')
	.row.d-md-flex
		#Login.col-md-6.justify-content-center
			.card
				.card-body.p-0
					#calendar
					#calendarForm.collapse(aria-labelledby='calendarForm', data-parent='#accordion')
						.card-body.p-0
							.msgBox
								form.form-horizontal(action="/dodajVnosVKoledar", method="post", role="form")
									ul.list-group
										li.list-group-item
											.form-group
												input#Message(type="text", placeholder="name", name="ime", required="true")
										li.list-group-item
											.form-group
												input#calendarFormDate(type="date", name="datum", required="true")
										li.list-group-item
											.form-group
												input#calendarFormTime(type="time", name="cas", required="true")
										li.list-group-item
											.form-group
												input#Message(type="number", placeholder="duration (hours)", name="trajanje", required="true")
										li.list-group-item
											.form-group
												textarea#Message(placeholder="description", name="opis", required="true")
										li.list-group-item
											.form-group
												button.btn.btn-dark
													a(href="/") Cancel
										li.list-group-item
											.form-group
												button.btn.btn-dark#Apply(type='submit') Save changes
					#calendarFormEdit.collapse(aria-labelledby='calendarFormEdit', data-parent='#accordion')
						.card-body.p-0
							.msgBox
								form.form-horizontal(action="/izbrisiVnosKoledar", method="post", role="form")
									ul.list-group
										li.list-group-item
											.form-group
												input#calendarFormEditIme(type="text", placeholder="name", name="ime", required="true")
										li.list-group-item
											.form-group
												input#calendarFormEditDatum(type="date", name="datum", required="true")
										li.list-group-item
											.form-group
												input#calendarFormEditTime(type="time", name="cas", required="true")
										li.list-group-item
											.form-group
												input#calendarFormEditTrajanje(type="number", placeholder="duration (hours)", name="trajanje", required="true")
										li.list-group-item
											.form-group
												textarea#calendarFormEditOpis(placeholder="description", name="opis", required="true")
										li.list-group-item
											.form-group
												select#calendarFormEditDelete(name="izbrisi", required="true")
													option(value="update") update
													option(value="delete") delete
										li.list-group-item
											.form-group
												button.btn.btn-dark
													a(href="/") Cancel
										li.list-group-item
											.form-group
												button.btn.btn-dark#Apply(type='submit') Save changes
			.card
				.card-body
					#calendar2
					#calendar2Form.collapse(aria-labelledby='calendarForm', data-parent='#accordion')
						.card-body.p-0
							.msgBox
								form.form-horizontal(action="/dodajVnosVUrnik", method="post", role="form")
									ul.list-group
										li.list-group-item
											.form-group
												input#Message(type="text", placeholder="name", name="ime", required="true")
										li.list-group-item
											.form-group
												input#calendar2FormDate(type="date", name="datum", required="true")
										li.list-group-item
											.form-group
												input#calendar2FormTime(type="time", name="cas", required="true")
										li.list-group-item
											.form-group
												input#Message(type="number", placeholder="duration (hours)", name="trajanje", required="true")
										li.list-group-item
											.form-group
												select#calendar2FormBarva(name="barva", required="true")
													option(value="modra") modra
										li.list-group-item
											.form-group
												button.btn.btn-dark
													a(href="/") Cancel
										li.list-group-item
											.form-group
												button.btn.btn-dark#Apply(type='submit') Save changes
					#calendar2FormEdit.collapse(aria-labelledby='calendarFormEdit', data-parent='#accordion')
						.card-body.p-0
							.msgBox
								form.form-horizontal(action="/izbrisiVnosUrnik", method="post", role="form")
									ul.list-group
										li.list-group-item
											.form-group
												input#calendar2FormEditIme(type="text", placeholder="name", name="ime", required="true")
										li.list-group-item
											.form-group
												input#calendar2FormEditDatum(type="date", name="datum", required="true")
										li.list-group-item
											.form-group
												input#calendar2FormEditTime(type="time", name="cas", required="true")
										li.list-group-item
											.form-group
												input#calendar2FormEditId(type="hidden", name="id", required="true")
										li.list-group-item
											.form-group
												input#calendar2FormEditTrajanje(type="number", placeholder="duration (hours)", name="trajanje", required="true")
										li.list-group-item
											.form-group
												select#calendar2FormEditBarva(name="barva", required="true")
													option(value="modra") modra
										li.list-group-item
											.form-group
												select#calendar2FormEditDelete(name="izbrisi", required="true")
													option(value="update") update
													option(value="delete") delete
										li.list-group-item
											.form-group
												button.btn.btn-dark
													a(href="/") Cancel
										li.list-group-item
											.form-group
												button.btn.btn-dark#Apply(type='submit') Save changes
		#Notes.col-md-6.justify-content-center
			.row
				.col-md-12.justify-content-center
					.card
						#headingTodo.card-header
							h5.mb-0
								button.btn.btn-dark(data-toggle='collapse', data-target='#Todo', aria-expanded='false', aria-controls='collapseOne')
									| New TODO
						#Todo.collapse(aria-labelledby='headingLogin', data-parent='#accordion')
							.card-body.p-0
								.msgBox
									form.form-horizontal(action="/dodajVnosVTodo", method="post", role="form")
										ul.list-group
											li.list-group-item
												.form-group
													textarea#Message(placeholder="message", name="opis", required="true")
											li.list-group-item
												.form-group
													button.btn.btn-dark
														a(href="/") Cancel
											li.list-group-item
												.form-group
													button.btn.btn-dark#Apply(type='submit') Publish Message
			.row
				- for(var nI = 0; nI < todoRows.length; nI++)
					.card.col-md-6
						.card-header(style="background-color: white")
							form.form-horizontal(action="/izbrisiVnosVTodo", method="post", role="form")
								input(type="hidden" id=todoRows[nI].id name="id" value=todoRows[nI].id)
								button.btn.btn-dark(style='float: right;', type='submit') delete
						.card-body(contenteditable="true" onblur="(function(){console.log(\"blur\"); var opis = document.getElementById(\"todo" + todoRows[nI].id + "\").innerHTML; console.log(opis); const form = document.createElement('form'); form.method='post'; form.action='/posodobiVnosVTodo'; const hiddenId = document.createElement('input'); hiddenId.type = 'hidden'; hiddenId.name='id'; hiddenId.value=\"" + todoRows[nI].id + "\"; form.appendChild(hiddenId); const hiddenOpis=document.createElement('input'); hiddenOpis.type='hidden'; hiddenOpis.name='opis'; hiddenOpis.value=opis; form.appendChild(hiddenOpis); document.body.appendChild(form); form.submit();})();")
							div(id="todo" + todoRows[nI].id) !{todoRows[nI].opis}
		
		