doctype html
html
  head
    title StraightAs
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/@fullcalendar/core/main.css')
    link(rel='stylesheet', href='/libs/@fullcalendar/daygrid/main.css')
    link(rel='stylesheet', href='/libs/@fullcalendar/timegrid/main.css')
    link(rel='stylesheet', href='/libs/@fullcalendar/list/main.css ')
    script(src='/javascripts/jquery-3.3.1.min.js')
  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='overview') StraightAs
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mainNavbar' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #mainNavbar.collapse.navbar-collapse.ml-auto
        ul.navbar-nav.mr-auto
        ul.navbar-nav.text-center
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="restaurants") Food
          li.nav-item
            a.nav-link(href="events") Events
          li.nav-item
            a.nav-link(href="bus") Bus
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="" hid="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              canvas#myCanvas(width="25" height="25" class="rounded-circle")
              p#firstname Testni
              p#lastname Uporabnik
              if name
                img#myImage(class="rounded-circle")
                script.
                  var firstName = document.getElementById("firstname").innerHTML;
                  var lastName = document.getElementById("lastname").innerHTML;
                  var textToImage = "" + firstName.charAt(0).toUpperCase() + lastName.charAt(0).toUpperCase();
                  var canvas = document.getElementById("myCanvas");
                  var ctx = canvas.getContext("2d");
                  ctx.font = "15px Monospace";
                  ctx.fillStyle = "#AAAAAA";
                  ctx.fillText(textToImage, 3.4,18.2);
                  var imgx = document.getElementById("myImage");
                  imgx.src = canvas.toDataURL("image/png", 1.0);
            .dropdown-menu.dropdown-menu-right.text-right(aria-labelledby="dropdown02")
              a.dropdown-item(href="password") Change password
              a.dropdown-item(href="logout") Log out

    main.container(role="main")
    .container
      block content
    footer.page-footer.font-small.bg-dark
      .container
        .row
          .footer-copyright.py-3.text-center.text-light.col-12
            p TPO Project, 2019

    //script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script window.jQuery || document.write('<script src="./js/jquery-slim.min.js"><\/script>')
    script(src='/bootstrap/js/bootstrap.min.js')
