extends layout

block content
	.row.d-md-flex
		#Login.col-md-6.offset-md-3.justify-content-center
			.card
				.card-header
					strong Login
				.card-body.p-0
					form.form-horizontal(action="./login", method="post", role="form")
						ul.list-group
							li.list-group-item
								.form-group
									label(for='Email') Username:
									input#UsernameLogin2.form-control(type='text', placeholder='Input your email', name='email')
							li.list-group-item
								.form-group
									label(for='Password') Password:
									input#PasswordLogin2.form-control(type='password', placeholder='Input your password', name='geslo')
							li.list-group-item
								.form-group(style='clear: both;')
									a(href='overview')#gumbLogin2
										button.btn.btn-dark(style='float: right;', type='submit') Login
									a.btn.btn-dark(href="/register") Register