extends layout

block content
	.row.d-md-flex
		#Register.col-md-6.offset-md-3.justify-content-center
			.card
				.card-header
					strong Register
				.card-body
					form.form-horizontal(action="./register", method="post", role="form")
						ul.list-group
							li.list-group-item
								.form-group
									label(for='Email') E-mail:
									input#EmailRegister2.form-control(type='email', placeholder='Email', name='email')
							li.list-group-item
								.form-group
									label(for='Password') Password:
									input#PasswordRegister2.form-control(type='password', placeholder='Input your password', name='geslo')
							li.list-group-item
								.form-group
									label(for='ConfirmPassword') Confirm password:
									input#ConfirmPasswordRegister2.form-control(type='password', placeholder='Retype your password', name='geslo2')
								.form-group.text-right(style='clear: both;')
									#gumbRegister2
										button.btn.btn-dark(style='float: right;', type='submit') Register