extends layout

block content
    h1 Search for restaurants near you!
    br
    .col-sm-12.mb-3
        .form-inline.form-row
            button#get_user_location.btn.btn-sm.btn-primary(data-role='remove')
                | Pridobi mojo lokacijo
            p.mb-0.ml-3
                | Latitude:
                b
                    span#lat.mr-2
                | Longitude:
                b
                    span#lon.mr-2
                | Accuracy:
                b
                    span#accuracy
                |  m

    .col-sm-12.mb-3
        .form-inline.form-row
            button#show_rest_around.btn.btn-primary(data-role='remove')
                | Prikaži bližnje restavracije


    .row
        .col-sm-8
            #map(style='width: 100%; height: 700px; background: grey')

        .col-sm-4
            .list-group#rest_list(style="width: 100%; overflow-y: auto;  height:700px;")

    #rest_list_template(style="display:none")
        .rest_item.list-group-item.list-group-item-action
            b(style="text-transform:capitalize;").title
            .address
            b
                span.price_boni
            |  (
            span.price_full
            | )

    script.
        function getMarkerSvg(color, strokeColor) {
            if(!color) color = "#17a2b8";
            if(!strokeColor) strokeColor = "black"

            return '<svg  width="24" height="24" xmlns="http://www.w3.org/2000/svg">' +
                '<circle cx="10" cy="10" r="8" stroke="'+strokeColor+'" stroke-width="1.5" fill="'+color+'"  />' +
                '</svg>'
        }

        let userPosition;
        let all_rest_list = [];
        let user_position_marker;
        let map;
        let selected_restDiv;
        let selected_marker;
        let selected_marker_old_icon;

        let near_rest_markers;

        let icon_def;
        let icon_selected;
        let icon_near;

        function uporabnik_zavrnil_lokacijo() {
            alert("Zavrnitev lokacije!\nBližnjih restavracij vam ne moremo prikazati. \nProsim omogočite vašo lokacijo v nastavitvah.")
        }

        
        // LOKACIJA UPORABNIKA: 
        
        function pridobi_uporabnikovo_lokacijo() {
            if ("geolocation" in navigator) {
                console.log("Getting user location");
                
                // Brskalni uredi te dve funkciji znotraj "getCurrentPostion"
                // potrdi_uporabnikovo_lokacijo
                // zavrni_uporabo_lokacije
                // posljemo request browserju za uporabn. lokacijo
                navigator.geolocation.getCurrentPosition(function (location) {   
                    console.log("Got new user location: ", location.coords);

                    let lat = location.coords.latitude;
                    let lon = location.coords.longitude;

                    $("#lat").text(lat)
                    $("#lon").text(lon)
                    $("#accuracy").text(location.coords.accuracy)

                    userPosition = {};
                    userPosition.lat = lat;
                    userPosition.lon = lon;

                    user_position_marker = new H.map.Marker({lat:lat, lng:lon});
                    user_position_marker.draggable = true;
                    map.addObject(user_position_marker);
                    zoomToMarker(user_position_marker);

                  $("#show_rest_around").prop('disabled', false);
                }, 
                // zavrnitev dovoljenja za uporabo lokacije
                function(error) {
                    if (error.code == error.PERMISSION_DENIED) {
                        uporabnik_zavrnil_lokacijo();
                    }
                });
                // ce browser nima navigatorja (old browsers)
            } else {
                console.error("User geolocation is not avilable");
                return null;
            }

        }
        
        function zoomToMarker(target, zoom) {
            if(!zoom) zoom = 15;
            map.setZoom(zoom, true);
            map.setCenter(target.getPosition(), true);
        }
        // restavracije po razdalji
        function filterRestByDisance(lat, lon, max_distance) {
            close_rest_list = [];

            for(let i=0; i<all_rest_list.length; i++) {
                let rest = all_rest_list[i];
                let dist = getDistance(lat, lon, rest.lat, rest.lon)
                rest.distance = dist;
                if(dist < max_distance) close_rest_list.push(rest);
            }

            return close_rest_list;
        }

        function degreesToRadians(degrees) {
            return degrees * Math.PI / 180;
        }
        
        // razdalja med koordinatama
        function getDistance(lat1, lon1, lat2, lon2) {
            var earthRadiusKm = 6371;

            var dLat = degreesToRadians(lat2 - lat1);
            var dLon = degreesToRadians(lon2 - lon1);

            lat1 = degreesToRadians(lat1);
            lat2 = degreesToRadians(lat2);

            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.sin(dLon / 2) * Math.sin(dLon / 2) * Math.cos(lat1) * Math.cos(lat2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            return earthRadiusKm * c;
        }

        function focusRest(data, scroll) {
            let restDiv = document.getElementById("rest" + data.posid);
            restDiv.focus();
            if(scroll) restDiv.scrollIntoView();
            if (selected_restDiv) selected_restDiv.classList.remove("active");
            selected_restDiv = restDiv;
            restDiv.classList.add("active");

            if(selected_marker) {
                selected_marker.setIcon(selected_marker_old_icon);
                selected_marker.setZIndex(1);
            }
            if (data.marker) {
                selected_marker_old_icon = data.marker.getIcon();
                data.marker.setIcon(icon_selected);
                data.marker.setZIndex(2);
                selected_marker = data.marker;
            }
        }

        
        window.addEventListener('load', function () {
            icon_def = new H.map.Icon(getMarkerSvg());
            icon_selected = new H.map.Icon(getMarkerSvg("#007bff", "#0052A4"));
            icon_near = new H.map.Icon(getMarkerSvg("red"));

            $("#show_rest_around").prop('disabled', true);


            $("#get_user_location").on('click', function () {
                pridobi_uporabnikovo_lokacijo();
            })

            $("#show_rest_around").on('click', function() {
                let nearRest = filterRestByDisance(userPosition.lat, userPosition.lon, 2);

                // sortiranje po razdalji
                all_rest_list = all_rest_list.sort(function(a,b){
                    if(!a.distance && !b.distance) return 0;
                    return a.distance - b.distance;
                })
                
                $('#rest_list').empty();
                
                // prikaz sortiranih po razdalji
                for(let i=0; i<all_rest_list.length; i++){
                    addRestaurant(all_rest_list[i]);
                }
                // ni bliznjih restavracij 
                if(nearRest.length == 0) {
                    alert("V vaši okolici ni nobenih restavracij.");
                } else {
                    // barvanje in zoom na najblizjo
                    let near_rest_markers = [];
                    for(let i=0; i<nearRest.length; i++) {
                        near_rest_markers.push(nearRest[i].marker);
    
                        nearRest[i].marker.setIcon(icon_near);
                    }
    
                    group = new H.map.Group();
                    group.addObjects(near_rest_markers);
                    map.addObject(group);
                    map.setViewBounds(group.getBounds(), true);
                }
            })

            // inicializacija mape
            function initMap() {
            var platform = new H.service.Platform({
              'app_id': 'PSLTMzVDQPpXABJgqsRV',
              'app_code': 'WAo_nPqpZ8pxOLoYWcOVWw',
              useHTTPS: true,
            });

            var pixelRatio = window.devicePixelRatio || 1;
            var defaultLayers = platform.createDefaultLayers({
              tileSize: pixelRatio === 1 ? 256 : 512,
              ppi: pixelRatio === 1 ? undefined : 320
            });
            //Step 2: initialize a map - this map is centered over Europe
            var map = new H.Map(document.getElementById('map'),
              defaultLayers.normal.map, {
                center: {lat: 46.0481, lng: 14.5093}, // Ljubljana
                zoom: 13,
                pixelRatio: pixelRatio
              });

            // MapEvents enables the event system
            // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
            var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
            // Create the default UI components
            var ui = H.ui.UI.createDefault(map, defaultLayers);

            return map;
            }

            let rest_template = $('#rest_list_template').html();

            function addRestaurant(data, marker) {
                var item = $(rest_template).clone();

                $(item).attr("id","rest" + data.posid);
                $(item).find('.title').html(data.lokal);
                $(item).find('.price_boni').html(data.doplacilo);
                $(item).find('.price_full').html(data.cena);
                $(item).find('.address').html(data.naslov);
                $(item).on("click", function () {
                    map.setZoom(16, true);
                    map.setCenter({lat: data.lat, lng: data.lon}, true);
                    focusRest(data, false);
                })

                $('#rest_list').append(item);
            }

          map = initMap();

          $.get("api/restaurants", function(data, status){
            console.log("Status:", status);
            console.log("Data: ", data);
          });

          $.ajax({
            url: 'api/restaurants',
            type: 'GET',
            success: function (data) {
              console.log("Status:", status);
              console.log("Data: ", data);

              all_rest_list = data;


              for(let i=0; i<data.length; i++) {
                let marker = new H.map.Marker(
                    {lat: data[i].lat, lng: data[i].lon},{icon: icon_def});
                marker.addEventListener('tap', function (evt) {
                    console.log("Marker touched", data[i]);
                    focusRest(data[i], marker, true);
                }, false);
                map.addObject(marker);
                data[i].marker = marker;
                addRestaurant(data[i], marker);
              }
            },
            error: function (error) {
              console.error("Unable to get restaurants from API!", error)
            }
          });
        });

    script(type='text/javascript' src='https://js.api.here.com/v3/3.0/mapsjs-core.js')
    script(type='text/javascript' src='https://js.api.here.com/v3/3.0/mapsjs-service.js')
    script(type='text/javascript' src="https://js.api.here.com/v3/3.0/mapsjs-places.js")
    script(type='text/javascript' src='https://js.api.here.com/v3/3.0/mapsjs-ui.js')
    script(type='text/javascript' src='https://js.api.here.com/v3/3.0/mapsjs-mapevents.js')