extends layout

block content
	.row.d-md-flex
		#Register.col-md-6.offset-md-3.justify-content-center
			.card
				.card-header
					strong Change password
					p #{email}
				.card-body
					form.form-horizontal(action="./password", method="post", role="form")
						ul.list-group
							li.list-group-item
								.form-group
									label(for='OldPassword') Current password:
									input#EmailRegister2.form-control(type='password', placeholder='Old password', name='staro_geslo')
							li.list-group-item
								.form-group
									label(for='Password') New password:
									input#PasswordRegister2.form-control(type='password', placeholder='Input your password', name='novo_geslo')
							li.list-group-item
								.form-group
									label(for='ConfirmPassword') Confirm password:
									input#ConfirmPasswordRegister2.form-control(type='password', placeholder='Retype your password', name='novo_geslo2')
								.form-group.text-right(style='clear: both;')
									#gumbRegister2
										button.btn.btn-dark(style='float: right;', type='submit') Save changes