extends layout

block content
	.grid-container
		.row
		each row in rows
			table.table.table-bordered
				thead
					tr
						th Event: #{row.ime}
						th.text-right Date: #{row.date.substring(8,10)}.#{row.date.substring(5,7)}.#{row.date.substring(0,4)}
				tbody
					tr
						td(colspan=2) Descripton: #{row.opis}
				tfoot
					tr
						td(colspan=2) Organizer: #{row.organizator}
			p