<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/adm_style.css">

<nav-admin></nav-admin>

<div class="container">
    <div class="button_wrap">
        <button class="button button_green button_login" ng-click="vm.changePassword()">Change Password</button>
        <button class="button button_green button_login" ng-click="vm.eventPrikaziPojavnoOkno()">New Message</button>
    </div>
    
    <h2 class="heading_secondary">Message history:</h2>
    <div class="events_container">
        <div class="event" ng-repeat= "notification in vm.notifications">
            <div class="event_desc">
                <p>{{notification.title}}</p>
                <p>{{notification.description}}</p>
            </div>
        </div>
    </div> 
</div>