<h2 mat-dialog-title>{{modalTitle}}</h2>
<mat-dialog-content>{{modalContent}}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <! — The mat-dialog-close directive optionally accepts a value as a result for the dialog.-->
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
