<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Do you really desire to delete this entry?</h3>
    </div>
    <div class="modal-header">
        <h5 id= "opisIzbrisi" class="modal-title">{{opisIzbrisanega}}</h5>
    </div>
    <form role="form" ng-submit="vm.potrdi_izbris()">
        <div class="modal-footer">
            <button id ="iDont" class="btn btn-secondary" ng-click="vm.modalnoOkno.preklici_dodajanje_vnosa()" type="button">I don't</button>
            <button id ="iDo" class="btn btn-success" type="submit">I do</button>
        </div>
    </form>
</div>