<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Calendar Event</h3>
    </div>
    <form role="form" ng-submit="vm.potrdi_dodajanje()">
        <div class="modal-body">
            <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">
                {{ vm.napakaNaObrazcu }}
                <span ng-if="!vm.jePrijavljen" href="#">Kliknite tukaj, da se <a ng-click="vm.preusmeri_na_registracijo()" id="register" href="#">registrirate</a> ali <a ng-click="vm.preusmeri_na_prijavo()" id="login" href="#">prijavite</a>.</span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name: </label>
                <div class="col-sm-10">
                    <input type="text" ng-model="vm.podatkiObrazca.ime" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Time: </label>
                <div class="col-sm-10">
                    <input type="time" ng-model="vm.podatkiObrazca.cas" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Duration: </label>
                <div class="col-sm-10">
                    <input type="number" ng-model="vm.podatkiObrazca.trajanje" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description: </label>
                <div class="col-sm-9">
                    <input type="text" ng-model="vm.podatkiObrazca.opis" class="form-control">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" ng-click="vm.modalnoOkno.preklici_dodajanje_vnosa()" type="button">Close</button>
            <button class="btn btn-success" type="submit">Save changes</button>
        </div>
    </form>
</div>