<navigacija></navigacija>
<div class="container mycontainer" ng-hide="vm.jePrijavljenStudent">
  <div class="panel panel-default">
        <div class="panel-heading">
            Domov
        </div>
        <div class="panel-body" style="text-align:center">
            Ta funkcionalnost je na voljo samo prijavljenim uporabnikom. Prijavite se lahko na tej <a href="/login">povezavi</a>.
        </div>
    </div>
</div>
<div class="container mycontainer" ng-show="vm.jePrijavljenStudent">
  <div ng-show="vm.sporocilo" class="alert alert-danger alert-dismissible">
    <button type="button" class="close" aria-hidden="true" ng-click="vm.resetirajSporocilo()">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Opozorilo!</h4>
    {{vm.sporocilo}}
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Koledar</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div ng-if="vm.nalaganjeKoledar" class="col-md-3 bg" style="position:absolute; top: 40%; left: 40%">
            <div class="loader" id="loader-3"></div>
          </div>
          <div id="calendar" fc fc-options="vm.options" ng-model="vm.events" class="calendar"></div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  
    <!-- Urnik -->
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Urnik
          </h3>
          <button type="button" class="btn btn-sm btn-primary pull-right" 
          data-toggle="modal" data-target="#dodajNaUrnik"
          ng-click="vm.pripraviDodajanjePredmeta(0, 8)"><i class="fa fa-plus"></i></button>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div ng-if="vm.nalaganjeUrnik" class="col-md-3 bg" style="position:absolute; top: 40%; left: 40%">
            <div class="loader" id="loader-3"></div>
          </div>
          <table class="table  table-bordered">
            <tr>
              <th>Ura</th>
              <th>Pon</th>
              <th>Tor</th>
              <th>Sre</th>
              <th>Čet</th>
              <th>Pet</th>
            </tr>
            <tr ng-repeat="(index, ura) in [7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
              <td>{{ura}}:00</td>
              <td ng-repeat="(index2, dan) in [0,1,2,3,4]" style="height: 100%; padding: 0px; vertical-align: middle; text-align: center"
               ng-style="{'background-color': vm.predmetObTejUri(dan, ura, vm.urnik).barva}"
               ng-click="vm.pripraviDodajanjePredmeta(dan, ura)"
               data-toggle="modal" data-target="#dodajNaUrnik">
                <span ng-if="vm.predmetObTejUri(dan, ura, vm.urnik) != null">{{vm.predmetObTejUri(dan, ura, vm.urnik).naziv}}</span>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-check"></i> Seznami TODO</h3>
          <button type="button" class="btn btn-sm btn-primary pull-right" ng-click="vm.pripraviDodajanjeSeznama()" data-toggle="modal" data-target="#ustvariSeznam"><i class="fa fa-plus"></i></button>
        </div>
        <div ng-if="vm.nalaganjeTodo" class="col-md-3 bg" style="position:absolute; top: 40%; left: 40%">
          <div class="loader" id="loader-3"></div>
        </div>
        <div ng-repeat="(index, seznam) in vm.seznami" class="box-body">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{seznam.nazivSeznama}}</h3>
              <div class="pull-right">
                <button type="button" class="btn btn-sm btn-danger" ng-click="vm.izbrisiSeznam(seznam._id)"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-sm btn-primary" ng-click="vm.pripraviZaDodajanje()" data-toggle="modal" ng-attr-data-target="{{ '#modal-dodaj-element-' + index }}"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Opravilo</th>
                  <th>Opis</th>
                  <!-- <th></th> -->
                  <th></th>
                </tr>
                <tr ng-repeat="(index2, element) in seznam.elementi">
                  <td>{{index2 + 1}}.</td>
                  <td ng-class="{'text-muted selected': element.koncan}">{{element.naziv}}</td>
                  <td ng-class="{'selected': element.koncan, 'text-muted': true}">{{element.opis}}</td>
                  <!-- <td class="">
                    <div class="custom-checkbox">
                      <label class="container"
                        style="width: 25px !important; margin-right: 0px !important; padding-right: 0px !important; padding-left: 0px !important">
                        <input type="checkbox" ng-model="element.koncan">
                        <span class="checkmark"></span>
                      </label>
                    </div>

                  </td> -->
                  <td>
                    <div class="btn-group pull-right">
                      <button type="button" class="btn btn-default" ng-click="vm.pripraviZaUrejanje(index2, element.naziv, element.opis)" data-toggle="modal" ng-attr-data-target="{{ '#modal-dodaj-element-' + index }}"><i class="fa fa-pencil"></i></button>
                      <button type="button" class="btn btn-danger" ng-click="vm.izbrisiElement(seznam._id, index2)"><i class="fa fa-trash"></i></button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>

          <div class="modal fade" ng-attr-id="{{ 'modal-dodaj-element-' + index }}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Dodaj element na seznam</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="opravilo" class="col-sm-2 control-label">Opravilo</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="opravilo" placeholder="Opravilo" ng-model="vm.dodajElementPodatki.opravilo">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="opis" class="col-sm-2 control-label">Opis</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="opis" placeholder="Opis" ng-model="vm.dodajElementPodatki.opis">
                        </div>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Prekliči</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.dodajElement(seznam._id)">Potrdi</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="ustvariSeznam">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Ustvari nov todo seznam</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="imeSeznama">Ime seznama</label>
              <input type="text" class="form-control" id="imeSeznama" ng-model="vm.dodajSeznam.ime">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Prekliči</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.dodajSeznamFunkcija()">Potrdi</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div class="modal fade" id="dodajNaUrnik">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" ng-hide="vm.dodajElementNaUrnik.idPredmeta !== undefined">Dodaj na urnik</h4>
          <h4 class="modal-title" ng-show="vm.dodajElementNaUrnik.idPredmeta !== undefined">Uredi predmet</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="imePredmeta">Ime predmeta</label>
              <input type="text" class="form-control" id="imePredmeta" ng-model="vm.dodajElementNaUrnik.ime">
            </div>

            <div class="form-group" ng-hide="vm.dodajElementNaUrnik.idPredmeta !== undefined">
              <label for="imePredmeta">Izberi dan v tednu</label>
              <select class="form-control" ng-model="vm.dodajElementNaUrnik.dan">
                <option value="0">Ponedeljek</option>
                <option value="1">Torek</option>
                <option value="2">Sreda</option>
                <option value="3">Četrtek</option>
                <option value="4">Petek</option>
              </select>
            </div>

            <div class="form-group" ng-hide="vm.dodajElementNaUrnik.idPredmeta !== undefined">
              <label for="imePredmeta">Ura začetka</label>
              <select class="form-control" ng-model="vm.dodajElementNaUrnik.ura">
                <option value="7">7:00</option>
                <option value="8">8:00</option>
                <option value="9">9:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
              </select>
            </div>

            <div class="form-group">
              <label for="trajanjePredmeta">Trajanje (v urah)</label>
              <input type="number" class="form-control" id="trajanjePredmeta" ng-model="vm.dodajElementNaUrnik.trajanje">
            </div>

            <div class="form-group">
              <label for="trajanjePredmeta">Barva</label>
              <input colorpicker type="text" class="form-control" ng-model="vm.dodajElementNaUrnik.barva" />
            </div>
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.izbrisiPredmetNaUrniku()" ng-show="vm.dodajElementNaUrnik.idPredmeta !== undefined">
                <i class="fa fa-trash"></i>
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Prekliči</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.dodajPredmetNaUrnik()" ng-hide="vm.dodajElementNaUrnik.idPredmeta !== undefined">Potrdi</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.urediPredmetNaUrniku()" ng-show="vm.dodajElementNaUrnik.idPredmeta !== undefined">Potrdi</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div class="modal fade" id="dodajNaKoledar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" ng-show="vm.dodajElementNaKoledar.idDogodkaNaKoledarju === -1">Dodaj na koledar</h4>
          <h4 class="modal-title" ng-hide="vm.dodajElementNaKoledar.idDogodkaNaKoledarju === -1">Uredi dogodek</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="imeDogodka">Ime dogodka</label>
              <input type="text" class="form-control" id="imeDogodka" ng-model="vm.dodajElementNaKoledar.naziv">
            </div>

            <div class="form-group">
              <label for="opisDogodka">Opis dogodka</label>
              <input type="text" class="form-control" id="opisDogodka" ng-model="vm.dodajElementNaKoledar.opis">
            </div>

            <!-- <div class="form-group">
              <label for="datumDogodka">Datum dogodka</label>
              <input type="text" class="form-control" id="datumDogodka" ng-model="vm.dodajElementNaKoledar.datum"  disabled>
            </div> -->

            <div class="form-group">
              <label for="trajanjeDogodka">Trajanje dogodka (ure)</label>
              <input type="number" class="form-control" id="trajanjeDogodka" ng-model="vm.dodajElementNaKoledar.trajanje">
            </div>

            <div class="form-group">
              <label for="imePredmeta">Ura začetka</label>
              <select class="form-control" ng-model="vm.dodajElementNaKoledar.uraZacetka">
                <option value="7">7:00</option>
                <option value="8">8:00</option>
                <option value="9">9:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
              </select>
            </div>
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.izbrisiDogodekNaKoledarju()" ng-hide="vm.dodajElementNaKoledar.idDogodkaNaKoledarju === -1">
                <i class="fa fa-trash"></i>
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Prekliči</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.dodajDogodekNaKoledar()" ng-show="vm.dodajElementNaKoledar.idDogodkaNaKoledarju === -1">Potrdi</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.urediDogodekNaKoledarju()" ng-hide="vm.dodajElementNaKoledar.idDogodkaNaKoledarju === -1">Uredi</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
<style>
.main-wrap {
    background: #000;
        text-align: center;
}
.main-wrap h1 {
        color: #fff;
            margin-top: 50px;
    margin-bottom: 100px;
}
.col-md-3 {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
  padding: 50px 0;
}

.col:first-of-type {
  margin-left: 0;
}


/* ALL LOADERS */

.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

/* LOADER 1 */

#loader-1:before, #loader-1:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #3498db;
}

#loader-1:before{
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after{
  border: 10px solid #ccc;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* LOADER 2 */

#loader-2 span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 35px 5px;
}

#loader-2 span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2){
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/* LOADER 3 */

#loader-3:before, #loader-3:after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 10px);
  background-color: #3498db;
  animation: squaremove 1s ease-in-out infinite;
}

#loader-3:after{
  bottom: 0;
  animation-delay: 0.5s;
}

@keyframes squaremove{
  0%, 100%{
    -webkit-transform: translate(0,0) rotate(0);
    -ms-transform: translate(0,0) rotate(0);
    -o-transform: translate(0,0) rotate(0);
    transform: translate(0,0) rotate(0);
  }

  25%{
    -webkit-transform: translate(40px,40px) rotate(45deg);
    -ms-transform: translate(40px,40px) rotate(45deg);
    -o-transform: translate(40px,40px) rotate(45deg);
    transform: translate(40px,40px) rotate(45deg);
  }

  50%{
    -webkit-transform: translate(0px,80px) rotate(0deg);
    -ms-transform: translate(0px,80px) rotate(0deg);
    -o-transform: translate(0px,80px) rotate(0deg);
    transform: translate(0px,80px) rotate(0deg);
  }

  75%{
    -webkit-transform: translate(-40px,40px) rotate(45deg);
    -ms-transform: translate(-40px,40px) rotate(45deg);
    -o-transform: translate(-40px,40px) rotate(45deg);
    transform: translate(-40px,40px) rotate(45deg);
  }
}

/* LOADER 4 */

#loader-4 span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 35px 5px;
  opacity: 0;
}

#loader-4 span:nth-child(1){
  animation: opacitychange 1s ease-in-out infinite;
}

#loader-4 span:nth-child(2){
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#loader-4 span:nth-child(3){
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}

/* LOADER 5 */

#loader-5 span{
  display: block;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  width: 20px;
  height: 20px;
  background-color: #3498db;
}

#loader-5 span:nth-child(2){
  animation: moveanimation1 1s ease-in-out infinite;
}

#loader-5 span:nth-child(3){
  animation: moveanimation2 1s ease-in-out infinite;
}

#loader-5 span:nth-child(4){
  animation: moveanimation3 1s ease-in-out infinite;
}

@keyframes moveanimation1{
  0%, 100%{
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }

  75%{
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }
}

@keyframes moveanimation2{
  0%, 100%{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  75%{
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@keyframes moveanimation3{
  0%, 100%{
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  75%{
    -webkit-transform: translate(30px, 30px);
    -ms-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}

/* LOADER 6 */

#loader-6{
  top: 40px;
  left: -2.5px;
}

#loader-6 span{
  display: inline-block;
  width: 5px;
  height: 20px;
  background-color: #3498db;
}

#loader-6 span:nth-child(1){
  animation: grow 1s ease-in-out infinite;
}

#loader-6 span:nth-child(2){
  animation: grow 1s ease-in-out 0.15s infinite;
}

#loader-6 span:nth-child(3){
  animation: grow 1s ease-in-out 0.30s infinite;
}

#loader-6 span:nth-child(4){
  animation: grow 1s ease-in-out 0.45s infinite;
}

@keyframes grow{
  0%, 100%{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  50%{
    -webkit-transform: scaleY(1.8);
    -ms-transform: scaleY(1.8);
    -o-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}

/* LOADER 7 */

#loader-7{
  -webkit-perspective: 120px;
  -moz-perspective: 120px;
  -ms-perspective: 120px;
  perspective: 120px;
}

#loader-7:before{
  content: "";
  position: absolute;
  left: 25px;
  top: 25px;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  animation: flip 1s infinite;
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg)  rotateX(180deg);
  }
}

/* LOADER 8 */

#loader-8:before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 10px);
  left: 0px;
  background-color: #3498db;
  animation: rotatemove 1s infinite;
}

@keyframes rotatemove{
  0%{
    -webkit-transform: scale(1) translateX(0px);
    -ms-transform: scale(1) translateX(0px);
    -o-transform: scale(1) translateX(0px);
    transform: scale(1) translateX(0px);
  }

  100%{
    -webkit-transform: scale(2) translateX(45px);
    -ms-transform: scale(2) translateX(45px);
    -o-transform: scale(2) translateX(45px);
    transform: scale(2) translateX(45px);
  }
}
</style>