<br>
<div class="container">
  <div class="center">
    <h2 class="container">Bus arrivals</h2>
    <form [formGroup]="busForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label>Station ID</label>
          <input type="text" formControlName="idPostaje"  value="1934" class="form-control">
        </div>
      <button class="btn btn-primary" [disabled]="!busForm.valid" type="submit">Find next bus</button>
    </form>
  </div>
</div>
  <br>
<div class="container">
  <table mat-table
        [dataSource]="dogodki" multiTemplateDataRows
        class="mat-elevation-z8">

    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column.toUpperCase()}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>

    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let dogodek" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
            [@detailExpand]="dogodek == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            {{dogodek.description}}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>