.text-center {
    text-align: center;
}

.message {
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    box-shadow: 4px 4px 13px -1px rgba(0,0,0,0.75);
    word-break: break-all;
}

.button-modal-custom {
    margin-bottom: 35px;
}

.my-custom-scrollbar {
    height: 450px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-color {
    background-color: white;
}

.container-margin {
    margin-top: 100px;
}

.button-margin {
    margin-top: 15px;
}

.modalno-okno {
    position: fixed;
    left: 33%;
    top: 50px;
    width: 33%;
    right: 33%;
    height: 620px;
    min-width: 500px;
}

.todolist {
    width: 80%;
}

.todolist-button {
    margin: 5px;
}

.naslov-margin {
    margin-top: 30px;
}

.maps {
    width: 90%;
    margin-top: 100px;
    height: 60%;
}
