.modalno-okno-timetable {
    position: fixed;
    left: 33%;
    top: 10px;
    width: 33%;
    right: 33%;
    height: 800px;
    min-width: 600px;
}

.modalno-okno-editTimetable {
    position: fixed;
    left: 33%;
    top: 60px;
    width: 33%;
    right: 33%;
    height: 600px;
    min-width: 600px;
}

.modalno-okno-deleteTimetable {
    position: fixed;
    left: 33%;
    top: 60px;
    width: 33%;
    right: 33%;
    height: 600px;
    min-width: 600px;
}
.modalno-okno-Error {
    position: fixed;
    left: 33%;
    top: 60px;
    width: 33%;
    right: 33%;
    height: 350px;
    min-width: 600px;
}

div.timetable {
    position: relative;
    overflow: hidden;
    width: 630px;
    margin: 0 auto;
}
div.timetable table {
    border-collapse: collapse;
    border-spacing: 0;
}
div.timetable th, div.timetable td {
    border-bottom-style: dotted;
    border-color: #DDDDDD;
    border-width: 1px;
    padding: 0px;
    font-size: 12px;
    color: #444444;
}
div.timetable td.hour {
    font-style: italic;
}
div.timetable .lesson {
    border: 1px solid #DDDDDD;
    position: absolute;
    z-index: 8;
    font-size: 11px;
    color: #444444;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
}
div.timetable .lesson.classesPresent .lesson_head {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=") no-repeat scroll 95% center transparent;
    cursor: pointer;
}
div.timetable .lesson.classesPresent input {
    display: none;
}
div.timetable .lesson_head {
    padding: 2px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
    font-size: 11px;
    font-family: arial,helvetica,clean,sans-serif;
}
div.timetable .lesson_body {
    padding: 0px 3px 2px 3px;
    vertical-align: middle;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    font-family: arial,helvetica,clean,sans-serif;
}
div.timetable .actual_day {
    background-color: #F0F0F0;
    border: 1px solid black;
}
div.timetable .actual_day .lesson_head{
    border-bottom: 1px solid black;
}

