<link rel="stylesheet" href="/stylesheets/navigation_style.css"/> 


<div class="container_nav">
    <a ng-href="/administrator">
        <div class="nav_home nav">
            Admin Message
        </div>
    </a>
    <a ng-href="/logout">
        <div class="nav_home nav">
            Logout
        </div>
    </a>
</div>