<header class="main-header">
  <nav class="navbar navbar-fixed-top">
    <div class="">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><b>Čiste</b> desetke</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-show="navvm.jeStudentskiUporabnik"><a href="/domov">Domov</a></li>
          <li ng-show="navvm.jeStudentskiUporabnik"><a href="/bon">Boni</a></li>
          <li ng-show="navvm.jeStudentskiUporabnik"><a href="/events">Dogodki</a></li>
          <li ng-show="navvm.jeStudentskiUporabnik"><a href="/bus">Avtobus</a></li>
          <li ng-show="navvm.jeEventManager"><a href="/eventmanager">Upravljanje z dogodki</a></li>
          <li ng-show="navvm.jeAdmin"><a href="/sendNotification">Sistemska sporočila</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li ng-hide="navvm.jePrijavljen"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Prijava</a></li>
          <!-- User Account Menu -->
          <li ng-show="navvm.jePrijavljen" class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/images/defaultuser.png" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{ navvm.trenutniUporabnik.email.split('@')[0] }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="/images/defaultuser.png" class="img-circle" alt="User Image">

                <p>
                    {{ navvm.trenutniUporabnik.email.split('@')[0] }}
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/changePassword" class="btn btn-default btn-flat">Spremeni geslo</a>
                </div>
                <div class="pull-right">
                  <a href="#" ng-click="navvm.odjava()" class="btn btn-default btn-flat">Odjava</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>