<navigation></navigation>
<div class="container" id="restaurants"> 
    <center><h3>{{ vm.pageHeader.title }} </h3></center>
    <div class="row">
        <div class="col-md-8">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=slovenska%20cesta%2052&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a href="https://www.pureblack.de"></a>
                </div>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
            </div>
        </div>    
        <div class="col-md-4">
            <div class="info" style="margin-top: 80px">
                <h1>Info</h1>
                <p id = "ime">Naziv: 3ROSES</p>
                <p id = "naslov">Naslov: Slovenske cesta 52, LJUBLJANA</p>
                <p id = "cena">Cena obroka: 4,50€</p>
            </div>
            <div class="dropdown" style="margin-top: 80px">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose a restaurant
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a ng-repeat="restavracija in vm.restavracije.data" class="dropdown-item" href="" ng-click="vm.prikaziPodatke(restavracija.lokal, restavracija.naslov, restavracija.city, restavracija.cena)">{{ restavracija.lokal }}</a>
                    <!--<a class="dropdown-item" href="#">Laterna</a>
                    <a class="dropdown-item" href="#">Skriti kot</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<noga></noga>
