<header></header>

<div class="buses">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center">	
            <div class="col-sm-12 col-lg-10 col-md-10">
                <h4 class="text-center display-4 mb5 pb-2">Iskalnik prihodov avtobusov</h4>
                <div class="col-lg-12 col-sm-12 pl-0 pr-0 stop-searcher">
                    <div class="input-group">
                        <input id="inputField" type="text" class="form-control" placeholder="Vnesi ime ali ID številko postaje..." ng-model="bvm.searchLppStop">
                        <div class="input-group-append">
                            <button id="submitBtn" class="btn btn-secondary" ng-click="bvm.searchResultClick(bvm.searchLppStop)"><i class="fa fa-bus"></i></button>
                        </div>
                    </div>
                    <div ng-show="bvm.searchLppStop" class="searchResults">
                        <div class="searchResult" ng-repeat="stop in bvm.lppStops | filter : bvm.searchLppStop" ng-click="bvm.searchResultClick(stop)">
                            <p>{{ stop }}</p>
                            <div class="line"></div>
                        </div>
                        <!-- <div ng-show="bvm.emptyLppStops()">Ni rezultatov</div> -->
                    </div>
                </div>
                <div ng-show="bvm.isLoading" class="loader-container">
                    <div class="loader"></div>
                </div>
                <div class="col-lg-12 col-sm-12 pl-0 pr-0 mt-4" ng-if="bvm.arrivals != null" ng-repeat="arrival in bvm.arrivals">
                    <h5>{{ arrival.stationId + " " + arrival.station }}</h5>
                    <!-- <table class="table busTable table-light table-striped"> -->
                    <table class="bus-table">
                        <thead>
                            <tr>
                                <th>Avtobus</th>
                                <th>Smer</th>
                                <th>Prihod čez:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bus in arrival.bus">
                                <td>{{ bus.label }}</td>
                                <td>{{ bus.direction }}</td>
                                <td>{{ bus.arrivalTimes }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>