<header></header>

<div class="registration">
	<form class="form-horizontal needs-validation" name="form" role="form" novalidate="">
		<h2 class="awesomeTitle">Potrditev registracije :)</h2>
	</form>
</div>