<header></header>

<div class="events">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <ul class="timeline">
                <li ng-repeat="event in evm.events | orderBy: 'date'" ng-class-even="'timeline-inverted'">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{ event.name }}</h4>
                        </div>
                        <div class="timeline-body">
                            <p>{{ event.description }}</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-left">{{ event.organizer }}</p>
                            <p class="text-right">{{ event.date.split("T")[0] | date : "d. M. yyyy" }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>