<header></header>

<div class="event_manager">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="table-wrapper">
                <table class="tabelca table table-sm table-light table-striped table-bordered">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-3">Ime dogodka</th>
                            <th class="col-3">Organizator</th>
                            <th class="col-3">Datum</th>
                            <th class="col-3">Opis</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex" ng-repeat="event in evm.events">
                            <td class="col-3 ime">{{ event.name }}</td>
                            <td class="col-3">{{ event.organizer }}</td>
                            <td class="col-3">{{ event.date.split("T")[0] | date : "d. M. yyyy"}}</td>
                            <td class="col-3">{{ event.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="text-center modals">
        <button type="submit" class="btn btn btn-default" data-toggle="modal" ng-click="evm.newEventAdd()">Nov dogodek</button>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title modals">Nov dogodek</h4>
                </div>
                <div class="modal-body">
                    <label>
                        <p class="label-txt"><i class="fa fa-pencil"></i>Ime dogodka</p>
                        <input type="text" class="input" id="ime" ng-model="evm.currentEvent.name">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                        <span ng-show="evm.nameError" class="help-block validation-text">{{ evm.nameError }}</span>
                    </label>
                    <label>
                        <p class="label-txt"><i class="fa fa-users"></i>Organizator dogodka</p>
                        <input type="text" class="input" id="organizator" ng-model="evm.currentEvent.organizer">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                        <span ng-show="evm.organizerError" class="help-block validation-text">{{ evm.organizerError }}</span>
                    </label>
                    <label>
                        <p class="label-txt"><i class="fa fa-calendar"></i>Datum dogodka</p>
                        <input type="date" class="input" id="datum" ng-model="evm.currentEvent.date">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                        <span ng-show="evm.dateError" class="help-block validation-text">{{ evm.dateError }}</span>
                    </label>
                    <label>
                        <p class="label-txt"><i class="fa fa-pencil"></i>Opis dogodka</p>
                        <input type="text" class="input" id="opis" ng-model="evm.currentEvent.description">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                    </label>
                </div>
                <div class="modal-footer modals">
                    <button type="button" id="dodajDogodek" class="btn btn btn-default"  ng-click="evm.newEvent()">Dodaj dogodek</button>
                    <button type="button" class="btn btn btn-default" ng-click="evm.closeNew()">Prekliči</button>
                </div>                           
            </div>
        </div>
    </div>
</div>