<header></header>

<div class="home-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<calendar></calendar>
				<schedule></schedule>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-6">
				<todo></todo>
			</div>
		</div>
	</div>
</div>


