<header></header>

<div class="home-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-2 col-lg-2">
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12">
				<admin></admin>
			</div>
		</div>
	</div>
</div>
