<header></header>

<div class="registration">
	<form class="form-horizontal needs-validation" name="form" ng-submit="vm.userLogin()" role="form" novalidate="" method="post">
		<h2 class="awesomeTitle">Prijava</h2>
		    <label>
			    <p class="label-txt"><i class="fa fa-envelope"></i>VNESI EMAIL</p>
			    <input type="email" class="input" name="email" id="email" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" ng-model="vm.user.email" required>
		    	<div class="line-box">
		        	<div class="line"></div>
		    	</div>
			   	<span ng-show="vm.emailError" class="help-block validation-text">{{ vm.emailError }}</span>
		    </label>
		    <label>
		    	<p class="label-txt"><i class="fa fa-asterisk"></i>VNESI GESLO</p>
		    	<input class="input" type="password" name="pswd" id="pswd" pattern="[A-Za-z0-9đšćžčĐŠŽĆČ]+" minlength="2" maxlength="25" ng-model="vm.user.pswd" required>
		    	<div class="line-box">
		      		<div class="line"></div>
		    	</div>
		    	<span ng-show="vm.fieldError" class="help-block validation-text">{{ vm.fieldError }}</span>
		  	</label>
	    	<button type="submit" id="login">Prijavi se!</button>
	    	<h6 class="redirect">Če še nisi registriran, se lahko pridružiš <a href="/registration">na tej povezavi</a>. :)</h6>	
	</form>
</div>