<header></header>

<div class="registration">
	<form class="form-horizontal needs-validation" name="form" ng-submit="vm.userRegistration()" role="form" novalidate="" method="post" autocomplete="off">
		<h2 class="awesomeTitle">Registracija</h2>
		  	<label>
		    	<p class="label-txt"><i class="fa fa-envelope"></i>VNESI EMAIL</p>
			    <input type="email" class="input" type="email" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" name="email" id="email" ng-model="vm.user.email" required>
		    	<div class="line-box">
		      		<div class="line"></div>
		    	</div>
			    <span ng-show="vm.emailError" class="help-block validation-text">{{ vm.emailError }}</span>
		  	</label>
		  	<label>
			    <p class="label-txt"><i class="fa fa-asterisk"></i>VNESI GESLO</p>
		        <input type="password" class="input" pattern="[A-Za-z0-9đšćžčĐŠŽĆČ]+" minlength="8" maxlength="25" name="pswd" id="pswd" ng-model="vm.user.pswd" required />
		    	<div class="line-box">
		      		<div class="line"></div>
		    	</div>
	            <span ng-show="vm.fieldError" class="help-block validation-text">{{ vm.fieldError }}</span>
		  	</label>
		  	<label>
		    	<p class="label-txt"><i class="fa fa-asterisk"></i>PONOVNO VNESI GESLO</p>
		        <input type="password" class="input" pattern="[A-Za-z0-9đšćžčĐŠŽĆČ]+" minlength="8" maxlength="25" name="pswdC" id="pswdC" ng-model="vm.user.pswdC" required />
		    	<div class="line-box">
		      		<div class="line"></div>
		    	</div>
		        <span ng-show="vm.fieldError" class="help-block validation-text">{{ vm.fieldError }}</span>
		  	</label>
		  	<button type="submit" id="registrate">Registriraj se!</button>
	</form>
</div>