<header></header>
<div class="restaurants">
	<div class="maindiv">
		<div ng-hide="rvm.hasLocationPermission" class="warning">
			Hej! Opazili smo, da naši aplikaciji še niste dovolili ogleda vaše trenutne lokacije. Obljubimo, da ne bomo delali z njo nič čudnega! Le vam bomo izboljšali izkušnjo :) Kako dovolite ogled vaše trenutne lokacije, si lahko ogledate <a href="https://www.wikihow.com/Enable-Location-Services-on-Google-Chrome" target="_blank">tukaj</a>   
		</div>
		<div class="row">
			<div class="col-md-6">
				<div id="map"></div>
			</div>
			<div class="col-md-6">
				<div class="restaurantInfo mb-4 mt-0">
					<div ng-hide="rvm.isObjectEmpty(rvm.currentRestaurant)">
						<h3>Podrobnosti o: {{ rvm.currentRestaurant.name }}</h3>
						<p><b>Doplačilo: {{ rvm.currentRestaurant.price }}</b></p>
						<p class="mb-1">Jedi na voljo:</p>
						<ul class="meals">
							<li class="meal" ng-repeat="meal in rvm.currentRestaurant.meals">
								{{ meal.name }}
							</li>
						</ul>
					</div>
					<div ng-show="rvm.isObjectEmpty(rvm.currentRestaurant)">
						<p class="mt-2">Za ogled informacij prosimo izberite restavracijo</p>
					</div>
				</div>
				<div class="searchRestaurants mb-2">
                    <input id="inputField" type="text" class="form-control" placeholder="Išči restavracijo..." ng-model="rvm.searchRestaurant">
				</div>
				<div class="restaurantsList mt-0">
					<ul>
						<li ng-repeat="restaurant in rvm.restaurants | filter: {name: rvm.searchRestaurant}" ng-click="rvm.showDetails(restaurant)" class="{{ restaurant.active ? 'active' : '' }}">
							<h3>{{ restaurant.name }}</h3>
							<p>{{ restaurant.address }}, {{ restaurant.city }}</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
