<navigation></navigation>
<main class="container" role="main">
    <div class="card-body">

        <div class="row">
            <div class="col" ng-if="vm.message">
                <div class="alert alert-danger" role="alert">{{ vm.message }}</div>
            </div>
        </div>
        <div class="row no-gutters align-items-center">
            <div class="col">
                <input class="form-control form-control-md form-control-borderless" id="notification" placeholder="Obvestilo" type="text" name="notification" ng-model="vm.data.input.notification">
            </div>
            <div class="col-auto">
                <button class="btn btn-md btn-success" ng-click="vm.addNotification()">Dodaj</button>
            </div>
        </div>
        <div class="row">
            <h2>Obvestila</h2>
            <table class="table" ng-if="vm.data.notifications">
                <thead>
                <tr>
                    <th>Obvestilo</th>
                    <th class="text-right">Aktivno</th>
                    <th class="text-right">Spremeni status</th>
                    <th class="text-right">Odstrani</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="notification in vm.data.notifications">
                    <th>{{notification.notification}}</th>
                    <td class="text-right" ng-show="notification.active">DA</td>
                    <td class="text-right" ng-hide="notification.active">NE</td>
                    <td class="text-right">
                        <button class="btn btn-primary" type="submit" ng-click="vm.changeStatus(notification.id)">
                            <span ng-show="notification.active">Deaktiviraj</span>
                            <span ng-hide="notification.active">Aktiviraj</span>
                        </button>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-primary" type="submit" ng-click="vm.delete(notification.id)">Odstrani</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
