<glava></glava>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <section class="jumbotron container text-left">
                    <div class="container">
                        <h1 class="jumbotron-heading">Register</h1>
                        <div>
                            <form ng-submit="vm.register()" method="POST">
                                <label>Name</label><br>
                                <input class="form-control mr-sm-2" type="tekst" name = "name" id="name" ng-model="vm.prijavniPodatki.name" required>
                                <div ng-if="vm.nameRes == 'true'" class="alert alert-warning">Neveljaven format</div>
                                <label>Surname</label><br>
                                <input class="form-control mr-sm-2" type="tekst" name = "surname" id="surname" ng-model="vm.prijavniPodatki.surname" required>
                                <div ng-if="vm.surnameRes == 'true'" class="alert alert-warning">Neveljaven format</div>
                                <label>Username</label><br>
                                <input class="form-control mr-sm-2" type="tekst" name = "username" id="username" ng-model="vm.prijavniPodatki.username" required>
                                <div ng-if="vm.usernameRes == 'true'" class="alert alert-warning">aA-žŽ, 0-9, -, 4 do 20 znakov</div>
                                <label>Email</label><br>
                                <input class="form-control mr-sm-2" type="email" name = "email" id="email" ng-model="vm.prijavniPodatki.email" required>
                                <div ng-if="vm.emailRes == 'true'" class="alert alert-warning">Neveljaven format</div>
                                <label>Password</label><br>
                                <input class="form-control mr-sm-2" type="password" name = "password" id="password" ng-model="vm.prijavniPodatki.password" required>
                                <div ng-if="vm.passRes == 'true'" class="alert alert-warning">min 8 znakov, ena majhna, ena velika crka in ena stevilka</div>
                                <label>Confirm Password</label><br>
                                <input class="form-control mr-sm-2" type="password" name = "password2" id="password2" ng-model="vm.prijavniPodatki.password2" required>
                                <div ng-if="vm.zeObstaja == 'true'" class="alert alert-danger">Email is alredy in base!</div>
                                <div ng-if="vm.pass2Res == 'true'" class="alert alert-warning">Passwords are not the same!</div>
                                <div ng-if="vm.zeObstaja == 'true'" class="alert alert-danger">Email is alredy in base!</div>
                                <div ng-if="vm.currentUser && vm.currentUser.userType == 'admin'">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" ng-model="vm.prijavniPodatki.userType" value="admin">ADMIN</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" ng-model="vm.prijavniPodatki.userType" value="uprava">REFERENT</label>
                                    </div>

                                </div>
                                <div ng-if="vm.jeRegistriran == true" class="alert alert-success">Registered!</div>
                                <div ng-if="vm.zeObstaja == true" class="alert alert-danger">Email is alredy in base!</div>
                                <div ng-if="vm.urlRes == true" class="alert alert-warning">Neveljaven format</div>
                                <div ng-if="vm.response == 'success'" class="alert alert-info">Registracija je bila uspešna!</div>
                                <div ng-if="vm.response == 'errorUser'" class="alert alert-danger">Nemorem dodat UserIdentity!</div>
                                <div ng-if="vm.response == 'errorUserIdentity'" class="alert alert-danger">Nemorem dodat User!</div>
                                <button id="register" ng-if="vm.response != 'success'" type="submit" class="btn btn-primary my-1">Register</button>
                                <button ng-if="vm.response == 'success'" type="submit" class="btn btn-primary my-1" disabled>Register</button>
                            </form>

                        </div>
                    </div>
                </section>
                <section class="jumbotron container text-center" style="border: 1px">
                    <div>
                        <p style="font-size: 25px"><a href="/login">Log into existing account</a></p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>