h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}  

mwl-calendar-week-view-header span {
    display: none;
}

mwl-calendar-week-view-event .cal-event {
    text-align: center;
    font-size: 1.5rem !important;
}

mwl-calendar-week-view-event span {
    color: black;
}

.mesecZmalo {
    text-transform: lowercase;
}

.flatpickr-input {
    background-color: white !important;
}