<div class="container">
    <div class="card card-body bg-light mt-3">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-9">
                <div id="map"></div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 mt-2 mt-md-0">
                <div class="row">
                    <div class="col-12">
                        <select id="restaurant-list" ng-change="vm.selectRestaurant($index)" ng-model="$index">
                            <option ng-repeat="restaurant in vm.restaurants" ng-selected="vm.selectedRestaurant == $index" ng-value="$index">{{ restaurant.naziv }}</option>
                        </select>
                    </div>
                    <div class="col-12" ng-if="vm.selectedRestaurant != null">
                        <h3 class="mt-2">Info:</h3>
                        <div id="podatki-restavracija">
                            <p class="mb-0"><b>Naziv:</b> {{ vm.restaurants[vm.selectedRestaurant].naziv }}</p>
                            <p class="mb-0"><b>Naslov:</b> {{ vm.restaurants[vm.selectedRestaurant].naslov }}</p>
                            <p class="mb-0"><b>Doplačilo:</b> {{ vm.restaurants[vm.selectedRestaurant].doplacilo | number:2 }} Eur</p>
                            <p><b>Cena:</b> {{ vm.restaurants[vm.selectedRestaurant].cena | number:2 }} Eur</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>