<navigacija></navigacija>

<div class="row page-header">
    <div class="col-lg-12">
        <h1 style="text-align:center;">Events</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="error">{{ vm.sporocilo }}</div>
        <div id="card" class="card col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="dogodek in vm.data.dogodki">
            <div class="card-header">
                <h5 class="card-title">{{ dogodek.ime }}</h5>
            </div>
            <div class="card-body" >
                <p class="card-text" id="date">{{ dogodek.datum | date: 'dd-MM-yyyy' }}</p>
                <p class="card-text" id="description">{{ dogodek.opis }}</p>
            </div>
        </div>
    </div>
</div>
