extends layout

block content
    .row.page-header
    .col-lg-12
      h1(style="text-align:center;") Dodaj vnos v seznam TODO
    .row
      .col-md-6.col-md-offset-3.col-xs-6.col-xs-offset-3
        form.form-horizontal(action='../api/vnosTODO', method='post', id="vnosTodoForm", role="form") 
          .form-group(style='display:none')
            label(for='email') Description: 
            input#Description.form-control(type='text', name='email', value="testni@email.com" )          
          .form-group
            label(for='opis') Description: 
            textarea#Description.form-control(type='text', name='opis',  rows="5")
          button.btn.btn-default.btn-sm.pull-left Close 
          button.btn.btn-default.btn-sm.pull-right Save Changes 