extends layout

block content
    .row.page-header
    .col-lg-12
      h1(style="text-align:center;") Dodaj vnos v Urnik
    .row
      .col-md-6.col-md-offset-3.col-xs-6.col-xs-offset-3
        form.form-horizontal(action='#{url}', method='post', id="vnosUrnikForm", role="form")
          .form-group
            label(for='Name') Name:
            input#Name.form-control(type='text', name='Name')
          .form-group
            label(for='CourseDuration') Duration:
            input#CourseDuration.form-control(type='text', name='CourseDuration')
          .form-group
            label(for='Colour') Colour:
            input#Colour.form-control(type='text', name='Colour')
          button.btn.btn-default.btn-sm.pull-left(type='button') Close 
          button.btn.btn-default.btn-sm.pull-right(type='submit') Save Changes 