extends layout

block content
    .row.page-header
    .col-lg-12
      h1(style="text-align:center;") Dodaj vnos v koledar
    .row
      .col-md-6.col-md-offset-3.col-xs-6.col-xs-offset-3
        form.form-horizontal(action='#{url}', method='post', id="vnosKoledarForm", role="form")
          .form-group
            label(for='Name') Name:
            input#Name.form-control(type='text', name='Name')
          .form-group
            label(for='Date') Date:
            input#CourseDuration.form-control(type='date', name='Date', value='2018-07-22')
          .form-group
            label(for='Duration') Duration:
            input#CourseDuration.form-control(type='number', name='Duration')
          .form-group
            label(for='Description') Description:
            textarea#Description.form-control(type='text', name='Description', rows="5")
          button.btn.btn-default.btn-sm.pull-left(type='button') Close 
          button.btn.btn-default.btn-sm.pull-right(type='submit') Save Changes 