extends layout 

block content
		.container
			.row.mt-5
				.col-lg-4
					h3 Koledar
					.row
						.col-lg-4.col-md-6.col-sm-12.col-xs-12(ng-controller="homepageCtrl")
							.card.mt-3
									.error {{ sporocilo1 }}
									.card-body(ng-repeat="koledar in data.koledarVnos")
										h5#name.card-title Ime: {{ koledar.ime }}
										p#date.card-text Datum: {{ koledar.datum }}
										p#duration.card-text Trajanje: {{ koledar.trajanje }}
										p#description.card-text Opis: {{ koledar.opis }}
										.btn-group(role='group')
											a.card-link(href="/urediVnosIzKoledarja/" + podatek._id)
												button.btn.btn-primary(type='button') Uredi
											a.card-link(href="/izbrisiVnosIzKoledarja/")
												button.btn.btn-primary(type='button') Izbriši
				.col-lg-4
					h3 Urnik
					.row
						.col-lg-4.col-md-6.col-sm-12.col-xs-12(ng-controller="homepageCtrl")
							.card.mt-3
								.error {{ sporocilo2 }}
								.card-body(ng-repeat="urnik in data.urnikVnos")
									h5#name.card-title Ime: {{ urnik.ime }}
									p#duration.card-text Trajanje: {{ urnik.trajanje }}
									p#color.card-text Barva: {{ urnik.barva }}
									.btn-group(role='group')
										a.card-link
											button.btn.btn-primary(type='button') Uredi
										a.card-link
										form(action='/urnik/' + "{{ urnik._id }}", method='post' role='form')
											button.btn.btn-primary(type='submit') Izbriši
											
				.col-lg-4
					h3 TODO seznami
					.row
						.col-lg-4.col-md-6.col-sm-12.col-xs-12(ng-controller="homepageCtrl")
								.card.mt-3
									.error {{ sporocilo3 }}
									.card-body(ng-repeat="todo in data.todoVnos")
										p#description.card-text Opis: {{ todo.opis }}
										.btn-group(role='group')
											button.btn.btn-primary(type='button') Uredi
											form(action='../api/deleteTODO/', method='get' role='form')
												button.btn.btn-primary(type='submit') Izbriši
											
											
										