doctype html
html(ng-app='straightAs')
  head
    title TPO - Group25
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/cerulean.bootstrap.min.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Group25 - Home
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="/vnosUrnik") Dodaj vnos v urnik 
            li
              a(href="/vnosTODO") Dodaj TO-DO seznam
            li
              a(href="/vnosKoledar") Dodaj vnos v koledar
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/prijava") Prijava
            li
              a(href="/registracija") Registracija
    div(ng-view)
      block content
    
  script(src='/javascripts/jquery-3.3.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/angular/angular.min.js')
  script(src='/app.js')
  script(src='/lib/angular-route.min.js')
  script(src='/homepage/homepage.krmilnik.js')
  script(src='/skupno/storitve/straightAsPodatki.storitev.js')
