extends layout

block content
  .row.page-header
    .col-lg-12
      h1(style="text-align:center;") Registracija
  form.form-horizontal
    .form-group
      label.col-lg-2.control-label(for="inputEmail") Email
      .col-lg-9
        input#inputEmail.form-control(type="text" placeholder="Email")
    .form-group
      label.col-lg-2.control-label(for="inputPassword") Password
      .col-lg-9
        input#inputPassword.form-control(type="password" placeholder="Password")
    .form-group
      label.col-lg-2.control-label(for="inputRepeatPassword") Repeat password
      .col-lg-9
        input#inputRepeatPassword.form-control(type="password" placeholder="Password")
    .form-group
      .col-lg-9.col-lg-offset-2
        button.btn.btn-default(type="reset") Cancel
        button.btn.btn-primary(type="submit") Submit