<link rel="stylesheet" href="/stylesheets/login_styles.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<div class="container">
    <div class="login-form">
        <form method="POST" ng-submit="vm.posiljanjePodatkov()" autocomplete="off" >
            <img class="img-responsive center-block icon" ng-src="{{vm.loginImg}}" alt="Logo" />
            <h2 class="heading_secondary">Login</h2>
            <div class="form_group">
                <input class="form_input" id="email" type="email" placeholder="email" ng-model="vm.prijavniPodatki.email" required/>
                <label class="form_label" for="email">Email address</label>
            </div>
            <div class="form_group"><input class="form_input" id="password" type="password" placeholder="password" ng-model="vm.prijavniPodatki.password" required/>
                <label class="form_label" for="password">Password</label>
            </div>
            <div class="form-group form-check-group">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label acc_text2">
                            <input class="form-check-input-inline required" ng-model="vm.prijavniPodatki.tipUporabnika" type="radio" name="tipUporabnika" value="student"/>Student</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label acc_text2">
                            <input class="form-check-input required" ng-model="vm.prijavniPodatki.tipUporabnika" type="radio" name="tipUporabnika" value="organizer"/>Organizer</label>
                    </div>
                </div>
            <div class="button_wrapper">
                <button class="button button_green button_login" type="submit">Login</button>
                <p class="acc_text">Don't have an account?</p><button class="button button_green" onclick="location.href='/register';">Register</button>
                <p class="acc_text">Continue as unregistered? <a href="/food">&#x9;Yes&#x9;</a></p>
            </div>
        </form>
    </div>
</div>