<div class="table-responsive col-sm-12">
  <table class="table">
      <thead>
          <tr>
              <th>#</th>
              <th class="text-left">TODO</th>
              <th class="text-right"><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#todo-modal">+</button></th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="todo in todovm.data.todos">
              <th scope="row">{{ $index + 1 }}</th>
              <td class="text-left"> {{ todo.name }} </td>
              <td class="text-right">
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#todo-edit-modal" ng-click="todovm.setEdit(todo)">Edit</button>
                  <button class="btn btn-sm btn-danger" role="button" ng-click="todovm.removeTodo(todo.id)">X</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
<div class="row">
    <div class="container" ng-if="vm.strankeFailMessage">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert">{{vm.strankeFailMessage}}</div>
            </div>
        </div>
    </div>
</div>


<div id="todo-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vnesite novo opravilo:</h5>
      </div>
      <div class="modal-body">
        <input id="input_new_todo" type="text" ng-model="todovm.data.todo.text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="todovm.addTodo()">Shrani</button>
      </div>
    </div>
  </div>
</div>

<div id="todo-edit-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Uredi:</h5>
      </div>
      <div class="modal-body">
        <input id="input_new_todo" type="text" ng-model="todovm.edittext" placeholder="{{ todovm.edittext }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="todovm.editTodo()">Shrani</button>
      </div>
    </div>
  </div>
</div>