doctype html
html(ng-app='straightas')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

script(src='/angular/angular.min.js')
script(src='/lib/angular-route.min.js')
script(src='/angular/straightas.min.js')
