<navigation></navigation>
<div class="bg">
  <div class="registration_page">
    <div class="container registration-form">
      <h1> {{vm.pageHeader.title}} </h1>
      <p class="lead">Si že registriran? <a href="/login?stran={{ vm.prvotnaStran }}">prijavi se</a>.</p>
      <form ng-submit="vm.sendingData()" autocomplete="off">
        <div role="alert" ng-show="vm.errorOnForm" class="alert alert-danger">{{ vm.errorOnForm }}</div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control item" id="email" type="email" name="email" placeholder="Vpišite e-mail, ki ga boste uporabljali za prijavo" ng-model="vm.loginData.email"/>
        </div>
        <div class="form-group">
          <label for="password">Geslo:</label>
          <input type="password" class="form-control" id="password" placeholder="Geslo" ng-model="vm.loginData.password">
        </div>
        <div class="form-group">
          <label for="password">Geslo:</label>
          <input type="password" class="form-control" id="password2" placeholder="Ponovno vpišite geslo" ng-model="vm.loginData.password2">
        </div>
        <!--
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control item" id="password" type="password" placeholder="Your new password" name="password" ng-model="vm.prijavniPodatki.password"/>
          <small class="form-text text-muted" id="passwordHelpBlock">Your password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter.</small>
        </div>
        -->

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" id="invalidCheck" type="checkbox" value="" required=""/>
            <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
            <div class="invalid-feedback">You must agree before submitting.</div>
          </div>
        </div>
        <button id="registerButton" class="btn btn-dark btn-block create-account" type="submit">Join us!</button>
      </form>
      <p class="text-dark"><br/>              Povezava za verifikacijo in dodatna navodila bodo poslana na E-mail naslov, ki ste ga vnesli pri registraciji.</p>
    </div>
  </div>
</div>