doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ChangePassword
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/fonts/ionicons.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=ABeeZee')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Acme')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', href='/css/settings.min.css')
  body(style='width:100%;background-color:rgb(174,174,174);/*background-image:url("/img/drawing.svg");*//*background-repeat:no-repeat;*//*background-size:cover;*/background:url(/img/drawing.svg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;height:100vh;')
    nav.navbar.navbar-light.navbar-expand-md.fixed-top(style='width:100%;background-color:#dedede;height:50px;')
      .container-fluid
        a.navbar-brand(href='#', style='background-image:url("/img/logo.svg");background-repeat:no-repeat;background-size:contain;background-position:center;width:150px;height:50px;')
        button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1', style='background-color:#c6c6c6;')
          i.icon.ion-android-menu
        #navcol-1.collapse.navbar-collapse
          ul.nav.navbar-nav.float-right.ml-auto(style='background-color:#dedede;')
            li.nav-item(role='presentation')
              a.nav-link(href='/home', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Home
            li.nav-item(role='presentation')
              a.nav-link(href='/map', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Food
            li.nav-item(role='presentation')
              a.nav-link(href='/events/public', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Events
            li.nav-item(role='presentation')
              a.nav-link(href='/bus', data-bs-hover-animate='pulse', style='color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;') Bus
            if isUserUrednik
              li.nav-item(role="presentation")
                a.nav-link(href="/events/preview" data-bs-hover-animate="pulse" style="color:#be0000;font-family:ABeeZee, sans-serif;background-color:rgba(255,255,255,0);margin-left:5px;") Event Manager
            li.nav-item(role='presentation')
              a.nav-link(href='/entry/settings', data-bs-hover-animate='pulse', style='color:#be0000;font-family:ABeeZee, sans-serif;background-color:rgba(255,255,255,0);margin-left:5px;') Change password
            li.nav-item(role='presentation')
              a.nav-link.active(href='/entry/logout', data-bs-hover-animate='pulse', style='color:#be0000;font-family:ABeeZee, sans-serif;margin-left:5px;') Log out
    section.d-flex.justify-content-center.align-items-center.align-content-center(style='width:70%;height:100vh;margin-left:15%;background-color:#eeeeee;')
      .container(style='margin-right:20px;margin-left:20px;')
        form(action="/entry/settings" method="post")
          h3.text-left Change password
          .form-group.justify-content-center.align-items-center.align-content-center
            p.text-left(style='color:rgb(0,0,0);font-size:15px;font-family:ABeeZee, sans-serif;margin-top:16px;margin-bottom:4px;') Old Password
            input(type='password', name='oldpassword', required="")
          .form-group
            p.text-left(style='color:rgb(0,0,0);font-size:15px;font-family:ABeeZee, sans-serif;margin-top:16px;margin-bottom:4px;') New Password
            input(type='password', name='newpassword', required="")
          .form-group
            p.text-left(style='color:rgb(0,0,0);font-size:15px;font-family:ABeeZee, sans-serif;margin-top:16px;margin-bottom:4px;') Confirm New Password
            input(type='password', name='newpassword_repeat', required="")
          .form-group
            button.btn.btn-primary(type='submit', style='font-size:12px;background-color:rgb(211,0,0);font-family:ABeeZee, sans-serif;color:rgb(255,255,255);') Confim changes
    .footer-dark(style='height:40px;padding:0;width:100%;background-color:rgb(68,68,68);')
      p.copyright(style='padding-top:10px;color:rgb(255,255,255);') Straight As d.o.o. © 2019
    script(src='/js/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/script.min.js')
    script(type='text/javascript', src='/js/stanje.js')
