<glava></glava>
<main role="main">
    <div class="embed-responsive embed-responsive-4by3" style="height: 700px">
        <iframe class="embed-responsive-item" ng-src="{{'https://www.google.com/maps/d/u/0/embed?mid=1pgXFt76CHj96zq4l2ITUF81LfFu7suTb&ll='+ vm.lat + ',' + vm.long +'&z=16'}}"></iframe>
    </div>
    </br>
    <table class="container col col-sm-10 table table-striped table-responsive-md btn-table">
        <thead>
            <tr>
                <th>Naziv restavracije</th>
                <th>Naslov restavracije</th>
                <th>Cena doplačila</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="restavracija in vm.data">
                <th>{{ restavracija.naziv}}</th>
                <th>{{ restavracija.naslov}}</th>
                <th>{{ restavracija.cena}} EUR</th>
            </tr>
        </tbody>
    </table>
    </br>
</main>