<link rel="stylesheet" href="/stylesheets/eventi_list.css"/>

<nav-user></nav-user>
<div class="container">
    <h2 class="heading_secondary">Event list:</h2>
    <div class="event_list">
        <div class="events_col_1">
            <div class="event" ng-repeat='event in vm.events1'>
                <div class="event_info">
                    <p class="event_title">{{event.title}}</p>
                    <p class="event_organizer">{{event.organizer}}</p>
                    <p class="event_date">{{event.date | formatirajDatum}}</p>
                </div>
                <div class="event_desc">
                    <p>Description</p>
                    <p>{{event.description}}</p>
                </div>
            </div>
        </div>
        <div class="events_col_2">
             <div class="event" ng-repeat='event in vm.events2'>
                <div class="event_info">
                    <p class="event_title">{{event.title}}</p>
                    <p class="event_organizer">{{event.organizer}}</p>
                    <p class="event_date">{{event.date | formatirajDatum}}</p>
                </div>
                <div class="event_desc">
                    <p>Description</p>
                    <p>{{event.description}}</p>
                </div>
            </div>
        </div>
        <div class="events_col_3">
             <div class="event" ng-repeat='event in vm.events3'>
                <div class="event_info">
                    <p class="event_title">{{event.title}}</p>
                    <p class="event_organizer">{{event.organizer}}</p>
                    <p class="event_date">{{event.date | formatirajDatum}}</p>
                </div>
                <div class="event_desc">
                    <p>Description</p>
                    <p>{{event.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>