<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4"><a class="navbar-brand" href="/events">StraightAs</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" ng-show="navvm.loggedIn && !navvm.admin && !navvm.eventManager">
            <li class="nav-item"><a class="nav-link" href="/events">Domov</a></li>
            <li class="nav-item"><a class="nav-link" href="/todo">Todo</a></li>
            <li class="nav-item"><a class="nav-link" href="/timetable">Koledar</a></li>
            <li class="nav-item"><a class="nav-link" href="/settings">Nastavitve</a></li>
            <li class="nav-item"><a class="nav-link" href="/restaurants">Restavracije</a></li>
            <li class="nav-item"><a class="nav-link" href="/bus">Avtobusi</a></li>
        </ul>
        <ul class="navbar-nav mr-auto" ng-show="navvm.loggedIn && navvm.admin && !navvm.eventManager">
            <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
        </ul>
        <ul class="navbar-nav mr-auto" ng-show="navvm.loggedIn && !navvm.admin && navvm.eventManager">
            <li class="nav-item"><a class="nav-link" href="/content">Dogodki</a></li>
        </ul>
        <div class="mt-2 mt-md-0">
            <ul class="navbar-nav mr-auto" ng-hide="navvm.loggedIn">
                <li class="nav-item"><a class="nav-link" href="login">Prijava</a></li>
                <li class="nav-item"><a class="nav-link" href="registration">Registracija</a></li>
            </ul>
            <ul class="navbar-nav mr-auto" ng-show="navvm.loggedIn">
                <li class="nav-item"><a class="nav-link" href="" ng-click="navvm.odjava()">Odjava</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col" ng-if="navvm.notifications">
        <div class="alert alert-danger" role="alert" ng-repeat="n in navvm.notifications">{{ n.notification }}</div>
    </div>
</div>
