<div class="modal-content">
  <form class="form-horizontal" ng-submit="vm.posljiPodatkePUTTodo()"  id="urediTodoForm" role="form">
    <div class="modal-header">
      <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
      </button>
      <h1 style="text-align:center;">Edit TODO</h1>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
      <div class="form-group"><label for="Description">Description:</label><textarea class="form-control" ng-model="vm.podatkiObrazca.Description" id="Description" type="text" name="Description" rows="10"></textarea></div>
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modalnoOkno.preklici()" class="btn btn-default btn-sm pull-left" type="button">Close</button>
      <button class="btn btn-default btn-sm pull-right" type="submit">Save Changes</button>
    </div>
  </form>
</div>