<navigacija></navigacija>
<div class="container mycontainer">
    <div role="alert" ng-show="vm.sporocilo" class="alert alert-info" id="sporocilo">{{ vm.sporocilo }}</div>
    <br>
    
    <button class="btn btn-primary dbbutton" ng-click="vm.init()" type="button">Napolni bazo z začetnimi podatki</button>
    <button class="btn btn-primary dbbutton" ng-click="vm.empty()" type="button">Izbriši vse podatke iz baze</button>
   
</div>
<script src="javascripts/database_init.js"></script>