<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/registration_styles.css" />
<script src="/public/javascripts/registerChecker.js"></script>

<div class="container">
        <div class="login-form">
            <form method="POST" id="userForm" ng-submit="vm.posiljanjePodatkov()" autocomplete="off">
                <img class="img-responsive center-block icon" src="/images/favicon.png" alt="Logo" />
                <h2 class="heading_secondary"> Register </h2>
                <h4 class="heading_terciary text-center createacc-text">Create your StraightAs account and become a better student</h4>
                <div class="form_group">
                    <input class="form_input" id="email" type="email" placeholder="Email" ng-model="vm.registeracijskiPodatki.email" required/>
                    <label class="form_label" for="email">Email address</label>
                </div>
                <div class="form_group">
                    <input class="form_input" id="password" type="password" placeholder="Password" ng-model="vm.registeracijskiPodatki.password" required/>
                    <label class="form_label" for="password">Password</label>
                </div>
                <div class="form_group">
                     <input class="form_input" id="passwordRepeat" type="password" placeholder="Repeat Password" ng-model="vm.registeracijskiPodatki.password2" required/>
                    <label class="form_label" for="passwordRepeat">Password</label>
                </div>
                
                <div class="form-group form-check-group">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label acc_text2">
                            <input class="form-check-input-inline required" ng-model="vm.registeracijskiPodatki.userType" type="radio" name="userType" value="student"/>Student</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label acc_text2">
                            <input class="form-check-input required" ng-model="vm.registeracijskiPodatki.userType" type="radio" name="userType" value="organizer"/>Organizer</label>
                    </div>
                </div>
                
                <div class="button_wrapper">
                    <button class="button button_green button_login" type="submit">Sign up</button>
                    <p class="acc_text">Already have an account? <a href="/">&#x9;Log in&#x9;</a></p>
                </div>
                
            </form>
        </div>
</div>