<div class="container">
    <div class="row" style="margin-top: 20px; ">
        <div class="col-12 .col-md-6 .offset-md-3">

            <div class="input-group">
                <input ng-model="vm.ime_postaje" type="text" class="form-control" placeholder="Vpiši naziv ali ID postajališča">
                <span class="input-group-btn ml-2">
                    <button ng-if="!vm.loading" ng-click="vm.prikaziSeznamAvtobusov()" class="btn btn-primary" id="iskanje">
                        Išči
                    </button>
                    <button ng-if="vm.loading" class="btn btn-primary" disabled>
                        <span class="spinner-border spinner-border-sm"></span>
                        Iščem..
                    </button>
                </span>
            </div>

            <div ng-if="vm.podatki" ng-repeat = "postaja in vm.podatki" id="prihodi">
                <h3 class="font-weight-light mt-2">{{ postaja.naziv }} ({{ postaja.id }}):</h1>
                <ul ng-if="postaja.prihodi" class="list-group list-group-flush mt-2">
                    <li ng-repeat="prihod in postaja.prihodi" class="list-group-item">
                        <p class="mb-0"><i class="fas fa-map-signs mr-2"></i>{{ prihod.smer }}</p>
                        <p class="mb-0">
                            <i class="fas fa-bus mr-2"></i>{{ prihod.bus }}
                            <i class="far fa-clock ml-4 mr-2"></i>
                                <span ng-repeat="naslednji in prihod.naslednjiCez">{{ naslednji }} min{{ $last ? '' : ',' }} </span>
                                <span ng-if="prihod.naslednjiCez.length == 0">Ni prihodov</span>
                        </p>
                    </li>
                </ul>
            </div>

            <div ng-if="vm.error" class="alert alert-danger mt-3" role="alert">
                {{ vm.error }}
            </div>
            <div ng-if="vm.message" class="alert alert-primary mt-2" role="alert">
                {{ vm.message }}
            </div>
            <div ng-if="vm.success" class="alert alert-success mt-2" role="alert">
                {{ vm.success }}
            </div>

        </div>
    </div>
</div>