<div class="modal-content">
    <form ng-if="vm.modalType == 1" id="addCalendarEvent" name="addCalendarEvent" ng-submit="vm.posiljanjePodatkov()" role="form" class="form-horizontal">
        <div class="modal-header">
            <h4 id="oznakaModalnegaOkna" class="modal-title">Submit Event</h4>
            <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
                <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input id="name" name="name" required="required" ng-model="vm.podatkiObrazca.name" class="form-control">
                </div>
                <label class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10 clearfix">
<!--                    <datepicker date-format="yyyy.MM.dd" datepicker-class="col-sm-10">-->
<!--                        <input id="date" name="date"  ng-model="vm.podatkiObrazca.date" required="required" autocomplete=off type="text" class="form-control" placeholder="Choose a date"/>-->
<!--                    </datepicker>-->
                    <div style="display:inline-block; min-height:290px;" class="pb-0">
                        <div uib-datepicker ng-model="vm.podatkiObrazca.date" class="well well-sm mb-0" datepicker-options="vm.options"></div>
                    </div>
                </div>
                <label class="col-sm-2 control-label">Time</label>
                <div class="col-sm-10 clearfix">
                    <div class="mt-0 pt-0" uib-timepicker readonly-input="true" ng-model="vm.mytime" hour-step="1" minute-step="1" show-meridian="false"></div>
                </div>
                <label for="duration" class="col-sm-2 control-label">Duration</label>
                <div class="col-sm-10">
                    <input id="duration" name="duration" required="required" ng-model="vm.podatkiObrazca.duration" class="form-control">
                </div>
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea id="description" name="description" rows="5" required="required" ng-model="vm.podatkiObrazca.description" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </form>
    <div ng-if="vm.modalType == 2" class="modal-body">
        <span class="font-weight-bold">{{vm.finishMessage}}</span>
    </div>

    <div class="modal-footer">
        <button ng-if="vm.modalType == 1" ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default btn-sm">Cancel</button>
        <button ng-if="vm.modalType == 1" ng-click="vm.posiljanjePodatkov()" class="btn btn-primary btn-sm">Save</button>
        <button ng-if="vm.modalType == 2" ng-click="vm.modalnoOkno.preklici()" class="btn btn-success btn-sm">Close</button>
    </div>
</div>