 <glava></glava>
 <main ng-if="vm.rootUser"  role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <!-- left column-->
                <div class="col-md-9 m-auto">
                    <div class="my-auto">
                        <img src='resources/user_icon.png' class="user-icon">
                        <span class="font-weight-bold">{{vm.rootUser.email}}</span>
                    </div>
                </div>
                <!-- edit form column-->
                <div class="col-md-9 personal-info m-auto">
                    <h3>Personal info</h3>
                    <!--<form method="POST" action="/users/userID/editProfile"> -->
                    <form ng-submit="vm.editP(vm.rootUser)" method="PUT">
                        <div class="form-group"><label class="col-lg-3 control-label" for="name">Name:</label>
                            <div class="col-lg-8"><input ng-model="vm.novName" class="form-control" id="name" type="text" placeholder="{{vm.rootUser.name}}" name="name" required/>
                                <div ng-if="vm.nameRes == 'true'" class="alert alert-warning">Neveljaven format</div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label" for="surname">Surname:</label>
                            <div class="col-lg-8"><input ng-model="vm.novSurname" class="form-control" id="surname" type="text" placeholder="{{vm.rootUser.surname}}" name="surname" required/>
                                <div ng-if="vm.surnameRes == 'true'" class="alert alert-warning">Neveljaven format</div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label" for="username">Username:</label>
                            <div class="col-lg-8"><input ng-model="vm.novUsername" class="form-control" id="username" type="text" placeholder="{{vm.rootUser.username}}" name="username" required/>
                                <div ng-if="vm.usernameRes == 'true'" class="alert alert-warning">aA-žŽ, 0-9, -, 4 do 20 znakov</div>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-md-3 control-label" for="password">Password:</label>
                            <div class="col-md-8"><input ng-model="vm.novPassword" class="form-control" id="password" type="password" placeholder="password" name="password" required/>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-md-3 control-label" for="password2">Confirm password:</label>
                            <div class="col-md-8"><input ng-model="vm.novPassword2" class="form-control" id="password2" type="password" placeholder="password" name="password2" required/>
                                <div ng-if="vm.pass2Res == 'true'" class="alert alert-warning">Gesli nista enaki</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <button  class="btn btn-primary" id="gumb" type="submit" style="align: left;">Save Changes</button>
                                <a href='/users/{{vm.rootUser._id}}' >Cancel </a>
                            </label>
                        </div>
                        <div ng-if="vm.response == 'success'" class="alert alert-info">Podatki so uspesno spremenjeni!</div>
                        <div ng-if="vm.response == 'errorAdd'" class="alert alert-danger">Napaka!</div>
                        <div ng-if="vm.response == 'brezp'" class="alert alert-danger">Izpolni vsa polja!</div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</main>