<div class="modal-content">
    <form id="dodajKomentar" name="dodajKomentar" ng-submit="vm.posiljanjePodatkov()" role="form" class="form-horizontal">
        <div class="modal-header">
            <h4 id="oznakaModalnegaOkna" class="modal-title">Submit Event</h4>
            <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
                <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input id="name" name="name" required="required" ng-model="vm.podatkiObrazca.name" class="form-control">
                </div>
                <label for="date" class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    <input type="date" id="date" name="date" required="required" ng-model="vm.podatkiObrazca.date" class="form-control">
                </div>
                <label for="name" class="col-sm-2 control-label">Organizer</label>
                <div class="col-sm-10">
                    <input id="organizer" name="organizer" required="required" ng-model="vm.podatkiObrazca.organizer" class="form-control">
                </div>
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea id="description" name="description" rows="5" required="required" ng-model="vm.podatkiObrazca.description" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-if="vm.response != 'success'"  ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default btn-sm">Prekliči</button>
            <button  ng-if="vm.response != 'success'" type="submit" class="btn btn-primary btn-sm">Save</button>
            <button ng-if="vm.response == 'success'"  ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default btn-sm">Close</button>
            <div ng-if="vm.response == 'success'" class="alert alert-info">Event added!</div>
            <div ng-if="vm.response == 'error'" class="alert alert-danger">Napaka pri dodajanju!</div>
        </div>
    </form>
</div>