body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.img-icon-top {
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
}

/*:root {
  --jumbotron-padding-y: 3rem;
}*/

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}


.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    margin-right: 15px;
    display: block;
    background-color: #ddd;
    cursor: pointer;
}

.btn-circle-default {
    background-color: #ddd;
}

.btn-circle-success {
    background-color: #28a745;
}

.btn-circle-danger {
    background-color: #dc3545;
}
.btn-large-add {
    background-color: #7800ff;
}

.a-hashtag {
    color: #aaa;
}

.a-hashtag:hover {
    color: #333;
}

.card-user {
    color: blue;
}

.card-user:hover {
    color: black;
}

.img-icon-top {
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
}

.dummy{
    background-color: yellow;
    position: fixed;
    width: 500px;
    height: 500px;
}
.profile-h5 {
    display: inline-block;
    margin-right: 5px
}
.profile-img {
    width: 100%;
    height: 100%;
    padding:5px;
    border: 2px solid #a7a6ad
}

.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-backdrop.in {
    opacity: 0.5;
}


.user-icon {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    border-radius: 50%;
}

hr.style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}
hr.style17:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}
hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


table.moja td:hover {
    background-color:rgba(0,0,0,0.1);


}


