body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.changedContainer {
    padding-left: 90px;
    padding-right: 90px;
}

/* ---------- KOLEDAR ---------- */

#planned {
    color: black;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 15px;
}

#tasks {
    color: black;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 15px; 
}

.next_round {
    color: black;
    border-radius: 50%
}
/*porabljena svetlo-siva: rgb(229, 229, 232)*/
.koledar_dnevi {
    font-size: 12px;
    color: black;
}

.urnik_elementi {
    font-size: 12px;
    color: black;
}

.items_deletion {
    color: red;
}


.items_deletion:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}


.pointer {
  cursor: pointer;
}

/*porabljena srednje-temno-siva: rgb(196, 196, 198)*/
.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
    background: rgb(214, 215, 216);
}

#dnevi {
  background: rgb(229, 229, 232);
}

.calendar tbody td:hover {
    border: 2px solid rgb(43, 188, 43);
}

.clicked_koledar {
    background: rgb(103, 226, 81);
    color: #f9f9f9;
}

.calendar td {
    /*border: 2px solid transparent;
    border-radius: 100%;*/
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 6em;
}

.tabela_koledar tbody {
  /*background: rgb(229, 229, 232);*/
  border: 1px solid rgb(229, 229, 232);
}

.calendar .prev-month,
.calendar .next-month {
    color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
    border: 2px solid #cbd1d2;
}

.current-day {
    background: rgb(43, 188, 43);
    color: #f9f9f9;
}

.event {
    cursor: pointer;
    position: relative;
}

/*to so pikce za evente*/
.event:after {
    background: rgb(43, 188, 43);
    border-radius: 50%;
    bottom: .5em;
    display: block;
    content: '';
    height: .5em;
    left: 50%;
    margin: -.25em 0 0 -.25em;
    position: absolute;
    width: .5em;
}

.event.current-day:after {
    background: #f9f9f9;
}

.event.clicked_koledar:after {
    background: #f9f9f9;
}
/*----konec koledar-----*/
/*----zacetek urnik-----*/

.text_urnik_polja {
    color: black;
}

#urnikDanInput {
    font-size: 18px;
}

#danOpisInput {
    color: black;
}

.urnik td, th {
    border: 0.5px solid #cbd1d2;
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 6em;
}

.urnik td {
    cursor: pointer;
}

.urnik tbody td:hover {
    border: 1px solid rgb(43, 188, 43);
}

.svetlosivi {
    background: rgb(239, 239, 239);
}


/*.tabela_koledar {
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}*/


/*----konec urnik-----*/

/*----zacetek todos-----*/

.tasks {
    border: 1px solid rgb(229, 229, 232);
    /*background: rgb(229, 229, 232);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);*/
}

.todos {
    /*box-shadow: 2px 2px 2px 2px;*/
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    /*background: rgb(253, 255, 191);
    background-image: url('/images/todo_stickers.png');
    background-repeat: no-repeat;*/
    margin: 20px;
    /*height: 120px;*/
}

.todo2 {
    background: rgb(253, 255, 191);
}

.todos:hover {
    cursor: pointer;
    border: 2px solid rgb(43, 188, 43);
}

.todos p {
    color: black;
}

/*----konec todos-----*/

.info {
    margin-top: 80px;
}

#zemljevidRestavracij {
    height: 500px
}

#trolaIframe {
    height: 500px;
}


