<link rel="stylesheet" href="/stylesheets/profile_user_style.css">


<nav-user ng-show="vm.nav"></nav-user>
<nav-man ng-hide="vm.nav"></nav-man>
<div class="container">
    <button class="button button_green button_login" ng-click="vm.changePassword()">Change Password</button>
    <h2 class="heading_secondary">System Notifications:</h2>
    <div class="events_container">
        <div class="event" ng-repeat= "notification in vm.notifications">
            <div class="event_desc">
                <p>{{notification.title}}</p>
                <p>{{notification.description}}</p>
            </div>
        </div>
    </div> 
</div>