<div class="modal-content">
  <form id="dodajKomentar" name="dodajKomentar" ng-submit="vm.posiljanjePodatkov()" role="form" class="form-horizontal">
    <div class="modal-header">
      <h4 id="oznakaModalnegaOkna" class="modal-title">Submit Message</h4>
      <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
      </button>

    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input id="title" name="title" required="required" ng-model="vm.podatkiObrazca.title" class="form-control"></textarea>
        </div>
        <label for="komentar" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
          <textarea id="komentar" name="komentar" rows="5" required="required" ng-model="vm.podatkiObrazca.message" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default btn-sm">Cancel</button>
      <button type="submit" class="btn btn-primary btn-sm">Submit Message</button>
    </div>
    <div ng-if="vm.suc == 'success'" id="alert-message" class="alert alert-success">Message send!
    </div>
  </form>
</div>