<div class="modal-content">
  <form class="form-horizontal" ng-submit="vm.posljiPodatkePOSTObvestila()" method="post" id="vnosObvestiloForm" role="form">
    <div class="modal-header">
      <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
      </button>
      <h1 style="text-align:center;">Add system message</h1>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
      <div class="form-group"><input class="form-control" ng-model="vm.podatkiObrazca.email" type="hidden" ng-value="vm.trenutniUporabnik.email" /></div>
      <div class="form-group"><label for="Message">Message:</label><textarea class="form-control" ng-model="vm.podatkiObrazca.Message" id="Message" type="text" name="Message" rows="10"></textarea></div>
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modalnoOkno.preklici()" class="btn btn-default btn-sm pull-left" type="button">Cancel</button>
      <button class="btn btn-default btn-sm pull-right" type="submit">Publish Message</button>
    </div>
  </form>
</div>