<navigation></navigation>
<main class="container" role="main" >
    <div class="card-body">
        <div class="row">
            <div class="col" ng-if="vm.message">
                <div class="alert alert-danger" role="alert">{{ vm.message }}</div>
            </div>
        </div>
        <div class="row">
            <div class="row no-gutters align-items-right">
                <h2>Dogodki</h2>
            </div>
        </div>
        <div class="row">
            <table class="table" ng-if="vm.data.events" ng-style="{'width' : vm.all_width}" >
                <thead>
                    <tr>
                        <th>Dogodek</th>
                        <th class="text-left" ng-if="!vm.input">Datum</th>
                        <th class="text-left" ng-if="!vm.input">Organizator</th>
                        <th class="text-left" ng-if="!vm.input">Opis</th>
                        <th class="text-left">Moznosti</th>
                        <th class="text-right"  ng-if="!vm.input"><button class="btn btn-md btn-success" ng-click="vm.showEditable()">+</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in vm.data.events">
                        <th scope="row">{{ event.name }}</th>
                        <td class="text-left" ng-if="!vm.input"> {{ event.date }} </td>
                        <td class="text-left" ng-if="!vm.input"> {{ event.organizer }} </td>
                        <td class="text-left" ng-if="!vm.input"> {{ event.description }} </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" ng-click="vm.showEditable(event)">Edit</button>
                            <button class="btn btn-sm btn-danger" role="button" ng-click="vm.removeEvent(event.id)">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div ng-if="vm.input" class="col-5" style="margin-right: 5%; margin-left: 5%;">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Naziv dogodka</label>
                    <div class="col-10">
                        <input class="form-control" id="izdelek-naziv"  type="text" name="izdelekNaziv" ng-model="vm.data.event.name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Datum</label>
                    <div class="col-10">
                        <input class="form-control" id="izdelek-kolicina" type="date" ng-model="vm.data.event.date">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Organizator</label>
                    <div class="col-10">
                        <input class="form-control" id="izdelek-vrednost" type="text" ng-model="vm.data.event.organizer">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Opis dogodka</label>
                    <div class="col-10">
                        <input class="form-control" id="izdelek-mera" type="text" ng-model="vm.data.event.description">
                    </div>
                </div>
                <div ng-if="vm.isEdit">
                    <button class="btn btn-sm btn-success" style="float: left" ng-click="vm.editEvent()">Potrdi Spremembe</button>
                </div>
                <div ng-if="!vm.isEdit">
                    <button class="btn btn-sm btn-success" style="float: left" ng-click="vm.addEvent()">Dodaj</button>
                </div>
                <div>
                    <button class="btn btn-sm btn-warning" style="float: left" ng-click="vm.setWidth()">Preklici</button>
                </div>
            </div>
        </div>
    </div>
</main>