<navigation></navigation>
<main class="container" role="main" >
    <div class="card-body">
        <div class="row">
            <div class="col" ng-if="vm.message">
                <div class="alert alert-danger" role="alert">{{ vm.message }}</div>
            </div>
        </div>
        <div class="row">
            <div class="row no-gutters align-items-center">
                <h3>Prihajajoci dogodki:</h3>
            </div>
        </div>
        <div class="row">
            <div class="container" style="padding:10px;" ng-repeat="event in vm.data.events">
                <div class="card">
                    <div class="card-header">
                        <h5>{{ event.name }}</h5>
                        <font style="float:left;" size="2"><p ng-bind="event.date | date:'MM/dd/yyyy'" ></p></font>
                    </div>
                    <div class="card-body">
                        <div class="card-text">{{ event.description }}</div>
                    </div>
                    <div class="card-footer"><small>Organizator dogodka: {{ event.organizer }}</small></div> 
                </div>
            </div>
        </div>
    </div>
</main>