<div class="container" ng-if="busvm.failMsg">
  <div class="row">
    <div class="col">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ busvm.failMsg }}
      </div>
    </div>
  </div>
</div>

<div class="container" role="main">
  <div class="row">
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-4by3">
      <iframe frameborder="0"
              class="embed-responsive-item"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              ng-src="{{busvm.osmUrl}}"
              style="border: 1px solid #ced4da; border-radius: .25rem">
      </iframe>
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="form-row">
        <div class="form-group col-md-10">
          <form ng-submit="busvm.getArrivals(busvm.stationQuery)">
            <input type="text" class="form-control" placeholder="Iskanje postaj" ng-model="busvm.stationQuery" list="stations">
            
            <datalist id="stations">
              <option ng-repeat="station in busvm.stations" value="{{station.name}}">
            </datalist>
          </form>
        </div>
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-default" ng-click="busvm.getArrivals(busvm.stationQuery)">
            Išči
          </button>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          
          <div class="list-group">
            <div ng-repeat="result in busvm.arrivals">
              <a href="javascript:;"
                 ng-click="busvm.getMap(result.lat, result.lon)"
                 data-target="#station{{$index}}"
                 data-toggle="collapse"
                 class="list-group-item list-group-item-action">{{result.name}}<span class="badge">{{result.number}}</span></a>
              <div id="station{{$index}}" class="collapse">
                <table class="table table-hover">
                  <thead>
                    <th>Avtobus</th>
                    <th>Prihodi</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="bus in result.buses" ng-if="bus.arrivals.length > 0">
                      <td>{{bus.direction}}<span class="badge">{{bus.number}}</span></td>
                      <td>{{bus.arrivals.join(", ")}}</td>
                    </tr>  
                  </tbody
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




