doctype html
html.admin
    head
        title StraightAs – Admin
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='stylesheets/general.css', type='text/css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Acme|Permanent+Marker', rel='stylesheet')
    body.admin
        .wraper
            .vertical-center
                .container
                    .panel.bg_light.panel-admin
                        img#image_logo(src='/img/logo.png')
                        .panel-heading.bg_light
                            h1.straight-as
                                | StraightAs – Administrator
                        .panel-body.bg_light
                            form(method="post", action="/obvestilo")
                            
                              - if (typeof(napaka) !== 'undefined'){
                              .alert.alert-danger Vnesi besedilo!
                              -} 
                              - if (typeof(success) !== 'undefined'){
                              .alert.alert-success Obvestilo je bilo poslano.   
                              -}
                              
                                .form-group
                                  label(for='obvestilo') Vnesi obvestilo
                                  input#obvestilo.form-control(type='text', name='obvestilo')
                                button.btn.btn-danger(type='submit') Pošlji obvestilo
                    .row
                        .col-xs-12
                            small &copy; Jan Adamič, Jan Lovšin, Mihael Rajh, Dejan Sinic
                            a(href='/uporabnik').desenMargin #{ ime } #{ priimek }
                            form(method='post', action='/odjava').float-right
                                button.btn.btn-primary(type='submit') Odjava
                            
                            
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

