extends layout

block extraHeader
    link(rel='stylesheet', type='text/css', href='/stylesheets/events.css')

block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='/javascripts/bus.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDt3OYRhUcGJHzhXuZUEIX45vLSMRap3Zc&callback=initMap&libraries=places', async='', defer='')
    .row
        .col-8#map
        .col-4.body#move
            form(method="post", action="/isciBus")
                .form-group
                      input#myInput.form-control(type='text', autocomplete="off", placeholder='vnesi/izberi postajo', name='postaja', onkeyup='filterFunction()', onfocus='myFunction()')
                      #myDropdown.dropdown-content
                        #predloge
                button#imunique.btn.btn-primary(type='submit') Poisci

    .container-fluid
        each bus in bus_info
              h3.center-text #{bus.ime}
              if bus.postaja
                  table.table.table-bordered.table-striped
                    thead
                      tr.d-flex
                        th.col-4 Bus
                        th.col-4 Smer
                        th.col-4 Prihod
                    tbody
                        each info in bus.postaja
                          tr.d-flex
                            td.col-4 #{info.bus}
                            td.col-4 #{info.smer}
                            td.col-4 #{info.naslednji}



