doctype html
html.prijava
  head
    title Event create
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='general.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Acme|Permanent+Marker', rel='stylesheet')
  body.prijava
    .wraper
      .vertical-center
        .container
          .panel.panel-prijava-registracija
            img#image_logo(src='/img/logo.png')
            .panel-heading
              h1.straight-as
                | StraightAs
            .panel-body
              //
                <div class="col-md-6 col-md-offset-3 centered">>
                <div class="row">
              form(method="post", action="/events")
                .form-group
                  label(for='ime') Ime:
                  input#ime.form-control(type='text', placeholder='Vnesi ime', name='ime')
                .form-group
                  label(for='datum') Datum:
                  input#datum.form-control(type='date', name='datum')
                .form-group
                  label(for='organizator') Organizator:
                  input#organizator.form-control(type='text', placeholder='Vnesi organizatorja', name='organizator')
                .form-group
                  label(for='opis') Opis:
                  input#opis.form-control(type='text', placeholder='Vnesi opis', name='opis')
                button.btn.btn-primary(type='submit') Vnesi dogodek
            //
              </div>
              </div>
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')