extends layout

block extraHeader
    link(rel='stylesheet', type='text/css', href='/stylesheets/events.css')

block content
    .inline-display
      - if (typeof(dovoljenje) !== 'undefined' && dovoljenje){
        br
        a.btn.btn-success(href='events/manager/' style='margin-bottom: 0.5rem; display: flex; justify-content: center') Uredi dogodke
      -}
    .container-fluid
      table.table.table-bordered.table-striped
        thead
          tr.d-flex
            th.col-2 Ime
            th.col-2 Datum
            th.col-3 Organizator
            th.col-5 Opis
        tbody
            each event in events
              tr.d-flex
                td.col-2 #{event.ime}
                td.col-2 #{event.datum}
                td.col-3 #{event.organizator}
                td.col-5 #{event.opis}
