extends layout

block extraHeader
    link(rel='stylesheet', type='text/css', href='/stylesheets/home.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/javascripts/calendar.js')
    script(src='/javascripts/timetable.js')
    script(src='/javascripts/todo.js')

block content
    .split-horizontal
        .calendar
            .month
                button.prev-month &#10094;
                p.selected-month
                button.next-month &#10095;
            ul.weekday
                li Po
                li To
                li Sr
                li Če
                li Pe
                li So
                li Ne
            ul.day
        .timetable
            table.table.table-striped.table-bordered.table-sm
                thead.thead-light
                    tr
                        th(scope="col") Ura
                        th(scope="col") Pon
                        th(scope="col") Tor
                        th(scope="col") Sre
                        th(scope="col") Čet
                        th(scope="col") Pet
                tbody#timetable-body

    .split-horizontal
        .panel.panel-default#todo-css
            .panel-heading#todo-header-css
                | TO-DO seznam
            .panel-body
                .todo
                    - if (typeof(todoji) !== 'undefined'){
                        table.table.table-light#seznam-todo
                            each todo in todoji
                                tr
                                    td
                                        - var link = "/izbrisitodo/" + todo.id
                                        a.btn.btn-danger(href=link id=todo.id) &times;
                                    td #{todo.opis}
                    -}
                    br
                    button.btn.btn-info#create-todo Dodaj nov vnos
        - if (typeof(obvestila) !== 'undefined'){
            .panel.panel-default#obvestila-css(style="margin-top: 30px")
                .panel-heading#obvestila-header-css
                    | Obvestila
                .panel-body
                    .todo
                        table.table.table-light#seznam-todo
                            each obvestilo in JSON.parse(obvestila)
                                tr
                                    td #{obvestilo.sporocilo}
        -}

    .modal#todo-create-modal
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h4.modal-title Dodaj nov vnos
                    button.close(data-dismiss="modal") &times;
                .modal-body#todo-modal-body
                    form
                        .form-group
                            input(type="hidden", name="userId", value=idUporabnika)
                        .form-group
                            input(type="hidden", name="email", value=email)
                        .form-group
                            label(for="todo-create-opis") Opis:
                            textarea#todo-create-opis(name="opis").form-control
                        p#todo-create-warning.text-danger
                .modal-footer
                    button.btn.btn-success#create-todo-button Dodaj

    .modal#calendar-modal
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h4.modal-title#calendar-modal-title Modal Heading
                    button.close(data-dismiss="modal") &times;
                .modal-body
                    button.btn.btn-info#create-calendar Dodaj nov vnos
                    .modal-body-content
                .modal-footer
                    button.btn.btn-danger(data-dismiss="modal") Zapri

    .modal#calendar-delete-modal
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h4.modal-title Izbriši vnos
                    button.close(data-dismiss="modal") &times;
                .modal-body#delete-calendar-body
                    | Ste prepričani, da želite izbrisati ta vnos?
                .modal-footer
                    button.btn.btn-danger#confirm-delete-calendar Izbriši
                    button.btn.btn-light.cancel-delete-calendar Prekliči



    .modal#info-modal
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h4.modal-title Info
                    button.close(data-dismiss="modal") &times;
                .modal-body#info-modal-body
                .modal-footer
                    button.btn.btn-light#exit-info-modal Ok

    .modal#calendar-create-modal
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h4.modal-title#create-calendar-title
                    button.close(data-dismiss="modal") &times;
                .modal-body#create-calendar-body
                    form
                        .form-group
                            label(for="calendar-create-ime") Ime:
                            input#calendar-create-ime(type="text", name="ime").form-control.inline-display
                        .form-group
                            label(for="calendar-create-cas") Ob
                            input#calendar-create-cas(type="text" name="cas", value="12:00").form-control
                            label(for="calendar-create-trajanje") , traja
                            input#calendar-create-trajanje(type="text" name="cas", value="00:20").form-control
                            | .
                        .form-group
                            label(for="calendar-create-opis") Opis:
                            textarea#calendar-create-opis(name="opis").form-control
                        p#create-warning.text-danger
                .modal-footer
                    button.btn.btn-info#confirm-create-calendar Potrdi
                    button.btn.btn-light.cancel-create-calendar Prekliči



    .modal#timetable-create-modal
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h4.modal-title#create-timetable-title
                    button.close(data-dismiss="modal") &times;
                .modal-body#create-timetable-body
                    form
                        .form-group
                            label(for="timetable-create-ime") Ime:
                            input#timetable-create-ime(type="text", name="ime").form-control.inline-display
                        .form-group
                            label(for="timetable-create-dan") V
                            select#timetable-create-dan.custom-select.custom-select-sm(data-width="100%")
                                option(value=0) Pon
                                option(value=1) Tor
                                option(value=2) Sre
                                option(value=3) Čet
                                option(value=4) Pet
                            label(for="timetable-create-cas") &nbsp; ob
                            select#timetable-create-cas.custom-select.custom-select-sm
                                option(value=7) 7
                                option(value=8) 8
                                option(value=9) 9
                                option(value=10) 10
                                option(value=11) 11
                                option(value=12) 12
                                option(value=13) 13
                                option(value=14) 14
                                option(value=15) 15
                                option(value=16) 16
                                option(value=17) 17
                                option(value=18) 18
                                option(value=19) 19
                                option(value=20) 20
                            label(for="timetable-create-trajanje") . uri, traja
                            select#timetable-create-trajanje.custom-select.custom-select-sm
                                option(value=1) 1
                                option(value=2) 2
                                option(value=3) 3
                                option(value=4) 4
                                option(value=5) 5
                                option(value=6) 6
                                option(value=7) 7
                                option(value=8) 8
                                option(value=9) 9
                                option(value=10) 10
                                option(value=11) 11
                                option(value=12) 12
                                option(value=13) 13
                                option(value=14) 14
                            | &nbsp; ur.
                        .form-group
                            label(for="timetable-create-barva") Barva:
                            select#timetable-create-barva.custom-select.custom-select-sm
                                option(value="/") Navadna
                                option(value="yel") Rumena
                                option(value="red") Rdeča
                                option(value="blu") Modra
                                option(value="gre") Zelena
                                option(value="tur") Turkizna
                    p#create-timetable-warning.text-danger
                .modal-footer
                    button.btn.btn-danger#confirm-delete-timetable Izbriši
                    button.btn.btn-info#confirm-create-timetable Potrdi
                    button.btn.btn-light(data-dismiss="modal") Prekliči