include _include/sharedFunctions.pug
doctype html
html
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title= head_info.title
        link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
        link(src='/javascripts/jquery-3.3.1.min.js')
        block extraHeader
    body
        .row#firstRow
            .bg
            .jumbotron.col-sm-12#jumbo
                a(href='/')
                    img#image_logo(src='/img/logo.png').rounded.mx-auto.d-block
                hr.overdrive
                ul.nav.nav-pills.nav-fill.col-sm-12
                    li.nav-item
                        +dodajNav('/home', head_info.curr_active, 'home', head_info.home)
                    li.nav-item
                        +dodajNav('/food', head_info.curr_active, 'food', head_info.food)
                    li.nav-item
                        +dodajNav('/events', head_info.curr_active, 'events', head_info.events)
                    li.nav-item
                        +dodajNav('/bus', head_info.curr_active, 'bus', head_info.bus)

        .container
            block content

            footer
                br
                .row.justify-content-end.align-items-center
                    - if (typeof(ime) !== 'undefined' && typeof(priimek) !== 'undefined'){
                    a(href='/uporabnik').desenMargin #{ ime } #{ priimek }
                    form(method='post', action='/odjava').float-right
                        button.btn.btn-primary(type='submit') Odjava
                    -}
                    - if (typeof(ime) === 'undefined'){
                    a(href='/prijava')
                        button.btn.btn-primary Prijava
                    -}
                .row
                    .col-xs-12
                        small &copy; Jan Adamič, Jan Lovšin, Mihael Rajh, Dejan Sinic
