doctype html
html.prijava
  head
    title StraightAs – Prijava
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/general.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Acme|Permanent+Marker', rel='stylesheet')
  body.prijava
    .wraper
      .vertical-center
        .container
          .panel.bg_light.panel-prijava-registracija
            a(href='/')
              img#image_logo(src='/img/logo.png')
            .panel-heading.bg_light
              h1.straight-as
                | StraightAs – Prijava
            .panel-body.bg_light
              form(method="post", action="/prijava")

                - if (typeof(napaka) !== 'undefined'){
                  .alert.alert-danger Nepravilni prijavni podatki!
                -}

                .form-group
                  label(for='email') Elektronski naslov:
                  input#email.form-control(type='email', placeholder='Vnesi elektronski naslov', name='email')
                .form-group
                  label(for='geslo') Geslo:
                  input#geslo.form-control(type='password', placeholder='Vnesi geslo', name='geslo')
                .checkbox
                  label
                    input(type='checkbox', name='remember')
                    |  Zapomni se me
                button.btn.btn-primary(type='submit') Prijava
              a.btn.btn-secondary.text-primary(href='/registracija', role='button') Registracija
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
