<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/plannerEvents.css}" rel="stylesheet" /> <!-- uporabmo kr enak css, sej je isto -->
            
        <script type="text/javascript" th:src="@{/js/jquery_3.3.1.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>           
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link btn-info" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>       
        </nav>
        
        <p class="h1 text-center container-margin">Messages</p>
        
        <div class="container">
            <div th:each="message: ${messages}" class="container message text-center">
                <p th:text="${message.message}"></p>
            </div>            
        </div>
        
        <!-- Button trigger modal -->
        <div class="container text-center button-modal-custom">
            <button type="button" class="button-margin btn-lg btn-danger" data-toggle="modal" data-target="#exampleModalCenter">New message</button>
        </div>

        <!-- Modal -->
        <div class="modalno-okno modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create new message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <form action="/adminPanel" method="post">
                            <div class="form-group">
                                <label for="message">Your message</label>
                                <textarea rows="4" class="form-control" id="message" name="message" maxlength="255" required="true"></textarea>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>   
        </div>
    </body>
</html>
