<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>user events</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static.css/userEvents.css" th:href="@{/css/userEvents.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/js/jquery_3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userEvents">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trole">Bus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminmessages">Messages</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item active">
                    <a class="nav-link active" href="/password">Change password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/restaurants">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-info" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center">
        <p class="h1 naslov-margin">Change password</p>
    </div>

    <div class="wrapper mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-md-3 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <form name="f" th:action="@{/password}" modelAttribute="passwordForm" method="post">
                                <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
                                <div class="form-group">
                                    <label for="password">New password</label>
                                    <input class="form-control form-control-sm" required="true" type="password" id="password" name="password" />
                                </div>
                                <div class="form-group">
                                    <label for="passwordConfirmed">New password confirmed</label>
                                    <input class="form-control form-control-sm" required="true" type="password" id="passwordConfirmed" name="passwordConfirmed" />
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-block">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>