<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/plannerEvents.css}" rel="stylesheet" /> <!-- uporabmo kr enak css, sej je isto -->

    <script type="text/javascript" th:src="@{/js/jquery_3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <link th:href="@{/css/timetable_css.css}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userEvents">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trole">Bus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminmessages">Messages</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/password">Change password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/restaurants">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-info" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- serverside validation + inline -->
    <script th:inline="javascript">
        /*<![CDATA[*/

        var flag = /*[[${isError}]]*/ 'mojError';
        window.onload = function () {
            if (!flag)
                return;
            $("#errorModal").modal();
        };

        /*]]>*/
    </script>

    <!-- Error modal -->
    <div class="modalno-okno-Error modal fade" id="errorModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: left;">Wrong insert!</h4>
                </div>
                <div class="modal-body">
                    <p>Your inserted courses were overlapping or they exceed the 15:00 hour notation. Therefore the
                        course wasn't inserted!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">

                <div class="container">
                    <div class="timetable" style="margin-top: 15px;">
                        <table>
                            <tr>
                                <th style="width: 55px; height: 30px">
                                    <button class="btn btn-primary" id="spremeniSlikoFokus" type="button"
                                        data-toggle="modal" data-target="#exampleModalCenter">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                </th>
                                <th style="width: 110px">Mon</th>
                                <th style="width: 110px">Tue</th>
                                <th style="width: 110px">Wed</th>
                                <th style="width: 110px">Thu</th>
                                <th style="width: 110px">Fri</th>
                            </tr>
                            <tr>
                                <td class="hour" style="height: 80px">8:00am</td>
                                <td colspan="5"></td>
                            </tr>
                            <tr>
                                <td class="hour" style="height: 80px">9:00am</td>
                                <td colspan="5"></td>
                            </tr>
                            <tr>
                                <td class="hour" style="height: 80px">10:00am</td>
                                <td colspan="5"></td>
                            </tr>
                            <tr>
                                <td class="hour" style="height: 80px">11:00am</td>
                                <td colspan="5"></td>
                            </tr>
                            <tr>
                                <td class="hour" style="height: 80px">12:00am</td>
                                <td colspan="5"></td>
                            </tr>
                            <tr>
                                <td class="hour" style="height: 80px">13:00am</td>
                                <td colspan="5"></td>
                            </tr>
                            <tr>
                                <td class="hour" style="height: 80px">14:00pm</td>
                                <td colspan="5"></td>
                            </tr>
                            <tr>
                                <td class="hour" style="height: 80px">15:00pm</td>
                                <td colspan="5"></td>
                            </tr>
                        </table>

                        <span th:each="course : ${courses}">


                            <!-- Modal for editing and deleting timetable Courses -->
                            <div class="container">
                                <div class="modalno-okno-editTimetable modal fade" id="editDeleteModal" tabindex="-1"
                                    role="dialog" aria-labelledby="editDeleteModal" aria-hidden="true"
                                    th:attrappend="id=${course.id}">
                                    <div class="modal-dialog modal-dialog-centered" role="document"
                                        style="float:left; right:-5%;">
                                        <form id="form-editCourse" action="/home/editCourse" method="post"
                                            style="float:left;">
                                            <div class="modal-content" style="width:500px;">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Course</h5>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" style="width:500px;">
                                                    <label>Name: </label>
                                                    <input class="form-control" id="courseName" name="courseName"
                                                        placeholder="Insert course name"
                                                        aria-describedby="sizing-addon2" th:value="${course.name}"
                                                        data-toggle="validator" required />
                                                    <br>
                                                    <div class="form-group">
                                                        <label for="sel1">Day: </label>
                                                        <select class="form-control" id="sel1" name="courseDay"
                                                            th:value="${course.day}">
                                                            <option th:selected="'Monday' == ${course.day}">Monday
                                                            </option>
                                                            <option th:selected="'Tuesday' == ${course.day}">Tuesday
                                                            </option>
                                                            <option th:selected="'Wednesday' == ${course.day}">Wednesday
                                                            </option>
                                                            <option th:selected="'Thursday' == ${course.day}">Thursday
                                                            </option>
                                                            <option th:selected="'Friday' == ${course.day}">Friday
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <br>
                                                    <div class="form-group">
                                                        <label for="sel1">Starting hour: </label>
                                                        <select class="form-control" id="sel1" name="courseHour"
                                                            th:value="${course.hour}">
                                                            <option th:selected="'8:00' == ${course.hour}">8:00</option>
                                                            <option th:selected="'9:00' == ${course.hour}">9:00</option>
                                                            <option th:selected="'10:00' == ${course.hour}">10:00
                                                            </option>
                                                            <option th:selected="'11:00' == ${course.hour}">11:00
                                                            </option>
                                                            <option th:selected="'12:00' == ${course.hour}">12:00
                                                            </option>
                                                            <option th:selected="'13:00' == ${course.hour}">13:00
                                                            </option>
                                                            <option th:selected="'14:00' == ${course.hour}">14:00
                                                            </option>
                                                            <option th:selected="'15:00' == ${course.hour}">15:00
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <label>Colour: </label>
                                                    <input type="color" id="courseColor" name="courseColour"
                                                        th:value="${course.colour}">

                                                    <input id="courseId" name="courseId" type="hidden"
                                                        th:value="${course.id}">
                                                    <br>
                                                    <br>
                                                </div>
                                                <div class="modal-footer">

                                                    <button class="btn btn-secondary" type="button"
                                                        data-dismiss="modal">Close</button>
                                                    <button class="btn btn-primary" type="submit">Edit changes</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modalno-okno-deleteTimetable modal-dialog modal-dialog-centered"
                                        role="document" style="left:36.7%; top:30.5%">
                                        <form id="form-deleteCourse" action="/home/deleteCourse" method="get">
                                            <div class="modal-content" style="width:90px; height: 70px">
                                                <div class="modal-footer">
                                                    <input id="courseId" name="courseId" type="hidden"
                                                        th:value="${course.id}">
                                                    <button type="submit"
                                                        class="btn btn-primary todolist-button btn-sm">Delete</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>





                            <div class="lesson"
                                th:style="'left: 59px; top: 35px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Monday' && course.hour == '8:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="'left: 59px; top: 115px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Monday' && course.hour == '9:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="'left: 59px; top: 195px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Monday' && course.hour == '10:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 59px; top: 275px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Monday' && course.hour == '11:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 59px; top: 355px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Monday' && course.hour == '12:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 59px; top: 435px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Monday' && course.hour == '13:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 59px; top: 515px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Monday' && course.hour == '14:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 59px; top: 595px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Monday' && course.hour == '15:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 169px; top: 35px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Tuesday' && course.hour == '8:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 169px; top: 115px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Tuesday' && course.hour == '9:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 169px; top: 195px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Tuesday' && course.hour == '10:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 169px; top: 275px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Tuesday' && course.hour == '11:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 169px; top: 355px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Tuesday' && course.hour == '12:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 169px; top: 435px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Tuesday' && course.hour == '13:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 169px; top: 515px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Tuesday' && course.hour == '14:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 169px; top: 595px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Tuesday' && course.hour == '15:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 279px; top: 35px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Wednesday' && course.hour == '8:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 279px; top: 115px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Wednesday' && course.hour == '9:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 279px; top: 195px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Wednesday' && course.hour == '10:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 279px; top: 275px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Wednesday' && course.hour == '11:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 279px; top: 355px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Wednesday' && course.hour == '12:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 279px; top: 435px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Wednesday' && course.hour == '13:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 279px; top: 515px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Wednesday' && course.hour == '14:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 279px; top: 595px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Wednesday' && course.hour == '15:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 389px; top: 35px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Thursday' && course.hour == '8:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 389px; top: 115px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Thursday' && course.hour == '9:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 389px; top: 195px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Thursday' && course.hour == '10:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 389px; top: 275px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Thursday' && course.hour == '11:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 389px; top: 355px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Thursday' && course.hour == '12:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 389px; top: 435px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Thursday' && course.hour == '13:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 389px; top: 515px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Thursday' && course.hour == '14:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 389px; top: 595px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Thursday' && course.hour == '15:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 499px; top: 35px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Friday' && course.hour == '8:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 499px; top: 115px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Friday' && course.hour == '9:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 499px; top: 195px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Friday' && course.hour == '10:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 499px; top: 275px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Friday' && course.hour == '11:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 499px; top: 355px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Friday' && course.hour == '12:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 499px; top: 435px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Friday' && course.hour == '13:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 499px; top: 515px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Friday' && course.hour == '14:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                            <div class="lesson"
                                th:style="' left: 499px; top: 595px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"
                                th:if="${course.day == 'Friday' && course.hour == '15:00'}" data-toggle="modal"
                                data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
                                <div class="lesson_body" th:text='${course.name}'></div>
                            </div>
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">

                <div class="container text-center">
                    <p class="h1 naslov-margin">Todo list</p>
                </div>

                <div class="container">
                    <div th:each="todo: ${todolist}" class="container message text-center todolist">
                        <p th:text="${todo.description}"></p>
                        <form action="/home/deletetodo" method="get">
                            <input id="todoId" name="todoId" type="hidden" th:value="${todo.id}">
                            <button type="submit" class="btn btn-primary todolist-button btn-sm" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>

                        <button type="button" class="btn btn-primary todolist-button btn-sm" data-toggle="modal"
                            data-target="#modalEditTodo" th:attrappend="data-target=${todo.id}">Edit todo</button>

                        <!-- Modal -->
                        <div class="modalno-okno modal fade" id="modalEditTodo" tabindex="-1" role="dialog"
                            th:attrappend="id=${todo.id}">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalEditTodoTitle">Edit todo</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/home/edittodo" method="post">
                                            <div class="form-group">
                                                <input id="todoId" name="todoId" type="hidden" th:value="${todo.id}">
                                                <label for="description">Description</label>
                                                <textarea rows="4" class="form-control" id="description"
                                                    name="description" th:text="${todo.description}" required="true"
                                                    maxlength="250"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Save edit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <div class="container text-center button-modal-custom">
                    <button type="button" class="button-margin btn-lg btn-danger" data-toggle="modal"
                        data-target="#exampleModalCenter2">New todo</button>
                </div>


            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modalno-okno modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create new todo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <form action="/home/todo" method="post">
                        <div class="form-group">
                            <label for="desrciption">Description</label>
                            <textarea rows="4" class="form-control" id="description" name="description" required="true"
                                maxlength="250"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for adding timetable Courses -->
    <div class="modalno-okno-timetable modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form id="form-insertCourse" action="/home/timetable" method="post">
                <div class="modal-content">
                    <div class="modal-header" style="width:500px;">
                        <h5 class="modal-title" id="exampleModalLongTitle">Course</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="width:500px;">
                        <label>Name: </label>
                        <input class="form-control" id="courseName" name="courseName" placeholder="Insert course name"
                            aria-describedby="sizing-addon2" data-toggle="validator" required />
                        <br>
                        <div class="form-group">
                            <label for="sel1">Day: </label>
                            <select class="form-control" id="sel1" name="courseDay">
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="sel1">Starting hour: </label>
                            <select class="form-control" id="sel1" name="courseHour">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                <option>11:00</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:00</option>
                                <option>15:00</option>
                            </select>
                        </div>
                        <label>Duration: </label>
                        <input class="form-control" id="courseDuration" name="courseDuration"
                            placeholder="Insert course duration" aria-describedby="sizing-addon2"
                            data-toggle="validator" type="number" min="1" required />
                        <br>
                        <label>Colour: </label>
                        <input type="color" id="courseColor" name="courseColour" value="#e66465">

                        <br>
                        <br>
                    </div>
                    <div class="modal-footer">

                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit" form="form-insertCourse">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
             
        <div id='calendar' th:id="calendar"></div>  
        <div class="container text-center button-modal-custom">
            <button type="button" class="button-margin btn-lg btn-danger" data-toggle="modal" data-target="#modalNewEvent">New Event</button>
        </div>
        <!-- Modal -->
        <div class="modalno-okno modal fade" id="modalNewEvent" tabindex="-1" role="dialog" aria-labelledby="modalNewEvent" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create new event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <form action="/home/calendar" method="post">
                            <div class="form-group">
                                <label for="desrciption">Name</label>
                                <textarea class="form-control" id="name" name="name" required="true" maxlength="250"></textarea>
                                 <label for="desrciption">Description</label>
                                <textarea rows="4" class="form-control" id="description" name="description" required="true" maxlength="250"></textarea>
                                 <label for="desrciption">Date</label>
                                <input type="date" class="form-control" id="date" name="date" required="true" maxlength="250"></input>
                                 <label for="desrciption">Time</label>
                                <input type="time" class="form-control" id="time" name="time" required="true" maxlength="250"></input> 
                                <label for="desrciption">Duration</label>
                                <input type="time" class="form-control" id="duration" name="duration" required="true" maxlength="250"></input>                                
                            
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>   
        </div>
        <div class="row">
            
                        <div th:each="event: ${calendarEvents}" class="m-2 message text-center col-md-2" data-toggle="modal" data-target="#modalEventInfo" th:attrappend="data-target=${event.id}">
                            <p th:text="${event.name}"></p>
                            <p th:text="${event.date}"></p>
                            <p th:text="${event.time}"></p>
                            
                            <div class="modalno-okno modal fade" id="modalEventInfo" tabindex="-1" role="dialog" th:attrappend="id=${event.id}">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="modalEditTodoTitle" th:text="${event.name}"></h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="m-auto" th:text="${event.description}"></p>
                                            <div class="row m-auto">
                                                <p >Day: </p>
                                                <p th:text="${event.date}"></p>
                                            </div>
                                            <div class="row m-auto">
                                                <p >At: </p>
                                                <p th:text="${event.time}"></p>
                                            </div>
                                            <div class="row m-auto">
                                                <p >For: </p>
                                                <p th:text="${event.duration}"></p>
                                            </div>
                                            <div class="row">
                                                <div clas="col-lg-2 col-lg-offset-5">
                                                    <button type="button" class="btn btn-primary todolist-button btn-sm" data-dismiss="#modalEventInfo" data-toggle="modal" data-target="#modalEditEvent" th:attrappend="data-target=${event.id}" href="#modalEditEvent">Edit</button>
                                                </div>
                                                <div clas="col-lg-2 col-lg-offset-5">
                                                    <form action="/home/eventDelete" method="get">
                                                        <input id="eventId" name="eventId" type="hidden" th:value="${event.id}">
                                                        <button type="submit" class="btn btn-primary todolist-button btn-sm">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="modalno-okno modal fade" id="modalEditEvent" tabindex="-1" role="dialog" th:attrappend="id=${event.id}">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalEditTodoTitle">Edit</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body ">
                                        <form action="/home/eventUpdate" method="post">
                                            <div class="form-group">
                                                <input id="eventId" name="eventId" type="hidden" th:value="${event.id}">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required="true" maxlength="250" th:value="${event.name}"></input>
                                                 <label for="desrciption">Description</label>
                                                 <input type="text" class="form-control" id="description" name="description" required="true" maxlength="250" th:value="${event.description}"></input>
                                                 <label for="date">Date</label>
                                                <input type="date" class="form-control" id="date" name="date" required="true" maxlength="250" th:value="${event.date}"></input>
                                                 <label for="time">Time</label>
                                                <input type="time" class="form-control" id="time" name="time" required="true" maxlength="250" th:value="${event.time}"></input> 
                                                <label for="duration">Duration</label>
                                                <input type="time" class="form-control" id="duration" name="duration" required="true" maxlength="250" th:value="${event.duration}"></input>

                                            </div>                                            
                                            <div class="text-center"><button type="submit" class="btn btn-primary">Update</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>   
                        </div>       
                        </div>                             
                </div>
        </div>
    </body>
</html>

