<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/plannerEvents.css}" rel="stylesheet" />
            
        <script type="text/javascript" th:src="@{/js/jquery_3.3.1.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>           
    </head>
    <body>
        
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="/plannerEvents">Events</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/messagesmanager">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-info" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="container-margin container table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped table-color">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Organizer</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="event: ${events}">
                        <td th:text="${event.name}" />
                        <td th:text="${event.date}" />
                        <td th:text="${event.organizer}" />
                        <td th:text="${event.description}" />
                    </tr>    
                </tbody>
            </table>            
        </div>
        
        
        <!-- Button trigger modal -->
        <div class="container text-center">
            <button type="button" class="button-margin btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Add event</button>
        </div>

        <!-- Modal -->
        <div class="modalno-okno modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create new event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <form action="/plannerEvents" method="post">
                            <div class="form-group">
                                <label for="name">Name of event</label>
                                <input type="text" class="form-control" id="name" name="name" required="true">
                            </div>

                            <div class="form-group">
                                <label for="date">Date of event</label>
                                <input type="date" class="form-control" id="date" name="date" required="true">
                            </div>

                            <div class="form-group">
                                <label for="organizer">Organizer</label>
                                <input type="text" class="form-control" id="organizer" name="organizer" required="true">
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea rows="3" class="form-control" id="description" name="description" required="true"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>   
        </div>
    </body>
</html>
