<html xmlns:th="https://www.thymeleaf.org">


<head>
  <title>Registration</title>

  <script type="text/javascript" th:src="@{/js/jquery_3.3.1.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


  <link th:href="@{/css/timetable_css.css}" rel="stylesheet">
  <link th:href="@{/css/timetable_css.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/js/timetable_js.js}"></script>
</head>

<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/troleP">Bus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/restaurantsP">Restaurants</a>
                </li>               
            </ul>
        </div>       
    </nav>
    
  <div class="wrapper mt-4">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-md-3 col-md-4">
          <div class="card">
            <div class="card-body">
              <form name="f" th:action="@{/registration}" modelAttribute="registrationForm" method="post">
                <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
                <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
                <div th:if="${param.error}" class="alert alert-danger">
                  Napaka
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                  You have been logged out.
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control form-control-sm" required="true" type="email" id="email" name="email" />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input class="form-control form-control-sm" required="true" type="password" id="password" name="password" />
                </div>
                <div class="form-group">
                  <label for="password">Password confirmed</label>
                  <input class="form-control form-control-sm" required="true" type="password" id="passwordConfirmed"
                    name="passwordConfirmed" />
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-block">Registration</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>