<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/plannerEvents.css}" rel="stylesheet" /> <!-- uporabmo kr enak css, sej je isto -->
            
        <script type="text/javascript" th:src="@{/js/jquery_3.3.1.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>           
        <link th:href="@{/css/timetable_css.css}" rel="stylesheet">
   <link th:href="@{/css/timetable_css.css}" rel="stylesheet">
   <script type="text/javascript" th:src="@{/js/timetable_js.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/plannerEvents.css}" rel="stylesheet" /> <!-- uporabmo kr enak css, sej je isto -->

    <script type="text/javascript" th:src="@{/js/jquery_3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>   
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/userEvents">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/trole">Bus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/adminmessages">Messages</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/password">Change password</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/restaurants">Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-info" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container text-center naslov-margin">
            <p class="h1 naslov-margin">Map of student restaurants</p>
        </div>
        
        <div class="container maps">
            <iframe src="https://www.google.com.qa/maps/d/u/0/embed?mid=1JtHI5LcjZ7mJR34p6kKt6lPgG5hDw3-H" width="100%" height="500"></iframe>
        </div>
    </body>
</html>
