<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
   <script type="text/javascript" th:src="@{/js/jquery_3.3.1.js}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
   <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
       
       
   <link th:href="@{/css/timetable_css.css}" rel="stylesheet">
   <link th:href="@{/css/timetable_css.css}" rel="stylesheet">
   <script type="text/javascript" th:src="@{/js/timetable_js.js}"></script>
</head>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/

            var flag = /*[[${isError}]]*/ 'mojError';
            window.onload = function() {
                if(!flag)
                    return;
                $("#errorModal").modal(); 
            };

        /*]]>*/
    </script>
    
    <!-- Error modal -->
    <div class="modal fade" id="errorModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="text-align: left;">Wrong insert!</h4>
          </div>
          <div class="modal-body">
            <p>Your inserted courses were overlapping or they exceed the 15:00 hour notation. Therefore the course wasn't inserted!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

        
   <button class="btn btn-sm">Your TIMETABLE!</button>
   <h1>Hoho</h1>
   <button class="btn btn-sm">Gumb</button>

   <table>
      <thead>
         <tr>
             <!--
            <th th:text="Id" />
            <th th:text="Name" />
            <th th:text="Surname" />
             -->
         </tr>
      </thead>
      <tbody>
          
         <tr th:each="course : ${courses}">
            <td th:text="${course.id}" />
            <td th:text="${course.name}" />
            <td th:text="${course.colour}" />
            <td th:text="${course.day}" />
            <td th:text="${course.hour}" />
         </tr>
          
      </tbody>
   </table>
   
    <div class="timetable">
     <table>
         <tr>
             <th style="width: 55px; height: 30px">
                <button class="btn btn-primary" id="spremeniSlikoFokus" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
             </th>
             <th style="width: 110px">Mon</th>
             <th style="width: 110px">Tue</th>
             <th style="width: 110px">Wed</th>
             <th style="width: 110px">Thu</th>
             <th style="width: 110px">Fri</th>
         </tr>
         <tr>
             <td class="hour" style="height: 80px">8:00am</td>
             <td colspan="5"></td>
         </tr>
         <tr>
             <td class="hour" style="height: 80px">9:00am</td>
             <td colspan="5"></td>
         </tr>
         <tr>
             <td class="hour" style="height: 80px">10:00am</td>
             <td colspan="5"></td>
         </tr>
         <tr>
             <td class="hour" style="height: 80px">11:00am</td>
             <td colspan="5"></td>
         </tr>
         <tr>
             <td class="hour" style="height: 80px">12:00am</td>
             <td colspan="5"></td>
         </tr>
         <tr>
             <td class="hour" style="height: 80px">13:00am</td>
             <td colspan="5"></td>
         </tr>
         <tr>
             <td class="hour" style="height: 80px">14:00pm</td>
             <td colspan="5"></td>
         </tr>
         <tr>
             <td class="hour" style="height: 80px">15:00pm</td>
             <td colspan="5"></td>
         </tr>
     </table>
     <span th:each="course : ${courses}">
         
         
        <!-- Modal for editing and deleting timetable Courses -->
        <div class="container">
            <div class="modal fade" id="editDeleteModal" tabindex="-1" role="dialog" aria-labelledby="editDeleteModal" aria-hidden="true" th:attrappend="id=${course.id}">
                <div class="modal-dialog modal-dialog-centered" role="document" style="float:left; right:-30%;">
                        <form id="form-editCourse" action="/timetable/edit" method="post" style="float:left;">
                            <div class="modal-content" style="width:500px;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Course</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button></div>
                                <div class="modal-body" style="width:500px;">
                                    <label>Name: </label>
                                    <input class="form-control" id="courseName" name="courseName" placeholder="Insert course name" aria-describedby="sizing-addon2" th:value="${course.name}" data-toggle="validator" required />
                                    <br>
                                        <div class="form-group">
                                          <label for="sel1">Day: </label>
                                          <select class="form-control" id="sel1" name="courseDay" th:value="${course.day}">
                                            <option th:selected="'Monday' == ${course.day}">Monday</option>
                                            <option th:selected="'Tuesday' == ${course.day}">Tuesday</option>
                                            <option th:selected="'Wednesday' == ${course.day}">Wednesday</option>
                                            <option th:selected="'Thursday' == ${course.day}">Thursday</option>
                                            <option th:selected="'Friday' == ${course.day}">Friday</option>
                                          </select>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                          <label for="sel1">Starting hour: </label>
                                          <select class="form-control" id="sel1" name="courseHour" th:value="${course.hour}">
                                            <option th:selected="'8:00' == ${course.hour}">8:00</option>
                                            <option th:selected="'9:00' == ${course.hour}">9:00</option>
                                            <option th:selected="'10:00' == ${course.hour}">10:00</option>
                                            <option th:selected="'11:00' == ${course.hour}">11:00</option>
                                            <option th:selected="'12:00' == ${course.hour}">12:00</option>
                                            <option th:selected="'13:00' == ${course.hour}">13:00</option>
                                            <option th:selected="'14:00' == ${course.hour}">14:00</option>
                                            <option th:selected="'15:00' == ${course.hour}">15:00</option>
                                          </select>
                                        </div>
                                    <label>Colour: </label>
                                    <input type="color" id="courseColor" name="courseColour" th:value="${course.colour}">

                                    <input id="courseId" name="courseId" type="hidden" th:value="${course.id}">
                                    <br>
                                    <br>
                                </div>
                                <div class="modal-footer">

                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit">Edit changes</button></div>
                            </div>
                        </form>
                </div>
                <div class="modal-dialog modal-dialog-centered" role="document" style="left:44%; top:-43%">
                   <form id="form-deleteCourse"action="/timetable/delete" method="get">
                       <div class="modal-content" style="width:90px;">
                            <div class="modal-footer">
                                <input id="courseId" name="courseId" type="hidden" th:value="${course.id}">
                                <button type="submit" class="btn btn-primary todolist-button btn-sm">Delete</button>
                            </div>
                     
                       </div>
                    </form> 
                </div>
            </div>
                
        </div>
         
         
         
         
         
        <div  class="lesson" th:style="'left: 59px; top: 35px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'"  th:if="${course.day == 'Monday' && course.hour == '8:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="'left: 59px; top: 115px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Monday' && course.hour == '9:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="'left: 59px; top: 195px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Monday' && course.hour == '10:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 59px; top: 275px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Monday' && course.hour == '11:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 59px; top: 355px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Monday' && course.hour == '12:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 59px; top: 435px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Monday' && course.hour == '13:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 59px; top: 515px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Monday' && course.hour == '14:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 59px; top: 595px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Monday' && course.hour == '15:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 169px; top: 35px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Tuesday' && course.hour == '8:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 169px; top: 115px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Tuesday' && course.hour == '9:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 169px; top: 195px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Tuesday' && course.hour == '10:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 169px; top: 275px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Tuesday' && course.hour == '11:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 169px; top: 355px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Tuesday' && course.hour == '12:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 169px; top: 435px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Tuesday' && course.hour == '13:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 169px; top: 515px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Tuesday' && course.hour == '14:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 169px; top: 595px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Tuesday' && course.hour == '15:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 279px; top: 35px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Wednesday' && course.hour == '8:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 279px; top: 115px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Wednesday' && course.hour == '9:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 279px; top: 195px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Wednesday' && course.hour == '10:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 279px; top: 275px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Wednesday' && course.hour == '11:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 279px; top: 355px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Wednesday' && course.hour == '12:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 279px; top: 435px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Wednesday' && course.hour == '13:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 279px; top: 515px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Wednesday' && course.hour == '14:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 279px; top: 595px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Wednesday' && course.hour == '15:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 389px; top: 35px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Thursday' && course.hour == '8:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 389px; top: 115px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Thursday' && course.hour == '9:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 389px; top: 195px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Thursday' && course.hour == '10:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 389px; top: 275px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Thursday' && course.hour == '11:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 389px; top: 355px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Thursday' && course.hour == '12:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 389px; top: 435px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Thursday' && course.hour == '13:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 389px; top: 515px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Thursday' && course.hour == '14:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 389px; top: 595px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Thursday' && course.hour == '15:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 499px; top: 35px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Friday' && course.hour == '8:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 499px; top: 115px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Friday' && course.hour == '9:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 499px; top: 195px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Friday' && course.hour == '10:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 499px; top: 275px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Friday' && course.hour == '11:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 499px; top: 355px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Friday' && course.hour == '12:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 499px; top: 435px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Friday' && course.hour == '13:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 499px; top: 515px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Friday' && course.hour == '14:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
        <div  class="lesson" th:style="' left: 499px; top: 595px; width: 102px; height: 70px; background: '+ @{${course.colour}} + ';'" th:if="${course.day == 'Friday' && course.hour == '15:00'}" data-toggle="modal" data-target="#editDeleteModal" th:attrappend="data-target=${course.id}">
            <div class="lesson_body" th:text='${course.name}'></div>
        </div>
      </span>
 </div>
   
     <!-- Modal for adding timetable Courses -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form id="form-insertCourse" action="/1/timetable" method="post">
                <div class="modal-content">
                    <div class="modal-header" style="width:500px;">
                        <h5 class="modal-title" id="exampleModalLongTitle">Course</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div>
                    <div class="modal-body" style="width:500px;">
                        <label>Name: </label>
                        <input class="form-control" id="courseName" name="courseName" placeholder="Insert course name" aria-describedby="sizing-addon2" data-toggle="validator" required />
                        <br>
                            <div class="form-group">
                              <label for="sel1">Day: </label>
                              <select class="form-control" id="sel1" name="courseDay">
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                              </select>
                            </div>
                            <br>
                            <div class="form-group">
                              <label for="sel1">Starting hour: </label>
                              <select class="form-control" id="sel1" name="courseHour">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                <option>11:00</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:00</option>
                                <option>15:00</option>
                              </select>
                            </div>
                        <label>Duration: </label>
                        <input class="form-control" id="courseDuration" name="courseDuration" placeholder="Insert course duration" aria-describedby="sizing-addon2" data-toggle="validator" type="number" min = "1" required/>
                        <br>
                        <label>Colour: </label>
                        <input type="color" id="courseColor" name="courseColour" value="#e66465">
                            
                        <br>
                        <br>
                    </div>
                    <div class="modal-footer">
                    
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit" form="form-insertCourse">Save changes</button></div>
                </div>
            </form>
        </div>
    </div>
    
</body>

</html>