<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>



   <link th:href="@{/css/timetable_css.css}" rel="stylesheet">
   <link th:href="@{/css/timetable_css.css}" rel="stylesheet">
   <script type="text/javascript" th:src="@{/js/timetable_js.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/plannerEvents.css}" rel="stylesheet" /> <!-- uporabmo kr enak css, sej je isto -->

    <script type="text/javascript" th:src="@{/js/jquery_3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>           
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/troleP">Bus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/restaurantsP">Restaurants</a>
                </li>
            </ul>
        </div>       
    </nav>
    
    <div class="container text-center"> 
        <div th:if="${trolaSubmit.data.isError()}">
            <p th:text="${trolaSubmit.data.getError()}"}></p>
        </div>
        <div th:unless="${trolaSubmit.data.isError()}">
            <div th:each="station : ${trolaSubmit.data.getStations()}">            
            <p class="h1 naslov-margin" th:text="${'Timetable for ' + station.getName()}"> </p>
            <div th:each="bus : ${station.getBuses()}" class="container message text-center todolist">
                <p th:text="${'Number: ' + bus.getNumber()}"}></p>
                <p th:text="${'Direction: ' + bus.getDirection()}"></p>
                <p th:text=${bus.arrivalsToString()}></p>
            </div>
        </div>  
        </div>
              
        <button class="btn btn-primary" onclick="location.href = '/troleP'">New search</button>
    </div>
   
</body>
</html>
