<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <script type="text/javascript" th:src="@{/js/jquery_3.3.1.js}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
   <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


   <link th:href="@{/css/timetable_css.css}" rel="stylesheet">
   <link th:href="@{/css/timetable_css.css}" rel="stylesheet">
   <script type="text/javascript" th:src="@{/js/timetable_js.js}"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/troleP">Bus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/restaurantsP">Restaurants</a>
                </li>
            </ul>
        </div>       
    </nav>
    
    <div class="container text-center">
        <p class="h1 naslov-margin">Search timetables</p>
    </div>
    <div class="container text-center">
        <form action="#" th:action="@{/troleP}" th:object="${trolaSubmit}" method="post">
            <div class="form-group center">
                <label>Postaja</label>
                <input type="text" th:field="*{station}">                
            </div>
            <button type="submit" value="Submit" class="btn btn-primary">Search</button>
        </form>
    </div>

</body>
</html>