<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>user events</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link href="../static.css/userEvents.css" th:href="@{/css/userEvents.css}" rel="stylesheet" />
            
        <script type="text/javascript" th:src="@{/js/jquery_3.3.1.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>           
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/userEvents">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/trole">Bus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/adminmessages">Messages</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/password">Change password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/restaurants">Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-info" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="container text-center">
            <p class="h1 naslov-margin">List of all events</p>
        </div>
            
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Event name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Organizer</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="event: ${events}">
                        <td class="table-primary" th:text="${event.name}" />
                        <td class="table-success" th:text="${event.date}" />
                        <td class="table-danger" th:text="${event.organizer}" />
                        <td class="table-warning" th:text="${event.description}" />
                    </tr>    
                </tbody>
            </table>
            
            <!--
            <div class="container">
                <div th:each="event: ${events}" class="row">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p th:text="'Name: ' + ${event.name}"></p>
                            <p th:text="'Date: ' + ${event.date}"></p>
                            <p th:text="'Organizer: ' + ${event.organizer}"></p>
                            <p th:text="'Description: ' + ${event.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </body>
</html>
