html, body {
    height:100%;
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
} 

body{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    position: relative;
    background-image: linear-gradient(to right bottom, rgba(126,213,111, 0.5), rgba(0,180,133, 0.5)), url('/images/lake.jpeg');
     background-size: cover;
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    
}

.event_wrapper1{

   
    max-width: 1200px;
    background: rgba(51,51,51, 0.9);
    padding-bottom: 30px;

    margin: 0 auto;
     margin-top: 200px;
}

.event_wrapper{
   
    background: rgba(51,51,51, 0.9);
    padding-bottom: 30px;
    margin: auto;
}

.event_header{
    display: flex;
    position: relative;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #333;
    border-bottom: 2px solid #333;
    margin-bottom: 30px;
}

.heading-terciary{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .1rem;
    margin-bottom: 10px;
    text-align: center;
}



.event_info{
    display: flex;
    flex-flow: row wrap;
}

.event_about{
    width: 40%;
}

.event_map{
    width: 60%;
    display: flex;
    justify-content: center;
}

.event_txt {
    font-size: 25px;
    color: #000;
    margin-left: 25px;
}

.event_txt:not(:last-child){
    margin-bottom: 15px;
    
}

.event_txt_title{
    display: inline;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left:  5px;
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    -webkit-background-clip: text;
    color: transparent;
    border-bottom: 2px solid black;
}

.event_txt_info{
     padding-left:  5px;
     margin-top: 5px;
}

.event_info_2{
    margin-top: 20px;
    margin-right: 30px;
    
}

.event_rating{
    background-image: linear-gradient(to right bottom, rgba(126,213,111, 0.8), rgba(0,180,133, 0.8));
    padding: 5px 10px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.fa{
    color: #333;
}

.checked{
    color: orange;
}

.event_description{
    margin-right: 25px;
    margin-left: 25px;
}

.fil{
    display: inline-block;
    position: relative;
    color:  #55c57a;
    position: absolute;
    top: 0%;
    left: 0%;
}

.arr_left{
    margin-left: 20px;
    margin-top: 20px;
    transform: scale(2);

}

.link_back{
    text-decoration: none;
    color: #55c57a;
    cursor: pointer;
}



@media only screen and (max-width: 1150px) {
    .event_wrapper1{
        margin-top: 100px;
    }
    .event_body{
        height: 100vh;
    }
    .event_txt_title{
        font-size: 20px;
    }
    .event_txt_info{
        font-size: 20px;
    }
    .event_about{
        width: 30%;
    }
    .event_map{
        width: 70%;
    }
    .map{
        width: 500px;
       
    }
}

@media only screen and (max-width: 830px) {
    .event_wrapper1{
        margin-top: 50px;
    }
    .event_body{
        height: 100vh;
    }
    .event_wrapper{
        height: 100%;
        width: 100%;
    }
    .event_info{
       align-items: center;
       justify-content: center;
    }
    
    .event_txt{
        margin-left: 0px;
    }
    .event_map{
        order: 2;
    }
     .event_about{
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .txt_about{
        width: 40%;
    }
    
    .event_description{
        width: 90%;
        margin-top: 20px;
        margin: 0 auto;
    }
    
    .title_center{
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .event_map{
        width: 100%;
        display:flex;
        justify-content: center;
        margin-top: 40px;
    }
    .map{
        width: 500px;
    }
    
}

@media only screen and (max-width: 610px) {
    .map{
        width: 450px;
    }
    
}


@media only screen and (max-width: 500px) {
    .event_wrapper1{
        margin-top: 20px;
    }
    .map{
        width: 300px;
        height: 200px;
    }
    .event_txt_title{
        font-size: 15px;
        padding-bottom: 2px;
    }
    .event_txt_info{
        font-size: 13px;
    }
    .heading-terciary{
        
        font-size: 20px;
    }
    .arr_left{
         transform: scale(1);
         margin-left: 10px;
         margin-top: 5px;
    }
    
}
.bnt-div{
    text-align: center;
    margin-bottom: 50px;
}

.btn-interested{
    width: 180px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #333;
    color: white;
    font-size: 14px;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1.5px;
    display:  none;
    margin-top: 20px;
    
}