body{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    }

.event_body{
    background-color: #333;
}

.event_user{
    width: 6rem;
    height: 6rem;
    position: fixed;
    overflow: hidden;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
    top: 2rem;
    right: 2rem;
    margin: 0;
}

.user__img {
    height: 100%;
    transform: translateX(-1.5rem) scale(1.2);
    backface-visibility: hidden;
    transition: all .5s;
}

.event_user:hover .user__img{
    transform: translateX(-1.5rem) scale(1);
    filter: blur(3px) brightness(80%);
}

.username {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.event_user:hover .username{
    opacity: 1;
    transform: translate(-50%, -50%);
}


.create_heading{
    margin: 0 auto;
    text-align: center;
}

.img{
    margin: 0 auto;
    padding-top: 50px;
    width: 216px;
}

.heading_secondaryy{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    margin-bottom: 70px;
    transition: 0.4s;
}

.heading_secondaryy:hover {
        transform: scale(1.1);
}   

.info_wrapper {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: linear-gradient(to right,  rgba(126,213,111, 0.6), rgba(0,180,133, 0.6));

}

.form_wrapper{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 0px !important;
}


.event_txt {
    display: block;
    font-size: 25px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.form_input{
    text-align: center;
    font-family: inherit;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    background-color: rgba(255,255,255, .8);
    border: none;
    border-bottom: 3px solid transparent;
    width: 50%;
    display: block;
    font-size: 20px;
    margin: 0 auto;
}

.textarea{
    text-align: left;
     background-color: rgba(255,255,255, .8);
}

.button_wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.button, .button:link, .button:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    border: none;
    cursor: pointer;
    width: 200px;
    font-size: 13px;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    margin-bottom: 20px;
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button:active, .button:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.button_green{
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    color: white;
}

.button_green::after{
     background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
}

.button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.event_date{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.event_date_input{
    text-align: center;
    font-family: inherit;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    background-color: rgba(255,255,255, .8);
    border: none;
    border-bottom: 3px solid transparent;
    width: 30%;
    display: block;
    font-size: 20px;
}