body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background-color: #333;
    text-align: center;
    align-items: center;
}

.buttonWrapper{
    margin-top: 50px;
    width: 320px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.button, .button:link, .button:visited{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1.2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 120px;
    font-size: 13px;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button:active, .button:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.button_green{
    background-color: #55c57a;
    color: white;
}

.button_green::after{
    background-color: #55c57a;
}

.button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.text{
    margin-top: 70px;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    margin-bottom: 90px;
    transition: 0.4s;
    margin-left: 20px;
    margin-right: 20px;
}