body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.event_user{
    width: 80px;
    height: 80px;
    position: fixed;
    overflow: hidden;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
    top: 2rem;
    right: 2rem;
    margin: 0;
}

.user__img {
    height: 100%;
    transform: translateX(-1.5rem) scale(1.2);
    backface-visibility: hidden;
    transition: all .5s;
}

.event_user:hover .user__img{
    transform: translateX(-1.5rem) scale(1);
    filter: blur(3px) brightness(80%);
}

.username {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.event_user:hover .username{
    opacity: 1;
    transform: translate(-50%, -50%);
}

.event_head {
    height: 600px;
    background-image: linear-gradient(to right bottom, rgba(126,213,111, 0.8), rgba(0,180,133, 0.8)), 
    url('/images/event_head.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

}

.event_heading {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
   
}

.heading-primary--main {
    display: block;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 2rem;

}

.heading-primary--sub {
    display: block;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.event_selection{
    max-width:1200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.heading-secondary{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    margin-bottom: 90px;
    transition: 0.4s;
    margin-left: 20px;
    margin-right: 20px;
}

.heading-secondary:hover {
        transform: scale(1.1);
    }

.search-box {
     background-color: #333;
     padding: 5px;
     width: 400px;
     margin: 0 auto;
}

.search-btn {
     float: right;
     width: 40px;
     height: 40px;
     background: linear-gradient(to right bottom, rgba(126,213,111, 0.8), rgba(0,180,133, 0.8));
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     cursor: pointer;
}

.search-input::placeholder{
    color:white;
}

.search-input{
     float:left;
     border: none;
     background: none;
     outline: none;
     padding: 0;
     color: white;
     font-size: 16px;
     line-height: 40px;
     width: 300px;
     font-weight: bold;
     margin-left: 10px;
}

.filters {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}

.fil{
    display: inline-block;
    border: 3px solid #55c57a;
    border-radius: 5px;
    width: 130px;
    height: 130px;
    position: relative;
    color:  #55c57a ;
    cursor: pointer;
}

.filter{
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 20%)  scale(4);
    position: absolute;

}

.filter_text{
     text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 20%);
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: .2rem;
    color: #333;
}

.event_show {

    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
     -webkit-clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 100%);
     clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 100%);
}

.event_position{
    max-width:1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    
}

.event_position:first-child{
    padding-top: 200px;
    
}




.event_holder{
    max-width: 1050px;
    height: 540px;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.5) 50%, transparent 50%);
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .5);
    transition: all 0.4s;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.event_bckg{
     max-width: 1050px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     margin-right: 10px;
     margin-left: 10px;
      margin: 0 auto;
}


.event_holder2{
    max-width: 1050px;
    height: 540px;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.5) 50%, transparent 50%);
    background-size: 100%;
    background-position: bottom;
    margin: 0 auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .5);
    transition: all 0.4s;
    display: flex;
    justify-content: space-between;
    position: relative;
}



.event_holder2:hover{
    transform: scale(1.05);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .5);
}

.event_place{
    width: 50%;
}

.event_pic{
    padding-top: 5px;
    position: relative;
}

.event_holder_user{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
    position: absolute;
    left: 20px;
    top: 10px;
}

.event_holder_img {
    height: 100%;
    transform: translateX(-1.3rem) scale(1.2);
    backface-visibility: hidden;
    transition: all .5s;
}

.heading-terciary{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .1rem;
    margin-top: 30px;
    margin-left: 110px;
}

.event_info{
    display: flex;
    flex-flow: column;
    margin-top: 10px;
    margin-left: 20px;
    border-top: 1px solid grey;
    padding-top: 20px;
}

.event_txt {
    font-size: 25px;
    color: #333;
}

.event_txt:not(:last-child){
    margin-bottom: 15px;
    
}

.btn-text {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 20px;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid #55c57a;
    padding: 3px;
    transition: all .3s;
    outline: none;
    cursor: pointer;
}

.btn-text:hover{
    background-color: #55c57a;
    color: white;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
    transform: translateY(-2px);
}


.btn-text:active {
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
        transform: translateY(0);
}


#about2{
    visibility: hidden;
}

#about1{
    visibility: hidden;
}


.event_about{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    margin-right: 40px;
    height: 270px;
    display: flex;
    flex-flow: column;
    text-align: center;
    color: black;
}

.event_about_header{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: .2rem;
    padding: 10px 0;
    background-image: linear-gradient(to right,  rgba(126,213,111, 0.8), rgba(0,180,133, 0.8));
    width: 300px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.event_about_text{
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.btn-interested{
    width: 180px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #333;
    color: white;
    font-size: 14px;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1.5px;
    margin-top: 20px;
    cursor: pointer;
}

.event_rating{
    margin-top: 10px;
}

.fa{
    color: #333;
}

.checked{
    color: orange;
}

.map {
    max-width: 400px;
    height: 350px;
    display: block;
    margin: 0 auto;
}

.map_icon {
    margin: 25px 30px;
    border: 2px solid;
    border-color: #55c57a;
    border-radius: 8px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left:0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /*background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;*/

    margin: auto;
    max-width: 600px; 
    background-color: rgba(51,51,51, 0.9);
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.7);
}

/* The Close Button */
.close {
    color: #aaaaaa !important;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
    opacity: 1 !important;
}

.close:hover,
.close:focus {
    color: #aaaaaa !important;
    text-decoration: none;
    cursor: pointer;
    opacity: 1 !important;
}

.link-btn{
    text-decoration: none;
    color: #55c57a;
}

.link-btn:hover{
    text-decoration: none;
    color: #fff;
}

.paginationNav{
    display: flex;
    justify-content: center;
}

.navColor{
    color: #55c57a !important;
}

@media only screen and (max-width: 1000px) {
    .event_heading{
        width:80%;
    }
    .event_bckg{
         margin-right: 20px;
        margin-left: 20px;
    }
    .heading-primary--main{
        font-size: 70px;
    }
    .heading-primary--sub{
        font-size: 20px;
    }
    .event_txt{
        font-size: 20px;
    }
     .event_holder2{
        margin-right: 20px;
        margin-left: 20px;
     }
     .heading-secondary{
          font-size: 25px;
     }
     .event_about_header{
         font-size: 20px;
         
     }
     .event_about_text{
         font-size: 17px;
     }
}

@media only screen and (max-width: 800px) {
    .event_about{
        margin-right: 10px;
    }
     .event_about_header{
         width: 250px;
         
     }
}

@media only screen and (max-width: 700px) {
    .heading-terciary{
        font-size: 20px;
        margin-left: 90px;
    }
    .event_txt{
        font-size: 15px;
    }
    .event_holder{
        height: 450px;
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.5) 70%, transparent 50%);
        background-size: cover;
    }
    .event_bckg{
         margin-right: 10px;
        margin-left: 10px;
    }
    .btn-interested{
        width: 130px;
        font-size: 10px;
        margin-top: 10px;
    }
    
    .event_place{
        width: 70%;
    }
    .fil{
        height: 100px;
        width: 100px;
        cursor: pointer;
    }
    .filter_text{
        font-size:12px;
        letter-spacing: .1rem;
        top: 70%;
    }
    .event_holder:hover{
        transform: scale(1);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .5);
    }

    .event_holder2:hover{
        transform: scale(1);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .5);
    }
    .event_about{
        height: 240px;
    }
    .event_about_header{
        width: 200px;
        font-size: 15px;
    }
    .event_about_text{
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .event_head_wrapper{
        height: 450px;
    }
    .event_head{
         height: 450px;
    }
     .heading-secondary{
          font-size: 20px;
     }
}

@media only screen and (max-width: 500px) {
    .event_holder_user{
       height: 40px;
       width: 40px;
       top: 20px;
    }
    .heading-terciary{
        font-size: 14px;
        margin-left: 70px;
    }
    .event_user{
        width: 40px;
        height: 40px;
    }
    .button_editor{
        width: 100px;
        margin-bottom: 0px;
        font-size: 10px;
        text-align: center;
        padding: 10px 5px;
    }
    .heading-primary--main{
        font-size: 40px;
        letter-spacing: 1rem;
    }
    .heading-primary--sub{
        margin-top: 5px;
        font-size: 13px;
        letter-spacing: 0.5rem;
        padding-bottom: 5px;
    }
    .event_head_wrapper{
        height: 400px;
    }
    .event_head{
         height: 400px;
    }
    .heading-secondary{
         font-size: 20px;
         margin-bottom: 40px;
    }
    .search-box{
        width: 300px;
    }
    .search-input{
        font-size: 15px;
        line-height: 30px;
        width: 200px;
        font-weight: bold;
        margin-left: 5px;
    }
    .search-btn{
        width: 30px;
        height: 30px;
    }
    .event_selection{
        margin-bottom: 50px;
    }
    .filters{
        flex-flow: row wrap;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
    .fil{
        margin-bottom: 20px;
        margin-right: 20px;
        cursor: pointer;
    }
    .filter_2, .filter_4{
        margin-right: 0px;
    }
    .filter_text{
        font-size:12px;
        letter-spacing: .1rem;
        top: 60%;
    }
    .filter{
        transform: translate(-50%, 20%)  scale(3);
    }
    .event_show{
        -webkit-clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
     clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
    }
    
}

@media only screen and (max-width: 420px) {
     .event_head_wrapper{
        height: 300px;
    }
    .event_head{
         height: 300px;
    }
    .heading-secondary{
         font-size:15px;
    }
    .search-box{
        width: 250px;
    }
    .search-input{
        font-size: 13px;
        line-height:30px;
        width: 150px;
        font-weight: bold;
        margin-left: 5px;
    }
    .search-btn{
        width: 30px;
        height: 30px;
    }
    .event_selection{
        margin: 25px auto;
    }
    .event_txt:not(:last-child){
        margin-bottom: 5px;
    }
    .event_place{
        width: 80%;
    }
    .btn-text{
        margin-top: 20px;
        font-size: 14px;
    }
    .event_holder{
         height: 400px;
    }
    .filters{
        flex-flow: row wrap;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 350px) {

     .heading-secondary{
          font-size:13px;
          margin-left: 10px;
          margin-right: 10px;
     }
      .search-box{
        width: 220px;
    }
    .search-input{
        font-size: 13px;
        line-height:30px;
        width: 120px;
        font-weight: bold;
        margin-left: 5px;
    }
    .search-btn{
        width: 30px;
        height: 30px;
    }
}