html, body {
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin: 0;
    background-color: rgba(50,200,153, 1);
}

.container {
    height: 100%;
    margin: 0 auto;
}

.event_list{
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    word-break:break-all;
}

.heading_secondary{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: .2rem;
    transition: 0.4s;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
}

.event_title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: 0.1rem;
    margin: 0px;
    margin-bottom: 5px;
}

.event_organizer {
    
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: 0rem;
    margin: 0px;
    margin-bottom: 5px;
    
}

.event_date {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: 0rem;
    margin: 0px;
    margin-bottom: 5px;
}

.events_col_1{
    display: flex;
    flex-flow: column;
    width: 31%;
}

.events_col_2{
    display: flex;
    margin-bottom: 20px;
    flex-flow: column;
    width: 31%;
}

.events_col_3{
    display: flex;
    margin-bottom: 20px;
    flex-flow: column;
    width: 31%;
}

.event{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0.3rem 1.5rem rgba(0,0,0, 0.5);
    transition: 0.3s;
}

.event:hover{
    transform: scale(1.05);
}


.event_info {
    padding: 10px;
    background-image: linear-gradient(to right bottom, rgba(126,213,111, 0.5), rgba(0,180,133, 0.5)),

    url('../images/beach.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.event_desc{
     background-color: #1F2833;
     color: white;
     padding: 10px;
}