html, body {
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin: 0;
    background-color: rgba(50,200,153, 1);
    height: 100vh;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.heading_secondary{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: .2rem;
    transition: 0.4s;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 100px;
}
