.footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: #333;
    font-size: 15px;
    color: #55c57a;
}

.povezava{
    margin-left: 20px;
    width: 200px;
}

.img_footer{
    height: 40px;
    margin: 10px 0;
}

.social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}

.scale{
    transform: scale(2);
       
}

.modal-content{
    position: relative;
}

.close{
    position: absolute;
    top: 0%;
    right: 0%;
}

@media only screen and (max-width: 600px) {
    .povezava{
        margin-left: 10px;
        width: 150px;
        font-size: 13px;
        
    }
    .social{
        width: 150px;
    }
    
}

@media only screen and (max-width: 450px) {
    .footer{
        flex-flow: column nowrap;
    }
    .povezava{
        order: 2;
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
        margin-left: 0px;
    }
    .scale{
        order: 2;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
}

