*, *::after, *::before {
    box-sizing: content-box;
}

html, body {
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin: 0;
    background-color: rgba(50,200,153, 1);
   
}

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.cd-schedule{
    background-image: linear-gradient(to right bottom, rgba(126,213,111, 0.4), rgba(0,180,133, 0.4)),
    url('../images/ananas.jpg');
    background-size: cover;
     background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0;
    font-size: 20px;
    width: 170rem !important;
}


.cd-schedule__top-info{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: 0.2rem;
    margin: 0px;
    margin-bottom: 5px;
}

.event_list{
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    word-break:break-all;
}

.heading_secondary{
    text-align: center;
    font-size: 5rem !important;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: .2rem;
    transition: 0.4s;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 80px;
}

.button_close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.edit_button{
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.button, .button:link, .button:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 1.2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 230px;
    font-size: 13px;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    margin-bottom: 50px;
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button:active, .button:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.button_green{
    background-color: #1F2833;
    color: white;
}

.button_green::after{
    background-color: #1F2833;
}

.button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.event_date {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: 0rem;
    margin: 0px;
    margin-bottom: 5px;
}

.events_col_1{
    display: flex;
    flex-flow: column;
    width: 31%;
}

.events_col_2{
    display: flex;
    margin-bottom: 20px;
    flex-flow: column;
    width: 31%;
}

.events_col_3{
    display: flex;
    margin-bottom: 20px;
    flex-flow: column;
    width: 31%;
}

.event{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0.3rem 1.5rem rgba(0,0,0, 0.5);
    transition: 0.3s;
}

.event:hover{
    transform: scale(1.05);
}


.event_info {
    padding: 10px;
    background-image: linear-gradient(to right bottom, rgba(126,213,111, 0.5), rgba(0,180,133, 0.5)),

    url('../images/hawaii.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.event_desc{
     background-color: #1F2833;
     color: white;
     padding: 10px;
     font-size: 15px;
}

.button_wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.button_small{
    padding: 5px 10px;
    display: inline-block;
    width: 100px;
    font-size: 12px;
    letter-spacing: 0.1rem;
    margin: 0;
    margin-right: 20px;
}

.js .cd-schedule__top-info>span {
    font-size: 20px;
    font-weight: 700;
}

.js .cd-schedule {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 200px);
}

.js .cd-schedule__timeline li span {
     font-size: 20px;
    font-weight: 700;
}