html, body {
    height:100%;
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
} 

.form_wrapper{
    margin: auto;
    padding-top:210px;
    max-width: 600px; 
    background-color: rgba(51,51,51, 0.9);
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.7);
    padding-bottom:10px;
}

.form{
    display: flex;
    flex-flow: column nowrap;
    
}

.form_info{
    display: flex;
    flex-flow: row nowrap;
}

.form_text{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .1rem;
    transition: 0.4s;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}


.form_group:not(:last-child){
    margin-bottom: 2rem;
}

.form_input{
    font-size: 1.5rem;
    font-family: inherit;
    color: #333;
    padding: 0.5rem 1.5rem;
    border-radius: 2px;
    background-color: rgba(255,255,255, .8);
    border: none;
    border-bottom: 3px solid transparent;
    width: 50%;
    display: inline;
    transition: all .3s;
    margin: 0 auto;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    border-bottom: 3px solid #55c57a;
    
}

.form_input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}

.from_input::-webkit-input-placeholder {
    color: #fff;
}


.form_label{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 4rem;
    margin-top: .7rem;
    display: block;
    color: #fff;
    transition: all .3s;
}

.form_input:placeholder-shown + .form_label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}


.button, .button:link, .button:visited{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1.2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 120px;
    font-size: 13px;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button:active, .button:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.button_green{
    background-color: #55c57a;
    color: white;
}

.button_green::after{
    background-color: #55c57a;
}

.button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}


@media only screen and (max-width: 1024px) {

   .login-form {
    margin: auto;
    padding-top:20px;
    margin-top:10px;
    width: 100%; 
    background-color: rgba(51,51,51, 0.9);
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.7);
    margin-bottom:3%;
    }
}

@media only screen and (max-width: 600px) {
    .form_input{
        font-size: 1rem;
        font-family: inherit;
        color: #333;
        padding: 5px 10px;
        border-radius: 2px;
        background-color: rgba(255,255,255, .8);
        border: none;
        border-bottom: 3px solid transparent;
        width: 20%;
        display: inline;
        transition: all .3s;
        margin: 0 auto;
    }
    
    .select_width{
         width: 40%;
    }
   
    .button, .button:link, .button:visited{
        padding: 10px 10px;
        font-size: 15px;
        width: 100px;
        letter-spacing: 0.1rem;
    }
}

.imag{
   max-height:100%;
  
    
}
.ikona{
 
    width: 150px;
    height: 150px;
    
    overflow:hidden;
    position: absolute;
    top:0px;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.6);

    border-radius: 50% !important;
    
}

  .select_width{
         width: 40%;
    }