html, body {
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin: 0;
}



.container_nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F2833;
    font-size: 20px;
    font-style: bold;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    padding: 0 20px;  
    text-decoration: none;
    color: white;
}

.nav:hover{
    background-color: #00688B;
    cursor: pointer;
}

.nav_h{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    padding: 0 20px;   
    color: white;
}

.nav_h:hover{
    background-color: #00688B;
    cursor: pointer;
}

.nav_h::after, .nav_h::before, .nav::after, .nav::before{
    box-sizing: content-box !important; 
}

a {
    text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: white;
}

a:hover{
    text-decoration: none;
}


