
html, body {
    height:100%;
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
}
.pagination_wrapper{
    margin: auto;
    padding-top:20px;
    max-width: 100%; 
    background-color: rgba(51,51,51, 0.9);
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.7);
    padding-bottom:10px;
}
