
body{
    margin: 0;
    padding: 0;
     font-family: "Lato", sans-serif;
    font-weight: 400;
}
.profile_nav_bar{
    width:100%;
    height:1000px;
    background-color: #333;
    
}
.ozadje_ikona{
    position: relative;
    background-color:#333; 
    width:100%;
    height:280px;
    overflow: auto;

}
.userNamee{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;

    top: 30px;
    width:100;
    height:40px;
    position:relative;

}

.logOut{
    background-color: #333;
    display: flex;
    justify-content: center;
}


.link-btn{
    text-decoration: none;
    color: #55c57a;
}

.link-btn:hover{
    text-decoration: none;
    color: #fff;
}

#name{
    
    position: absolute;

    display: inline-block;

     color:white;
  
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    
        
    
    border: 4px solid ;
    border-image: linear-gradient(to right, rgba(126,213,111), rgba(0,180,133))10; 
    
    
    border-top:0;
    border-left:0;
    border-right:0;

}

.ozadje_slike {
    padding: 0 !important;
    margin-top:  0  !important;
    
    background: linear-gradient(to right, rgba(126,213,111), rgba(0,180,133));
    z-index: 1;
     overflow: auto;
    height: 200px;
    display: inline-block;
  
    width:100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
    
}
.imag{
   max-height:100%;
  
    
}
.ikona{
 
    width: 150px;
    height: 150px;
    
    overflow:hidden;
    position: absolute;
    top:125px;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.6);

    border-radius: 50% !important;
    
    
}

.event_add{
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
}
.user_events{
    background-color: #333;
    margin: 0 auto;
    text-align: center;
}

.event_show{
    background-color: #333;
}

.heading_secondary{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    margin-bottom: 70px;

    background-color: #333;
    transition: 0.4s;
}

.heading_secondary:hover {
        transform: scale(1.1);
    }

.event_position{
    max-width:1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    
}

.event_position:first-child{
    padding-top: 200px;
    
}




.event_holder{
    max-width: 1050px;
    height: 440px;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.5) 50%, transparent 50%);
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .5);
    transition: all 0.4s;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.event_bckg{
     max-width: 1050px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     margin-right: 10px;
     margin-left: 10px;
      margin: 0 auto;
}

.event_holder2{
    max-width: 1050px;
    height: 400px;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.5) 50%, transparent 50%);
    background-size: 100%;
    background-position: bottom;
    margin: 0 auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .5);
    transition: all 0.4s;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.event_place{
    width: 50%;
}

.event_pic{
    padding-top: 5px;
    position: relative;
}

.event_holder_user{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
    position: absolute;
    left: 20px;
    top: 10px;
}

.event_holder_img {
    height: 100%;
    transform: translateX(-1.3rem) scale(1.2);
    backface-visibility: hidden;
    transition: all .5s;
}

.heading-terciary{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .1rem;
    margin-top: 30px;
    margin-left: 110px;
}

.event_info{
    display: flex;
    flex-flow: column;
    margin-top: 10px;
    margin-left: 20px;
    border-top: 1px solid grey;
    padding-top: 20px;
}

.event_txt {
    font-size: 25px;
    color: #333;
}

.event_txt:not(:last-child){
    margin-bottom: 15px;
    
}

.btn-text {
    background-color: #333;
    font-size: 20px;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 3px;
    transition: all .3s;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}

.btn-text:hover{
    background-color: #55c57a;
    color: white;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
    transform: translateY(-2px);
}


.btn-text:active {
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
        transform: translateY(0);
}


#about2{
    visibility: hidden;
}

#about1{
    visibility: hidden;
}

.event_about{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    margin-right: 40px;
    height: 270px;
    display: flex;
    flex-flow: column;
    text-align: center;
    color: black;
}




.event_about_header{
    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: .2rem;
    padding: 10px 0;
    background-image: linear-gradient(to right,  rgba(126,213,111, 0.8), rgba(0,180,133, 0.8));
    width: 300px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.event_about_text{

    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.button, .button:link, .button:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 150px;
    font-size: 13px;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    margin-bottom: 20px;
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button:active, .button:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.button_green{
    background-color: #55c57a;
    color: white;
}

.button_green::after{
    background-color: #55c57a;
}

.button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.button_login{
    width: 200px;
    margin-bottom: 30px;
    font-size: 17px;
}

.event_user{
     width: 80px;
    height: 80px;
    position: fixed;
    overflow: hidden;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
    top: 2rem;
    right: 2rem;
    margin: 0;
}

.user__img {
    height: 100%;
    transform: translateX(-1.5rem) scale(1.2);
    backface-visibility: hidden;
    transition: all .5s;
}

.event_user:hover .user__img{
    transform: translateX(-1.5rem) scale(1);
    filter: blur(3px) brightness(80%);
}

.username {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.event_user:hover .username{
    opacity: 1;
    transform: translate(-50%, -50%);
}

.ozadje_slike:hover .ikona{
    transform: translateX(-1.5rem) scale(1);
    filter: blur(3px) brightness(80%);
}

.ikonahov {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}
 
.ikona:hover .ikonahov{
     opacity: 1;
    transform: translate(-50%, -50%);
}

.event_editor{
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1050px;
    display: flex;
    justify-content: flex-end;
}

.button_editor{
    font-size: 13px;
    text-align: center;
}

.paginationNav{
    display: flex;
    justify-content: center;
}

.navColor{
    color: #55c57a !important;
}

.fade{
    width: 100vw !important;
}

@media only screen and (max-width: 1000px) {
    
    .event_txt{
        font-size: 20px;
    }
    .event_holder{
        height: 350px;
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.5) 70%, transparent 50%);
        background-size: cover;
    }
    .event_bckg{
         margin-right: 20px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .heading-terciary{
        font-size: 20px;
        margin-left: 90px;
    }
    .event_txt{
        font-size: 15px;
    }
    .event_bckg{
         margin-right: 10px;
        margin-left: 10px;
    }
    .event_holder{
        height: 350px;
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.5) 70%, transparent 50%);
        background-size: cover;
    }
    .event_holder2{
        height: 350px;
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.5) 70%, transparent 50%);
        background-size: cover;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .event_place{
        width: 70%;
    }
}



@media only screen and (max-width: 500px) {
    .event_user{
        width: 40px;
        height: 40px;
    }
    .event_holder_user{
       height: 40px;
       width: 40px;
       top: 20px;
    }
    .heading_secondary{
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .button_editor{
        text-align: center;
    }
    .heading-terciary{
    font-size: 14px;
    margin-left: 70px;
    }
}

