html, body {
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin: 0;
    background-color: rgba(50,200,153, 1);
}

.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.heading_secondary{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: .2rem;
    transition: 0.4s;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.button, .button:link, .button:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 250px;
    font-size: 13px;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 50px;
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button:active, .button:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.button_green{
    background-color: #1F2833;
    color: white;
}

.button_green::after{
   background-color: #1F2833;;
}

.button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.event{
    display: flex;
    margin: 40px auto;
    max-width: 1200px;
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.5);
}

.event_desc{
     background-color: #1F2833;
     color: white;
     padding-left: 20px;
     width:100%;
}

