html, body {
    height:100%;
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
} 


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    position: relative;
    background-image: linear-gradient(to right bottom, rgba(126,213,111, 0.5), rgba(0,180,133, 0.5)),
    url('/images/ozadjeRegistracija.jpg');
    background-size: cover;
     background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding-top:20px;
    width: 500px; 
    background-color: rgba(51,51,51, 0.9);
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.7);
    margin-bottom:3%;
    
}


.heading_secondary{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: 0.4s;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.heading_terciary{
    width: 80%;
    margin: 0 auto;
}

.form_group:not(:last-child){
    margin-bottom: 2rem;
}

.form-check-group{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.form-check {
    display: inline;
}
.form-check-input{
    margin-right: 20px;
}


.form_label{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 4rem;
    margin-top: .7rem;
    display: block;
    color: #fff;
    transition: all .3s;
}

.form_input:placeholder-shown + .form_label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}


.form_input{
    font-size: 1.5rem;
    font-family: inherit;
    color: #333;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255,255,255, .8);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;
    margin: 0 auto;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    border-bottom: 3px solid #55c57a;
    
}

select {
    font-size: 1.5rem;
    font-family: inherit;
    color: #fff;
}

.radios {
     left:10px;   
}

.radios2 {
    margin-bottom:-1px;
}

.select_text {
    font-size: 1.5rem;
    font-family: inherit;
    color: #333 !important;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all .3s;
    margin: 0 auto;
}

.custom-select {
    background-color: rgba(255,255,255, .8);
}


.form_input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}



.button_wrapper{
    top:15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.button, .button:link, .button:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 150px;
    font-size: 13px;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    margin-bottom: 10px;
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button:active, .button:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.button_green{
    background-color: #55c57a;
    color: white;
}

.button_green::after{
    background-color: #55c57a;
}

.button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.acc_text{
    color:  rgba(255,255,255, .8);
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin-bottom:20px;
}

.acc_text2{
    color: rgba(255,255,255, .8);
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
}

.createacc-text {
  color: rgba(255,255,255, .8);
        font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin-bottom:20px;
}

.dateofbirth {
    padding-left: 35px;
}

.button_login{
    width: 200px;
    margin-bottom: 15px;
}


/*
@media only screen and (max-width: 1024px) {

   .login-form {
    margin: auto;
    padding-top:20px;
    margin-top:10px;
    width: 100%; 
    background-color: rgba(51,51,51, 0.9);
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.7);
    margin-bottom:3%;
    }
}
*/
@media only screen and (max-width: 700px) {

   .login-form {
    margin: auto;
    padding-top:20px;
    margin-top:10px;
    width: 100%; 
    background-color: rgba(51,51,51, 0.9);
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.7);
    margin-bottom:3%;
    }
    .pomanjsaj{
        max-width: 92.5%;
       margin-left: 3.5%;
        
    }
    
}