html, body {
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin: 0;
    background-color: #379683;
    height: 100%;
} 

body{
    min-height: 100%;
}

.container{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding-top:20px;
    width: 500px; 
    background-color: rgba(31, 40, 51, 0.9);
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.7);
   
}


.heading_secondary{
    text-align: center;
    font-size: 2rem;

    font-weight: 700;
    background-image: linear-gradient(to right,  rgba(126,213,111), rgba(0,180,133));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: 0.4s;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.form_group {
    margin-bottom: 10px;
}

.form_input{
    font-size: 1.5rem;
    font-family: inherit;
    color: #333;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color: rgba(255,255,255, .8);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;
    margin: 0 auto;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    border-bottom: 3px solid #55c57a;
    
}

.form_input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}

.from_input::-webkit-input-placeholder {
    color: #fff;
}


.form_label{
    font-weight: 700;
    margin-left: 4rem;
    margin-top: .7rem;
    display: block;
    color: #fff;
    transition: all .3s;
}

.form_input:placeholder-shown + .form_label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

.button_wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.button, .button:link, .button:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 150px;
    font-size: 13px;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    margin-bottom: 20px;
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button:active, .button:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.button_green{
    background-color: #55c57a;
    color: white;
}

.button_green::after{
    background-color: #55c57a;
}

.button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.acc_text{
    color: rgba(255,255,255, .8);
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 5px;
}

.button_login{
    width: 200px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {

   .login-form {
    margin: auto;
    padding-top:20px;
    margin-top:10px;
    width: 100%; 
    background-color: rgba(31, 40, 51, 0.9);
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.7);
    margin-bottom:3%;
    }
}