html, body {
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin: 0;
    background-color: rgba(50,200,153, 1);
   
}

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.heading_secondary{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: .2rem;
    transition: 0.4s;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
}

.heading_terciary{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: .2rem;
    transition: 0.4s;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
}

.search-box {
     background-color: #1F2833;
     padding: 5px;
     width: 400px;
     margin: 0 auto;
     font-weight: 400;
     margin-bottom: 50px;
}

.search-btn {
     float: right;
     width: 40px;
     height: 40px;
     background: linear-gradient(to right bottom, rgba(126,213,111, 0.8), rgba(0,180,133, 0.8));
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     cursor: pointer;
}

.search-input::placeholder{
    color:white;
}

.search-input{
     float:left;
     border: none;
     background: none;
     outline: none;
     padding: 0;
     color: white;
     font-size: 16px;
     line-height: 40px;
     width: 300px;
     font-weight: bold;
     margin-left: 10px;
}

.event{
    display: flex;
    margin: 40px auto;
    max-width: 1200px;
    min-width: 400px;
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.5);
    transition: all 0.3s;
}

.event:hover{
    transform: scale(1.05);
}

.event_desc{
     width: 100%;
     background-color: #1F2833;
     color: white;
     padding: 20px;
}

.event_list{
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    word-break:break-all;
}


.events_col_1{
    display: flex;
    flex-flow: column;
    width: 45%;
}

.events_col_2{
    display: flex;
    margin-bottom: 20px;
    flex-flow: column;
    width: 45%;
}