html, body {
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin: 0;
    background-color: rgba(50,200,153, 1);
}

.container{
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    font-size: 15px;
    
}

.button, .button:link, .button:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 2.5rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    width: 250px;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 50px;
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button:active, .button:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.button_green{
    background-color: #1F2833;
    color: white;
}

.button_green::after{
    background-color: #1F2833;
}

.button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}


.event{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 40px auto;
    width: 1200px;
    border-left: solid 3px #333;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    transition: 0.3s;
    word-break:break-all;
}

.event:hover{
    transform: scale(1.02);
    box-shadow: 0 1.5rem 3.5rem rgba(0,0,0, 0.5);
}

.event_info {
    width: 30%;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #55c57a;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: 0rem;
}

.event_desc{
    padding-top: 10px;
    background-color: #1F2833;
    color: white;
    padding-left: 20px;
    width: 70%;
    
}

