/*
.containerrr {
    width: 100%;
    background-color: red;
}
*/
* {
  margin: 0;
  padding: 0;
}

.containerr {
    width:100%;
    margin:0;
    background-color: purple;
}
.header {
    height: 10%;
    width: 100%;
   
    margin: 0;
    
    background-color: blue;
}.ikona{
    
    width: 50px;
    height: 50px;
    background-color:yellow;
    float: left;
    position: relative;
    margin-left: 50%;
    margin-top: -30%;
    border-radius: 50%;
    /*content:url(https://i.pinimg.com/236x/d8/aa/46/d8aa46f8a33fc67bbbabe23dfbb81bc7--random-meme-a-potato.jpg); */
    
}
/*
.test{
    float: left;
    position: relative;
    width:100px;
    height: 100px;
    margin-left: 50%;
    margin-top: -30%;
    border-radius: 50%;
    
}
*/
.ozadje_slike {
   
    margin: 0;
    background-color:yellow;
    min-height: 300px;
    width:100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 80%);
    
}

.telo {

    width: 100%;
    background-color: powderblue;
    float: left;
    position: relative;
    left: 0%;
}
