<glava></glava>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container" style="height:600px">
            <div class="row">
                <section class="jumbotron container text-center", style="height: 200px">
                    <div class="container">
                        <h1 class="jumbotron-heading">Admin Console</h1>
                        <br>
                        <div>
                            <button ng-click="vm.prikaziPojavnoOknoObrazca()" type="button" class="btn btn-primary my-2">New Message</button>
                        </div>
                        <div>
                        <button ng-click="vm.dodajAdminaAliReferenta()" type="button" class="btn btn-primary my-2">Register an Admin or a Referent</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>