extends layout

block content
    .card.mx-auto.login-card
        .card-header
            | Change password:
        .card-body
            form#change-password-form(action='/change_password' method='post')
                .form-group
                    label(for='old-password') Password:
                    input#old-password.form-control(type='password' name="old_password")
                .form-group
                    label(for='new-password') Password:
                    input#new-password.form-control(type='password' name="new_password_1")
                .form-group
                    label(for='new-password-repeat') Repeat password:
                    input#new-password-repeat.form-control(type='password' name="new_password_2")

                button#change-password-confirm-btn.btn.btn-primary(type='submit') Submit
