extends layout

block content
    if user == null
        .card.mx-auto.login-card
            .card-header
                | Login:
            .card-body
                form#login-form
                    .form-group
                        label(for='login-email') Email address:
                        input#login-email.form-control(type='email' name="email")
                    .form-group
                        label(for='login-password') Password:
                        input#login-password.form-control(type='password' name="password")

                    button#login-confirm-btn.btn.btn-primary(type='button' onclick="login()") Submit
