<glava></glava>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div ng-if="vm.dogodki != undefined && vm.dogodki.length > 0">
                <div class="row">
                    <div ng-repeat="post in vm.dogodki" class="col-md-4" >
                        <div class="card mb-4 shadow-sm" style="background-color: lightgoldenrodyellow; padding: 2pt; margin: 2pt">
                            <h5 style="margin: 0pt">{{post.name}}</h5>
                            <p style="margin-bottom: 10pt"><small>{{post.date.split('T')[0]}} - {{post.organizer}}</small></p>
                            <p>{{post.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>