<navigacija></navigacija>

<div class="row page-header">
    <div class="col-lg-12">
        <h1 style="text-align:center;">{{ vm.naslov }}</h1></h1>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Message</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="obvestilo in vm.data.obvestila">
          <td style="text-align:left">{{ obvestilo.sporocilo }}</td>
        </tr>
      </tbody>
    </table>
</div>