<navigation></navigation>

<div class="container text-center">
    <h3>{{ vm.pageHeader.title }} </h3>
    
    <iframe id="trolaIframe" src="https://www.trola.si/">
          <p>Your browser does not support iframes.</p>
    </iframe>
</div>