<!doctype html>
<html>

<head>
    <title>StraightAs</title>
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>


<body>
	<div>
		<ul>
			<li id="homeButton" class="active"><a href="index">Home</a></li>
			<li id="foodButton"><a href="food">Food</a></li>
			<li id="eventsButton"><a href="events">Events</a></li>
			<li id="busButon"><a href="bus">Bus</a></li>
			<li><a href="notifs">Notifications</a></li>
			<div id="initProfile"></div>
		</ul>
	</div>

	<div class="row">
			
		<div class="col-6">
	    	<div class="js-container2" id="calendar">
					<div class="app" id="app">
							<calendar></calendar>
						  </div>
						  <template id="calendar-template">
								<div class="calendar">
								  <div class="title">
									<div class="month">
									  {{monthName}}
									</div>
									<div class="year">
									  {{year}}
									</div>
								  </div>
								  <ol class="days">
									<li class="day" v-for="day in days | orderBy 'unix' 1" v-bind:class="{ 'outside': day.outsideOfCurrentMonth, 'empty': day.events.length === 0 }">
											<input type="button" id="js-add-calendar-button" class="js-add-calendar-button" value="+">
									  <div id={{day.number}}.{{day.month}}.{{day.year}} class="date">
										<span class="weekday">{{day.weekday}}</span>
										<span class="month">{{day.month}}</span>
										<span class="day">{{day.number}}</span>
										<span class="year">{{day.year}}</span>
									  </div>
									  <div class="events">
										<div v-for="event in day.events" class="event" v-bind:class="{'first': event.firstInRange, 'last': event.lastInRange }">{{event.title}} </div>
									  </div>
									</li>
								  </ol>
								</div>
							  </template>
	        </div>
	    </div>

		<div class="col-6">
	    	<div class="js-container" id="post-its">

		        <input type="button" id="js-add-task-button" class="js-add-task-button" value="+">

		        <div class="js-tasks-container"></div>
					<div class="event_list">
						<div class="events_col_1">
						</div>
						<div class="events_col_2">
							 
						</div>
						<div class="events_col_3">
							 
						</div>
				</div>
	        <!-- end tasks -->
	        <!--<input type="button" class="js-complete-task-button" value="Complete Tasks"> -->
	        
	        </div>
		</div>
		
	</div>
		
    <!-- end js-container -->
	
	<div class="form-popup" id="myForm">
		<div  class="form-container">
			<h2 style="margin: 10px">TODO</h2>

			<label style="margin: auto 10px"><b>Description:</b></label>
			<textarea style="color: black; resize:none; width:275px; height:250px; margin:5px 10px;" value="" autocomplete="off" type="text" id="field1" class="js-task-textbox" name="todoField" required></textarea>
			<div id="btnContainer">
				<button type="button" id="btn2" class="cancelBtn">Close</button>
				<button type="submit" id="btn1" class="btn">Add task</button>
			</div>
			
		</div>
	</div>

	<div class="editForm-popup" id="myFormEdit">
		<div  class="form-container">
			<h2 style="margin: 10px">Edit</h2>

			<label style="margin: auto 10px"><b>Description:</b></label>
			<textarea style="color: black; resize:none; width:275px; height:250px; margin:5px 10px;" value="" autocomplete="off" type="text" id="fieldEdit" class="js-task-textbox" name="todoField" required></textarea>
			<div id="btnContainer">
				<button type="button" id="btn4" class="cancelEditBtn">Close</button>
				<button type="submit" id="btn3" class="editBtn">Save changes</button>
			</div>
			
		</div>
	</div>

	<div class="form-popupCalendar" id="myFormCalendar">
			<div  class="form-container">
				<h1 style="margin: auto 10px">Calendar Event</h1>
	
				<label style="margin: auto 10px"><b>Title:</b></label>
				<textarea style="color: black; resize:none; width:50%; height:20px; display:inline; float: right; margin-right: 50px; overflow:hidden;" value="" autocomplete="off" type="text" id="fieldCalendar1" class="js-calendar-textbox" name="calendarField" required></textarea>
				<br>
				<label style="margin: auto 10px"><b>Time:</b></label>
				<select id="fieldCalendar2" style="resize:none; width:50%; height:20px; display:inline; float: right; margin-right: 50px; overflow:hidden;">
						<option value="0">00:00</option>
						<option value="1">01:00</option>
						<option value="2">02:00</option>
						<option value="3">03:00</option>
						<option value="4">04:00</option>
						<option value="5">05:00</option>
						<option value="6">06:00</option>
						<option value="7">07:00</option>
						<option value="8">08:00</option>
						<option value="9">09:00</option>
						<option value="10">10:00</option>
						<option value="11">11:00</option>
						<option value="12">12:00</option>
						<option value="13">13:00</option>
						<option value="14">14:00</option>
						<option value="15">15:00</option>
						<option value="16">16:00</option>
						<option value="17">17:00</option>
						<option value="18">18:00</option>
						<option value="19">19:00</option>
						<option value="20">20:00</option>
						<option value="21">21:00</option>
						<option value="22">22:00</option>
						<option value="23">23:00</option>
						<option value="24">24:00</option>
					  </select>
				<br>
				<label style="margin: auto 10px"><b>Duration:</b></label>
				<textarea style="color: black; resize:none; width:50%; height:20px; display:inline; float: right; margin-right: 50px; overflow:hidden;" value="" autocomplete="off" type="text" id="fieldCalendar3" class="js-calendar-textbox" name="calendarField" required></textarea>
				<br>
				<label style="margin: auto 10px"><b>Description:</b></label>
				<textarea style="color: black; resize:none; width:275px; height:250px; margin:5px 10px;" value="" autocomplete="off" type="text" id="fieldCalendar4" class="js-calendar-textbox" name="calendarField" required></textarea>
				<div id="btnContainer">
					<button type="button" id="btn2Calendar" class="cancelBtnCalendar">Close</button>
					<button type="submit" id="btn1Calendar" class="btnCalendar">Add event</button>
				</div>
				
			</div>
		</div>

		<div class="form-popupCalendarEdit" id="myFormCalendarEdit">
			<div  class="form-container">
				<h1 style="margin: auto 10px">Edit Calendar Event</h1>
	
				<label style="margin: auto 10px"><b>Title:</b></label>
				<textarea style="color: black; resize:none; width:50%; height:20px; display:inline; float: right; margin-right: 50px; overflow:hidden;" value="" autocomplete="off" type="text" id="fieldCalendarEdit1" class="js-calendar-textbox" name="calendarField" required></textarea>
				<br>
				<label style="margin: auto 10px"><b>Time:</b></label>
				<select id="fieldCalendarEdit2" style="resize:none; width:50%; height:20px; display:inline; float: right; margin-right: 50px; overflow:hidden;">
						<option value="0">00:00</option>
						<option value="1">01:00</option>
						<option value="2">02:00</option>
						<option value="3">03:00</option>
						<option value="4">04:00</option>
						<option value="5">05:00</option>
						<option value="6">06:00</option>
						<option value="7">07:00</option>
						<option value="8">08:00</option>
						<option value="9">09:00</option>
						<option value="10">10:00</option>
						<option value="11">11:00</option>
						<option value="12">12:00</option>
						<option value="13">13:00</option>
						<option value="14">14:00</option>
						<option value="15">15:00</option>
						<option value="16">16:00</option>
						<option value="17">17:00</option>
						<option value="18">18:00</option>
						<option value="19">19:00</option>
						<option value="20">20:00</option>
						<option value="21">21:00</option>
						<option value="22">22:00</option>
						<option value="23">23:00</option>
						<option value="24">24:00</option>
					  </select>
				<br>
				<label style="margin: auto 10px"><b>Duration:</b></label>
				<textarea style="color: black; resize:none; width:50%; height:20px; display:inline; float: right; margin-right: 50px; overflow:hidden;" value="" autocomplete="off" type="text" id="fieldCalendarEdit3" class="js-calendar-textbox" name="calendarField" required></textarea>
				<br>
				<label style="margin: auto 10px"><b>Description:</b></label>
				<textarea style="color: black; resize:none; width:275px; height:250px; margin:5px 10px;" value="" autocomplete="off" type="text" id="fieldCalendarEdit4" class="js-calendar-textbox" name="calendarField" required></textarea>
				<div id="btnContainer">
					<button type="button" id="btn4Calendar" class="cancelEditBtnCalendar">Close</button>
					<button type="submit" id="btn3Calendar" class="editBtnCalendar">Save changes</button>
				</div>
			</div>
		</div>
		<table class="schedule">
			<thead>
				<tr class="dayLabels">
					<th></th>
					<th>
						<span class="day">1</span>
						<span class="long">Monday</span>
						<span class="short">Mon</span>
					</th>
					<th>
						<span class="day">2</span>
						<span class="long">Tuesday</span>
						<span class="short">Tue</span>
					</th>
					<th>
						<span class="day">3</span>
						<span class="long">Wendsday</span>
						<span class="short">We</span>
					</th>
					<th>
						<span class="day">4</span>
						<span class="long">Thursday</span>
						<span class="short">Thur</span>
					</th>
					<th>
						<span class="day">5</span>
						<span class="long">Friday</span>
						<span class="short">Fri</span>
					</th>
					<th>
						<span class="day">6</span>
						<span class="long">Saturday</span>
						<span class="short">Sat</span>
					</th>
					<th>
						<span class="day">7</span>
						<span class="long">Sunday</span>
						<span class="short">Sun</span>
					</th>
				</tr>
			</thead>
			<tbody>
					<tr>
							<td class="hour" rowspan="4"><span>0:00</span></td>
							<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
								<td class="cellio"><input type="button" h="0" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
								<td class="cellio"><input type="button" h="0" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
								<td class="cellio"><input type="button" h="0" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
								<td class="cellio"><input type="button" h="0" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
								<td class="cellio"><input type="button" h="0" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
								<td class="cellio"><input type="button" h="0" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
								<td class="cellio"><input type="button" h="0" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						</tr>
				<tr>
					<td class="hour" rowspan="4"><span>1:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="1" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="1" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="1" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="1" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="1" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="1" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="1" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>2:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="2" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="2" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="2" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="2" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="2" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="2" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="2" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				
				<tr>
					<td class="hour" rowspan="4"><span>3:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="3" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="3" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="3" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="3" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="3" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="3" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="3" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>4:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="4" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="4" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="4" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="4" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="4" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="4" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="4" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>5:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="5" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="5" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="5" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="5" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="5" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="5" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="5" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>6:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="6" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="6" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="6" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="6" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="6" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="6" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="6" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>7:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="7" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="7" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="7" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="7" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="7" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="7" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="7" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>8:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="8" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="8" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="8" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="8" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="8" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="8" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="8" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<td class="hour" rowspan="4"><span>9:00</span></td>
				<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="9" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="9" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="9" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="9" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="9" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="9" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="9" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>10:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="10" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="10" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="10" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="10" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="10" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="10" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="10" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				
				<tr>
					<td class="hour" rowspan="4"><span>11:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="11" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="11" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="11" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="11" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="11" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="11" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="11" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>12:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="12" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="12" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="12" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="12" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="12" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="12" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="12" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>13:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="13" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="13" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="13" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="13" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="13" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="13" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="13" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>14:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="14" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="14" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="14" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="14" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="14" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="14" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="14" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>15:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="15" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="15" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="15" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="15" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="15" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="15" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="15" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>16:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="16" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="16" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="16" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="16" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="16" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="16" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="16" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<td class="hour" rowspan="4"><span>17:00</span></td>
				<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="17" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="17" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="17" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="17" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="17" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="17" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="17" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>18:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="18" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="18" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="18" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="18" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="18" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="18" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="18" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				
				<tr>
					<td class="hour" rowspan="4"><span>19:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="19" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="19" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="19" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="19" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="19" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="19" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="19" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>20:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="20" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="20" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="20" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="20" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="20" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="20" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="20" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>21:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="21" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="21" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="21" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="21" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="21" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="21" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="21" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>22:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="22" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="22" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="22" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="22" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="22" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="22" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="22" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
				<tr>
					<td class="hour" rowspan="4"><span>23:00</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
						<td class="cellio"><input type="button" h="23" d="0" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="23" d="1" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="23" d="2" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="23" d="3" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="23" d="4" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="23" d="5" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
						<td class="cellio"><input type="button" h="23" d="6" id="js-add-schedule-button" class="js-add-schedule-button" value="+"></td>
				</tr>
			</tbody>
		</table>
		<div class="form-popupSchedule" id="myFormSchedule">
				<div  class="form-container">
					<h1 style="margin: auto 10px">Course</h1>
		
					<label style="margin: auto 10px"><b>Name:</b></label>
					<textarea style="color: black; resize:none; width:50%; height:20px; display:inline; float: right; margin-right: 50px; overflow:hidden;" value="" autocomplete="off" type="text" id="fieldSchedule1" class="js-calendar-textbox" name="calendarField" required></textarea>
					<br>
					<label style="margin: auto 10px"><b>Duration:</b></label>
					<textarea style="color: black; resize:none; width:50%; height:20px; display:inline; float: right; margin-right: 50px; overflow:hidden;" value="" autocomplete="off" type="text" id="fieldSchedule2" class="js-calendar-textbox" name="calendarField" required></textarea>
					<br>
					<label style="margin: auto 10px"><b>Colour:</b></label>
					<select id="fieldSchedule3" style="resize:none; width:50%; height:20px; display:inline; float: right; margin-right: 50px; overflow:hidden;">
							<option class="blue" value="Blue">Blue</option>
							<option class="red" value="Red">Red</option>
							<option class="green" value="Green">Green</option>
							<option class="yellow" value="Yellow">Yellow</option>
							<option class="gray" value="Gray">Gray</option>
							</select>
					<br>
					<div id="btnContainer">
						<button type="button" id="btn2Schedule" class="cancelBtnSchedule">Close</button>
						<button type="submit" id="btn1Schedule" class="btnSchedule">Add course</button>
					</div>
					
				</div>
			</div>
			<div class="form-popupScheduleEdit" id="myFormScheduleEdit">
					<div  class="form-container">
						<h1 style="margin: auto 10px">Edit Course</h1>
			
						<label style="margin: auto 10px"><b>Name:</b></label>
						<textarea style="color: black; resize:none; width:50%; height:20px; display:inline; float: right; margin-right: 50px; overflow:hidden;" value="" autocomplete="off" type="text" id="fieldScheduleEdit1" class="js-calendar-textbox" name="calendarField" required></textarea>
						<br>
						<label style="margin: auto 10px"><b>Colour:</b></label>
						<select id="fieldScheduleEdit2" style="resize:none; width:50%; height:20px; display:inline; float: right; margin-right: 50px; overflow:hidden;">
								<option class="blue" value="Blue">Blue</option>
								<option class="red" value="Red">Red</option>
								<option class="green" value="Green">Green</option>
								<option class="yellow" value="Yellow">Yellow</option>
								<option class="gray" value="Gray">Gray</option>
								</select>
						<br>
						<div id="btnContainer">
							<button type="button" id="btn4Schedule" class="cancelEditBtnSchedule">Close</button>
							<button type="submit" id="btn3Schedule" class="editBtnSchedule">Save changes</button>
						</div>
						
					</div>
				</div>

  <script src="common/Event.js"></script>
	<script src="view.base/TaskView.js"></script>
	<script src="view.base/CalendarGenerate.js"></script>
	<script src="view.base/CalendarView.js"></script>
	<script src="view.base/ScheduleView.js"></script>
	
	<script>
		function getCookie(cname) {
			var name = cname + "=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			
			for(var i = 0; i <ca.length; i++) {
				var c = ca[i];
				
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			
			return "x^x";
		}
		
		function logout() {
			var d = new Date();
			document.cookie = "HASH=x^x;expires=" + d.toUTCString() + ";path=/";
		}
		
		function initProfile() {
			var cookie = getCookie("HASH");
			
			$.ajax({
				type: 'POST',
				url: '/auth/' + cookie,
				data: {},
				success: function(result) {
					console.log('index.html: loginResult: ', result);
					
					if (!result.value) {
						/**
						document.getElementById("initProfile").innerHTML = '\
							<li id="registerButton" class="rightie"><a href="register">Register</a></li>\
							<li id="loginButton" class="rightie"><a href="login">Log in</a></li>\
						';
						**/
						
						window.location.href = '/events';
					} else {
						document.getElementById("initProfile").innerHTML = '\
							<li id="logoutButton" class="rightie" onclick="logout()"><a href="logout">Log out</a></li>\
							<li id="changepwButton" class="rightie"><a href="pwchange">Change password</a></li>\
							<li class="rightie"><a>Welcome ' + cookie.split('^')[1] + '!</a></li>\
						';
						
						$.ajax({
							type: 'POST',
							url: '/admin/' + cookie.split('^')[1],
							data: {},
							success: function(res) {
								if (res.value) {
									window.location.href = '/admin';
								}
							}
						});
					}
				}
			});
		}
		
		initProfile();
		
	</script>

</body>

</html>
