mixin dodajNav(povezava, trenutnaStran, nav, text)
    a.nav-link(href=povezava, class= trenutnaStran === nav ? "active" : "") #{text}

mixin mainDescription(email, description)
    if (email != null)
        p.lead.d-flex.justify-content-center #{email} #{description}
    else
        p.lead.d-flex.justify-content-center #{description}
