<div class="admin">
    <form >
        <div class="text-center">
            <button type="submit" class="btn btn-info btn-lg" data-toggle="modal-headeral" ng-click="avm.newNoteAdd()">Novo obvestilo</button>
        </div>
        <form>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <form >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Novo obvestilo</h4>
                            </div>
                            <div class="modal-body">
                                <label>
                                    <p class="label-txt"><i class="fa fa-bell-o"></i>Vnesi obvestilo</p>
                                    <input type="text" class="input" ng-model="avm.currentNote.message">
                                    <div class="line-box">
                                        <div class="line"></div>
                                    </div>
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="dodajObvestilo" class="btn btn-default" ng-click="avm.newNote()">Objavi obvestilo</button>
                                <button type="button" class="btn btn-default" ng-click="avm.closeAdd()">Prekliči</button>
                            </div>
                        </div>
                    </form >
                </div>
            </div>
        </form>
    </form >
</div>
