<div class="calendar ">
	<div class="month">
		<div class="row">
			<div class="col-3 col-sm-3 col-md-3 col-lg-3 month-control" ng-click="cvm.changeMonth(-1)">
			 	<span class="fa fa-angle-left month-control-left"></span>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-6">
				<span class="month-text">{{ cvm.month_name }}</span> 
			</div>
			<div class="col-3 col-sm-3 col-md-3 col-lg-3 month-control" ng-click="cvm.changeMonth(1)"> 
				<span class="fa fa-angle-right month-control-right"></span>
			</div>
		</div>
	</div>
	
	<table class="calendar-table">
		<thead>
			<tr>
				<th>Po</th>
				<th>To</th>
				<th>Sr</th>
				<th>Če</th>
				<th>Pe</th>
				<th>So</th>
				<th>Ne</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="week in cvm.calendar">
				<td>
					<div ng-click="cvm.showDay(week[1].day)" class="calendar-element {{ week[1].events.length > 0 ? 'has-events' : '' }} ">
						<div class="day">{{ week[1].day }}</div>
						<div class="events">
							<div ng-repeat="event in week[1].events" class="event badge badge-success">{{ event.name }}</div>
						</div>
					</div>
				</td>
				<td>
					<div ng-click="cvm.showDay(week[2].day)" class="calendar-element {{ week[2].events.length > 0 ? 'has-events' : '' }}">
						<div class="day">{{ week[2].day }}</div>
						<div class="events">
							<div ng-repeat="event in week[2].events" class="event badge badge-success">{{ event.name }}</div>
						</div>
					</div>
				</td>
				<td>
					<div ng-click="cvm.showDay(week[3].day)" class="calendar-element {{ week[3].events.length > 0 ? 'has-events' : '' }}">
						<div class="day">{{ week[3].day }}</div>
						<div class="events">
							<div ng-repeat="event in week[3].events" class="event badge badge-success">{{ event.name }}</div>
						</div>
					</div>
				</td>
				<td>
					<div ng-click="cvm.showDay(week[4].day)" class="calendar-element {{ week[4].events.length > 0 ? 'has-events' : '' }}">
						<div class="day">{{ week[4].day }}</div>
						<div class="events">
							<div ng-repeat="event in week[4].events" class="event badge badge-success">{{ event.name }}</div>
						</div>
					</div>
				</td>
				<td>
					<div ng-click="cvm.showDay(week[5].day)" class="calendar-element {{ week[5].events.length > 0 ? 'has-events' : '' }}">
						<div class="day">{{ week[5].day }}</div>
						<div class="events">
							<div ng-repeat="event in week[5].events" class="event badge badge-success">{{ event.name }}</div>
						</div>
					</div>
				</td>
				<td class="weekend">
					<div ng-click="cvm.showDay(week[6].day)" class="calendar-element {{ week[6].events.length > 0 ? 'has-events' : '' }}">
						<div class="day">{{ week[6].day }}</div>
						<div class="events">
							<div ng-repeat="event in week[6].events" class="event badge badge-success">{{ event.name }}</div>
						</div>
					</div>
				</td>
				<td class="weekend">
					<div ng-click="cvm.showDay(week[0].day)" class="calendar-element {{ week[0].events.length > 0 ? 'has-events' : '' }}">
						<div class="day">{{ week[0].day }}</div>
						<div class="events">
							<div ng-repeat="event in week[0].events" class="event badge badge-success">{{ event.name }}</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

<!-- Modal DAY -->
	<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dogodki</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="event in cvm.currentEvents">
                    	<div class="row">
	                        <p class="label-txt col-md-7 col-7 col-sm-7">{{ event.name }}</p>
	                        <div class="col-md-5 col-sm-5 col-5 align-right">
	                        	 <button class="btn btn-default" ng-click="cvm.editEvent(event)" data-dismiss="modal"><i class="fa fa-pencil"></i></button>
	                        	<button class="btn btn-default" ng-click="cvm.deleteEvent(event)"><i class="fa fa-times"></i></button>
	                        </div>
	                    </div>
                    </div>
                </div>
                <div class="modal-footer modals">
                    <button type="submit" id="dodajObvestilo" class="btn btn-default" data-dismiss="modal" ng-click="cvm.newEvent()">Dodaj nov dogodek</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                </div>
            </div>
        </div>
    </div>

<!-- Modal EDIT-->
    <div class="modal fade calendar-form-modal" id="myModalEdit" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Uredi dogodek</h4>
                </div>
                <div class="modal-body">
                	<label>
                		<p class="label-txt"><i class="fa fa-pencil"></i>Ime dogodka</p>
	                    <input type="text" class="input" value="{{cvm.currentEvent.name}}" ng-model="cvm.currentEvent.name">
	                    <div class="line-box">
	                        <div class="line"></div>
	                    </div>
	                    <span ng-show="cvm.nameError" class="help-block validation-text">{{ cvm.nameError }}</span>
                	</label>
                    <label>
						<p class="label-txt"><i class="fa fa-clock-o"></i>Ura</p>
						<input type="text" class="input" value="{{cvm.currentEvent.time}}" ng-model="cvm.currentEvent.time">
						<div class="line-box">
							<div class="line"></div>
						</div>
						<span ng-show="cvm.timeError" class="help-block validation-text" style="color: red">{{ cvm.timeError }}</span>
					</label>
					<label>
						<p class="label-txt"><i class="fa fa-hourglass-half"></i>Trajanje</p>
						<input type="text" class="input" value="{{cvm.currentEvent.duration}}" ng-model="cvm.currentEvent.duration">
						<div class="line-box">
							<div class="line"></div>
						</div>
						<span ng-show="cvm.durationError" class="help-block validation-text" >{{ cvm.durationError }}</span>
					</label>
					<label>
						<p class="label-txt"><i class="fa fa-pencil"></i>Opis</p>
						<input type="text" class="input" value="{{cvm.currentEvent.description}}" ng-model="cvm.currentEvent.description">
						<div class="line-box">
							<div class="line"></div>
						</div>
					</label>
                </div>
                <div class="modal-footer modals">
                    <button type="button" class="btn btn-default" ng-click="cvm.saveEditEvent()">Shrani</button>
                     <button type="button" class="btn btn-default" ng-click="cvm.closeEditEvenCanclet()">Prekliči</button>
                </div>
            </div>
        </div>
    </div>

<!-- Modal Insert -->
    <div class="modal fade calendar-form-modal" id="myModalInsert" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ustvari dogodek</h4>
                </div>
                <div class="modal-body">
                	<label>
                		<p class="label-txt"><i class="fa fa-pencil"></i>Ime dogodka</p>
	                    <input type="text" class="input" ng-model="cvm.newEventShow.name">
	                    <div class="line-box">
	                        <div class="line"></div>
	                    </div>
	                    <span ng-show="cvm.nameError" class="help-block validation-text" style="color: red">{{ cvm.nameError }}</span>
                	</label>
                    <label>
						<p class="label-txt"><i class="fa fa-clock-o"></i>Ura</p>
						<input type="text" class="input" ng-model="cvm.newEventShow.time"> <!-- pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/"-->
						<div class="line-box">
							<div class="line"></div>
						</div>
						<span ng-show="cvm.timeError" class="help-block validation-text" style="color: red">{{ cvm.timeError }}</span>
					</label>
					<label>
						<p class="label-txt"><i class="fa fa-hourglass-half"></i>Trajanje</p>
						<input type="number" class="input" ng-model="cvm.newEventShow.duration">
						<div class="line-box">
							<div class="line"></div>
						</div>
						<span ng-show="cvm.durationError" class="help-block validation-text" style="color: red">{{ cvm.durationError }}</span>
					</label>
					<label>
						<p class="label-txt"><i class="fa fa-pencil"></i>Opis</p>
						<input type="text" class="input" ng-model="cvm.newEventShow.description">
						<div class="line-box">
							<div class="line"></div>
						</div>
					</label>
					<label>
						<p class="label-txt"><i class="fa fa-calendar"></i> Datum dogodka</p>
						<input type="date" class="input" ng-model="cvm.newEventShow.date" value="{{ cvm.newEventShow.date }}">
						<div class="line-box">
							<div class="line"></div>
						</div>
						<span ng-show="cvm.fieldError" class="help-block validation-text" style="color: red">{{ cvm.fieldError }}</span>
					</label>
				
                </div>

                <div class="modal-footer modals">
                    <button type="button" class="btn btn-default" ng-click="cvm.saveNewEvent()">Shrani</button>
                    <button type="button" class="btn btn-default" ng-click="cvm.closeNew()">Prekliči</button>
                </div>
            </div>
        </div>
    </div>

<!-- Modal Delete -->
    <div class="modal fade calendar-form-modal" id="myModalDelete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Izbriši dogodek</h4>
                </div>
                <div class="modal-body">
                	<label>
                		<div class="row">
                			<p class="label-txt">Ste prepričani, da želite dogodek {{ cvm.currentEvent.name }} izbrisati?</p>
                		</div>
                	</label>
                </div>
                <div class="modal-footer modals">
                    <button type="button" class="btn btn-default" ng-click="cvm.comfirmDelete()">Izbriši </button>
                    <button type="button" class="btn btn-default" ng-click="cvm.closeDelete()">Prekliči </button>
                </div>
            </div>
        </div>
    </div>
</div>