<nav class="navbar navbar-expand-lg navbar-light bg-light straightas-header">
	<a class="navbar-brand" ng-click="hvm.redirectHome()">StraightAs</a>
	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li ng-show="hvm.hasRole(['admin'])" class="nav-item">
				<a class="nav-link" ng-click="hvm.redirectHome()">Administrator</a>
			</li>
			<li ng-show="hvm.hasRole(['event_manager'])" class="nav-item">
					<a class="nav-link" ng-click="hvm.redirectHome()">Upravljalec dogodkov</a>
				</li>
			<li ng-hide="hvm.hasRole(['user', 'admin', 'event_manager'])" class="nav-item {{ hvm.currentLocation == '/login' ? 'active' : ''	 }}">
				<a class="nav-link" ng-href="/login"><i class="fa fa-user"></i> Prijava</a>
			</li>
			<li ng-hide="hvm.hasRole(['user', 'admin', 'event_manager'])" class="nav-item {{ hvm.currentLocation == '/registration' ? 'active' : ''	 }}">
				<a class="nav-link" ng-href="/registration"><i class="fa fa-id-card-o"></i> Registracija</a>
			</li>

			<li ng-show="hvm.hasRole(['user'])" class="nav-item {{ hvm.currentLocation == '/' ? 'active' : ''	 }}">
				<a class="nav-link" ng-href="/"><i class="fa fa-home"></i> Domov</a>
			</li>
			<li ng-hide="hvm.hasRole(['admin', 'event_manager'])" class="nav-item {{ hvm.currentLocation == '/restaurants' ? 'active' : '' }}">
				<a class="nav-link" ng-href="/restaurants"><i class="fa fa-cutlery"></i> Restavracije</a>
			</li>
			<li ng-show="hvm.hasRole(['user'])" class="nav-item {{ hvm.currentLocation == '/events' ? 'active' : ''	 }}">
				<a class="nav-link" ng-href="/events"><i class="fa fa-th"></i> Dogodki</a>
			</li>
			<li ng-hide="hvm.hasRole(['admin', 'event_manager'])" class="nav-item {{ hvm.currentLocation == '/buses' ? 'active' : ''	 }}">
				<a class="nav-link" ng-href="/buses"><i class="fa fa-bus"></i> Avtobusi</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" ng-href="#" ng-click="hvm.updateNotes()" data-toggle="modal" data-target="#myModalNote"><i class="fa fa-bell-o"></i> Obvestila</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li ng-show="hvm.hasRole(['user'])" class="nav-item">
				<a class="nav-link" ng-href="#" ng-click="hvm.changePswd()"><i class="fa fa-wrench"></i> Spremeni geslo</a>
			</li>
			<li ng-show="hvm.hasRole(['user', 'admin', 'event_manager'])" class="nav-item">
				<a class="nav-link" ng-href="#" ng-click="hvm.logout()"><i class="fa fa-sign-out"></i> Odjava</a>
			</li>
		</ul>
	</div>

<!-- OBVESTILO ADMINA -->
	<form>
		<div class="modal fade modals" id="myModalNote" role="dialog">
	        <div class="modal-dialog modal-dialog-scrollable">
	            <form>
	            	<div class="modal-content">
		                <div class="modal-header">
		                    <h4 class="modal-title">Obvestila administratorja</h4>
		                </div>
		                <div class="modal-body">	                	
	                		<div ng-repeat="notification in hvm.notifications.slice().reverse()">
		                    	<label>
		                    		<div class="row">	                    		
		                    			<p class="label-txt"><i class="fa fa-bell-o" ></i>{{ notification.message }}</p>	                    		
		                    		</div>
		                    	</label>	                    	
	                    	</div>	                	
		                </div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
		                </div>
		            </div>
	            </form>	            
	        </div>
	    </div>
	<form>

	<!-- PASSWORD CHANGE MODAL -->
	<div class="modal fade header-form-modal changePassword" id="changePassword" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title">Sprememba gesla</h4>
	            </div>
	            <div class="modal-body">
	                <label>
	    				<p class="label-txt"><i class="fa fa-asterisk"></i>Vnesi staro geslo</p>
	    				<input type="password" class="input" pattern="[A-Za-z0-9đšćžčĐŠŽĆČ]+" minlength="8" maxlength="25" name="pswd" id="pswd" ng-model="hvm.user.pswd" required>
	    				<div class="line-box">
	      					<div class="line"></div>
	    				</div>
	    				<span class="changePassword" ng-show="hvm.oldPswdErr">{{ hvm.oldPswdErr }}</span>
	  				</label>
	  				<label>
					    <p class="label-txt"><i class="fa fa-wrench"></i>Vnesi novo geslo</p>
					    <input type="password" class="input" pattern="[A-Za-z0-9đšćžčĐŠŽĆČ]+" minlength="8" maxlength="25" name="pswdC" id="pswdC" ng-model="hvm.user.pswdC" required>
					    <div class="line-box">
					      <div class="line"></div>
					    </div>
					    <span class="changePassword" ng-show="hvm.fieldError">{{ hvm.fieldError }}</span>
	  				</label>
					<label>
						<p class="label-txt"><i class="fa fa-wrench"></i>Ponovno vnesi novo geslo</p>
						<input type="password" class="input" pattern="[A-Za-z0-9đšćžčĐŠŽĆČ]+" minlength="8" maxlength="25" name="pswdNew" id="pswdNew" ng-model="hvm.user.pswdNew" required>
						<div class="line-box">
						  <div class="line"></div>
						</div>
						<span class="changePassword" ng-show="hvm.fieldError">{{ hvm.fieldError }}</span>
					</label>
	            </div>
	            <div class="modal-footer">
	                <button type="submit" id="spremeniGeslo" class="btn btn-default" ng-click="hvm.changePassword()">Spremeni geslo</button>
	                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="tvm.changePswdClose()">Prekliči</button>
	            </div>
	        </div>
	    </div>
	</div>
</nav>