<header></header>

<div class="modals">
    <form>
        <div class="modal fade" id="myModalNote" role="dialog">
            <div class="modal-dialog">
                <form >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Obvestila</h4>
                        </div>
                        <div class="modal-body">
                            <label>
                                <p class="label-txt"><i class="fa fa-bell-o"></i>Vnesi obvestilo</p>
                                <input type="text" class="input" ng-model="avm.currentNote.message">
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="avm.closeShow()">Zapri</button>
                        </div>
                    </div>
                </form >
            </div>
        </div>
    </form>
</div>