<div class="schedule">
	<table class="schedule-table">
		<thead>
			<tr>
				<th>
				</th>
				<th>Pon</th>
				<th>Tor</th>
				<th>Sre</th>
				<th>Čet</th>
				<th>Pet</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="row in svm.schedule">
				<td>{{ row.time }}:00</td>
				<td class="course"  ng-repeat="day in row.days" style="background-color: {{ day.course.colour }}" ng-click="svm.dayClick(day, row.time)">{{ day.course.name }}</td>
			</tr>
		</tbody>
	</table>

    <!---- DODAJANJE NOVEGA VNOSA V URNIK -->
	<div class="modal fade schedule-form-modal" id="newCourseModal" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title">Nov predmet</h4>
	            </div>
	            <div class="modal-body">
	                <label>
                        <p class="label-txt"><i class="fa fa-pencil"></i>Ime predmeta</p>
                        <input type="text" class="input" id="ime" ng-model="svm.newCourse.name" required>
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                        <span ng-show="svm.nameError" class="help-block validation-text">{{ svm.nameError }}</span>
                    </label>
                    <label>
                        <p class="label-txt"><i class="fa fa-hourglass-half"></i>Trajanje predmeta</p>
                        <input type="number" class="input" id="trajanje" ng-model="svm.newCourse.duration" required>
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                        <span ng-show="svm.durationError" class="help-block validation-text">{{ svm.durationError }}</span>
                    </label>
                    <label>
                        <p class="label-txt"><i class="fa fa-paint-brush"></i>Barva</p>
                        <input type="color" class="colorpick" id="barva" ng-model="svm.newCourse.colour">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                    </label>
                    <label>
                        <p class="label-txt"><i class="fa fa-clock-o"></i>Ura</p>
                        <input type="number" class="input" min="7" max="21" id="ura" ng-model="svm.newCourse.time" value="{{ svm.newCourse.time }}" required>
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                        <span ng-show="svm.timeError" class="help-block validation-text">{{ svm.timeError }}</span>
                    </label>
                        <input type="hidden" class="input" id="dan" ng-model="svm.newCourse.day" value="{{ svm.newCourse.day }}">
	            </div>
	            <div class="modal-footer">
	                <button type="submit" id="dodajObvestilo" class="btn btn-success" ng-click="svm.addCourse()"></i>Dodaj</button>
	                <button type="button" class="btn btn-default" ng-click="svm.closeAdd()">Prekliči</button>
	            </div>
	        </div>
	    </div>
	</div>

    <!---- EDITIRANJE VNOSA V URNIKU -->
	<div class="modal fade schedule-form-modal" id="editCourseModal" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title">Uredi predmet</h4>
	            </div>
	            <div class="modal-body">
	               <label>
                        <p class="label-txt"><i class="fa fa-pencil"></i>Ime predmeta</p>
                        <input type="text" class="input" id="ime" value="{{ svm.currentCourse.name }}" ng-model="svm.currentCourse.name" required>
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                        <span ng-show="svm.nameError" class="help-block validation-text">{{ svm.nameError }}</span>
                    </label>
                    <label>
                        <p class="label-txt"><i class="fa fa-hourglass-half"></i>Trajanje predmeta</p>
                        <input type="number" class="input" id="trajanje" value="{{ svm.currentCourse.duration }}" ng-model="svm.currentCourse.duration" required>
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                        <span ng-show="svm.durationError" class="help-block validation-text">{{ svm.durationError }}</span>
                    </label>
                    <label>
                        <p class="label-txt"><i class="fa fa-paint-brush"></i>Barva</p>
                        <input type="color" class="colorpick" id="barva" value="{{ svm.currentCourse.colour }}" ng-model="svm.currentCourse.colour">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                    </label>
                    <label>
                        <p class="label-txt"><i class="fa fa-clock-o"></i>Ura</p>
                        <input type="number" class="input" min="7" max="21" id="opis" value="{{ svm.currentCourse.time }}" ng-model="svm.currentCourse.time" required> 
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                        <span ng-show="svm.timeError" class="help-block validation-text">{{ svm.timeError }}</span>
                    </label>
	            </div>
	            <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="svm.deleteCourse()">Izbriši predmet</button>
	                <button type="submit" id="dodajObvestilo" class="btn btn-default" ng-click="svm.editCourse()">Shrani</button>
	                <button type="button" class="btn btn-default" ng-click="svm.closeEdit()">Prekliči</button>
	            </div>
	        </div>
	    </div>
    </div>
    
    <!---- POTRDITEV IZBRISA -->
    <div class="modal fade calendar-form-modal" id="deleteCourseModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Izbriši dogodek</h4>
                </div>
                <div class="modal-body">
                	<label>
                		<p class="label-txt">Ste prepričani, da želite dogodek {{ svm.currentCourse.name}} izbrisati?</p>
                	</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="svm.confirmDelete()">Izbriši </button>
                    <button type="button" class="btn btn-default" ng-click="svm.closeDelete()">Prekliči </button>
                </div>
            </div>
        </div>
    </div>
</div>