<div class="todo">
	<div class="buttons">
		<h5 class="listTodoClass">Listki TODO</h5>
		<div class="plusGumb button plus-button" ng-click="tvm.newTodoAdd()">+</div>
	</div>

	<div class="todo-list-container">
		<div class="todo-list" ng-repeat="todo in tvm.todoList">
			<div class="todo-list-text" ng-click="tvm.openUpdateTodo(todo)" ng-message="">
				{{ todo.description }}
			</div>
			<div class="close" ng-click="tvm.openDeleteTodo($event, todo)"><i class="fa fa-times"></i></div>
		</div>
	</div>
	
	<!-- NEW TODO -->
	<div class="modal fade todo-form-modal" id="newTodoModal" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title">Ustvari listek TODO</h4>
	            </div>
	            <div class="modal-body">
	                <label>
	                    <p class="label-txt"><i class="fa fa-pencil"></i>Opis</p><br>	                    
                    	<input type="text" class="input" id="imeTodo" ng-model="tvm.todo.description" required>
	                    <div class="line-box">
                            <div class="line"></div>
                        </div>
                        <span ng-show="tvm.inputError" class="help-block validation-text">{{ tvm.inputError }}</span>
	                </label>
	            </div>
	            <div class="modal-footer modals">
	                <button type="submit" id="dodajTodo" class="btn btn-default" ng-click="tvm.newTodo()">Dodaj</button>
	                <button type="button" class="btn btn-default" ng-click="tvm.closeNew()">Prekliči</button>
	            </div>
	        </div>
	    </div>
	</div>

	<!-- UPDATE TODO -->
	<div class="modal fade todo-form-modal" id="updateTodoModal" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title">Posodobi listek TODO</h4>
	            </div>
	            <div class="modal-body">
	                <label>
	                    <p class="label-txt"><i class="fa fa-pencil"></i>Opis</p><br>
                    	<input type="text" class="input" id="novoImeTodo" ng-model="tvm.currentTodo.description">
	                    <div class="line-box">
                            <div class="line"></div>
                        </div>
	                </label>
	            </div>
	            <div class="modal-footer modals">
	                <button type="submit" id="urediTodo" class="btn btn-default" ng-click="tvm.updateTodo()">Posodobi</button>
	                <button type="button" class="btn btn-default" ng-click="tvm.closeUpdate()">Prekliči</button>
	            </div>
		        </div>
		    </div>
		</div>
	</div>

	<!-- On DELETE -->
	<div class="modal fade todo-form-modal" id="deleteTodoModal" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h6 class="modal-title">Ali ste prepričani, da želite izbrisati listek TODO</h6>
	            </div>
	            <div class="modal-footer modals">
	                <button type="submit" id="izbrisiTodo" class="btn btn-default" ng-click="tvm.deleteTodo()">Da</button>
	                <button type="button" class="btn btn-default" ng-click="tvm.closeDelete()">Prekliči</button>
	            </div>
	        </div>
	    </div>
	</div>
