<br>
<div class="container">
  <div class="center">
    <h2 class="container">Registration</h2>
    <br>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Email</label>
        <input type="email" [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="form-control" required>
        <small class="text-danger" [class.d-none]="email.untouched || email.valid">Incorrect email address.</small>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" [class.is-invalid]="geslo.invalid && geslo.touched" formControlName="geslo" class="form-control"  required>
        <small class="text-danger" [class.d-none]="geslo.untouched || geslo.valid">Minimal length is 8.</small>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword" class="form-control" required >
        <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>
      </div>
      <button class="btn btn-primary" [disabled]="!registrationForm.valid" type="submit">Register</button>
      <a routerLink="/login" class="btn btn-link">Cancel</a>
    </form>
   
  </div>
</div>
