<div class="modal-content modal-alert" style="background-color: #B74444; color: white;">
    <div class="modal-header">
        <h3 class="modal-title">Confirm Deletion</h3>
    </div>

    <div class="modal-body">
        <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>

        <p>Are you sure you want to delete this content?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.modalnoOkno.preklici_brisanje_vnosa()" type="button">Cancel</button>
        <button class="btn btn-success" ng-click="vm.potrdi_brisanje_vnosa_v_urniku()" type="submit">Confirm</button>
    </div>
</div>