.center {
    width: 72%;
}
.urnik {
    display: flex;
    justify-content: center;
}

h3 {
    color: darkblue;
    text-align: center;
}

.container .box { 
    width:100%; 
    margin:0; 
    display:table; 
} 
.container .box .box-row { 
    display:table-row; 
} 
.container .box .box-cell { 
    display:table-cell; 
    width:70%; 

} 
.container .box .box-cell.box1 { 
    text-align:justify; 
 } 
.container .box .box-cell.box2 { 
    text-align:justify ;
    background-color: lightblue;
} 
