<div class="container"> 
    <div class="box"> 
        <div class="box-row"> 
            <div class="box-cell box1"> 
                <app-calendar></app-calendar>
            </div> 
            <div class="box-cell box2"> 
                <h3>TO DO</h3>
                <app-todo-list></app-todo-list>
            </div> 
        </div> 
    </div> 
</div> 
<br>
<br>
<h2 class="urnik">my timetable</h2>
<br>
<div class = "urnik">
    <div class="center">
        <app-urnik></app-urnik>
    </div>
</div>
