<link rel="stylesheet" href="/stylesheets/event_okno.css"/>

<div class="modal-content">
    <div class="form_wrapper">
        <div ng-click="vm.modalnoOknoPreklic.preklici()" class="close">
            <span aria-hidden="true">&times;</span>
        </div>
        <div class="form_text">System message:</div>
        <form class="form_wrapper" method="POST" id="eventForm" ng-submit="vm.createNotification()" autocomplete="off">
            <div class="info_wrapper">
                <div class="event_txt">Name:</div>
                <input class="form_input" type="text" ng-model="vm.notification.title" required/>
                <div class="event_txt">Description:</div>
                <textarea class="form_input textarea" ng-model="vm.notification.description" rows="7" cols="60" required></textarea><br/>
                <button class="button button_green button_login" type="submit">Create</button>  
            </div> 
        </form>
    </div>
</div>
<!--
<link rel="stylesheet" type="text/css" href="/stylesheets/locationModal_styles.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/event_okno.css">


<div class="modal-content">
    <div class="form_wrapper">
        <div ng-click="vm.modalnoOknoPreklic.preklici()" class="close">
            <span aria-hidden="true">&times;</span><span class="sr-only">Zapri</span>
        </div>
        <!--
        <div class="form_text">Choose location:</div>
        <form class="form" name="form_location" method="GET" ng-submit="vm.getEventByLocation()">
            <div class="form_info"><input type="hidden" name="sort"/>
                <input class="form_input" id="location" type="text" placeholder="Location" name="location" autocomplete="off" ng-model="vm.location" required="" />
            </div>
            <button class="button button_green" type="submit">Search</button>
        </form>
        <div class="form_text">Create event:</div>
        <form class="form_wrapper" method="POST" id="eventForm" ng-submit="vm.createEvent()" autocomplete="off">
            <div class="info_wrapper">
                <div class="event_txt">Name:</div>
                <input class="form_input" type="text" ng-model="vm.event.title" required/>
                <div class="event_txt">Organizer:</div>
                <input class="form_input" type="text" ng-model="vm.event.location" required/>
                <div class="event_txt">Date:</div>
                <div class="event_date">
                    <input class="event_date_input" type="number" ng-model="vm.event.day" placeholder="Day" required/>
                    <select class="custom-select event_date_input" ng-model="vm.event.month" form="eventForm">
                        <option value="0" selected>January</option>
                        <option value="1">February</option>
                        <option value="2">March</option>
                        <option value="3">April</option>
                        <option value="4">May</option>
                        <option value="5">June</option>
                        <option value="6">July</option>
                        <option value="7">August</option>
                        <option value="8">September</option>
                        <option value="9">October</option>
                        <option value="10">November</option>
                        <option value="11">December</option>
                    </select>
                    <input class="event_date_input" ng-model="vm.event.year" placeholder="Year" type="number" required/>
                </div>
                <div class="event_txt">Description:</div>
                <textarea class="form_input textarea" ng-model="vm.event.description" rows="7" cols="60" required></textarea><br/>
                <button class="button button_green button_login" type="submit">Create</button>  
            </div> 
        </form>
    </div>
</div>
-->