body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
#btnContainer{
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 1000;
  position: sticky;
}

li {
  float: left;
}

#map {
  height: 100%;
  margin: 10%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.rightie, #registerButton, #loginButton {
  float: right;
}

/* The popup form - hidden by default */
.form-popup, .form-popupCalendar, .form-popupSchedule, .form-popupScheduleEdit, .form-popupCalendarEdit, .editForm-popup {
  display: none;
  z-index: 9;
}

.js-container {
  position: absolute;
  right: 10px;
  width: 50%;
  bottom: 10px;
  top: 50px;
  background: #d3dde7;
}

.js-add-task-button{
  background-color: #254552;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  border-radius: 5px;
}

.js-add-calendar-button{
  background-color: #B62B10;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}

.js-add-schedule-button{
  background-color: #626e7e;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 16px;
  margin: 1px;
  border-radius: 5px;
  z-index: 1;
  float: right;
  display: none;
}

.js-delete-task-button {
  background-color: #f6f698;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px -10px;
  border-radius: 5px;
}

.contents { background: #f6f698;
  margin: 20px; 
  outline: none; 
 }

.sticky-note {
	height: 200px;
	width: 200px;
	color: #7f6c04;
	background: #f6f698;
	border-radius: 10px;
	border: 0px;
	font-family: Helvetica, Arial, sans-serif; font-size: 13px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
	overflow: hidden;
}

/* Add styles to the form container */
.form-container {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  max-width: 320px;
  background: white;
  /*border-radius: 20px;*/
  border-color: black;
  border-width: thin;
  border-style: solid;
}

/* Full-width input fields */
.form-container input[type=text] {
	position:absolute;
	z-index:100;
  width: 100%;
  height: 500px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.x {
    position: absolute;
    background: red;
    color: white;
    display: none;
}

.xCE {
  background: red;
  color: white;
  display: none;
  float: right;
  z-index: 1;
  position: relative;
}

.event_desc:hover .x, .event_desc:hover .e, .event_descE:hover .x, .event_descE:hover .e, .eventFirst:hover .xCE, .cellio:hover .js-add-schedule-button{
  display: block;
}


/* Set a style for the submit/login button */
.form-container .btn, .editBtn, .editBtnCalendar, .btnCalendar, .btnSchedule, .editBtnSchedule {
  background-color: #0069d9;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
}

option.blue {background-color: #0069d9;}
option.red {background-color: #b62b10;}
option.green {background-color: #4CAF50;}
option.yellow {background-color: #f6f698;}
option.gray {background-color: #555;}

select:active, select:hover {
  outline: none
}

/* Add a red background color to the cancel button */
.cancelEditBtn, .cancelEditBtnCalendar, .cancelBtnCalendar, .cancelEditBtnSchedule, .cancelBtnSchedule {
  background-color: #616161;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover, .editBtn:hover, .editBtnCalendar:hover, .btnCalendar:hover, .editBtnSchedule:hover, .btnSchedule:hover {
  opacity: 1;
}

.cancelBtn {
  background-color: #616161;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-bottom: 10px;
}
.cancelBtn:hover {
  background-color: #999999;
}

.btn {
  color: white;
  padding: 10px 20px;
  border: none;
  margin-bottom: 10px;
}

.event_list{
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.event_title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: 0.1rem;
    margin: 0px;
    margin-bottom: 5px;
}

.event_organizer {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: 0rem;
    margin: 0px;
    margin-bottom: 5px;
}

.event_date {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1F2833;
    letter-spacing: 0rem;
    margin: 0px;
    margin-bottom: 5px;
}

.events_col_1{
    display: flex;
    flex-flow: column;
    max-width: 416px;
	width: 33%;
	text-align: center;
}

.events_col_2{
    display: flex;
    margin-bottom: 20px;
    flex-flow: column;
    max-width: 416px;
	width: 33%;
	text-align: center;
}

.events_col_3{
    display: flex;
    margin-bottom: 20px;
    flex-flow: column;
    max-width: 416px;
	width: 33%;
	text-align: center;
}

.event{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0.3rem 1.5rem rgba(0,0,0, 0.5);
    transition: 0.3s;
	border-radius: 7px;
}

.event:hover{
    transform: scale(1.05);
}


.event_info {
    padding: 10px;
    background-image: linear-gradient(to right bottom, rgba(126,213,111, 0.5), rgba(0,180,133, 0.5)),

    url('../img/beach.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.event_desc{
	border-radius: 7px;
  background-color: #f6f698;
  color: black;
  padding: 10px;
	font-weight: bold;
}


/** Ljupche **/
#login-page {
  background-color: #3B6284;
  position:fixed;
  width:100%;
  height:93.9%;
  top:45px;
  left:0px;
  position:absolute;	
}

#login-data {
  background-color: #BFC4CC;
  position:fixed;
  width:20%;
  height:66.6%;
  top:15%;
  left:40%;
  position:absolute;	
}

#js-login-info {
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 275%;
	position: relative;
	top: 10%;
}

#js-login-email {
	position: relative;
	left: 15%;
	top: 100px;
	width: 70%;
	height: 8%;
}

#js-login-password {
	position: relative;
	left: 15%;
	top: 130px;
	width: 70%;
	height: 8%;
}

#js-login-button {
	background-color: #A9D4DE;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 15px 20px; 
	position: absolute;
	left: 15%;
	width: 70%;
	bottom:   10%;
}

#js-login-response {
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 150%;
	position: relative;
	top: 37.5%;
}



#register-page {
  background-color: #3B6284;
  position:fixed;
  width:100%;
  height:93.9%;
  top:45px;
  left:0px;
  position:absolute;	
}

#register-data {
  background-color: #BFC4CC;
  position:fixed;
  width:20%;
  height:66.6%;
  top:15%;
  left:40%;
  position:absolute;	
}

#js-register-info {
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 275%;
	position: relative;
	top: 10%;
}

#js-register-email {
	position: relative;
	left: 15%;
	top: 80px;
	width: 70%;
	height: 8%;
}

#js-register-password {
	position: relative;
	left: 15%;
	top: 110px;
	width: 70%;
	height: 8%;
}

#js-register-password2 {
	position: relative;
	left: 15%;
	top: 140px;
	width: 70%;
	height: 8%;
}

#js-register-button {
	background-color: #A9D4DE;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 15px 20px; 
	position: absolute;
	left: 15%;
	width: 70%;
	bottom:   10%;
}

#js-register-response {
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 100%;
	position: relative;
	top: 33.3%;
}



#pwchange-page {
  background-color: #3B6284;
  position:fixed;
  width:100%;
  height:93.9%;
  top:45px;
  left:0px;
  position:absolute;	
}

#pwchange-data {
  background-color: #BFC4CC;
  position:fixed;
  width:20%;
  height:66.6%;
  top:15%;
  left:40%;
  position:absolute;	
}

#js-pwchange-info {
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 275%;
	position: relative;
	top: 10%;
}

#js-pwchange-oldpassword {
	position: relative;
	left: 15%;
	top: 80px;
	width: 70%;
	height: 8%;
}

#js-pwchange-newpassword {
	position: relative;
	left: 15%;
	top: 110px;
	width: 70%;
	height: 8%;
}

#js-pwchange-newpassword2 {
	position: relative;
	left: 15%;
	top: 140px;
	width: 70%;
	height: 8%;
}

#js-pwchange-button {
	background-color: #A9D4DE;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 15px 20px; 
	position: absolute;
	left: 15%;
	width: 70%;
	bottom:   10%;
}

#js-pwchange-response {
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 100%;
	position: relative;
	top: 33.3%;
}



#admin-page {
  background-color: #3B6284;
  position:fixed;
  width:100%;
  height:93.9%;
  top:45px;
  left:0px;
  position:absolute;	
}

#admin-data {
  background-color: #BFC4CC;
  position:fixed;
  width:50%;
  height:66.6%;
  top:15%;
  left:25%;
  position:absolute;	
}

#js-admin-info {
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 275%;
	position: relative;
	top: 10%;
}

#js-admin-text {
	position: relative;
	left: 15%;
	top: 80px;
	width: 70%;
	height: 40%;
}

#js-admin-button {
	background-color: #A9D4DE;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 15px 20px; 
	position: absolute;
	left: 15%;
	width: 70%;
	bottom:   10%;
}

#js-admin-response {
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 100%;
	position: relative;
	top: 33.3%;
}


#js-login-button:hover, #js-register-button:hover, #js-pwchange-button:hover {
  background-color: #BCE3EC;
}

#app {
  width: 50%;
  background: rgba(255, 255, 255, 0.9);
  padding: 4rem;
}

.calendar > .title {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 2rem;
  color: #222;
}
.calendar > .title > * {
  display: inline;
}
.calendar .days {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
}
.calendar .days > .day.outside {
  display: none;
}
.calendar .days > .day.empty {
  display: none;
}
.calendar .days .events {
  margin-bottom: 1rem;
}
.calendar .days .events .eventFirst {
  box-sizing: border-box;
  line-height: 1;
  font-size: .75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: rgba(182, 43, 16, 0.05);
  color: #B62B10;
  padding: .25rem .5rem;
  margin-bottom: 2px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
.calendar .days .events .event:hover, .calendar .days .events .event:focus {
  background: rgba(182, 43, 16, 0.1);
}
.calendar .days .events .event:active {
  color: white;
  background: #b62b10;
}
.calendar .days .date {
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
}
.calendar .days .date:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: currentColor;
  opacity: .5;
}
.calendar .days .date > * {
  display: inline-block;
}
.calendar .days .date .weekday {
  font-weight: 400;
  color: #B62B10;
  text-transform: uppercase;
}
.calendar .days .date .weekday:after, .calendar .days .date .day:after {
  content: ',';
}

@media (min-width: 1024px) {
  .calendar {
    border-bottom: 2px solid #B62B10;
  }
  .calendar .days {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .calendar .days > .day {
    position: relative;
    font-size: .75rem;
    margin-bottom: 0;
    padding: 0 0 15% 0;
    width: 14.2857142857%;
    flex-shrink: 0;
  }
  .calendar .days > .day:before {
    content: '';
    position: absolute;
    left: 0;
    right: .5rem;
    top: 0;
    height: 1px;
    background: currentColor;
    opacity: .5;
  }
  .calendar .days > .day .date {
    position: absolute;
    top: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .calendar .days > .day .date:after {
    display: none;
  }
  .calendar .days > .day .date .weekday, .calendar .days > .day .date .month, .calendar .days > .day .date .year {
    display: none;
  }
  .calendar .days > .day .date .day:after {
    content: "";
  }
  .calendar .days > .day.outside {
    display: inline-block;
  }
  .calendar .days > .day.outside:before {
    opacity: .125;
  }
  .calendar .days > .day.outside .date .day {
    opacity: 0.5;
  }
  .calendar .days > .day.empty {
    display: inline-block;
  }
  .calendar .days > .day:nth-child(n+1):nth-child(-n+7) {
    margin-top: 2rem;
  }
  .calendar .days > .day:nth-child(n+1):nth-child(-n+7):before {
    opacity: 1;
    height: 2px;
    background: #B62B10;
  }
  .calendar .days > .day:nth-child(n+1):nth-child(-n+7) .date {
    width: 100%;
  }
  .calendar .days > .day:nth-child(n+1):nth-child(-n+7) .date .weekday {
    display: block;
    position: absolute;
    top: -3rem;
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 300;
    color: #B62B10;
    text-overflow: ellipsis;
  }
  .calendar .days > .day:nth-child(n+1):nth-child(-n+7) .date .weekday:after {
    content: "";
  }
  .calendar .days > .day .events {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-right: .5rem;
    overflow: auto;
  }
  .calendar .days > .day .events .eventFirst {
    box-sizing: border-box;
    line-height: 1;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(182, 43, 16, 0.05);
    color: #B62B10;
    padding: .25rem .5rem;
    margin-bottom: 2px;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }
  .calendar .days > .day .events .event:hover, .calendar .days > .day .events .event:focus {
    background: rgba(182, 43, 16, 0.1);
  }
  .calendar .days > .day .events .event:active {
    color: white;
    background: #b62b10;
  }
}

.schedule {
  font-family: sans-serif;
  width: 48%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  margin-bottom: 50px;
  margin-left: 0.5%;
}
table thead tr th {
  background: #626E7E;
  color: #d1d5db;
  padding: 0.5em;
  overflow: hidden;
}
table thead tr th:first-child {
  border-radius: 3px 0 0 0;
}
table thead tr th:last-child {
  border-radius: 0 3px  0 0;
}
table thead tr th .day {
  display: block;
  font-size: 1.2em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  padding: 5px;
  line-height: 1.8;
}
table thead tr th .day.active {
  background: #d1d5db;
  color: #626E7E;
}
table thead tr th .short {
  display: none;
}
table thead tr th i {
  vertical-align: middle;
  font-size: 2em;
}
table tbody tr {
  background: #d1d5db;
}
table tbody tr:nth-child(odd) {
  background: #c8cdd4;
}
table tbody tr:nth-child(4n+0) td {
  border-bottom: 1px solid #626E7E;
}
table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #626E7E;
  position: relative;
  cursor: pointer;
}
table tbody tr td:last-child {
  border-right: 1px solid #626E7E;
}
table tbody tr td.hour {
  font-size: 2em;
  padding: 0;
  color: #626E7E;
  background: #fff;
  border-bottom: 1px solid #626E7E;
  border-collapse: separate;
  min-width: 100px;
  cursor: default;
}
table tbody tr td.hour span {
  display: block;
}
@media (max-width: 60em) {
  table thead tr th .long {
    display: none;
  }
  table thead tr th .short {
    display: block;
  }
  table tbody tr td.hour span {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
  }
}
@media (max-width: 27em) {
  table thead tr th {
    font-size: 65%;
  }
  table thead tr th .day {
    display: block;
    font-size: 1.2em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    padding: 5px;
  }
  table thead tr th .day.active {
    background: #d1d5db;
    color: #626E7E;
  }
  table tbody tr td.hour {
    font-size: 1.7em;
  }
  table tbody tr td.hour span {
    transform: translateY(16px) rotate(270deg);
    -webkit-transform: translateY(16px) rotate(270deg);
    -moz-transform: translateY(16px) rotate(270deg);
  }
}



/* 
 ------------- zala added ----------
*/

#event-page {
  background-color: #3B6284;
  position:fixed;
  width:100%;
  height:93.9%;
  top:45px;
  left:0px;
  position:absolute;
}

.js-add-event-button {

  background-color: #A9D4DE;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 15px 20px; 
  position: absolute;
  right:    3%;
  bottom:   5%;
}

.js-add-event-button:hover {

  background-color: #BCE3EC;
}

.eventE {
  background-color: #A9D4DE;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

  width: 90%;
  margin: 10px;
  /*transition: 0.3s;*/
}

.eventE:hover {
  background-color: #BCE3EC;
}

.eventE:hover .description {
  background-color: #D7E9F0;
}


.event_descE {
  padding: 5px;
  font-weight: bold
  margin: 20px;
}
.event_descE:hover .xE {
  display: block;
}

.event_descE:hover .eE {
  display: block;
}

.description {
  padding: 7px 30px;
  background-color: #BCE3EC;
}

.opis{
  padding: 5px 10px;
  word-wrap: break-word;
  margin: 0;
}

.xE {
  position: absolute;
  background: #254552;
  border: none;
  color: white;
  display: none;
  z-index: 8;
  margin: 5px;
}

.eE {
  float: right;
  background: #254552;
  border: none;
  color: white;
  display: none;
  z-index: 8;
  margin: 5px;
}


.x {
  position: absolute;
  background: #254552;
  border: none;
  color: white;
  display: none;
  z-index: 8;
  margin: 5px;
}

.e {
  float: right;
  background: #254552;
  border: none;
  color: white;
  display: none;
  z-index: 8;
  margin: 5px;
}


#myEventForm .form-container {
  background-color: #222;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  /*float: center;*/
  width: 90%;
  margin: 10px;
}


#myForm .form-container {
  background-color: #222;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  /*float: center;*/
  width: 90%;
  margin: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,100);
html {
  min-height: 100%;
}


