<div class="modal-content">
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class=" w-75" padding="" top="500px">
        <h4 class="display-4">Event</h4>
        <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
        <hr/>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" ng-model="vm.data.name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="example-date-input" >Date</label>
            <input class="form-control" type="date" value="2019-05-19" ng-model="vm.data.date" id="example-date-input">
          </div>
           <div class="form-group">
            <label for="orgInput">Organizer</label>
            <input type="text" class="form-control" id="orgInput" ng-model="vm.data.org" placeholder="Enter Organizer">
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Description</label>
            <textarea class="form-control" id="exampleTextarea" ng-model="vm.data.desc" rows="3"></textarea>
          </div>
        </form>
        <hr/>
        <div class="row">
          <div class="col-auto">
            <button ng-click="vm.modalWin.close()" type="button" class="btn btn-secondary ">Close</button>
          </div>
          <div class="col-auto">
            <button ng-click="vm.sendData()" type="button" class="btn btn-primary ">Save</button>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>