<h2 mat-dialog-title>{{name}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput #input placeholder="Enter event name" formControlName="title">
  </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Select starting hour" formControlName="start" min="0" max="23">
      <mat-error class="error-message" *ngIf="form.get('start').dirty">Enter value between 0 and 23.</mat-error>
    </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Select duration" formControlName="duration" min="0" max="23">
    <mat-error class="error-message" *ngIf="form.get('duration').dirty">Enter value between 0 and 23.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Add event description"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="date">{{date}}</mat-datepicker>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"[disabled]="!this.form.valid" (click)="save()">Save</button>
</mat-dialog-actions>
