
<link rel="stylesheet" href="stylesheets/urnik_okno.css"/>


<div class="modal-content">
    <div class="form_wrapper">
        <div ng-click="vm.modalnoOknoPreklic.preklici()" class="close">
            <span aria-hidden="true">&times;</span>
        </div>
        <div class="form_text">Add course:</div>
        <form class="form_wrapper" method="POST" id="predmetForm" ng-submit="vm.dodajPredmet()" autocomplete="off">
            <div class="info_wrapper">
                <div class="event_txt">Name:</div>
                <input class="form_input" type="text" ng-model="vm.predmet.title" required/>
                <div class="event_txt">Day:</div>
                <select class="custom-select form_input" ng-model="vm.predmet.day" form="predmetForm">
                        <option value="4" selected>Monday</option>
                        <option value="5">Tuesday</option>
                        <option value="6">Wendsday</option>
                        <option value="7">Thurstday</option>
                        <option value="8">Friday</option>
                </select>
                <div class="event_txt">Start:</div>
                <div  class="event_date">
                    <input class="form_input date" type="number" ng-model="vm.predmet.hourStart" min="9" max="18" placeholder="9" required/>:
                    <input class="form_input date" type="number" ng-model="vm.predmet.minStart" min="0" max="59" placeholder="00" required/>
                </div>
                <div class="event_txt">End:</div>
                <div class="event_date">
                    <input class="form_input date" type="number" ng-model="vm.predmet.hourEnd" min="9" max="18" placeholder="9" required/>:
                    <input class="form_input date" type="number" ng-model="vm.predmet.minEnd" min="0" max="59" placeholder="00" required/>
                </div>
                <div class="event_txt">Color:</div>
                <select class="custom-select form_input" ng-model="vm.predmet.color" form="predmetForm">
                        <option value="0" selected>Smalt Blue</option>
                        <option value="1">Martinique</option>
                        <option value="2">Edward</option>
                        <option value="3">Rajah</option>
                </select>
                <button class="button button_green button_login" type="submit">Create</button>  
            </div> 
        </form>
    </div>
</div>

<script>
document.querySelectorAll('input[type=number]')
  .forEach(e => e.oninput = () => {
    // Always 2 digits
    if (e.value.length >= 2) e.value = e.value.slice(0, 2);
    // 0 on the left (doesn't work on FF)
    if (e.value.length === 1) e.value = '0' + e.value;
    // Avoiding letters on FF
    if (!e.value) e.value = '00';
  });
</script>