<div class="row" style="margin: 0;">
  <div class="container" ng-if="timetablevm.failMsg">
    <div class="row">
      <div class="col">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ timetablevm.failMsg }}
        </div>
      </div>
    </div>
  </div>
  <div class="container" ng-if="timetablevm.succesMsg">
    <div class="row">
      <div class="col">
        <div class="alert alert-success alert-dismissible" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ timetablevm.succesMsg }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-container">
    <div class="timetable-column" ng-repeat="i in [1,2,3,4,5,6,0]">
      <div class="timetable-column-header"><b>{{timetablevm.dayNameMap[i]}}</b></div>
      <div data-toggle="modal" data-target="#timetable-modal" ng-click="timetablevm.editItem(item)" 
           class="timetable-item" ng-style="item.style()"
           ng-repeat="item in timetablevm.currentTimetable[i]">
          {{item.name}}<br>
          <span class="timetable-item-duration">{{item | itemDateFilter}}</span>
      </div>
    </div>

    <div class="timetable-column timetable-column-header" id="timetable-add">
      <button type="button"                                                
              class="btn btn-info btn-sm"
              ng-click="timetablevm.editItem(null)"
              data-toggle="modal" data-target="#timetable-modal">+</button>
    </div>                                                                    
</div>

<div id="timetable-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>Predmet<h4>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" value="{{timetablevm.data.name}}" ng-model="timetablevm.data.name">
          </div>
          <div class="form-group col-md-4">
            <select ng-model="timetablevm.data.color" class="my-input-time" id="select-color"
                    ng-style="timetablevm.colorNameToStyle(timetablevm.data.color)">
                <option ng-repeat="colorname in timetablevm.colorArray">{{colorname}}</option>
            </select>
          </div>
        </div>
  
        <input type="text"  value="{{timetablevm.data.startTimeHour}}" ng-model="timetablevm.data.startTimeHour"       
                   pattern="([1-9]|[0-1][0-9]|2[0-4])" title="Ura začetka" class="my-input-time" id="start-hour" required> :

        <input type="text"  value="{{timetablevm.data.startTimeMinute}}" ng-model="timetablevm.data.startTimeMinute"
                   pattern="([0-6][0-9]|[1-9])" title="Minute začetka" class="my-input-time" id="start-minute" required> -

        <input type="text"  value="{{timetablevm.data.endTimeHour}}" ng-model="timetablevm.data.endTimeHour"                     
               pattern="([1-9]|[0-1][0-9]|2[0-4])" title="Ura začetka" class="my-input-time" id="end-hour" required> :
        
        <input type="text"  value="{{timetablevm.data.endTimeMinute}}" ng-model="timetablevm.data.endTimeMinute"
               pattern="([0-6][0-9]|[1-9])" title="Minute začetka" class="my-input-time" required> 

        <select ng-model="timetablevm.data.dayOfWeek" class="my-input-time" style="width: 10rem; margin-left: 4rem;"                       
                ng-options="dayObj.day as dayObj.name for dayObj in timetablevm.dayNameMapArray">
        </select>                                                                                
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="timetablevm.deleteItem(timetablevm.data.id)">Izbriši</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="timetablevm.saveItem()">Shrani</button>
      </div>
    </div>

  </div>
</div>
