
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="schedule_assets/css/style.css">
<link rel="stylesheet" href="stylesheets/home.css"/>
<!--<link rel="stylesheet" href="../../public/stylesheets/home.css"/>-->

<!-- Koledar -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!--<link rel="stylesheet" href="bower/font-awesome/css/font-awesome.min.css">-->
<link rel="stylesheet" href="koledar/css/all.css">




<nav-user></nav-user>
<div class="container">
    <!-- Koledar -->
  <div class="heading_secondary">Calendar:</div>
  <div class="calendar disable-selection" id="calendar">
    <div class="left-side">
        <div class="current-day text-center">
            <h1 class="calendar-left-side-day"></h1>
            <div class="calendar-left-side-day-of-week"></div>
        </div>
        <div class="current-day-events">
            <div>Current Events:</div>
            <ul class="current-day-events-list"></ul>
        </div>
        <div class="add-event-day">
            <input type="text" class="add-event-day-field" placeholder="Create an Event"  ng-model="vm.koledar.title">
            <span class="fa fa-plus-circle cursor-pointer add-event-day-field-btn"></span>
        </div>
    </div>
    <div class="right-side">
        <div class="text-right calendar-change-year">
            <div class="calendar-change-year-slider">
                <span class="fa fa-caret-left cursor-pointer calendar-change-year-slider-prev"></span>
                <span class="calendar-current-year"></span>
                <span class="fa fa-caret-right cursor-pointer calendar-change-year-slider-next"></span>
            </div>
        </div>
        <div class="calendar-month-list">
            <ul class="calendar-month"></ul>
        </div>
        <div class="calendar-week-list">
            <ul class="calendar-week"></ul>
        </div>
        <div class="calendar-day-list">
            <ul class="calendar-days"></ul>
        </div>
    </div>
  </div>
  <!-- End Koledar -->
  
  
    
    <header class="cd-main-header text--center flex flex--column flex--center">
        
        <div class="heading_secondary">Schedule:</div>
        <button class="button button_green button_login" ng-click="vm.dodajPredmet()">Add new</button>
    </header>
    
    

  <div class="cd-schedule cd-schedule--loading margin-top--lg margin-bottom--lg js-cd-schedule">
    <div class="cd-schedule__timeline">
      <ul>
        <li><span>09:00</span></li>
        <li><span>09:30</span></li>
        <li><span>10:00</span></li>
        <li><span>10:30</span></li>
        <li><span>11:00</span></li>
        <li><span>11:30</span></li>
        <li><span>12:00</span></li>
        <li><span>12:30</span></li>
        <li><span>13:00</span></li>
        <li><span>13:30</span></li>
        <li><span>14:00</span></li>
        <li><span>14:30</span></li>
        <li><span>15:00</span></li>
        <li><span>15:30</span></li>
        <li><span>16:00</span></li>
        <li><span>16:30</span></li>
        <li><span>17:00</span></li>
        <li><span>18:00</span></li>
        <li><span>18:30</span></li>
      </ul>
    </div> <!-- .cd-schedule__timeline -->
  
    <div class="cd-schedule__events">
      <ul>
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Monday</span></div>
  
          <ul>
            <li class="cd-schedule__event" ng-repeat='predmet in vm.monday'>
              <a data-start="{{predmet.start}}" data-end="{{predmet.end}}" data-content="event-abs-circuit" data-event="{{predmet.barva}}">
                <em class="cd-schedule__name">{{predmet.title}}</em>
                <span class="button_close" ng-click="potrdiIzbris(predmet._id,'urnik')">&#10006;</span>
                <i class="edit_button fas fa-pen" ng-click="vm.editPredmet(predmet)"></i>
              </a>
              
            </li>
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Tuesday</span></div>
  
          <ul>
            <li class="cd-schedule__event" ng-repeat='predmet in vm.tuesday'>
              <a data-start="{{predmet.start}}" data-end="{{predmet.end}}" data-content="event-abs-circuit" data-event="{{predmet.barva}}">
                <em class="cd-schedule__name">{{predmet.title}}</em>
                <span class="button_close" ng-click="potrdiIzbris(predmet._id,'urnik')">&#10006;</span>
                 <i class="edit_button fas fa-pen" ng-click="vm.editPredmet(predmet)"></i>
              </a>
            </li>
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Wednesday</span></div>
  
          <ul>
            <li class="cd-schedule__event" ng-repeat='predmet in vm.wednesday'>
              <a data-start="{{predmet.start}}" data-end="{{predmet.end}}" data-content="event-abs-circuit" data-event="{{predmet.barva}}">
                <em class="cd-schedule__name">{{predmet.title}}</em>
                <span class="button_close" ng-click="potrdiIzbris(predmet._id,'urnik')">&#10006;</span>
                 <i class="edit_button fas fa-pen" ng-click="vm.editPredmet(predmet)"></i>
              </a>
            </li>
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Thursday</span></div>
  
          <ul>
            <li class="cd-schedule__event" ng-repeat='predmet in vm.thursday'>
              <a data-start="{{predmet.start}}" data-end="{{predmet.end}}" data-content="event-abs-circuit" data-event="{{predmet.barva}}">
                <em class="cd-schedule__name">{{predmet.title}}</em>
                <span class="button_close" ng-click="potrdiIzbris(predmet._id,'urnik')">&#10006;</span>
                <i class="edit_button fas fa-pen" ng-click="vm.editPredmet(predmet)"></i>
              </a>
            </li>
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Friday</span></div>
          <ul>
            <li class="cd-schedule__event" ng-repeat='predmet in vm.friday'>
              <a data-start="{{predmet.start}}" data-end="{{predmet.end}}" data-content="event-abs-circuit" data-event="{{predmet.barva}}">
                <em class="cd-schedule__name">{{predmet.title}}</em>
                <span class="button_close" ng-click="potrdiIzbris(predmet._id,'urnik')">&#10006;</span>
                <i class="edit_button fas fa-pen" ng-click="vm.editPredmet(predmet)"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  
    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>
  
        <div class="cd-schedule-modal__header-bg"></div>
      </header>
  
      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>
  
      <a href="#0" class="cd-schedule-modal__close text--replace">Close</a>
    </div>
  
    <div class="cd-schedule__cover-layer"></div>

  </div> <!-- .cd-schedule -->
  
  
  
  
  
  
    
    
    <h2 class="heading_secondary">Todo list:</h2>
    <button class="button button_green button_login" ng-click="vm.dodajTodo()">Add todo</button>
    <div class="event_list">
        <div class="events_col_1">
            <div class="event" ng-repeat='todo in vm.todos1'>
                <div class="event_info">
                    <p class="event_date">Your todo reminder</p>
                    <div class="button_wrapper">
                        <button class="button_small button button_green button_login" ng-click="vm.editTodo(todo)">Edit</button>
                        <button class="button_small button button_green button_login" ng-click="potrdiIzbris(todo._id,'todo')">Delete</button>
                    </div>
                </div>
                <div class="event_desc">
                    <p>{{todo.description}}</p>
                </div>
            </div>
        </div>
        <div class="events_col_2">
             <div class="event" ng-repeat='todo in vm.todos2'>
                <div class="event_info">
                    <p class="event_date">Your todo reminder</p>
                    <div class="button_wrapper">
                        <button class="button_small button button_green button_login" ng-click="vm.editTodo(todo)">Edit</button>
                        <button class="button_small button button_green button_login" ng-click="potrdiIzbris(todo._id,'todo')">Delete</button>
                    </div>
                </div>
                <div class="event_desc">
                    <p>{{todo.description}}</p>
                </div>
            </div>
        </div>
        <div class="events_col_3">
             <div class="event" ng-repeat='todo in vm.todos3'>
                <div class="event_info">
                    <p class="event_date">Your todo reminder</p>
                    <div class="button_wrapper">
                        <button class="button_small button button_green button_login" ng-click="vm.editTodo(todo)">Edit</button>
                        <button class="button_small button button_green button_login" ng-click="potrdiIzbris(todo._id,'todo')">Delete</button>
                    </div>
                </div>
                <div class="event_desc">
                    <p>{{todo.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

