<navigacija></navigacija>

<div class="limiter">
    <div class="container-main100">
        <div class="wrap-main100">
            <div class="container">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">{{ vm.dogodek.naziv }}</h4>

                        <div class="meta" ng-show="vm.dogodek.organizator">
                            <label class="control-label" for="organizator">Organizator:</label><br>
                            <a id="organizator">{{vm.dogodek.organizator}}</a>
                        </div>
                        <div class="card-text" ng-show="vm.dogodek.opis">
                            <label class="control-label" for="opis">Opis:</label><br>
                            <p id="opis">{{vm.dogodek.opis}}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span ng-hide="vm.dogodek.datumDo">
                            <i class=""></i>{{vm.dogodek.datum | formatirajDatum}} @ {{vm.dogodek.datum | formatirajUro}}
                        </span>
                        <span ng-show="vm.dogodek.datumDo">
                            <i class=""></i>{{vm.dogodek.datum | formatirajDatum}} @ {{vm.dogodek.datum | formatirajUro}} - {{vm.dogodek.datumDo | formatirajDatum}} @ {{vm.dogodek.datumDo | formatirajUro}}
                        </span>
                    </div>
                </div>
                <br>
                <div class="container-nav100-form-btn" ng-show="vm.vloga==2">
                    <div style="float: right" class="nav-item navigation-nav100-form-btn">
                        <button class="login100-form-btn" data-toggle="modal" data-target="#izbrisi-dogodek-modal">
                            Izbriši
                        </button>
                    </div>
                    <div style="float: right" class="nav-item navigation-nav100-form-btn" ng-click='vm.uredi()'>
                        <button class="login100-form-btn">
                            Uredi
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="izbrisi-dogodek-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <legend>Ali želite izbrisati dogodek?</legend>
                <div class="container-nav100-form-btn">
                    <div class="nav-item navigation-nav100-form-btn" data-dismiss="modal" data-target="#izbrisi-dogodek-modal">
                        <button class="login100-form-btn">
                            Prekliči
                        </button>
                    </div>
                    <div class="nav-item navigation-nav100-form-btn" ng-click='vm.izbrisi()'>
                        <button class="login100-form-btn">
                            Izbriši
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>