<navigacija></navigacija>

<div class="limiter">
    <div class="container-main100">
        <div class="wrap-main100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4" ng-repeat="dogodek in vm.dogodki">
                        <div class="card" ng-click="vm.prikazi(dogodek._id)">
<!--                            <img class="card-img-top" src="https://picsum.photos/200/150/?random">-->
                            <div class="card-block">
                                <h4 class="card-title">{{ dogodek.naziv }}</h4>
                                <div class="meta">
                                    <a>{{dogodek.organizator}}</a>
                                </div>
                                <div class="card-text">
                                    {{dogodek.opis}}
                                </div>
                            </div>
                            <div class="card-footer">
                                <span>
                                    <i class="">Začetek: </i>{{dogodek.datum | formatirajDatum}} @ {{dogodek.datum | formatirajUro}}
                                </span>
                                <span ng-show="dogodek.datumDo">
                                    <br>
                                    <i class="">Konec: </i>{{dogodek.datumDo | formatirajDatum}} @ {{dogodek.datumDo | formatirajUro}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="login100-form-btn col-4" style="margin:0 auto;"
                        data-toggle="modal" data-target="#dodaj-dogodek-modal" ng-show="vm.vloga==2">
                    Dodaj dogodek
                </button>
            </div>
        </div>
    </div>
</div>

<div id="dodaj-dogodek-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <form id="dogodekForm" name="dogodekForm" novalidate
                      ng-submit="vm.ustvari(dogodekForm.$valid)">

                    <legend>Dodaj dogodek</legend>

                    <div class="form-group required">
                        <label class="control-label" for="naziv">Naziv:</label>
                        <input class="form-control" id="naziv" type="text" name="naziv" required placeholder="Naziv dogodka"
                               ng-model="vm.dogodek.naziv">
                        <p ng-show="eventForm.naziv.$invalid && !eventForm.naziv.$pristine" class="help-block">
                            Naziv dogodka je obvezen parameter.
                        </p>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="naziv">Organizator:</label>
                        <input class="form-control" id="organizator" type="text" name="organizator" placeholder="Organizator dogodka"
                               ng-model="vm.dogodek.organizator">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="naziv">Opis:</label>
                        <textarea class="form-control" id="opis" type="text" name="opis" placeholder="Opis dogodka"
                                  rows="4" ng-model="vm.dogodek.opis"></textarea>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="naziv">Čas začetka:</label>
                        <input class="form-control" id="datum" type="datetime-local" name="datum" required placeholder="Datum dogodka"
                               ng-model="vm.dogodek.datum">
                        <p ng-show="eventForm.datum.$invalid && !eventForm.datum.$pristine" class="help-block">
                            Datum dogodka je obvezen parameter.
                        </p>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="naziv">Čas konca:</label>
                        <input class="form-control" id="datumDo" type="datetime-local" name="datumDo"  placeholder="Datum konca dogodka"
                               ng-model="vm.dogodek.datumDo">
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="pull-right">
                                <button type='button' class="btn btn-default" data-dismiss="modal" data-target="#dodaj-dogodek-modal">Prekliči</button>
                                <button type="submit" class="btn btn-primary">Ustvari</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>