<navigacija></navigacija>

<div class="limiter">
    <div class="container-main100">
        <div class="wrap-main100">
            <div class="container">
                <div class="card">
                    <div class="card-block">
                        <form id="dogodekForm" name="dogodekForm" novalidate
                              ng-submit="vm.potrdi(dogodekForm.$valid)">

                            <div class="form-group required">
                                <label class="control-label" for="naziv">Naziv:</label>
                                <input class="form-control" id="naziv" type="text" name="naziv" required placeholder="Naziv dogodka"
                                       ng-model="vm.dogodek.naziv">
                                <p ng-show="eventForm.naziv.$invalid && !eventForm.naziv.$pristine" class="help-block">
                                    Naziv dogodka je obvezen parameter.
                                </p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="naziv">Organizator:</label>
                                <input class="form-control" id="organizator" type="text" name="organizator" placeholder="Organizator dogodka"
                                       ng-model="vm.dogodek.organizator">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="naziv">Opis:</label>
                                <textarea class="form-control" id="opis" type="text" name="opis" placeholder="Opis dogodka"
                                          rows="4" ng-model="vm.dogodek.opis"></textarea>
                            </div>

                            <div class="form-group required">
                                <label class="control-label" for="naziv">Datum:</label>
                                <input class="form-control" id="datum" type="datetime-local" name="datum" required placeholder="Datum dogodka"
                                       ng-model="vm.dogodek.datum">
                                <p ng-show="eventForm.datum.$invalid && !eventForm.datum.$pristine" class="help-block">
                                    Datum dogodka je obvezen parameter.
                                </p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="naziv">Datum konca:</label>
                                <input class="form-control" id="datumDo" type="datetime-local" name="datumDo"  placeholder="Datum konca dogodka"
                                       ng-model="vm.dogodek.datumDo">
                            </div>

                        </form>
                    </div>
                </div>

                <br>
                <div class="container-nav100-form-btn">
                    <div style="float: left" class="nav-item navigation-nav100-form-btn" ng-click='vm.preklici()'>
                        <button class="login100-form-btn">
                            Prekliči
                        </button>
                    </div>

                    <div style="float: right" class="nav-item navigation-nav100-form-btn">
                        <input class="login100-form-btn" type="submit" value="Potrdi" form="dogodekForm">
                    </div>
                </div>

                <br>
                <div class="alert alert-success top-buffer" role="alert"
                     ng-if="vm.alert.urejeno">
                    <strong>Juhuhu!</strong> Dogodek je bil uspešno posodobljen.
                </div>
                <div class="alert alert-info top-buffer" role="alert"
                     ng-if="vm.alert.urejanje">
                    <strong>Samo trenutek ...</strong> posodabljamo dogodek.
                </div>
                <div class="alert alert-danger top-buffer" role="alert"
                     ng-if="vm.alert.napaka">
                    <strong>Ti šment!</strong> Pri posodabljanju dogodka je prišlo do napake.
                </div>
                <div class="alert alert-warning top-buffer" role="alert"
                     ng-if="vm.alert.warning">
                    <strong>Warning!</strong> Please specify event location by clicking on the map.
                </div>

            </div>
        </div>
    </div>
</div>