<navigacija></navigacija>

<div class="limiter">
	<div class="container-main100">
		<div class="wrap-main100">

            <script>

            var app = angular.module("MapCtrl", []); 
            
            </script>

            <div ng-controller="MapCtrl">
                <div id="map"></div>
                <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
                 <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
                 <label id="names" >{{marker.title}}</label></a>
                </div>
            </div>
		</div>
	</div>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>