<navigacija></navigacija>

<div class="limiter">
	<div class="container-main100">
		<div class="wrap-main100">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-6">
					<!--KOLEDAR-->
					<button class="login100-form-btn col-4" style="margin:0 auto;" data-toggle="modal" data-target="#dodaj-dogodek-modal">
						Dodaj dogodek
					</button>
					<br>
					<div ui-calendar="uiConfig.calendar" ng-model="vm.eventSources"></div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">
					<!--Dodajanje dogodkov/aktivnsti-->
					<button class="login100-form-btn col-4" style="margin:0 auto;" data-toggle="modal" data-target="#dodaj-TODO-modal">
						Dodaj TODO
					</button>
					<div class="cards container">
						<div class="col-sm-12 col-md-12 col-lg-6 mt-6 padding-top-5" ng-repeat="todo in vm.todos">
							<div class="flex-row">
			                	<div class="notice notice-info todo-content" ng-click='vm.showEdit(todo.id)'>{{ todo.opis }}</div>
			                	<div class='todo-close' style="cursor: pointer;" ng-click='vm.deleteTodo(todo.id)'><strong>x</strong></div>
							</div>
			            </div>
			        </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="dodaj-dogodek-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<form id="dogodekForm" name="dogodekForm" novalidate
					  ng-submit="vm.ustvari(dogodekForm.$valid)">

					<legend>Dodaj dogodek</legend>

					<div class="form-group required">
						<label class="control-label" for="naziv">Naziv:</label>
						<input class="form-control" id="naziv" type="text" name="naziv" required placeholder="Naziv dogodka"
							   ng-model="vm.dogodek.naziv">
						<p ng-show="eventForm.naziv.$invalid && !eventForm.naziv.$pristine" class="help-block">
							Naziv dogodka je obvezen parameter.
						</p>
					</div>

					<div class="form-group">
						<label class="control-label" for="naziv">Organizator:</label>
						<input class="form-control" id="organizator" type="text" name="organizator" placeholder="Organizator dogodka"
							   ng-model="vm.dogodek.organizator">
					</div>

					<div class="form-group">
						<label class="control-label" for="naziv">Opis:</label>
						<textarea class="form-control" id="opis" type="text" name="opis" placeholder="Opis dogodka"
								  rows="4" ng-model="vm.dogodek.opis"></textarea>
					</div>

					<div class="form-group required">
						<label class="control-label" for="naziv">Čas začetka:</label>
						<input class="form-control" id="datum" type="datetime-local" name="datum" required placeholder="Datum dogodka"
							   ng-model="vm.dogodek.datum">
						<p ng-show="eventForm.datum.$invalid && !eventForm.datum.$pristine" class="help-block">
							Datum dogodka je obvezen parameter.
						</p>
					</div>

					<div class="form-group">
						<label class="control-label" for="naziv">Čas konca:</label>
						<input class="form-control" id="datumDo" type="datetime-local" name="datumDo"  placeholder="Datum konca dogodka"
							   ng-model="vm.dogodek.datumDo">
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="pull-right">
								<button type='button' class="btn btn-default" data-dismiss="modal" data-target="#dodaj-dogodek-modal">Prekliči</button>
								<button type="submit" class="btn btn-primary">Ustvari</button>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>

	</div>
</div>

<div id="dodaj-TODO-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
	     <div class="modal-content">
	        <div class="modal-body">
	          	<form class="form-horizontal" role="form" name="TODOForm" ng-submit="vm.createTODO()">
	          	<fieldset>
	  
	            <!-- Form Name -->
	            <legend>Dodaj TODO</legend>
	  
	            <!-- Text input-->
	            <div class="form-group">
	              	<label class="col-sm-2 control-label">Opis</label>
	              	<div class="col-sm-12">
	              		<textarea class="form-control" rows="4" cols="50" ng-model='vm.newTodo.opis'></textarea>
	              	</div>
	            </div>
	  
	            <div class="form-group">
	              	<div class="col-sm-offset-2 col-sm-10">
	                	<div class="pull-right">
									<button type='button' class="btn btn-default" data-dismiss="modal" data-target="#dodaj-TODO-modal">Cancel</button>
	                  		<button type="submit" class="btn btn-primary">Save</button>
	                	</div>
	            	</div>
	            </div>
	          	</fieldset>
	        </form>
	        </div>
	     </div>
    </div>
</div>

<div id="uredi-TODO-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
	     <div class="modal-content">
	        <div class="modal-body">
	          	<form class="form-horizontal" role="form" name="TODOEditForm" ng-submit="vm.editTODO()">
	          	<fieldset>
	  
	            <!-- Form Name -->
	            <legend>Uredi TODO</legend>
	  
	            <!-- Text input-->
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" >Opis</label>
	              	<div class="col-sm-12">
	              		<textarea class="form-control" rows="4" cols="50" ng-model='vm.editTodo.opis'></textarea>
	              	</div>
	            </div>
	  
	            <div class="form-group">
	              	<div class="col-sm-offset-2 col-sm-10">
	                	<div class="pull-right">
							<button type='button' class="btn btn-default" data-dismiss="modal" data-target="#dodaj-TODO-modal">Cancel</button>
	                  		<button type="submit" class="btn btn-primary">Save</button>
	                	</div>
	            	</div>
	            </div>
	          	</fieldset>
	        </form>
	        </div>
	     </div>
    </div>
</div>