<navigacija></navigacija>

<div class="limiter">
    <div class="container-main100">
        <div class="wrap-main100">
            <div class="container">
               <row class="text-center">
                   <h1>NASTAVITVE</h1>
               </row>
               <hr>
               <row class="text-center">
                   <div class="nav-item navigation-nav100-form-btn" style="margin:0 auto;">
					<button class="login100-form-btn" data-toggle="modal" data-target="#spremeni-geslo-modal">
						Spremeni geslo
					</button>
				</div>
               </row>
            </div>
        </div>
    </div>
</div>

<div id="spremeni-geslo-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<form class="form-horizontal" role="form" name="gesloForm" ng-submit="vm.spremeniGeslo()">
					<fieldset>

						<!-- Form Name -->
						<legend>Spremeni geslo</legend>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-6 control-label" for="input-current">Current password:</label>
							<div class="col-sm-12">
								<input type="password" class="form-control" ng-model='vm.spremembaGeslaPodatki.password' id="input-current">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-6 control-label" for="input-new">New password:</label>
							<div class="col-sm-12">
								<input type="password" class="form-control" ng-model='vm.spremembaGeslaPodatki.newpass' id="input-new">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-6 control-label" for="input-confirm">Confirm new password:</label>
							<div class="col-sm-12">
								<input type="password" class="form-control" ng-model='vm.spremembaGeslaPodatki.confpass' id="input-confirm">
							</div>
						</div>


                    <div class="form-group">
    	              	<div class="col-sm-offset-2 col-sm-10">
    	                	<div class="pull-right">
    							<button type='button' class="btn btn-default" data-dismiss="modal" data-target="">Cancel</button>
    	                  		<button type="submit" class="btn btn-primary" data-target="">Save</button>
    	                	</div>
    	            	</div>
    	            </div>
					</fieldset>
				</form>
			</div>
		</div>

	</div>
</div>