<navigacija></navigacija>

<div class="limiter">
    <div class="container-main100">
        <div class="wrap-main100">
            <div class="container">
                <div class="row">
                    <div class="col-12" ng-repeat="obvestilo in vm.obvestila">
                        <div class="card" ng-click="vm.prikazi(obvestilo._id)">
                            <div class="card-block">
                                <h4 class="card-title">{{ obvestilo.message }}</h4>
                            </div>
                            <div class="card-footer">
                                <span>
                                    <i class=""></i>{{obvestilo.datum | formatirajDatum}} @ {{obvestilo.datum | formatirajUro}}
                                </span>
                                <span style="float: right;" ng-show="vm.vloga==3">
                                    <i class=""></i>status: {{obvestilo.aktivno ? 'Aktivno' : 'Neaktivno'}}
                                </span>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <button class="login100-form-btn col-4" style="margin:0 auto;"
                        data-toggle="modal" data-target="#dodaj-obvestilo-modal" ng-click="vm.dodaj()" ng-show="vm.vloga==3">
                    Dodaj obvestilo
                </button>
            </div>
        </div>
    </div>
</div>

<div id="dodaj-obvestilo-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <form id="dogodekForm" name="dogodekForm" novalidate
                      ng-submit="vm.ustvari(dogodekForm.$valid)">

                    <legend>Dodaj obvestilo</legend>

                    <div class="form-group">
                        <label class="control-label" for="message">Opis:</label>
                        <textarea required class="form-control" id="message" type="text" name="message" placeholder="Uvesi sporočilo"
                                  rows="4" ng-model="vm.obvestilo.message"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="message">Aktivno:</label>
                        <br>
                        <!-- Rounded switch -->
                        <label class="switch">
                            <input type="checkbox" ng-model="vm.obvestilo.aktivno">
                            <span class="slider round"></span>
                        </label>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-offset-0 col-sm-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-error" ng-show="vm.action=='prikazi'" ng-click="vm.opozoriloIzbris()">Izbriši</button>
                                <button type="submit" class="btn btn-primary" ng-show="vm.action=='prikazi'" style="float: right;">Posodobi</button>
                                <button type='button' class="btn btn-default" data-dismiss="modal" data-target="#dodaj-obvestilo-modal" style="float: right;">Prekliči</button>
                                <button type="submit" class="btn btn-primary" ng-show="vm.action=='ustvari'">Ustvari</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

<div id="izbrisi-obvestilo-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <legend>Ali želite izbrisati obvestilo?</legend>
                <div class="container-nav100-form-btn">
                    <div class="nav-item navigation-nav100-form-btn" data-dismiss="modal" data-target="#izbrisi-dogodek-modal">
                        <button class="login100-form-btn">
                            Prekliči
                        </button>
                    </div>
                    <div class="nav-item navigation-nav100-form-btn" ng-click='vm.izbrisi(vm.obvestilo._id)'>
                        <button class="login100-form-btn">
                            Izbriši
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>