<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">

			<form class="login100-form validate-form" name="LoginForm" ng-submit="vm.posiljanjePodatkov()">
				<span class="login100-form-title">
					StraightAs
				</span>
				<div style="text-align: center; color:#808080;">Quote of the day:</div>
				<div style="text-align: center;color:#000000;">Did I stutter?</div>
				<hr>


				<div class="wrap-input100 validate-input" data-validate = "Zahtevano je veljavno uporabniško ime!">
					<input class="input100" type="text" name="email" placeholder="Email" ng-model="vm.prijavniPodatki.email">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-group" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Zahtevano je veljavno geslo">
					<input class="input100" type="password" name="password" placeholder="Geslo" autocomplete="off" ng-model="vm.prijavniPodatki.password">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="container-login100-form-btn">
					<input class="login100-form-btn" id="btnCreateAccount" type="submit" value="Prijava" >
					</input>
				</div>

				<div class="text-center p-t-12">
					<span class="txt1">
						Pozabil
					</span>
					<a class="txt2" href="#" data-toggle="modal" data-target="#spremeni-geslo-modal">
						Geslo?
					</a>
				</div>

				<div class="text-center p-t-136">
					<a class="txt2" href="/registracija" id="btnRegister" value="Register">
						Registriraj se!
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="spremeni-geslo-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<form class="form-horizontal" role="form" name="dogodekForm" ng-submit="vm.spremeniGeslo()">
					<fieldset>
	
						<!-- Form Name -->
						<legend>Pozabljeno geslo</legend>
	
						<!-- Text input-->
						<div class="form-group">
							<div class="col-sm-12">
								<input type="password" class="form-control" ng-model='vm.novogeslo'>
							</div>
						</div>
	
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="pull-right">
									<!---<button type="submit" class="btn btn-default">Cancel</button>--->
									<button type="submit" class="btn btn-primary">Potrdi</button>
								</div>
							</div>
						</div>
	
					</fieldset>
				</form>
			</div>
		</div>
  
    </div>
</div>