
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">

			<form class="login100-form validate-form" name="RegistrationForm" ng-submit="vm.posiljanjePodatkov()" >
				<span class="login100-form-title">
					Registriraj se !
				</span>
				<div style="text-align: center;">Vpiši podatke</div>
				<hr>
				
				<div class="wrap-input100 validate-input" data-validate = "Zahtevan je veljaven email!" >
					<input class="input100" type="text" name="email" placeholder="Elektronska pošta" ng-model="vm.prijavniPodatki.email">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-group" aria-hidden="true"></i>
					</span>
				</div>
				

				<div class="wrap-input100 validate-input" data-validate = "Zahtevano je veljavno geslo" >
					<input class="input100" type="password" name="password" placeholder="Geslo" ng-model="vm.prijavniPodatki.password">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				
				<div class="wrap-input100 validate-input" data-validate = "Gesla se morajo ujemati">
					<input class="input100" type="password" name="confpass" autocomplete="off" placeholder="Podtrditev gesla" ng-model="vm.prijavniPodatki.confpass">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				
				<div class="container-login100-form-btn">
					<input class="login100-form-btn" type="submit" value="Registracija">
					</input>
				</div>
				
				<hr>

				<div class="text-center">
					<a class="txt2" href="/prijava">
						Prekliči
					</a>
				</div>
			</form>
		</div>
	</div>
	
	<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	
</div>
