<div ng-if="vm.urnikData.jeZeData == false">
<div class="modal-content">
    <form id="dodajKomentar" name="dodajKomentar" ng-submit="vm.posiljanjePodatkov()" role="form" class="form-horizontal">
        <div class="modal-header">
            <h4 id="oznakaModalnegaOkna" class="modal-title">Submit class for: {{ vm.hashDan[vm.urnikData.dan] }} at {{ vm.hashUra[vm.urnikData.ura] }}</h4>
            <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
                <span aria-hidden="true">x</span><span class="sr-only">Close</span>
            </button>

        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input id="title" name="title" required="required" ng-model="vm.podatkiObrazca.title" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default btn-sm">Cancel</button>
            <button type="submit" class="btn btn-primary btn-sm">Submit class</button>
        </div>
        <div ng-if="vm.suc == 'success'" id="alert-message" class="alert alert-success">Class saved!
        </div>
    </form>
</div>
</div>
<div ng-if="vm.urnikData.jeZeData == true">
    <div class="modal-content">
        <form id="deletaj" name="dodajKomentar" ng-submit="vm.Deletaj()" role="form" class="form-horizontal">
            <div class="modal-header">
                <h4 id="oznakaHcetiri" class="modal-title">Are you sure you want to delete this class?</h4>
                <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
                    <span aria-hidden="true">x</span><span class="sr-only">Close</span>
                </button>

            </div>
            <div class="modal-footer">
                <button ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default btn-sm">Cancel</button>
                <button type="submit" class="btn btn-danger btn-sm">Delete class</button>
            </div>
            <div ng-if="vm.suc == 'success'" id="alert-messagee" class="alert alert-success">Class deleted!
            </div>
        </form>
    </div>
</div>