<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'over'">
    <mat-toolbar>Main Menu</mat-toolbar>
    <mat-nav-list>
      <a [hidden]="!isRegisteredUser()" (click)="drawer.toggle()" mat-list-item routerLink="../home">Home</a>
      <a [hidden]="isAdmin() || isUpravljalec()" (click)="drawer.toggle()" mat-list-item routerLink="../food">Food</a>
      <a [hidden]="!isRegisteredUser()" (click)="drawer.toggle()" mat-list-item routerLink="../events">Events</a>
      <a [hidden]="isAdmin() || isUpravljalec()" (click)="drawer.toggle()" mat-list-item routerLink="../bus">Bus</a>
      <a [hidden]="!isUpravljalec()" (click)="drawer.toggle()" mat-list-item routerLink="../upravljalec">Event Manager</a>
      <a [hidden]="!isAdmin()" (click)="drawer.toggle()" mat-list-item routerLink="../admin">Administrator</a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="../systemmessages">System messages</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button [hidden]="!this.tokenExists() && !isGuest()"
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>StraightAs</span>
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
          <button mat-icon-button [matMenuTriggerFor]="auth" [hidden]="!this.tokenExists() && !isGuest()">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #auth="matMenu">
            <button [hidden]="!isRegisteredUser()" mat-menu-item routerLink="../replace">
              <mat-icon>exit_to_app</mat-icon>
              <span>Change Password</span>
            </button>
            <button [hidden]="this.tokenExists()" mat-menu-item routerLink="..">
              <mat-icon>exit_to_app</mat-icon>
              <span>Login</span>
            </button>
            <button [hidden]="isGuest()" mat-menu-item (click)="this.logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </div>
        <span [hidden]="!this.tokenExists()" [innerText]="this.getUsername()"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="align-content-center">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
