<navigation></navigation>
<main class="container" role="main">
    <div class="card-body">
        
        <div class="row">
            <div class="col" ng-if="vm.message">
                <div class="alert alert-danger" role="alert">{{ vm.message }}</div>
            </div>
        </div> 
        <div class="row" >
            <h2>Restavracije</h2>
            <div class="text-right">
                <button class="btn btn-primary" style="margin:15px;" type="submit" ng-click="vm.getAllRestaurants()">Vse</button>
                <button class="btn btn-primary" type="submit" ng-click="vm.getNearestRestaurants()">Najblizje</button>
            </div>
        </div>
        <small>S klikom na restavracijo se prikaze njena lokacija na zemljevidu.</small>
        <div class="row" >
            <div style="height:550px; overflow:auto; margin-bottom: 25px;">
                <table class="table" ng-if="vm.data.restaurants">
                    <thead>
                        <tr>
                            <th>Restavracija</th>
                            <th class="text-center">Geo-Lokacija</th>
                            <th class="text-center">Naslov</th>
                            <th class="text-center">Doplacilo</th>
                            <th class="text-center">Mesto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="restaurant in vm.data.restaurants" ng-click="vm.showRestaurantLocation(restaurant)">
                            <th>{{restaurant.lokal}}</th>
                            <td class="text-center">{{restaurant.lat}} , {{restaurant.lon}}</td>
                            <td class="text-center">{{restaurant.naslov}}</td>
                            <td class="text-center">{{restaurant.doplacilo}} €</td>
                            <td class="text-center">{{restaurant.city}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="container">
                  <div class="embed-responsive embed-responsive-4by3">
                  <iframe frameborder="0"
                          class="embed-responsive-item"
                          scrolling="no"
                          marginheight="0"
                          marginwidth="0"
                          ng-src="{{vm.osmUrl}}"
                          style="border: 1px solid #ced4da; border-radius: .25rem">
                  </iframe>
                  </div>
            </div>
        </div>
    </div>
</main>