<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput #input placeholder="Enter event name" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Type name of organizer" formControlName="organizer" min="0" max="23">
    <mat-error class="error-message" *ngIf="form.get('organizer').dirty">Field must not be empty.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Add event description"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="month" [startAt]="date">{{date}}</mat-datepicker>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Cancel</button>
  <button class="mat-raised-button mat-primary"[disabled]="!this.form.valid" (click)="save()">Save</button>
</mat-dialog-actions>
