<navigacija></navigacija>
<div class="container mycontainer">
    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Potrjevanje emaila
            </div>
            <div class="panel-body">
                Čakam na potrjen email
                <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger" id="sporocilo">{{ vm.napakaNaObrazcu }}</div>
            </div>
        </div>
    </div>
</div>