<navigacija></navigacija>

<div class="row page-header">
    <div class="col-lg-12">
        <h1 style="text-align:center;">{{ vm.glavaStrani.naslov }}</h1>
    </div>
    <p class="lead" style="text-align:center;">Not registered yet? Please <a href="/registracija?stran={{ vm.prvotnaStran }}">register</a>.</p>
</div>
<form class="form-horizontal" autocomplete="off" ng-submit="vm.posiljanjePodatkov()">
    <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
    <div class="form-group"><label class="col-lg-2 control-label" for="inputEmail">Email</label>
        <div class="col-lg-9"><input class="form-control" ng-model="vm.prijavniPodatki.email" name="inputEmail" type="text" placeholder="Email" /></div>
    </div>
    <div class="form-group"><label class="col-lg-2 control-label" for="inputPassword">Password</label>
        <div class="col-lg-9"><input class="form-control" ng-model="vm.prijavniPodatki.password" name="inputPassword" type="password" placeholder="Password" /></div>
    </div>
    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-2"><button class="btn btn-default" type="reset">Cancel</button><button class="btn btn-primary" type="submit">Login</button></div>
    </div>
</form>