<link rel="stylesheet" href="/stylesheets/navigation_style.css"/> 
<!--<link rel="stylesheet" href="../../../../../public/stylesheets/navigation_style.css"/>-->

<div class="container_nav">
    <a ng-href="/food">
        <div class="nav_man nav_h">
            Food
        </div>
    </a>
    <a ng-href="/trola">
        <div class="nav_profile nav_h">
            Bus
        </div>
    </a>
    <a ng-href="/">
        <div class="nav_profile nav_h">
            Login
        </div>
    </a>
</div>