extends layout
block content
  .container
    .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.form_container.colorIt123
      form(autocomplete='on' onsubmit='return false')
        .form-group
          label(for='postaja') Avtobusna postaja:
          input#postaja.form-control(placeholder='Avtobusna postaja', required='')
        .text-right
          button#btn_vnos.btn.btn-primary(type='button' onclick='potrdi_vnos_avtobusne_postaje()') Potrdi vnos
    script(src='../javascripts/PogledAvtobusi.js' type='text/javascript')
    
  