extends layout
block content
    .container
      .form_container.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        .form_title
    div#koledar  
      #calendar-container
        #calendar-header
          button.mesec_sprememba_button(onclick='odstej_mesec()') <
          span#calendar-month-year
          button.mesec_sprememba_button(onclick='pristej_mesec()') >
        #calendar-dates
        button#prikazi_spreminjanje_koledar_button(onclick='prikazi_list_za_spreminjanje_vnosa_v_koledar()') *
        button#prikazi_brisanje_koledar_button(onclick='prikazi_list_za_brisanje_vnosa_v_koledar()') -
        button#prikazi_vnos_koledar_button(onclick='prikazi_obrazec_za_dodajanje_vnosa_v_koledar()') +
      #koledar_vnos.form_vnos_koledar_popup
        form.form-container
          h1#eventTitle Calendar Event
          label(for='Name')
            b Name
          input#name(type='text', name='name', required='')
          label(for='Time')
            b Time
          input#time(type='text', name='time', required='')
          label(for='Duration')
            b Duration
          input#duration(type='text', name='duration', required='')
          label(for='Description')
            b Description
          div
          textarea#description(rows='5', cols='70', name='description', required='')
          button.btn(type='button', onclick='potrdi_dodajanje_vnosa_v_koledar()') Save changes
          button.btn.cancel(type='button', onclick='preklici_dodajanje_vnosa_v_koledar()') Close
      #koledar_spreminjanje.form_vnos_koledar_popup
        form.form-container
          h1#eventTitle Calendar Event
          label(for='Name')
            b Name
          input#name_spreminjanje(type='text', name='name', required='')
          label(for='Time')
            b Time
          input#time_spreminjanje(type='text', name='time', required='')
          label(for='Duration')
            b Duration
          input#duration_spreminjanje(type='text', name='duration', required='')
          label(for='Description')
            b Description
          div
          textarea#description_spreminjanje(rows='5', cols='70', name='description', required='')
          button.btn(type='button', id="btn_spreminjanje",onclick='potrdi_spreminjanje_vnosa_v_koledar()') Save changes
          button.btn.cancel(type='button', onclick='preklici_spreminjanje_vnosa_v_koledar()') Close
    
    div#todo
      div#todoHeader
        button.mesec_sprememba_button(onclick='prikazi_dodajanje()') + 
        button.mesec_sprememba_button(onclick='prikazi_odstranjevanje()') -
        button.mesec_sprememba_button(onclick='prikazi_spreminjanje()') *
        
      div#todoBody
      #todo_dodajanje.form_vnos_koledar_popup
        form.form-container
          h1#eventTitle TODO
          label(for='Description')
            b Description
          div
          textarea#description_todo_dodajanje(rows='20', cols='80', name='description_todo_dodajanje', required='')
          button.btn(type='button', id="btn_todo_dodajanje",onclick='potrdi_dodajanje_vnosa_v_todo()') Save changes
          button.btn.cancel(type='button', onclick='preklici_dodajanje_vnosa_v_todo()') Close
      #todo_spreminjanje.form_vnos_koledar_popup
        form.form-container
          h1#eventTitle TODO
          label(for='Description')
            b Description
          div
          textarea#description_todo_spreminjanje(rows='20', cols='80', name='description_todo_spreminjanje', required='')
          button.btn(type='button', id="btn_todo_dodajanje",onclick='potrdi_spreminjanje_vnosa_v_todo()') Save changes
          button.btn.cancel(type='button', onclick='preklici_dodajanje_vnosa_v_todo()') Close


    div#urnik
      #urnik_dodajanje.form_vnos_koledar_popup
        form.form-container
          h1#eventTitle Urnik Event
          label(for='Name')
            b Name
          input#ime_urnik_dodajanje(type='text', name='name', required='')
          label(for='Time')
            b Time
          input#cas_urnik_dodajanje(type='text', name='time', required='')
          label(for='Duration')
            b Color
          select#barva_urnik_dodajanje(type='color', name='barva', required='')
            option(value='#ff0000') Red
            option(value='#00ff00') Green
          button.btn(type='button', id="btn_urnik_dodajanje",onclick='potrdi_dodajanje_vnosa_v_urnik()') Save changes
          button.btn.cancel(type='button', onclick='preklici_dodajanje_vnosa_v_urnik()') Close
      
      #urnik_spreminjanje.form_vnos_koledar_popup
        form.form-container
          h1#eventTitle Urnik Event
          label(for='Name')
            b Name
          input#ime_urnik_spreminjanje(type='text', name='name', required='')
          label(for='Time')
            b Time
          input#cas_urnik_spreminjanje(type='text', name='time', required='')
          label(for='Duration')
            b Color
          select#barva_urnik_spreminjanje(type='color', name='barva', required='')
            option(value='#ff0000') Red
            option(value='#00ff00') Green
          button.btn(type='button', id="btn_urnik_spreminjanje",onclick='potrdi_spreminjanje_vnosa_v_urnik()') Save changes
          button.btn.cancel(type='button', onclick='preklici_dodajanje_vnosa_v_urnik()') Close
 
      
    script(src='../javascripts/koledar_handler.js' type='text/javascript')
    script(src='../javascripts/urnik_handler.js' type='text/javascript')
    script(src='../javascripts/todo_handler.js' type='text/javascript')
