extends layout
block content
  .container
    .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.form_container.colorIt123
      .form_title
        | Sprememba gesla
        if napaka
          #napaka= napaka
      form(autocomplete='on', method="post", action="/sprememba_gesla")
        //.form-group
          //#napaka
        .form-group
          label(for='input_email') Staro geslo
          input#input_email.form-control(type='password', name="password1", passwrod1='pass1', required='')
        .form-group
          label(for='input_password') Novo geslo
          input#input_password.form-control(type='password', name="password2", password2='pass2', required='')
        .text-right
          button#btn_login.btn.btn-success(type='submit', value="Submit") Sprememba gesla
    script(src='../javascripts/login_handler.js' type='text/javascript')