extends layout
block content
  .container
    .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.form_container.colorIt123
      .form_title
        | Prijava
        if napaka
          #napaka= napaka
      form(autocomplete='on', method="post", action="/prijava")
        //.form-group
          //#napaka
        .form-group
          label(for='input_email') Email naslov
          input#input_email.form-control(type='email', name="email", email='Email', required='')
        .form-group
          label(for='input_password') Geslo
          input#input_password.form-control(type='password', name="pass", password='Geslo', autocomplete='off', required='')
        .text-right
          button#btn_login.btn.btn-success(type='submit', value="Submit") Prijava
    script(src='../javascripts/login_handler.js' type='text/javascript')