<link rel="stylesheet" href="stylesheets/event_okno.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="modal-content">
    <div class="form_wrapper">
        <div class="form_text">Confirm deletion:</div>
        <form class="form_wrapper" method="POST" id="eventForm" ng-submit="" autocomplete="off">
            <div class="info_wrapper">
                <div class="event_txt">Are you sure you want to delete this content?</div>
                <div class="btn_wrapper">
                    <button class="button button_green button_login" ng-click="vm.modalnoOknoPreklic.preklici()">Cancel</button>  
                    <button class="button button_green button_login" ng-click="vm.izbrisi()">Confirm</button>  
                </div>
            </div> 
        </form>
    </div>
</div>