<navigation></navigation>
<main class="container" role="main">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            
            <div class="row">
                <div class="container" ng-if="vm.message">
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">{{ vm.message }}</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-row" ng-if="!vm.oldpasscorrect">
                <div class="form-group col-md-12">
                    <label for="password1">Vase staro geslo</label>
                    <input class="form-control" id="password1" type="password" placeholder="Vase staro geslo" ng-model="vm.password1" required>
                </div>
            </div>
            <div class="form-row" ng-if="!vm.oldpasscorrect">
                <div class="form-group col-md-12">
                    <label for="password2">Ponovno vnesite vase staro geslo</label>
                    <input class="form-control" id="password2" type="password" placeholder="Vase staro geslo" ng-model="vm.password2" required>
                </div>
            </div>
            <div class="form-row" ng-if="vm.oldpasscorrect">
                <div class="form-group col-md-12">
                    <label for="password2">Vnesite novo geslo</label>
                    <input class="form-control" id="newpassword" type="password" placeholder="" ng-model="vm.newpassword" required>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" ng-click="vm.validatePassword()" ng-if="!vm.oldpasscorrect">Sprememba gesla</button>
            <button class="btn btn-primary" type="submit" ng-click="vm.changePassword()" ng-if="vm.oldpasscorrect">Sprememba gesla</button>
        </div>
    </div>
</main>
