.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /*
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Reduce default button roundness */
Button {
  border-radius: 2 !important;
}

/* App name in navbar */
nav .navbar-brand{
  font-size: 23px;
}

/* Links in navbar */
nav .nav-link{
  font-size: 21px;
}

/* Link section in navbar */
nav .navbar-nav{
  margin-left: 100px;
}

/* Form title values*/
.LargeMain{
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 20px;
}

.MediumMain{
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
}

.SmallMain{
  font-size: 18px;
  font-weight: bold;
}

.Center{
  text-align: center; 
}

.Right{
  margin-left: auto;
}

.Border-none{
  padding: 0px;
}

.Width-100{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.Pad-right-none{
  padding-right: 0px;
}

/* Form specific values */
.FormContainer {
  margin: auto;
  margin-top: 100px;
  width: 450px;
  background-color: rgb(247, 247, 247);
}

.BusContainer {
  margin: auto;
  margin-top: 50px;
  width: 550px;
  background-color: rgb(247, 247, 247);
}

.HomeContainerLeft {
  margin: auto;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 15px;
  background-color: rgb(247, 247, 247);
}

.Large {
  font-size: 40px;
}

/* Emotes used on specific pages*/
.Emote-sm {
  font-size: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Vertical spacing */
.BottomSpacing-sm{
  margin-bottom: 20px;
}

.TopSpacing-md{
  margin-top: 35px;
}

.list-group-item-danger{
  color: rgb(0, 0, 0);
}

/* TODO */

.TodoContainer {
  margin-top: 15px;
  margin-right: 15px;
  background-color: rgb(247, 247, 247);
}

.TodoContainerButton{
  margin: 5px 5px 5px 15px;
}

.TodoCardCollumn{
  margin: 10px 10px 5px 10px;
}

.TodoMainTitlePadding{
  padding: 0px 0px 0px 15px
}

/* Schedule */
.ScheduleContainer{
  margin: auto;
  margin-top: 15px;
  margin-left: 15px;
  background-color: rgb(247, 247, 247);
  table-layout: fixed;
}

.ScheduleHour{
  font-size : 18px;
}

.ScheduleDay{
  font-size : 18px;
}

.ScheduleRow{
  width: 20%;
}

.ScheduleRow td{
  padding-top: 3px;
  padding-bottom: 3px;
}

.ScheduleAddRemove{
  margin-left: 2px;
  margin-right: 2px;
  font-weight: bold;
}

.SceduleNewModal{
  width: 400px;
}

/* Calendar */
.CalendarDayNumber{
  font-size: 13px;
}

.CalendarTitleMargin{
  margin-left: 25px;
  margin-right: 25px;
}

/* Event */
.EventViewerContainer{
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
  table-layout: fixed;
  background-color: rgb(247, 247, 247);
}

.EventManagerRow{
  height: 75px;
}

.CalendarRow{
  height: 50px;
}

.CalendarDateBox{
  margin-bottom: 15px;
}

.EventManagerContainer{
  margin-top: 25px;
  margin-left: 10%;
  width:80%;
  table-layout: fixed;
  background-color: rgb(247, 247, 247);
}

.SystemMessageContainer{
  margin: auto;
  margin-top: 100px;
  width: 650px;
  background-color: rgb(247, 247, 247);
}