<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark stylish-color lighten-1" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">StraightAs</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link waves-light" mdbWavesEffect>Domov</a>
      </li>
      <li class="nav-item">
        <a routerLink="/bus" class="nav-link waves-light" mdbWavesEffect>Avtobusi</a>
      </li>
      <li *ngIf="krmilnikZaAvtentikacijoUporabnika.avtenticiraj_sejo()" class="nav-item">
        <a routerLink="/event" class="nav-link waves-light" mdbWavesEffect>Dogodki</a>
      </li>
      <li class="nav-item">
        <a routerLink="/food" class="nav-link waves-light" mdbWavesEffect>Prehrana</a>
      </li>
      <li *ngIf="uporabnikService.uporabnikJeAdmin" class="nav-item">
        <a routerLink="/admin" class="nav-link waves-light" mdbWavesEffect>Admin</a>
      </li>
      <li *ngIf="uporabnikService.uporabnikJeUpravljalec" class="nav-item">
        <a routerLink="/upravljalec" class="nav-link waves-light" mdbWavesEffect>Upravljalec</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      
      <li class="nav-item dropdown" dropdown>
        <a id="login-dropdown" dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <span class="m-1">{{ uporabnikService.pridobi_uporabnika() === null ? "neprijavljen" : uporabnikService.pridobi_uporabnika().email }} </span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a id="change-password" *ngIf="krmilnikZaAvtentikacijoUporabnika.avtenticiraj_sejo()" routerLink="/sprememba-gesla" class="dropdown-item waves-light" mdbWavesEffect>Sprememba gesla</a>
            <a id="login" *ngIf="!krmilnikZaAvtentikacijoUporabnika.avtenticiraj_sejo()" routerLink="/prijava" class="dropdown-item waves-light" mdbWavesEffect>Prijava</a>
            <a id="register" *ngIf="!krmilnikZaAvtentikacijoUporabnika.avtenticiraj_sejo()" routerLink="/registracija" class="dropdown-item waves-light" mdbWavesEffect>Registracija</a>
            <a id="logout" *ngIf="krmilnikZaAvtentikacijoUporabnika.avtenticiraj_sejo()" (click)="krmilnikZaAvtentikacijoUporabnika.odjava()" class="dropdown-item waves-light" mdbWavesEffect>Odjava</a>
          </div>
      </li>
      <li class="nav-item avatar dropdown" dropdown>
        
        
        
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
  <div *ngIf="!krmilnikZaAvtentikacijoUporabnika.preveri_mail()" #alert class="alert alert-warning mb-0" role="alert">
    Potrdite svoj email naslov, za nov potrditveni mail klikni <strong><a (click)="uporabnikService.poslji_potrditveni_email()">tu</a></strong> .
  </div>
  <div class="">
      <div class="" *ngIf="obvestila$ | async; let obvestila$">
          <ul class="list-group" *ngIf="obvestila$.length > 0">
            <li class="list-group-item warning-color" *ngFor="let obvestilo of obvestila$">
                  {{ obvestilo.sporocilo }}
            </li>
          </ul>
        </div>
    </div>
<div class="container-fluid p-5">
  <router-outlet></router-outlet>
</div>

