<link rel="stylesheet" href="/stylesheets/navigation_style.css"/> 
<!--<link rel="stylesheet" href="../../../../../public/stylesheets/navigation_style.css"/>-->

<div class="container_nav">
    <a ng-href="/upravljalec">
        <div class="nav_man nav">
            Event Manager
        </div>
    </a>
    <a ng-href="/profile">
        <div class="nav_profile nav">
            Profile
        </div>
    </a>
    <a ng-href="/logout">
        <div class="nav_home nav">
            Logout
        </div>
    </a>
</div>

