<nav class="navbar navbar-expand-md bg-dark fixed-top">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarResponsive">
        <ul class="navbar-nav m-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/restavracije">Food</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bus">Bus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/systemMessages">System Messages</a>
            </li>
        </ul>
    </div>

        <div ng-if="vma.currentUser">
            <img ng-click="vma.profileClick()" src='resources/user_icon.png' class="user-icon">
        </div>
    <div ng-if="!vma.currentUser">
        <a id="login" class='navbar-brand' href='/login'>Login</a>
    </div>
    <div ng-if="vma.currentUser">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  pb-0" id="userProfile" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ vma.currentUser.name }} {{ vma.currentUser.surname }}</a>
            <div class="dropdown-menu pt-0 mt-o">
                <a class="dropdown-item" id="editProfile" href="/editProfile/{{ vma.currentUser._id }}">Edit profile</a>
                <a class="dropdown-item" id="logout" href="#" ng-click="vma.logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>