<!-- TODO seznam -->
<div ng-controller="dogodkiNadzornaPloscaCtrl as dnpc">
    <div class="col-12">
        <div  class="card card-body bg-light" style="margin: 20px" id="todoModule">
            <!-- TODO 1 -->
            <div id="seznam-dogodkov" ng-repeat="dogodek in dnpc.seznamDogodkov" ng-click="">

                <div>
                    <div class="card mt-2">
                        <div class="card-header bg-dark">
                            <div class="row">
                                <div class="col">
                                    <h2 class="card-text text-white">{{dogodek.ime}}</h2>
                                </div>
                                <div class="col">
                                    <p class="lead card-text text-white text-right">{{dogodek.urejenDatum}}</p>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">

                            <p class="lead card-text">Organiser: {{dogodek.organizator}}</p>

                            <div class="row">
                                <div class="col-xs-12" style="margin-left: 16px">
                                    <p class="lead card-text">Description: </p>
                                </div>
                                <div class="col">
                                    <p class="lead card-text">{{dogodek.opis}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div style="text-align: center">
        <button style="position: center" ng-click="dnpc.dodaj_dogodek()" class="btn btn-primary">Dodaj dogodek</button>
    </div>
</div>
