.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}


#vrstica {
    height: 80px;
    background-color: #D6D6D6;
    text-align: center;
    font-size: 24px;
}

td {
    height: 80px;
    text-align: center;
    font-size: 16px;
}

th {
    text-align: center;
}

#gumbDodajEvent {
    background-color: #F45246;
    font-size: 30px;
    color: black;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.table>thead>tr>th {
    vertical-align: middle;
}

/*
.gumb-okoli {
    margin-top: 20px;
    text-align: center;
}

*/


