body, html {
    height: 100%;
    margin:0;
    font-family: "Roboto";
}

.obrazec {
    width: 400px;
    height: 450px;
    background-color: #E8EDFA;
    border-width: 2px;
    border-color: #B0B0B0;
    border-style: solid;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #0000b3;
    font-size: 35px
}

img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.obrazec input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 5px;
    font-size: 18px;
    opacity: 0.7;
}

#potrdi {
    width: 100px;
    height: 40px;
    background-color: #0000b3;
    margin-left: 150px;
    color: white;
}