#body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: lightblue;*/
}

/*
#card {
  border-style: solid;
  border-color: lightblue;
  border-width: 1.5px;
}


.card-title {
  background-color: lightgray;
  margin: 3px 0px;
}
*/

a {
  color: #00B7FF;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
}

td {
  text-align: center;
}

ul {
  list-style-type: none;
}

/* Month header */
.month {
  padding: 25px;
  width: 100%;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: black;
  color: white !important
}

#map {
  height: 90vh;
  width: 100%;
  margin: auto;

}