<navigation></navigation>
<div class="login_page">
  <div class="row">
    <div class="container text-center col-md-4 col-md-offset-4"> 
      <h3>{{ vm.pageHeader.title }} </h3>
      <div class="login-box">
        <form ng-submit="vm.sendingData()" autocomplete="off">
          <div role="alert" ng-show="vm.errorOnForm" class="alert alert-danger">{{ vm.errorOnForm }}</div>
          <legend>Prijava</legend>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input class="form-control" id="email" value="" placeholder="Tvoj E-mail" type="email" required="" ng-model="vm.loginData.email"/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" placeholder="Geslo" type="password" ng-model="vm.loginData.password"/>
          </div>
          <div class="input-group">
            <div class="checkbox">
              <label>
                <input id="login-remember" type="checkbox" name="remember" value="1"/> Remember me
              </label>
            </div>
          </div>
          <div class="form-group">
            <input id="loginButton" class="btn btn-dark btn-login-submit btn-block m-t-md" type="submit" value="Login"/>
          <div class="form-group">
            <p class="text-center m-t-xs text-sm">Še nimaš računa?</p><a class="btn btn-light btn-block m-t-md" href="/register">Ustvari si ga! ;)</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>