
body {
  font-family: : Helvetica
}

.odd {
  background-color: #f0f0ff;
}

table, th, td{
   border: 1px solid black;
}

table {
  width:100%
}

.naslov{
  width:10%
}

.smer {
width:45%
}

.ime{
text-align: center
display: block;
font-size: .83em;
margin-top: 1.67em;
margin-bottom: 1.0em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}
