.urnik-cell{
  text-align: center;
  width: 100px;
}

.predmet-cell{
  background-color: #f3f3ff;
  text-align: center;
  padding: none;
  margin: none;
}

.ui-button{
  background: none;
  border: 1px solid #888;
  border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
  background-color: #ccc;
  font-weight: bold;
  font-size: 17px;
}



.todo-button{
  background: none;
  border-radius: 5px;
	padding-left: 12px;
	padding-right: 12px;
  padding-top: 0px;
  line-height: 0px;
  background-color: #fefefe;
  font-weight: bold;
  font-size: 25px;
  vertical-align: middle;
  height: 30px;
}

.predmet-button{
    background: none;
    border: none;
    margin: 2px;
    font-size: 22px;
}

body{
  background-color: #f0f0ff;
}

.fc-text-arrow{
  color: #77f;
}

.fc-button{
  color: #000;
  background-color: #eef;
  border: 1px solid #aaa;
}


.nav-margin{
  padding-left: 20%;
  padding-right: 20%;
}

#content{
  margin-left: 20%;
  margin-right: 20%;
}

.table-fixed{
  table-layout: auto;
  background-color: #ffffff;
}


#todo-column {
  background-color: #fcfcfc;
}

.todo ul, .todo li{
  list-style:none;
}
.todo ul{
  overflow:hidden;
  padding:3em;
}
.todo ul, .todo li, .todo a{
  text-decoration:none;
  color:#000;
  background:#ffa;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}
.todo ul, .todo li{
  margin:1em;
  float:left;
}

.todo h2, .todo p{
  font-size:100%;
  font-weight:normal;
  font-family:"Comic Sans MS";
}

.error-text{
  margin-left: 25%;
  margin-right: 25%;
  visibility: hidden;
}
