<navigacija></navigacija>
<div class="container mycontainer">
  
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="input-group">
      <input autofocus type="text" class="form-control"
      placeholder="Vnesi postajališče LPP"
      ng-model="vm.vpisano"
      ng-keyup="search()" >
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
    </div>
    
    <div class="alert alert-warning" style="margin: 5px; padding: 6px; font-size: .9em" ng-show="vm.napaka">{{ vm.napaka }}</div>
    
    <div class="list-group">
      <button type="button"
      class="list-group-item postajalisca"
      ng-repeat="postajalisce in vm.data.postajalisca"
      ng-disabled="vm.sporocilo"
      ng-click="vm.izberiPostajalisce(postajalisce)" >
        ({{ postajalisce.id }}) {{ postajalisce.name }} &nbsp;
        <span ng-show="postajalisce.center" class="glyphicon glyphicon-record"></span>
      </button>
    </div>
    
  </div>
  
  <div class="col-xs-12 col-sm-6" id="bottom">
    <div class="panel panel-default" ng-show="vm.izbranoPostajalisce.id != null">
      <div class="panel-heading">
        <h4>({{ vm.izbranoPostajalisce.id }}) {{ vm.izbranoPostajalisce.name }}</h4>
      </div>
      <div class="panel-body" id="bus-panel">
        <table>
          <tr>
            <th id="bus-header">Bus</th>
            <th id="smer-header">Smer</th>
            <th id="naslednji-header">Naslednji čez</th>
          </tr>
          <tr ng-repeat="bus in vm.avtobusi">
            <td>{{ bus.number }}</td>
            <td>{{ bus.direction }}</td>
            <td>{{ bus.arrivals }}</td>
          </tr>
        </table>
        <div class="col-xs-11 col-sm-8 alert alert-warning" style="margin: 5px; padding: 6px; font-size: .9em" ng-show="vm.sporocilo">{{ vm.sporocilo }}</div>
      </div>
    </div>
  </div>

</div>