<main role="main">
    <div class="album py-5 bg-light">
        <div class="container" style="height:666px">
            <div class="row">
                <section class="jumbotron container text-center">
                    <div class="container">
                        <h1 class="jumbotron-heading">Login</h1>
                        <br>
                        <div>
                            <form ng-submit="vm.login()">
                                <input class="form-control mr-sm-2" type="email" name = "email" id="email" placeholder="Email" ng-model="vm.prijavniPodatki.email" required>
                                <input class="form-control mr-sm-2" type="password" name = "password" id="password" placeholder="Password" ng-model="vm.prijavniPodatki.password" required>
                                <div ng-if="vm.response == -1" class="alert alert-warning">Geslo ali email sta napačna</div>
                                <br>
                                <button type="submit" class="btn btn-primary my-2">Login</button>
                            </form>
                        </div>
                    </div>
                </section>
                <section class="jumbotron container text-center" style="border: 1px">
                    <p style="font-size: 25px">New to StraightAs? <a id="register" href="/register">Create an account</a></p>
                </section>
            </div>
        </div>
    </div>
</main>