<!-- TODO seznam -->
<div ng-controller="sporocilaNadzornaPloscaCtrl as dnpc">
    <div class="col-12">
        <div  class="card card-body bg-light" style="margin: 20px" id="todoModule">
            <!-- TODO 1 -->
            <div id="seznam-sporocil" ng-repeat="sporocilo in dnpc.seznamSporocil" ng-click="">

                <div>
                    <div class="card mt-2">
                        <div class="card-header bg-dark">
                            <div class="row">
                                <div class="col">

                                </div>
                                <div class="col">

                                </div>

                            </div>
                        </div>
                        <div class="card-body">



                            <div class="row">
                                <div class="col">
                                    <p class="lead card-text">{{sporocilo.opis}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div style="text-align: center">
        <button style="position: center" ng-click="dnpc.dodaj_sporocilo()" class="btn btn-primary">Dodaj Sporocilo</button>
    </div>
</div>
