<h2 mat-dialog-title>{{name}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput #input placeholder="Enter event name" formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Select duration" formControlName="duration" min="0" max="23">
    <mat-error class="error-message" *ngIf="form.get('duration').dirty">Enter value between 0 and 23.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose event color</mat-label>
    <mat-select formControlName="color">
      <mat-option value="red">Red</mat-option>
      <mat-option value="blue">Blue</mat-option>
      <mat-option value="yellow">Yellow</mat-option>
      <mat-option value="green">Green</mat-option>

    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-warn" [disabled]="this.name=== 'Add an event'" (click)="delete()">Delete</button>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" [disabled]="!this.form.valid" (click)="save()">Save</button>
</mat-dialog-actions>
