<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a
                class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-hide="navvm.jeAdmin || !navvm.jePrijavljen" ng-show="navvm.jePrijavljen && !navvm.jeAdmin"><a href="/dogodki">Events</a></li>
                <li ng-show="navvm.jeEventManager"><a href="/dogodkiUpravljanje">Event Manager</a></li>
                <li ng-hide="navvm.jeAdmin || navvm.jeEventManager"><a href="/avtobusi">Bus</a></li>
                <li ng-hide="navvm.jeAdmin || navvm.jeEventManager"><a href="/hrana">Food</a></li>
                <li><a href="/obvestila">System Messages</a></li>
                <li ng-show="navvm.jeAdmin"><a href="/admin">Admin</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="navvm.jePrijavljen"><a href="/prijava?stran={{ navvm.trenutnaLokacija }}">Login</a></li>
                <li ng-hide="navvm.jePrijavljen"><a href="/registracija">Registration</a></li>
                <li ng-click="navvm.prikaziPojavnoOknoSpremembaGesla()" ng-show="navvm.jePrijavljen"><a>{{ navvm.trenutniUporabnik.email }}</a></li>
                <li ng-show="navvm.jePrijavljen"><a href="" ng-click="navvm.odjava()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>