<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Do you truly desire to delete this entry?</h3>
    </div>
    <form role="form" ng-submit="vm.potrdi_izbris()">
        <div class="modal-footer">
            <button class="btn btn-secondary" ng-click="vm.modalnoOkno.preklici_dodajanje_vnosa()" type="button">I don't</button>
            <button class="btn btn-success" type="submit">I do</button>
        </div>
    </form>
</div>