<link rel="stylesheet" href="/stylesheets/trola_style.css">

<nav-user ng-show="vm.showNavStudent"></nav-user>
<nav-neregistriran ng-hide="vm.showNavStudent"></nav-neregistriran>
<div class="container">
    <h2 class="heading_secondary">Which bus to take?</h2>
     <div class="search-box">
        <input type="text" name="" class="search-input" ng-model="vm.searchBar" placeholder="Search..."/>
        <a class="search-btn" ng-click="vm.sortBusses('center', vm.searchBar)">
            <i class="fas fa-search"></i>
        </a>
    </div>
    <div>
        {{vm.msg}}
    </div>
    <div class="event_list">
        <div class="events_col_1">
            <div>
                <h2 class="heading_terciary">Smer proti centru</h2> <br>
                    {{vm.msgToCtr}}        
            </div>
            <div class="event" ng-repeat= "busArival in vm.busArivalsToCenter">
            <div class="event_desc">
                <p>{{busArival.route_name}}</p>
                <p>Bus number : {{busArival.route_number}}</p>
                <p>Arrival : {{busArival.eta}} minut</p>
            </div>
        </div>
        </div>
        <div class="events_col_2">
            <div>
                <h2 class="heading_terciary">Smer izven centra</h2> <br>
                    {{vm.msgFromCtr}}
            </div>
            <div class="event" ng-repeat= "busArival in vm.busArivalsFromCenter">
            <div class="event_desc">
                <p>{{busArival.route_name}}</p>
                <p>Bus number : {{busArival.route_number}}</p>
                <p>Arrival : {{busArival.eta}} minut</p>
            </div>
        </div>
    </div>
    
</div>