<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="stylesheets/spremeni_geslo.css" />
<script src="/public/javascripts/registerChecker.js"></script>

<div class="container">
    <div class="login-form">
    <form method="POST" id="userForm" ng-submit="vm.posiljanjePodatkov()" autocomplete="off">
            <h2 class="heading_secondary">Admin Login</h2>
            <div class="form_group">
                <input class="form_input" id="email" type="email" placeholder="email" ng-model="vm.prijavniPodatki.email" required/>
                <label class="form_label" for="email">Email address</label>
            </div>
            <div class="form_group"><input class="form_input" id="password" type="password" placeholder="password" ng-model="vm.prijavniPodatki.password" required/>
                <label class="form_label" for="password">Password</label>
            </div>
            <div class="button_wrapper">
                <button class="button button_green button_login" type="submit">Login</button>
            </div>
        </form>
    </div> 
</div>