table {
    margin-top: 1em;
}

.btn-success {
    width: 50em;
    align-content: center;
    display: inline-block !important;
}

.inline-display {
    align-content: center;
    width: 100%;
    display: inline-block;
    text-align: center;
}

thead tr th {
    background-color: #60B0F4 !important;
    color: white !important;
}