#image_logo {
    width:auto;
    max-height:15em;
}

.bg_light {
    background-color: #f8f9fa;
}

.bg_white {
    background-color: #ffffff;
}

#obvestilo {
  width: 90%;
  height: 150px;
  border-radius: 4px;
  background-color: #f8f8f8;
}