.split-horizontal {
    height: 100%;
    width: 50%;
    display: inline-block;
    text-align: center;
    align-content: center;
    vertical-align: top;
}

.calendar {
    margin: 1em;
    display: block;
    width: auto;
    align-content: start;
}

.month {
    background-color: #60B0F4;
    color: white;
    text-align: center;
    overflow: hidden;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.prev-month {
    float: left;
    margin: 0;
    padding-left: 0.5em;
    border:none;
    background-color: #60B0F4;
    color: white;
}

.next-month {
    float: right;
    margin: 0;
    padding-right: 0.5em;
    border:none;
    background-color: #60B0F4;
    color: white;
}

.next-month:hover, .prev-month:hover {
    background-color: white;
    color: #60B0F4;
    cursor: pointer;
}

.selected-month {
    display: inline;
    margin: 0;
}

.weekday {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    background-color: #e9ecef;
}

.weekday li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.day {
    list-style-type: none;
    padding: 10px 0;
    background-color: #f8f9fa;
    margin: 0;
}

.day li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 0.8em;
    color: #999;
}

.day li:hover{
    cursor: pointer;
    background-color: #e9ecef;
}

.active-day {
    padding: 5px;
    background: #60B0F4;
    color: white !important
}

.modal-body-content {
    margin-top: 1em;
}

.modal-header {
    background-color: #60B0F4;
    color: white;
}

.calendar-event {
    border-radius: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background: #f8f9fa;
}

.margin-right-halfem {
    margin-right: 0.5em;
}

#calendar-create-ime, #calendar-create-cas, #calendar-create-trajanje, #calendar-create-opis,
        #timetable-create-dan, #timetable-create-cas, #timetable-create-trajanje, #timetable-create-barva {
    margin-left: 0.5em;
}

#calendar-create-ime, #timetable-create-ime {
    width: 60%;
}

#calendar-create-cas, #calendar-create-trajanje {
    width: 4em;
    text-align: center;
    display: inline;
}

.inline-display {
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#calendar-create-opis {
    width: 95%;
}

.timetable {
    margin: 2em 1em 1em;
    display: block;
    width: auto;
    align-content: start;
}

thead tr th {
    background-color: #60B0F4 !important;
    color: white !important;
    width: 17%;
}

td.hoverable:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

#timetable-create-dan, #timetable-create-cas, #timetable-create-trajanje, #timetable-create-barva {
    width: auto;
}

#todo-css {
    background-color: #f8f9fa;
    margin-top: 1em;
}

#todo-header-css {
    font-size: 1.5em;
    background-color: #60B0F4 !important;
    color: white !important;
}

#obvestila-css {
    background-color: #f8f9fa;
    margin-top: 1em;
}

#obvestila-header-css {
    font-size: 1.5em;
    background-color: #60B0F4 !important;
    color: white !important;
}