body{
  /*opacity: 0.9;*/
}

#firstRow {
  margin-right: 0;
  margin-left: 0;
}

.cartRow {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  border: 0.05rem groove black;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  border-box: box-sizing;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: 1px 1px 1px 1px;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

#imunique {
    width: 100%;
}

.center-text {
    text-align: center;
    background-color: #60B0F4 !important;
    color: white !important;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #60B0F4 !important;
    color: white !important;
    cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#margin-0 {
    margin-top: 0em;
}

#move {
    margin-top: 1em;
}

#map{
   margin-top: 1em;
   height: 400px;
   background-color: grey;
   margin-bottom: 20px;
 }

th {
    background-color: gray;
    color: white;
}

.table td {
   text-align: center;
   word-wrap: break-word;
}

.cartColumn {
  border-style: groove;
  border-width: 0.04rem;
}

.overdrive {
    maring-top: 0.1rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-bottom: 0.5rem !important;
}

#jumbo {
  padding-top: 0rem;
  padding-bottom: 0.6rem;
  margin-bottom: 0rem;
}

#card_width_18 {
  width: 18rem;
}

/*image gallery*/
.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  margin-bottom: 0;
  outline: 0;
}
.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  border-color: #4783B0;
}
.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}

.product{

}

#user {
  margin: 5px;
  border: 2px solid black;
  position: absolute;
  top: 0px;
  right: 0px;
}

.userSigned {
}


.newsCardMargin {
  margin-bottom: 1cm;
}

.qty {
  text-align: center;
  width: 3rem;
}

.shopping-cart {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

.eachRow {
  background-color: rgba(255,255,255,1);
}

.titleStyle {
  margin-right: 50px;
  text-align: center;
}

.desenMargin {
  margin-right: 0.5cm;
}

.majhenMargin {
  margin: 5px 5px 5px 15px;
}

.dejMiMargin {
  margin: 3cm;
}

#description {
  height: 200px;
}

.alertPad {
  margin-left: 20px;
}

#image_logo {
  width: auto;
  max-height: 8em;
}