
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/upravljalec_style.css"/>

<nav-man></nav-man>
<div class="container">
    <button ng-click="vm.eventPrikaziPojavnoOkno()" class="button button_green button_login" >Add event</button>
    <div class="events_container">
        <div class="event" ng-repeat='event in vm.events'>
            <div class="event_info">
                <p class="text">Name: {{event.title}}</p>
                <p class="text">Organizer: {{event.organizer}}</p>
                <p class="text">Date: {{event.date | formatirajDatum}}</p>
            </div>
            <div class="event_desc">
                <p>Description</p>
                <div class="desc_text">{{event.description}}</div>
        </div>
    </div> 
</div>