<navigacija></navigacija>

<div class="container">
    <div class="row page-header">
        <div class="col-lg-12">
            <h1 class="ml-3" >{{ vm.glavaStrani.naslov }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
             <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3" >
            <small ng-if="vm.napakaLokacija">{{vm.napakaLokacija}} </small>
            <small ng-if="vm.uspesnaGeolokacija">  --->  Tvoja lokacija: lat: {{vm.lat}}, lng: {{vm.lng}} </small>
            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                   <th scope="col">City</th>
                  <th scope="col">Price/th>
                  <th scope="col">Price with "bon"</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="restavracija in vm.vseRestavracije" id="{{restavracija.id}}">
                    <td class="text-left" >{{restavracija.ime}}</td>
                    <td class="text-left">{{restavracija.naslov}}</td>
                    <td class="text-left">{{restavracija.mesto}}</td>
                    <td class="text-left">{{restavracija.cena}} eur</td>
                    <td class="text-left">{{restavracija.doplacilo}} eur</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>        
    
</div>    
