<navigacija></navigacija>

<div class="row page-header">
    <div class="col-lg-12">
        <h1 style="text-align:center;">{{ vm.naslov }}</h1></h1>
    </div>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">

  <table id="tabelaEventManager" class="table table-bordered table-striped table-hover">
    <thead id="vrsticaPrva">
      <tr id = "vrstica">
        <th scope="col-lg-2">Name</th>
        <th scope="col-lg-2">Organizer</th>
        <th scope="col-lg-2">Date</th>
        <th scope="col-lg-6">Description</th>
      </tr>
    </thead>
    <tbody id = "vrsticaDruge">
      <tr ng-repeat="dogodek in vm.data.dogodki">
        <td>{{ dogodek.ime }}</td>
        <td>{{ dogodek.organizator }}</td>
        <td>{{ dogodek.datum | date: 'dd-MM-yyyy' }}</td>
        <td>{{ dogodek.opis }}</td>
      </tr>
      
    </tbody>
  </table>
  <div class="error">{{ vm.sporocilo }}</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
    <button ng-click="vm.prikaziPojavnoOknoDogodekVnos()" id="gumbDodajEvent" class="btn btn-danger btn-lg">Add event</button>
</div>



