.general {
    background: url("./images/todo_list.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    
}
.center {
    width: 400px;
}

