<div class="general">
    <br><br><br><br><br><br><br><br>
  <div class="container">
    <div class="center">
      <h2 class="container">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email</label>
            <input type="email" [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="form-control" required>
          </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" [class.is-invalid]="geslo.invalid && geslo.touched" formControlName="geslo" class="form-control"  required>
        </div>
        <button class="btn btn-primary" [disabled]="!loginForm.valid" type="submit">Login</button>&#160;
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; <a routerLink="/register" class="btn btn-link">Register</a>
        <br><br>
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<a (click)="this.guest()" routerLink=""  class="btn btn-link">Continue as Guest</a>
      </form>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
</div>