<navigation></navigation>

<div>
    <div role="alert" ng-show="vm.warningOnForm" class="alert alert-warning">{{ vm.warningOnForm }}</div>
    <!--<h1>Pozdravljeni {{ vm.data.user.email }}</h1>
    <p>{{vm.title}}</p>-->
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div id="myCalendar" class="col-12">
                <pre id="content" style="white-space: pre-wrap;"></pre>
                <div class="calendar">
                    <div>
                        <!--<div class="row">
                            <div class="col-lg-12">-->
                        <!--<div class="row margin_top margin_left_za_male">
                            <div class="col-2">
                                <p class="text-right" id="koledar_prev" onclick="spremeniMesecNazaj()">‹</p>
                            </div>
                            <div class="col-6">
                                <p class="text-center" id="koledar_mesec">September</p>
                            </div>
                            <div class="col-2">
                                <p class="text-left" id="koledar_next" onclick="spremeniMesecNaprej()">›</p>
                            </div>
                        </div>-->
                        <div>
                            <table class="tabela_koledar">
                                <thead>
                                    <tr>
                                        <td class="koledar_dnevi pointer" id="koledar_prev" onclick="spremeniMesecNazaj()">‹</td>
                                        <td class="koledar_dnevi"></td>
                                        <td class="koledar_dnevi"></td>
                                        <td class="koledar_dnevi" id="koledar_mesec">September</td>
                                        <td class="koledar_dnevi"></td>
                                        <td class="koledar_dnevi"></td>
                                        <td class="koledar_dnevi pointer" id="koledar_next" onclick="spremeniMesecNaprej()">›</td>
                                    </tr>
                                </thead>
                                <thead id="dnevi">
                                    <tr>
                                        <td class="koledar_dnevi">Mo</td>
                                        <td class="koledar_dnevi">Tu</td>
                                        <td class="koledar_dnevi">We</td>
                                        <td class="koledar_dnevi">Th</td>
                                        <td class="koledar_dnevi">Fr</td>
                                        <td class="koledar_dnevi">Sa</td>
                                        <td class="koledar_dnevi">Su</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="prev-month koledar_dnevi pointer" id="1pon" onclick="spremeniCurDan('1pon')" ng-click='vm.data.obdelovanjeDatuma("1pon")'>26</td>
                                        <td class="prev-month koledar_dnevi pointer" id="1tor" onclick="spremeniCurDan('1tor')" ng-click='vm.data.obdelovanjeDatuma("1tor")'>27</td>
                                        <td class="prev-month koledar_dnevi pointer" id="1sre" onclick="spremeniCurDan('1sre')" ng-click='vm.data.obdelovanjeDatuma("1sre")'>28</td>
                                        <td class="prev-month koledar_dnevi pointer" id="1cet" onclick="spremeniCurDan('1cet')" ng-click='vm.data.obdelovanjeDatuma("1cet")'>29</td>
                                        <td class="prev-month koledar_dnevi pointer" id="1pet" onclick="spremeniCurDan('1pet')" ng-click='vm.data.obdelovanjeDatuma("1pet")'>30</td>
                                        <td class="prev-month koledar_dnevi pointer" id="1sob" onclick="spremeniCurDan('1sob')" ng-click='vm.data.obdelovanjeDatuma("1sob")'>31</td>
                                        <td class="koledar_dnevi pointer" id="1ned" onclick="spremeniCurDan('1ned')" ng-click='vm.data.obdelovanjeDatuma("1ned")'>1</td>
                                    </tr>
                                    <div class="collapse" id="collapseDan">
                                        <div class="card card-body">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h5 class="text-right" id="curDan">26. Maj 2019</h5>
                                                </div>
                                                <div class="col-4">
                                                    <button type="button" ng-click="vm.data.zapriCurDanKoledar()" class="close">
                                                        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <!--<p class="items">ucenje</p>,&nbsp;<p class="items"> ucenje</p>,&nbsp;<p class="items"> ucenje</p>-->
                                            <b id="planned">Planned for today:</b><div id="tasks" class="row"><p id="tasksVsebina" ng-click=vm.data.deleteMarkedTask()></p></div>
                                            <div class="row">
                                                <!--<div class="col-6">
                                                </div>-->
                                                <div class="col-6">
                                                    <a id="add_new_task" href="" ng-click=vm.data.addTask() class="btn btn-success btn-sm">add</a>
                                                    <a id="delete_task" href="" ng-click="vm.data.deleteTask()" class="btn btn-danger btn-sm">delete</a>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <tr>
                                        <td class="koledar_dnevi pointer" id="2pon" onclick="spremeniCurDan('2pon')" ng-click='vm.data.obdelovanjeDatuma("2pon")'>2</td>
                                        <td class="koledar_dnevi pointer" id="2tor" onclick="spremeniCurDan('2tor')" ng-click='vm.data.obdelovanjeDatuma("2tor")'>3</td>
                                        <td class="koledar_dnevi pointer" id="2sre" onclick="spremeniCurDan('2sre')" ng-click='vm.data.obdelovanjeDatuma("2sre")'>4</td>
                                        <td class="koledar_dnevi pointer" id="2cet" onclick="spremeniCurDan('2cet')" ng-click='vm.data.obdelovanjeDatuma("2cet")'>5</td>
                                        <td class="koledar_dnevi pointer" id="2pet" onclick="spremeniCurDan('2pet')" ng-click='vm.data.obdelovanjeDatuma("2pet")'>6</td>
                                        <td class="koledar_dnevi pointer" id="2sob" onclick="spremeniCurDan('2sob')" ng-click='vm.data.obdelovanjeDatuma("2sob")'>7</td>
                                        <td class="koledar_dnevi pointer" id="2ned" onclick="spremeniCurDan('2ned')" ng-click='vm.data.obdelovanjeDatuma("2ned")'>8</td>
                                    </tr>
                                    <tr>
                                        <td class="koledar_dnevi pointer" id="3pon" onclick="spremeniCurDan('3pon')" ng-click='vm.data.obdelovanjeDatuma("3pon")'>9</td>
                                        <td class="event koledar_dnevi pointer" id="3tor" onclick="spremeniCurDan('3tor')" ng-click='vm.data.obdelovanjeDatuma("3tor")'>10</td>
                                        <td class="koledar_dnevi pointer" id="3sre" onclick="spremeniCurDan('3sre')" ng-click='vm.data.obdelovanjeDatuma("3sre")'>11</td>
                                        <td class="koledar_dnevi pointer" id="3cet" onclick="spremeniCurDan('3cet')" ng-click='vm.data.obdelovanjeDatuma("3cet")'>12</td>
                                        <td class="koledar_dnevi pointer" id="3pet" onclick="spremeniCurDan('3pet')" ng-click='vm.data.obdelovanjeDatuma("3pet")'>13</td>
                                        <td class="koledar_dnevi pointer" id="3sob" onclick="spremeniCurDan('3sob')" ng-click='vm.data.obdelovanjeDatuma("3sob")'>14</td>
                                        <td class="koledar_dnevi pointer" id="3ned" onclick="spremeniCurDan('3ned')" ng-click='vm.data.obdelovanjeDatuma("3ned")'>15</td>
                                    </tr>
                                    <tr>
                                        <td class="koledar_dnevi pointer" id="4pon" onclick="spremeniCurDan('4pon')" ng-click='vm.data.obdelovanjeDatuma("4pon")'>16</td>
                                        <td class="koledar_dnevi pointer" id="4tor" onclick="spremeniCurDan('4tor')" ng-click='vm.data.obdelovanjeDatuma("4tor")'>17</td>
                                        <td class="koledar_dnevi pointer" id="4sre" onclick="spremeniCurDan('4sre')" ng-click='vm.data.obdelovanjeDatuma("4sre")'>18</td>
                                        <td class="koledar_dnevi pointer" id="4cet" onclick="spremeniCurDan('4cet')" ng-click='vm.data.obdelovanjeDatuma("4cet")'>19</td>
                                        <td class="koledar_dnevi pointer" id="4pet" onclick="spremeniCurDan('4pet')" ng-click='vm.data.obdelovanjeDatuma("4pet")'>20</td>
                                        <td class="event koledar_dnevi pointer" id="4sob" onclick="spremeniCurDan('4sob')" ng-click='vm.data.obdelovanjeDatuma("4sob")'>21</td>
                                        <td class="koledar_dnevi pointer" id="4ned" onclick="spremeniCurDan('4ned')" ng-click='vm.data.obdelovanjeDatuma("4ned")'>22</td>
                                    </tr>
                                    <tr>
                                        <td class="current-day event koledar_dnevi pointer" id="5pon" onclick="spremeniCurDan('5pon')" ng-click='vm.data.obdelovanjeDatuma("5pon")'>23</td>
                                        <td class="koledar_dnevi pointer" id="5tor" onclick="spremeniCurDan('5tor')" ng-click='vm.data.obdelovanjeDatuma("5tor")'>24</td>
                                        <td class="koledar_dnevi pointer" id="5sre" onclick="spremeniCurDan('5sre')" ng-click='vm.data.obdelovanjeDatuma("5sre")'>25</td>
                                        <td class="koledar_dnevi pointer" id="5cet" onclick="spremeniCurDan('5cet')" ng-click='vm.data.obdelovanjeDatuma("5cet")'>26</td>
                                        <td class="koledar_dnevi pointer" id="5pet" onclick="spremeniCurDan('5pet')" ng-click='vm.data.obdelovanjeDatuma("5pet")'>27</td>
                                        <td class="koledar_dnevi pointer" id="5sob" onclick="spremeniCurDan('5sob')" ng-click='vm.data.obdelovanjeDatuma("5sob")'>28</td>
                                        <td class="koledar_dnevi pointer" id="5ned" onclick="spremeniCurDan('5ned')" ng-click='vm.data.obdelovanjeDatuma("5ned")'>29</td>
                                    </tr>
                                    <tr>
                                        <td class="koledar_dnevi pointer" id="6pon" onclick="spremeniCurDan('6pon')" ng-click='vm.data.obdelovanjeDatuma("6pon")'>30</td>
                                        <td class="next-month koledar_dnevi pointer" id="6tor" onclick="spremeniCurDan('6tor')" ng-click='vm.data.obdelovanjeDatuma("6tor")'>1</td>
                                        <td class="next-month koledar_dnevi pointer" id="6sre" onclick="spremeniCurDan('6sre')" ng-click='vm.data.obdelovanjeDatuma("6sre")'>2</td>
                                        <td class="next-month koledar_dnevi pointer" id="6cet" onclick="spremeniCurDan('6cet')" ng-click='vm.data.obdelovanjeDatuma("6cet")'>3</td>
                                        <td class="next-month koledar_dnevi pointer" id="6pet" onclick="spremeniCurDan('6pet')" ng-click='vm.data.obdelovanjeDatuma("6pet")'>4</td>
                                        <td class="next-month koledar_dnevi pointer" id="6sob" onclick="spremeniCurDan('6sob')" ng-click='vm.data.obdelovanjeDatuma("6sob")'>5</td>
                                        <td class="next-month koledar_dnevi pointer" id="6ned" onclick="spremeniCurDan('6ned')" ng-click='vm.data.obdelovanjeDatuma("6ned")'>6</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                            <!--<div class="col-lg-3">
                                <div class="row margin_large_top margin_large_bottom">
                                    <div class="col-12">
                                        <p class="text-center" id="koledar_datum"></p>
                                        <p class="text-center" id="koledar_dan"></p>
                                        <div class="margin_left_za_male">
                                            <p class="text-left" id="koledar_dogodek">Dogodki:</p>
                                            <div id="dogodki">
                                                <p class="koledar_dogodki uk-text-left uk-margin-large-left">- Neko srecanje</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        <!--</div>
                    </div>-->
                    <!--<div class="row">
                        <div class="col-8"><a class="btn btn-secondary btn-sm text-left" id="authorize_button">Sinhronize with my google calendar</a>
                            <a class="btn btn-secondary btn-sm text-left" id="signout_button">Unsinhronize with my google calendar</a>
                            <a ng-show="{{data.prikaziErrorZaGoogleCalendar}}" class="btn btn-secondary btn-sm text-left" id="error_calendar_btn" ng-click=data.reload()>Unable to connect to your google calendar, click here to reload.</a>
                            <script src="/javascripts/koledarGoogleApiSkripta.js"></script>
                            <script async="" defer="" src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
                        </div>
                    </div>-->
                </div>
            </div>
            
            <div id="myTimeTable" class="col-12">
                <pre id="content" style="white-space: pre-wrap;"></pre>
                <div class="urnik">
                    <div>
                        <div>
                            <table class="">
                                <thead id="dnevi">
                                    <tr>
                                        <th class="urnik_elementi"></th>
                                        <th class="urnik_elementi">Mon</th>
                                        <th class="urnik_elementi">Tue</th>
                                        <th class="urnik_elementi">Wed</th>
                                        <th class="urnik_elementi">Thu</th>
                                        <th class="urnik_elementi">Fri</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="svetlosivi">
                                        <th class="urnik_elementi">7:00</th>
                                        <td id='1monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("1monUrnik")'></td>
                                        <td id='1torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("1torUrnik")'></td>
                                        <td id='1sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("1sreUrnik")'></td>
                                        <td id='1cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("1cetUrnik")'></td>
                                        <td id='1petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("1petUrnik")'></td>
                                    </tr>
                                    
                                    <div class="collapse" id="collapseDanUrnik">
                                        <div class="card card-body">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p><b id="danOpisInput">Mon 7:00</b></p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" id="urnikDanInput"></input>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button type="button" ng-click="vm.data.closeCurDanUrnik()" class="close">
                                                        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
                                                    </button>
                                                </div>
                                                <div class="col-sm-3">
                                                    <p><b class="text_urnik_polja">St ur:</b></p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" id="urnikDanInputStUr"></input>
                                                </div>
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-3">
                                                    <p><b class="text_urnik_polja">Select color:</b></p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input id="urnikDanInputColor" type="color" name="favcolor" value="#c2fcd1">
                                                </div>
                                                <div class="col-sm-3">
                                                    <!--<div class="row">
                                                        <div class="col-6">
                                                            <a id="add_new_task" href="" ng-click=vm.data.addToTimeTable() class="btn btn-success btn-sm">save</a>
                                                        </div>
                                                        <div class="col-6">
                                                            <a id="add_new_task" href="" ng-click=vm.data.closeCurDanUrnik() class="btn btn-danger btn-sm">close</a>
                                                        </div>
                                                    </div>-->
                                                    <a id="add_new_task" href="" ng-click=vm.data.addToTimeTable() class="btn btn-success btn-sm">save</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <tr>
                                        <th class="urnik_elementi">8:00</th>
                                        <td id='2monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("2monUrnik")'></td>
                                        <td id='2torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("2torUrnik")'></td>
                                        <td id='2sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("2sreUrnik")'></td>
                                        <td id='2cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("2cetUrnik")'></td>
                                        <td id='2petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("2petUrnik")'></td>
                                    </tr>
                                    <tr class="svetlosivi">
                                        <th class="urnik_elementi">9:00</th>
                                        <td id='3monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("3monUrnik")'></td>
                                        <td id='3torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("3torUrnik")'></td>
                                        <td id='3sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("3sreUrnik")'></td>
                                        <td id='3cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("3cetUrnik")'></td>
                                        <td id='3petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("3petUrnik")'></td>
                                    </tr>
                                    <tr>
                                        <th class="urnik_elementi">10:00</th>
                                        <td id='4monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("4monUrnik")'></td>
                                        <td id='4torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("4torUrnik")'></td>
                                        <td id='4sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("4sreUrnik")'></td>
                                        <td id='4cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("4cetUrnik")'></td>
                                        <td id='4petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("4petUrnik")'></td>
                                    </tr>
                                    <tr class="svetlosivi">
                                        <th class="urnik_elementi">11:00</th>
                                        <td id='5monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("5monUrnik")'></td>
                                        <td id='5torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("5torUrnik")'></td>
                                        <td id='5sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("5sreUrnik")'></td>
                                        <td id='5cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("5cetUrnik")'></td>
                                        <td id='5petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("5petUrnik")'></td>
                                    </tr>
                                    <tr>
                                        <th class="urnik_elementi">12:00</th>
                                        <td id='6monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("6monUrnik")'></td>
                                        <td id='6torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("6torUrnik")'></td>
                                        <td id='6sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("6sreUrnik")'></td>
                                        <td id='6cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("6cetUrnik")'></td>
                                        <td id='6petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("6petUrnik")'></td>
                                    </tr>
                                    <tr class="svetlosivi">
                                        <th class="urnik_elementi">13:00</th>
                                        <td id='7monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("7monUrnik")'></td>
                                        <td id='7torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("7torUrnik")'></td>
                                        <td id='7sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("7sreUrnik")'></td>
                                        <td id='7cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("7cetUrnik")'></td>
                                        <td id='7petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("7petUrnik")'></td>
                                    </tr>
                                    <tr>
                                        <th class="urnik_elementi">14:00</th>
                                        <td id='8monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("8monUrnik")'></td>
                                        <td id='8torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("8torUrnik")'></td>
                                        <td id='8sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("8sreUrnik")'></td>
                                        <td id='8cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("8cetUrnik")'></td>
                                        <td id='8petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("8petUrnik")'></td>
                                    </tr>
                                    <tr class="svetlosivi">
                                        <th class="urnik_elementi">15:00</th>
                                        <td id='9monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("9monUrnik")'></td>
                                        <td id='9torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("9torUrnik")'></td>
                                        <td id='9sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("9sreUrnik")'></td>
                                        <td id='9cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("9cetUrnik")'></td>
                                        <td id='9petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("9petUrnik")'></td>
                                    </tr>
                                    <tr>
                                        <th class="urnik_elementi">16:00</th>
                                        <td id='10monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("10monUrnik")'></td>
                                        <td id='10torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("10torUrnik")'></td>
                                        <td id='10sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("10sreUrnik")'></td>
                                        <td id='10cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("10cetUrnik")'></td>
                                        <td id='10petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("10petUrnik")'></td>
                                    </tr>
                                    <tr class="svetlosivi">
                                        <th class="urnik_elementi">17:00</th>
                                        <td id='11monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("11monUrnik")'></td>
                                        <td id='11torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("11torUrnik")'></td>
                                        <td id='11sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("11sreUrnik")'></td>
                                        <td id='11cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("11cetUrnik")'></td>
                                        <td id='11petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("11petUrnik")'></td>
                                    </tr>
                                    <tr>
                                        <th class="urnik_elementi">18:00</th>
                                        <td id='12monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("12monUrnik")'></td>
                                        <td id='12torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("12torUrnik")'></td>
                                        <td id='12sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("12sreUrnik")'></td>
                                        <td id='12cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("12cetUrnik")'></td>
                                        <td id='12petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("12petUrnik")'></td>
                                    </tr>
                                    <tr class="svetlosivi">
                                        <th class="urnik_elementi">19:00</th>
                                        <td id='13monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("13monUrnik")'></td>
                                        <td id='13torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("13torUrnik")'></td>
                                        <td id='13sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("13sreUrnik")'></td>
                                        <td id='13cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("13cetUrnik")'></td>
                                        <td id='13petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("13petUrnik")'></td>
                                    </tr>
                                    <tr>
                                        <th class="urnik_elementi">20:00</th>
                                        <td id='14monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("14monUrnik")'></td>
                                        <td id='14torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("14torUrnik")'></td>
                                        <td id='14sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("14sreUrnik")'></td>
                                        <td id='14cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("14cetUrnik")'></td>
                                        <td id='14petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("14petUrnik")'></td>
                                    </tr>
                                    <tr class="svetlosivi">
                                        <th class="urnik_elementi">21:00</th>
                                        <td id='15monUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("15monUrnik")'></td>
                                        <td id='15torUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("15torUrnik")'></td>
                                        <td id='15sreUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("15sreUrnik")'></td>
                                        <td id='15cetUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("15cetUrnik")'></td>
                                        <td id='15petUrnik' class="urnik_elementi" ng-click='vm.data.obdelavaUrnika("15petUrnik")'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="myTasks" class="col-12">
                <pre id="content" style="white-space: pre-wrap;"></pre>
                <div class="tasks">
                    <div id="allToDos" class="row" ng-click=vm.data.completeToDo()>
                    </div>
                    <div class="col-6">
                        <a href="#" class="btn btn-success btn-sm" ng-click=vm.data.dodajTodo()>add new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<noga></noga>
