<navigation></navigation>
<main class="container" role="main">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="email">E-Posta</label>
                    <input class="form-control" id="email" type="text" placeholder="E-Posta" ng-model="vm.email" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="password">Geslo</label>
                    <input class="form-control" id="password" type="password" placeholder="Geslo" ng-model="vm.password" required>
                </div>
            </div>
            
            <div class="row">
                <div class="container" ng-if="vm.failedLogin">
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">{{ vm.failedLogin }}</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <button class="btn btn-primary" type="submit" ng-click="vm.tryLogin()">Prijava</button>
        </div>
    </div>
</main>
