<!--<link rel="stylesheet" href="/stylesheets/event_okno.css"/>-->
<link rel="stylesheet" href="../../public/stylesheets/event_okno.css"/>

<div class="modal-content">
    <div class="form_wrapper">
        <div ng-click="vm.modalnoOknoPreklic.preklici()" class="close">
            <span aria-hidden="true">&times;</span>
        </div>
        <div class="form_text">New message:</div>
        <form class="form_wrapper" method="POST" id="eventForm" ng-submit="vm.createEvent()" autocomplete="off">
            <div class="info_wrapper">
                <div class="event_txt">Description:</div>
                <textarea class="form_input textarea" ng-model="vm.event.description" rows="7" cols="60" required></textarea><br/>
                <button class="button button_green button_login" type="submit">Publish</button>  
            </div> 
        </form>
    </div>
</div>