<navigacija></navigacija>
<div class="container mycontainer">
  
  <div class="col-xs-12 col-sm-4">
    
    <!--p>Za prikaz restavracij v bližini potrebujemo vašo trenutno lokacijo.</p-->
    <!--button ng-click="vm.pridobiGeolokacijo()" style="margin-bottom: 20px">Dovoli</button-->
    <p>Željeno lokacijo lahko tudi ročno vnesete.</p>
    <div class="col-xs-12 col-sm-10 input-group">
      <input type="text" class="form-control"
        placeholder="Vnesite lokacijo"
        ng-keyup="$event.keyCode === 13 && vm.pridobiLokacijo()"
        ng-model="vm.vpisano" >
      <span class="input-group-addon" ng-click="vm.pridobiLokacijo()">
        <span class="glyphicon glyphicon-search"></span>
      </span>
    </div>
    <div class="col-xs-12 col-sm-10 alert alert-warning" style="margin-top: 5px; padding: 6px; font-size: .8em" ng-show="vm.sporocilo">
      {{ vm.sporocilo }}
    </div>
    
    <div style="margin-top: 20px" ng-show="!vm.sporocilo">Seznam bližnjih restavracij:</div>
    <div class="col-xs-12 col-sm-10 list-group">
      <div ng-repeat="restavracija in vm.data.restavracije">
        <button type="button"
        class="list-group-item"
        ng-click="vm.izberiRestavracijo(restavracija)" >
          {{ restavracija.lokal }} {{ restavracija.name }}
          <div ng-show="restavracija.posid == vm.izbranaRestavracija.posid" >
            <p style="font-size:0.9em">{{ restavracija.naslov }}</p>
            <p>doplačilo: {{ restavracija.doplacilo }}€</p>
            <a href="https://www.studentska-prehrana.si/sl/restaurant/Details/{{vm.izbranaRestavracija.posid}}"
            style="font-size:0.9em" target="_blank">
              meni
            </a>&nbsp;|&nbsp; 
            <a style="font-size:0.9em" type="button" id="karta" ng-click="vm.karta(restavracija)">pokaži na karti</a>
          </div>
        </button>
        
      </div>

    </div>
    
  </div>
  
  <div class="col-xs-12 col-sm-8 location-map">
    <div id="map" style="height: 500px;"></div>
  </div>

</div>