<navigacija></navigacija>

<div class="container">
    <div class="row page-header">
        <div class="col-lg-12">
            <h1 class="ml-3" >{{ vm.glavaStrani.naslov }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3" >
            <div class="form-group">
                <label for="imePostaje">Station name:</label>
                <select id="imePostaje" class="form-control" ng-model="vm.izbranaPostaja">
                    <option ng-repeat="postaja in vm.vsePostaje" value={{postaja.int_id}}>{{postaja.name}}</li>
                </select>                
            </div>
            <div class="form-group">
                <label for="idPostaje">Station id:</label>
                <select id="idPostaje" class="form-control" ng-model="vm.izbranaPostaja">
                    <option ng-repeat="postaja in vm.vsePostaje" value={{postaja.int_id}}>{{postaja.int_id}}</li>
                </select>
            </div>
            <div class="button-group form-group mt-3">
                <button class="btn btn-primary mt-2" ng-click="vm.posodobiPodatkePrihodih()" type="button">Print times</button>
            </div>
        
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12 mt-3" >
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Bus number</th>
                  <th scope="col">Way</th>
                  <th scope="col">Minutes until arrival</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="prihod in vm.podatkiOPrihodih">
                    <td class="text-left">{{prihod.route_number}}</td>
                    <td class="text-left">{{prihod.route_name}}</td>
                    <td class="text-left">{{prihod.eta}} min</td>
                </tr>
              </tbody>
            </table>
            <p ng-if="vm.aliSoPodatkiOPrihodihNaVoljo() && vm.aliSoBiliPodatkiVrnjeni()"><b>Data is not avaliable at the moment</b></p>
            <p ng-if="!vm.aliJePostajaIzbrana()"><b>Pick the station</b></p>
        </div>
    </div>        
</div>
