<div class="container">
    <div class="row" style="margin-top: 20px; ">
        <div class="col-12 .col-md-6 .offset-md-3">
            <form novalidate>
                <div class="form-group">
                    <label for="emailInput">Elektronski naslov:</label>
                    <input ng-model="vm.obrazec.email" type="email" id="emailInput" class="form-control" aria-describedby="emailHelp" placeholder="Vpiši elektronski naslov">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Geslo:</label>
                    <input ng-model="vm.obrazec.geslo1" type="password" id="passwordInput" class="form-control" placeholder="Geslo">
                </div>
                <div class="form-group">
                    <label for="passwordRepeatInput">Ponovi geslo:</label>
                    <input ng-model="vm.obrazec.geslo2" type="password" id="passwordRepeatInput" class="form-control" placeholder="Ponovi geslo">
                </div>
                <div class="d-flex">
                    <span class="mr-auto mt-2 font-weight-light">Že imaš račun? <a href="/prijava">Prijavi se</a></span>
                    <input ng-click="vm.izvedi_registracijo()" data-ng-disabled="vm.success" type="submit" class="btn btn-primary d-flex ml-auto" value="Registriraj se" />
                </div>
            </form>
            <div ng-if="vm.error" class="alert alert-danger mt-3" role="alert">
                {{ vm.error }}
            </div>
            <div ng-if="vm.message" class="alert alert-primary mt-3" role="alert">
                {{ vm.message }}
            </div>
            <div ng-if="vm.success" class="alert alert-success mt-3" role="alert">
                {{ vm.success }}
            </div>
        </div>
    </div>
</div>