<div class="modal-content">
  <form id="sendSystemMessage" name="sendSystemMessage" ng-submit="vm.posiljanjePodatkov()" role="form" class="form-horizontal">
    <div class="modal-header">
      <h4 id="oznakaModalnegaOkna" class="modal-title">System message</h4>
      <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
      </button>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
      <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
          <textarea id="message" name="message" rows="5" required="required" ng-model="vm.podatkiObrazca.message" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default btn-sm">Close</button>
      <button type="submit" class="btn btn-primary btn-sm">Send message</button>
    </div>
  </form>
</div>