<link rel="stylesheet" href="/stylesheets/food_style.css">

<nav-user ng-show="vm.showNavStudent"></nav-user>
<nav-neregistriran ng-hide="vm.showNavStudent"></nav-neregistriran>
<div class="container">
    <h2 class="heading_secondary">See nearby resturants</h2>
    
    <div class="event_map">
        <div>
            <iframe class="map" width="1000px" height="600px" ng-src="{{'https://maps.google.com/maps?q=restourant&amp;ll=' + vm.position.lat + ',' + vm.position.lon + '&amp;types=restaurant&amp;ie=UTF8&amp;t=&amp;z=13&amp;iwloc=B&amp;output=embed'}}" 
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div><br/>
    </div>
</div>