<div class="modal-content">
  <form class="form-horizontal" ng-submit="vm.posljiPodatke()" method="post" role="form">
    <div class="modal-header">
      <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
      </button>
      <h1 style="text-align:center;">Change password for {{ vm.trenutniUporabnik.email }}</h1>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
      <div class="form-group"><label for="oldPass">Old Password:</label><input class="form-control" ng-model="vm.podatkiObrazca.oldPass" id="Name" type="password" name="oldPass" /></div>
      <div class="form-group"><label for="repeatOldPass">Repeat Old Password:</label><input class="form-control" ng-model="vm.podatkiObrazca.repeatOldPass" id="Date" type="password" name="repeatOldPass" /></div>
      <div class="form-group"><label for="newPass">New Password:</label><input class="form-control" ng-model="vm.podatkiObrazca.newPass" id="CourseDuration" type="password" name="newPass" /></div>
      </div>
    <div class="modal-footer">
      <button ng-click="vm.modalnoOkno.preklici()" class="btn btn-default btn-sm pull-left" type="button">Close</button>
      <button class="btn btn-default btn-sm pull-right" type="submit">Save Changes</button>
    </div>
  </form>
</div>