<navigacija></navigacija>
<div class="container mycontainer">
    <div class="panel panel-default">
        <div class="panel-heading">
            Sprememba gesla
        </div>
        <div class="panel-body">
            <form class="login-form spremenigPS">
                <h3>Spremeni geslo</h3>
                <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger" id="sporocilo2">{{ vm.napakaNaObrazcu }}</div>
                <div role="alert" ng-show="vm.changeMessagePassw" class="alert alert-info" >{{ vm.changeMessagePassw }}</div>
                <label for="passwordNew1">Vpiši staro geslo</label>
                <input class="form-control" type="password" name="passwordOld" id="passwordOld" ng-model="vm.passwordOld">
                <label for="passwordNew1">Novo geslo</label>
                <input class="form-control" type="password" name="passwordNew1" id="passwordNew1" ng-model="vm.passwordNew1">
                <label for="passwordnew">Ponovi novo geslo</label>
                <input class="form-control" type="password" name="passwordNew2" id="passwordNew2" ng-model="vm.passwordNew2">
                <button ng-click="vm.data.updatePassword(vm.passwordOld, vm.passwordNew1, vm.passwordNew2)" class="btn btn-primary" id="passwordBtn" type="submit">Shrani</button>
            </form>
        </div>
    </div>
</div>