<div class="container">
    <div class="row" style="margin-top: 20px; ">
        <div class="col-12 col-md-6 offset-md-3">
            <table class="mb-3">
                <tr>
                    <td style="padding-right: 2vw;"><i class="far fa-user-circle" style="font-size: 50px;"></i></td>
                    <td>{{ vm.trenutniUporabnik.email }}</td>
                </tr>
            </table>

            <form ng-submit="vm.spremeni_geslo()">
                <div class="form-group">
                    <input ng-model="vm.obrazec.staro_geslo" type="password" class="form-control" placeholder="Enter current password..." required>
                </div>
                <div class="form-group">
                    <input ng-model="vm.obrazec.novo_geslo" type="password" class="form-control" placeholder="Enter new password..." required>
                </div>
                <div class="form-group">
                    <input ng-model="vm.obrazec.novo_geslo_repeat" type="password" class="form-control" placeholder="Repeat new password..." required>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Save Changes" />
                </div>
            </form>
            <div ng-if="vm.error" class="alert alert-danger mt-3" role="alert">
                {{ vm.error }}
            </div>
            <div ng-if="vm.success" class="alert alert-success mt-2" role="alert">
                {{ vm.success }}
            </div>
        </div>
    </div>
</div>