<br>
<div class="container">
  <div class="center">
    <h2 class="container">Restaurants in your vicinity</h2>
    <br>
    <agm-map [zoom]="15" [latitude]="lat" [longitude]="lng">
      <agm-marker [iconUrl]="this.iconUrl" [latitude]="lat" [longitude]="lng"></agm-marker>
      <agm-marker  *ngFor="let r of this.rest" [latitude]="r.lat" [longitude]="r.long" [markerClickable]="true" [label]="r.name"></agm-marker>
    </agm-map>
    
    <mat-table [dataSource]="this.rest" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="NAME">
        <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="ADDRESS">
        <mat-header-cell *matHeaderCellDef> ADDRESS </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="PRICE">
        <mat-header-cell *matHeaderCellDef> PRICE (€) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="DISTANCE">
        <mat-header-cell *matHeaderCellDef> DISTANCE (KM) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{this.round(element.distance)}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="this.columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: this.columns;"></mat-row>
    </mat-table>
  </div>
</div>
