<link rel="stylesheet" href="/stylesheets/navigation_style.css"/> 

<div class="container_nav">
    <a ng-href="/home">
        <div class="nav_home nav_h" >
            Home
        </div>
    </a>
    <a ng-href="/food">
        <div class="nav_food nav_h">
            Food
        </div>
    </a>    
    <a ng-href="/studentEventi">
        <div class="nav_events nav_h">
            Events
        </div>
    </a>
    
    <a ng-href="/trola">
        <div class="nav_bus nav_h">
            Bus
        </div>
    </a>
    
    <a ng-href="/profile">
        <div class="nav_profile nav_h">
            Profile
        </div>
    </a>
    <a ng-href="/logout">
        <div class="nav_home nav_h">
            Logout
        </div>
    </a>
</div>