<glava></glava>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container" style="height:1000px">
            <div class="row">
                <section class="jumbotron container text-center">
                    <div class="container">
                        <h1 class="jumbotron-heading">Event Manager</h1>
                        <br>
                        <div class="row">
                            <div class="col"><h5>Name</h5></div>
                            <div class="col"><h5>Organizer</h5></div>
                            <div class="col"><h5>Date</h5></div>
                            <div class="col"><h5>Description</h5></div>
                        </div>
                        <br>
                        <div ng-if="vm.dogodki != undefined && vm.dogodki.length > 0">

                                <div ng-repeat="post in vm.dogodki">
                                    <div class="row">
                                        <div class="col">{{post.name}}</div>
                                        <div class="col">{{post.organizer}}</div>
                                        <div  type="date" class="col">{{post.date.split('T')[0]}}</div>
                                        <div class="col">{{post.description}}</div>
                                    </div>
                                    <hr>
                                </div>

                        </div>
                        <div>
                            <button ng-click="vm.prikaziPojavnoOknoObrazca()" type="button" class="btn btn-primary my-2">Add Event</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>

</main>