<!-- TODO seznam -->
<div ng-controller="sporocilaCtrl as dc">
    <div class="col-12">
        <div  class="card card-body bg-light" style="margin: 20px" id="todoModule">
            <!-- TODO 1 -->
            <div id="seznam-sporocil" ng-repeat="sporocilo in dc.seznamSporocil" ng-click="">

                <div>
                    <div class="card mt-2">



                            <div class="row">
                                <div class="col-xs-12" style="margin-left: 16px">
                                    <p class="lead card-text">Obvestilo: </p>
                                </div>
                                <div class="col">
                                    <p class="lead card-text">{{sporocilo.opis}}</p>
                                </div>
                            </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
