<glava></glava>
<main role="main" style="color: crimson" >
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div ng-if="vm.objave != undefined && vm.objave.length > 0">
                        <div class="row">
                            <div ng-repeat="post in vm.objave" class="col-md-4" >
                                <div class="card mb-4 shadow-sm" style="background-color: lightgoldenrodyellow; padding: 2pt; margin: 2pt">
                                    <h3 style="margin: 0pt">{{post.title}}</h3>
                                    <p style="margin-bottom: 10pt"><medium>{{ post.dateCreated}}</medium></p>
                                    <hr class="style17">
                                    <p>{{post.message}}</p>
                                    <div ng-if="vm.gumb==1">
                                        <button  ng-click="vm.trenId=(post._id)" type="button"  href="#myModal" data-toggle="modal" class="btn btn-danger">X</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                <div class="text-center">
                                    <h4 class="modal-title">Are you sure?</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Do you really want to delete this note? This process cannot be undone.</p>
                                </div>
                                <div class="text-center">
                                    <form ng-submit="vm.izbrisiTodo()" method="DELETE">
                                        <button ng-if="vm.response != 'success'" type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                        <button ng-if="vm.response != 'success'" id="gumb" type="submit" class="btn btn-danger">Delete</button>
                                        <a ng-if="vm.response == 'success'" class="navbar-brand" href="/">Continue</a>
                                        <div ng-if="vm.response == 'success'" class="alert alert-info">Note deleted!</div>
                                        <div ng-if="vm.response == 'error'" class="alert alert-danger">Napaka pri brisanju!</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="myModal2" class="modal fade">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                <div class="text-center">
                                    <h4 class="modal-title">TODO</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <textarea ng-model="vm.description" class="form-control" id="description" name="description" rows="5" required></textarea>
                                </div>
                                <div class="text-center">
                                    <form ng-submit="vm.dodajTodo()" method="POST">
                                        <button ng-if="vm.response != 'success'" type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                        <button ng-if="vm.response != 'success'" id="gumb2" type="submit" class="btn btn-primary">Save</button>
                                        <a ng-if="vm.response == 'success'" class="navbar-brand" href="/">Continue</a>
                                        <div ng-if="vm.response == 'success'" class="alert alert-info">Note added!</div>
                                        <div ng-if="vm.response == 'error'" class="alert alert-danger">Napaka pri dodajanju!</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="card mb-4 shadow-sm" style="background-color: lightgoldenrodyellow; padding: 2pt; margin: 2pt">
                            <p>is a genus of stegosaurian dinosaur that lived in South Africa during the Early Cretaceous, between 139 and 131 million years ago. Discovered in 1845, it was one of the first stegosaurians found. Its only remains, a partial skull, isolated teeth, and fragments of vertebrae, were found in the Kirkwood Formation. British paleontologist Richard Owen initially identified the fragments as those of the pareiasaur Anthodon. After remaining untouched for years in the British Museum of Natural History, the partial skull was identified by South African paleontologist Robert Broom as belonging to a different genus; he named the specimen Palaeoscincus africanus. Several years later, Hungarian paleontologist Franz Nopcsa, unaware of Broom's new name, similarly concluded that it represented a new taxon, and named it Paranthodon owenii. Since Nopcsa's species name was assigned after Broom's, and Broom did not assign a new genus, both names are now synonyms of the current binomial, Paranthodon africanus. The genus name combines the Ancient Greek para (near) with the genus name Anthodon, to represent the initial referral of the remains.</p>
                        </div>
                        <div class="card mb-4 shadow-sm" style="background-color: lightgoldenrodyellow; padding: 2pt; margin: 2pt">
                            <p>is a genus of</p>
                        </div>
                        <div class="card mb-4 shadow-sm" style="background-color: lightgoldenrodyellow; padding: 2pt; margin: 2pt">
                            <p>is a genus of</p>
                        </div>
                        <div class="card mb-4 shadow-sm" style="background-color: lightgoldenrodyellow; padding: 2pt; margin: 2pt">
                            <p>is a genus of</p>
                        </div>
                        <div class="card mb-4 shadow-sm" style="background-color: lightgoldenrodyellow; padding: 2pt; margin: 2pt">
                            <p>is a genus of stegosaurian dinosaur that lived in South Africa during the Early Cretaceous, between 139 and 131 million years ago. Discovered in 1845, it was one of the first stegosaurians found. Its only remains, a partial skull, isolated teeth, and fragments of vertebrae, were found in the Kirkwood Formation. British paleontologist Richard Owen initially identified the fragments as those of the pareiasaur Anthodon. After remaining untouched for years in the British Museum of Natural History, the partial skull was identified by South African paleontologist Robert Broom as belonging to a different genus; he named the specimen Palaeoscincus africanus. Several years later, Hungarian paleontologist Franz Nopcsa, unaware of Broom's new name, similarly concluded that it represented a new taxon, and named it Paranthodon owenii. Since Nopcsa's species name was assigned after Broom's, and Broom did not assign a new genus, both names are now synonyms of the current binomial, Paranthodon africanus. The genus name combines the Ancient Greek para (near) with the genus name Anthodon, to represent the initial referral of the remains.</p>
                        </div>-->


                </div>
            </div>
        </div>
    </div>
    </div>
</main>