.event-list li {
    list-style-type: none;
}

#map {
    width: 100%;
    height: 85vh;
}

#restaurant-list {
    width: 100%; 
}

.calendar-body ul {
    margin: 0;
    padding: 0;
}

.calendar-body ul li {
    float: left;
    display: block;
    width: 14.2857%;
    text-align: center;
    list-style-type: none;
    border-radius: 5px;
}

.calendar-body .entry-list .selected {
    color: white;
    background-color: cornflowerblue;
}

.calendar-body .entry-list li:hover {
    cursor: pointer;
    color: white;
    background-color: cornflowerblue;
}

@media (min-width: 481px) and (max-width: 767px) {
    #map {
        height: 65vh;
    }
}
  
@media (min-width: 320px) and (max-width: 480px) {
    #map {
        height: 65vh;
    }
}