<navigation></navigation>
<div class="bg">
  <div class="registration_page">
    <div class="container registration-form">
      <h1> {{vm.pageHeader.title}} </h1>
      <form ng-submit="vm.sendingData()" autocomplete="off">
        <div role="alert" ng-show="vm.errorOnForm" class="alert alert-danger">{{ vm.errorOnForm }}</div>
        <div class="form-group">
          <label for="passwordOld">Staro geslo:</label>
          <input class="form-control item" id="passwordOld" type="password" name="passwordOld" placeholder="Vpišite staro geslo" ng-model="vm.loginData.passwordOld"/>
        </div>
        <div class="form-group">
          <label for="passwordNew">Novo geslo:</label>
          <input type="password" class="form-control" id="passwordNew" placeholder="Geslo" ng-model="vm.loginData.passwordNew">
        </div>
        <div class="form-group">
          <label for="passwordNew2">Novo geslo:</label>
          <input type="password" class="form-control" id="passwordNew2" placeholder="Ponovno vpišite geslo" ng-model="vm.loginData.passwordNew2">
        </div>
        <!--
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control item" id="password" type="password" placeholder="Your new password" name="password" ng-model="vm.prijavniPodatki.password"/>
          <small class="form-text text-muted" id="passwordHelpBlock">Your password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter.</small>
        </div>
        -->
        <button id="changePasswordButton" class="btn btn-dark btn-block create-account" type="submit">Change password!</button>
      </form>
    </div>
  </div> 
</div>