<ul id="dropdown1" class="dropdown-content">
    <li><a href="/changepassword">Change Password</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <li><a href="/logout">Logout</a></li>
</ul>
{% load auth_extras %}
<ul class="sidenav" id="on-mobile">
    {% if user.is_authenticated %}
        {% if request.user|has_group:"admin" %}
            <li><a href="/dodajanjeobvestil">System messages</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ user.username }}<i
                class="material-icons right">arrow_drop_down</i></a></li>
        {% elif request.user|has_group:"upravljalec" %}
            <li><a href="/dodajanjedogodkov">Add Events</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ user.username }}<i
                class="material-icons right">arrow_drop_down</i></a></li>
        {% elif request.user|has_group:"registriran" %}
            <li><a href="/home">Home</a></li>
            <li><a href="/dogodki">Events</a></li>
            <li><a href="/bus">Bus</a></li>
            <li><a href="/restavracije">Food</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ user.username }}<i
                    class="material-icons right">arrow_drop_down</i></a></li>
        {% endif %}
    {% else %}
        <li><a href="/dogodki">Events</a></li>
        <li><a href="/bus">Bus</a></li>
        <li><a href="/restavracije">Food</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    {% endif %}
</ul>
<div class="navbar-fixed">

<nav>
    <div class="nav-wrapper blue-grey darken-1">
        <a href="/home" class="brand-logo" style="margin-left:20px; margin-right:20px">StraightAs</a>
        <a href="#" data-target="#on-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                {% if request.user|has_group:"admin" %}
                    <li><a href="/dodajanjeobvestil">System messages</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">{{ user.username }}<i
                        class="material-icons right">arrow_drop_down</i></a></li>
                {% elif request.user|has_group:"upravljalec" %}
                    <li><a href="/dodajanjedogodkov">Add Events</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">{{ user.username }}<i
                        class="material-icons right">arrow_drop_down</i></a></li>
                {% elif request.user|has_group:"registriran" %}
                    <li><a href="/home">Home</a></li>
                    <li><a href="/dogodki">Events</a></li>
                    <li><a href="/bus">Bus</a></li>
                    <li><a href="/restavracije">Food</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ user.username }}<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                {% endif %}
            {% else %}
                <li><a href="/dogodki">Events</a></li>
                <li><a href="/bus">Bus</a></li>
                <li><a href="/restavracije">Food</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
</div>

<script>
    $(".dropdown-trigger").dropdown();

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>