<navigacija></navigacija>

<div class="row page-header">
    <div class="col-lg-12">
        <h1 style="text-align:center;">{{ vm.naslov }}</h1></h1>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
    <button ng-click="vm.prikaziPojavnoOknoObvestiloVnos()" id="gumbDodajObvestilo" class="btn btn-danger btn-lg">New Message</button>
</div>