<navigacija></navigacija>
<div class="container mycontainer" ng-hide="vm.jePrijavljenStudent">
  <div class="panel panel-default">
        <div class="panel-heading">
            Dogodki
        </div>
        <div class="panel-body" style="text-align:center">
            Ta funkcionalnost je na voljo samo prijavljenim uporabnikom. Prijavite se lahko na tej <a href="/login">povezavi</a>.
        </div>
    </div>
</div>
<div class="container mycontainer" ng-show="vm.jePrijavljenStudent"> 
    
    <div class="row" ng-if="vm && vm.dogodki && vm.dogodki.length>0">
        <div ng-repeat="vrstica in vm.dogodki">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading"><b>Ime:</b> {{ vrstica.name }}</div>
                    <div class="panel-body">
                        <div style="margin: 2px 0px 2px 0px"><b>Opis:</b> {{ vrstica.description }}</div>
                    
                        <div style="margin: 2px 0px 2px 0px"><b>Datum:</b> {{ vrstica.day }}.{{ vrstica.month }}.{{ vrstica.year }}</div>
                        
                        <div style="margin: 2px 0px 2px 0px"><b>Organizator:</b> {{ vrstica.organizer }}</div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

</div>