<navigacija></navigacija>
<div class="container mycontainer">

    <div class="row" ng-if="vm && vm.dogodki && vm.dogodki.length>0" style="overflow:auto;max-height:75vh;">
        <div class="alert alert-info" role="alert" ng-show="vm.sporocilo.length>1">{{ vm.sporocilo }}</div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ime</th>
                        <th>Opis</th>
                        <th>Datum</th>
                        <th>Organizator</th>
                    </tr>
                </thead>
                <tbody ng-repeat="vrstica in vm.dogodki" >
                    <tr>
                        <td>{{ vrstica.name }}</td>
                        <td>{{ vrstica.description }}</td>
                        <td>{{ vrstica.day }}.{{ vrstica.month }}.{{ vrstica.year }}</td>
                        <td>{{ vrstica.organizer }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <button style="margin:20px auto" type="button" class="btn btn-info btn-lg center-block" data-toggle="modal" data-target="#SendEvent">Nov dogodek</button>

    <div class="modal fade" id="SendEvent" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <b>Dogodek</b>
                </div>
                
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="ime">Ime</label>
                        <input type="text" id="ime" class="form-control validate" ng-model="vm.event.ime" required>
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="opis">Opis</label>
                        <input type="text" id="opis" class="form-control validate" ng-model="vm.event.opis">
                    </div>
                    <div class="md-form mb-4">
                        <label data-error="wrong" data-success="right" for="datum">Datum</label>
                        <input type="date" id="datum" class="form-control validate" ng-model="vm.event.datum" required>
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="organizator">Organizator</label>
                        <input type="text" id="organizator" class="form-control validate" ng-model="vm.event.organizator">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" aria-label="Close">Prekliči</button>
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="vm.objaviDogodek()">Pošlji</button>
                    
                </div>
            </div>
        </div>
    </div>

</div>