<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">StraightAs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul ng-show="navvm.isLoggedIn" class="navbar-nav mr-auto mx-auto">
        <li ng-hide="navvm.normalUser">{{ vm.naslovUporabnika }}</li>
        <li ng-show="navvm.normalUser" class="nav-item"><a class="nav-link" ng-href="/">Home</a></li>
        <li ng-show="navvm.normalUser" class="nav-item"><a class="nav-link" ng-href="/restaurants">Food</a></li>
        <li ng-show="navvm.normalUser" class="nav-item"><a class="nav-link" ng-href="/events">Events</a></li>
        <li ng-show="navvm.normalUser" class="nav-item"><a class="nav-link" ng-href="trola">Bus</a></li>

    </ul>
    <div ng-show="navvm.isLoggedIn" class="navbar-header navbar-right">
          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle fa-2x"></i></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" ng-href="/verify">Verify</a>
                    <a class="dropdown-item" ng-href="/changePassword">Change password</a>
                    <a class="dropdown-item" ng-click="navvm.logout()" href="/login">Sign out</a>
                  </div>
                      <!--<div class="dropdown-divider"></div><a class="dropdown-item" href="#">Something else here</a></div>-->
              </li>
          </ul>
    </div>
  </div>
</nav>

