<navigation></navigation>
<div class="container">
  
  <h1>ON THIS PAGE YOU CAN FILL AND DELETE ALL DATABASE</h1>
  <button class="btn btn-success" type='button' ng-click="vm.dodajEvent(vm.event1); vm.dodajEvent(vm.event2); vm.dodajEvent(vm.event3); vm.dodajUser(vm.user1); vm.dodajUser(vm.user2); vm.dodajUser(vm.user3)">INSERT</button>
  <button class="btn btn-danger" type='button' ng-click="vm.izbrisiEvent(); vm.izbrisiUser()">DELETE</button>
  <button class="btn btn-info" type='button' ng-click="vm.izprazniLogger()">Clear logger</button>
  <button class="btn btn-info" type='button' ng-click="vm.pojdiNaHomePage()">Home page</button>
  
  <div id="log-container">
    <pre id="logger"></pre>
  </div>
  
  <noga></noga>
</div>