<navigation></navigation>

<div class="container">
    <div class="card col-lg-12 col-md-8 col-sm-10 col-xs-12">
      <div class="card-body">
        <div class="error">
          {{ vm.message }}
        </div>
      </div>
      <h3><i>{{ vm.pageHead.title }}</i></h3>
      <button ng-show="vm.animator" class="btn btn-success" ng-click="vm.showModalForAddEvent()">Add new</button>
      <div>
        <div class="row">
        <div class="list-group card col-lg-6 col-md-12" ng-repeat="event in vm.data.events">
          <div class="list-group-item">
            <h4>NAME: {{ event.name }}</h4>
            <p><h5>ORGANIZER:</h5> {{ event.organizer }}</p>
            <p><h5>DATE:</h5> {{ event.date | date: 'd. MMMM, yyyy' }}</p>
            <p><h5>DESCRIPTION:</h5> {{ event.descriptionOfEvent }}</p>
          </div>
        </div>
        </div>
      </div>
    </div>
    <noga></noga>
</div>
