<navigation></navigation>

<div class="container">
  <glava vsebina="vm.glavaStrani"></glava>
  
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>{{ vm.osrednjiDel.vsebina }}</p>
    </div>
  </div>

  <noga></noga>
</div>