<navigation></navigation>

<div class="container">
    <div class="card col-lg-12">
      <div class="card-body">
        <div class="error">
          {{ vm.message }}
        </div>
      </div>
      <button style="padding: 20% 1%;" ng-show="vm.administrator" class="btn btn-success btn-big" ng-click="vm.showModalForSystemMessage()"><div style="transform: rotate(360deg); font-size: 250%">New message</div></button>
    </div>
    <noga></noga>
</div>
