<div class="modal-content">
  <form class="form-horizontal" ng-submit="vm.posljiPodatkePOSTKoledar()" method="post" id="vnosKoledarForm" role="form">
    <div class="modal-header">
      <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
      </button>
      <h1 style="text-align:center;">Add to calendar</h1>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
      <div class="form-group"><input class="form-control" ng-model="vm.podatkiObrazca.email" type="hidden" ng-value="vm.trenutniUporabnik.email" /></div>
      <div class="form-group"><label for="Name">Name:</label><input class="form-control" ng-model="vm.podatkiObrazca.Name" id="Name" type="text" name="Name" /></div>
      <div class="form-group"><label for="Date">Date:</label><input class="form-control" ng-model="vm.podatkiObrazca.Date" id="Date" type="date" name="Date" value="2018-07-22" /></div>
      <div class="form-group"><label for="Duration">Duration:</label><input class="form-control" ng-model="vm.podatkiObrazca.Duration" id="CourseDuration" type="number" name="Duration" /></div>
      <div class="form-group"><label for="Description">Description:</label><textarea class="form-control" ng-model="vm.podatkiObrazca.Description" id="Description" type="text" name="Description" rows="5"></textarea></div>
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modalnoOkno.preklici()" class="btn btn-default btn-sm pull-left" type="button">Close</button>
      <button class="btn btn-default btn-sm pull-right" type="submit">Save Changes</button>
    </div>
  </form>
</div>