<div class="container">
  <div class="center">
    <br>
    <div class="container">
      <h2>System messages</h2>
    </div>
    <br>
    <mat-table [dataSource]="this.messages" class="mat-elevation-z8">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> DATE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date.toDateString()}} </mat-cell>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="content">
        <mat-header-cell *matHeaderCellDef> MESSAGE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.content}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="this.columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: this.columns;"></mat-row>
    </mat-table>
  </div>
</div>
