<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">StraightAs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div ng-if="tipUserja == 0" class="navbar-nav">
            <a ng-class="{active: isActive('/home')}" class="nav-item nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            <a ng-class="{active: isActive('/food')}" class="nav-item nav-link" href="/food">Food</a>
            <a ng-class="{active: isActive('/events')}" class="nav-item nav-link" href="/dogodki">Events</a>
            <a ng-class="{active: isActive('/bus')}" class="nav-item nav-link" href="/bus">Bus</a>
            <a ng-class="{active: isActive('/events')}" class="nav-item nav-link" href="/sporocila">Notifications</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a ng-if="isLoggedIn() && isOpen" class="nav-item nav-link" href="/spremeniGeslo">Change password</a>
            <a ng-if="isLoggedIn() && isOpen" ng-click="logOut()" class="nav-item nav-link" href="/user">Log out</a>
            <a ng-if="isLoggedIn() && !isOpen" ng-click="toggle()" class="nav-item nav-link" href="#">
                <i class="far fa-user-circle fa-lg"></i>
            </a>
            <a ng-if="isLoggedIn() && isOpen" ng-click="toggle()" class="nav-item nav-link" href="#">
                    <i class="fas fa-chevron-left"></i>
                </a>
            <a ng-if="!isLoggedIn()" class="nav-item nav-link" href="/prijava">
                <i class="far fa-user-circle fa-lg"></i>
    	    </a>
        </div>
    </div>
</nav>