<br>
<div class="container">
  <div class="center">
    <h1 class="container">Change password</h1>
    <br>
    <form [formGroup]="replaceForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Current password</label>
          <input type="password" [class.is-invalid]="geslo.invalid && geslo.touched" formControlName="geslo" class="form-control"  required>
          <small class="text-danger" [class.d-none]="geslo.untouched || geslo.valid">Minimal length is 8.</small>
        </div>

      <div class="form-group">
        <label>Confirm current password</label>
        <input type="password" [class.is-invalid]="replaceForm.errors?.misMatch" formControlName="confirmPassword" class="form-control" required >
        <small class="text-danger" *ngIf="replaceForm.errors?.misMatch">Passwords do not match</small>
      </div>

      <div class="form-group">
        <label>New password</label>
        <input type="password" [class.is-invalid]="novoGeslo.invalid && novoGeslo.touched" formControlName="novoGeslo" class="form-control"  required>
        <small class="text-danger" [class.d-none]="novoGeslo.untouched || novoGeslo.valid">Minimal length is 8.</small>
      </div>
      <button class="btn btn-primary" [disabled]="!replaceForm.valid" type="submit">Change password</button>
    </form>
  </div>
</div>
