<main class="container" role="main">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <div class="row">
                <div class="container" ng-if="vm.message">
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">{{ vm.message }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
