<div class="modal-content">
  <form id="addEvent" name="addEvent" ng-submit="vm.posiljanjePodatkov()" role="form" class="form-horizontal">
    <div class="modal-header">
      <h4 id="oznakaModalnegaOkna" class="modal-title">Add new task</h4>
      <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
      </button>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
      <div class="form-group">
        <label for="name" class="col-xs-10 col-sm-2 control-label">Title</label>
        <div class="col-xs-12 col-sm-10">
          <input id="name" required="required" ng-model="vm.podatkiObrazca.name" class="form-control">
        </div>
      </div>
      <!--<div class="form-group">
        <label for="date" class="col-xs-10 col-sm-2 control-label">Date</label>
        <div class="col-xs-12 col-sm-10">
          <input id="date" ng-model="vm.podatkiObrazca.date" class="form-control">
        </div>
      </div>-->
      <!--<div class="form-group">
        <label for="organizer" class="col-xs-10 col-sm-2 control-label">Organizer</label>
        <div class="col-xs-12 col-sm-10">
          <input id="organizer" required="required" ng-model="vm.podatkiObrazca.organizer" class="form-control">
        </div>
      </div>-->
      <!--<div class="form-group">
        <label for="descriptionOfEvent" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea id="descriptionOfEvent" name="descriptionOfEvent" rows="5" required="required" ng-model="vm.podatkiObrazca.descriptionOfEvent" class="form-control"></textarea>
        </div>
      </div>-->
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default btn-sm">Close</button>
      <button type="submit" class="btn btn-primary btn-sm">Save</button>
    </div>
  </form>
</div>