@import 'home';
@import 'calendar';
@import 'schedule';
@import 'todo';
@import 'forms';
@import 'registration';
@import 'admin';
@import 'changePassword';
@import 'restaurants';
@import 'events';
@import 'buses';
@import 'modals';


.modal {
	overflow-y: auto;
	padding-right: 0px !important;
}

.modal-open {
	overflow: auto;
	padding-right: 0px !important;
}

body {
	background-color: #91aac3;

	.straightas-header {
		background-color: #d3dde7 !important;

		margin-bottom: 20px;

		.navbar-brand, .nav-link {
			cursor: pointer;
		}

		.header-form-modal {
			.modal-body {
				max-height: 60vh;
				overflow-y: auto;
			}

			form {
				width: 60%;
				margin: 60px auto;
				background: #efefef;
				padding: 60px 120px 80px 120px;
				text-align: center;
				-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
				box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
			}
			label {
				display: block;
				position: relative;
				margin: 40px 0px;
			}
			i {
				margin-right: 10px;
				font-size: 1.1em;
			}
			.label-txt {
				position: absolute;
				top: -1.6em;
				padding: 10px;
				font-family: sans-serif;
				font-size: .8em;
				letter-spacing: 1px;
				color: rgb(120,120,120);
				transition: ease .3s;
			}
			.input {
				width: 100%;
				padding: 10px;
				background: transparent;
				border: none;
				outline: none;
			}

			.line-box {
				position: relative;
				width: 100%;
				height: 2px;
				background: #BCBCBC;
			}
			
			.line {
				position: absolute;
				width: 0%;
				height: 2px;
				top: 0px;
				left: 50%;
				transform: translateX(-50%);
				background: #7ac3f8;
				transition: ease .6s;
			}

			.changePassword {
				color: red;
			}

			.input:focus + .line-box .line {
				width: 100%;
			}

			.label-active {
				top: -3em;
			}

			@media only screen and (max-width: 740px) {
				form {
					width: 90%;
					padding: 60px 30px 80px 30px;
				}
			}

			.fade.in {
				opacity: 1;
			}
			.modal.in .modal-dialog {
				-webkit-transform: translate(0, 0);
				-o-transform: translate(0, 0);
				transform: translate(0, 0);
			}
			.modal-backdrop.in {
				opacity: 0.5;
			}
		}
	}

	.align-right{
		text-align: right;
	}
}