.todo {
	border: 1px solid #b8c8d8;
	width: 100%;

	background-color: #d3dde7;

	.buttons {
		padding: 10px 20px;
		width: 100%;
		position: relative;

		.listTodoClass {
			width: 100%;
			text-align: center;
		}

		.plusGumb {
			position: absolute;
			left: 20px;
			top: 10px;
		}
	}

	.todo-list-container {
		padding: 20px;
		column-count: 2;
		column-gap: 0;

		text-align: center;

		@media only screen and (max-width: 1435px) {
			column-count: 1;
		}

		@media only screen and (min-width: 2240px) {
			column-count: 3;
		}

		.todo-list {
			position: relative;

			cursor: pointer;

			text-align: left;

			display: inline-block;

			width: 280px;
			padding: 22px 15px 15px 15px; 
			margin-right: 20px; 
			margin-bottom: 20px; 

			background-color: #ffc;

			-webkit-box-shadow: 5px 5px 7px 0px rgba(163,163,163,1);
			-moz-box-shadow: 5px 5px 7px 0px rgba(163,163,163,1);
			box-shadow: 5px 5px 7px 0px rgba(163,163,163,1);

			.todo-list-text {
				word-wrap: break-word;
			}

			.close {
				position: absolute;
				right: 12px;
				top: 10px;

				font-size: 15px;
				cursor: pointer;
			}
		}
	}

	.todo-form-modal {
		.modal-body {
			max-height: 60vh;
			overflow-y: auto;
		}

		form {
		  width: 60%;
		  margin: 60px auto;
		  background: #efefef;
		  padding: 60px 120px 80px 120px;
		  text-align: center;
		  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
		  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
		}
		label {
		  display: block;
		  position: relative;
		  margin: 40px 0px;
		}
		i {
			margin-right: 10px;
			font-size: 1.1em;
		}
		.label-txt {
		  position: absolute;
		  top: -1.6em;
		  padding: 10px;
		  font-family: sans-serif;
		  font-size: .8em;
		  letter-spacing: 1px;
		  color: rgb(120,120,120);
		  transition: ease .3s;
		}
		.input {
		  width: 100%;
		  padding: 10px;
		  background: transparent;
		  border: none;
		  outline: none;
		}

		.textarea {
		  width: 100%;
		  padding: 10px;
		  background: transparent;
		  border: none;
		  outline: none;
		}

		.line-box {
		  position: relative;
		  width: 100%;
		  height: 2px;
		  background: #BCBCBC;
		}
		
		.line {
		  position: absolute;
		  width: 0%;
		  height: 2px;
		  top: 0px;
		  left: 50%;
		  transform: translateX(-50%);
		  background: #7ac3f8;
		  transition: ease .6s;
		}

		.validation-text {
			color: red;
		}

		.input:focus + .line-box .line {
		  width: 100%;
		}

		.textarea:focus {
			.line {
				transform: translateX(-50%);
		  		background: #7ac3f8;
			}
			
		  	width: 100%;
		}

		.label-active {
		  top: -3em;
		}

		@media only screen and (max-width: 740px) {
			form {
				width: 90%;
				padding: 60px 30px 80px 30px;
			}
		}

		.fade.in {
		  opacity: 1;
		}
		.modal.in .modal-dialog {
		  -webkit-transform: translate(0, 0);
		  -o-transform: translate(0, 0);
		  transform: translate(0, 0);
		}
		.modal-backdrop.in {
		  opacity: 0.5;
		}
	}
}