.timetable-column {
    text-align: center;
    width: auto;
    flex: 1;
}

.timetable-column-header {
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    padding-bottom: 12px;
    padding-top: 19px;
    position: sticky;
    top: 24px;
    z-index: 2;
    background:rgba(255,255,255,0.9);
}

.my-container {
    display: flex;
    padding-left: 15px;
}

.timetable-item-duration {
    font-style: italic;
    font-size: 0.8em;
}

.timetable-item {
    line-height: 1.1;
    position: relative;
    z-index: 0;
    border-radius: 3.2px;
}

.timetable-item:hover {
    z-index: 1;
}

.my-input-time {
    padding: 0.375rem 0 0.375rem 0.375rem;
    width: 2rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#select-color {
    width: auto;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    line-height: 2;
}

#timetable-add {
    height: min-content;
    width: min-content;
    padding-top: 12px;
    flex: inherit;
    padding-right: .375rem;
}
