<nav class="navbar navbar-expand-lg navbar-dark nav-light">
    <div class="container">
        <a class="navbar-brand" href="/">StraightAs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container-nav100-form-btn">
				<div class="nav-item navigation-nav100-form-btn" ng-hide="true">
					<button class="login100-form-btn" ng-click='nvm.switchToHome()' ng-show="nvm.vloga==1">
						Domov
					</button>
				</div>
				
				<div class="nav-item navigation-nav100-form-btn" ng-click='nvm.hrana()'>
					<button class="login100-form-btn" ng-show="nvm.vloga<=1">
						Hrana
					</button>
				</div>
				
				<div class="nav-item navigation-nav100-form-btn">
					<button class="login100-form-btn" ng-click='nvm.switchToEvents()' ng-hide="nvm.vloga==0 || nvm.vloga==3">
						Dogodki
					</button>
				</div>

                <div class="nav-item navigation-nav100-form-btn">
                    <button class="login100-form-btn" ng-click="nvm.obvestila()" ng-hide="nvm.vloga==0">
                        Obvestila
                    </button>
                </div>
				
				<div class="nav-item navigation-nav100-form-btn">
					<button class="login100-form-btn" ng-click="nvm.nastavitve()" ng-hide="nvm.vloga==0">
						Nastavitve
					</button>
				</div>

                <div class="nav-item navigation-nav100-form-btn">
                    <button class="login100-form-btn" ng-click="nvm.odjava()" ng-show="nvm.jePrijavljen">
                        Odjava
                    </button>
                    <button class="login100-form-btn" ng-click="nvm.odjava()" ng-hide="nvm.jePrijavljen">
                        Prijava
                    </button>
                </div>
			</div>
        </div>
    </div>
</nav>

<!--
<div class="container-nav100">
	<span class="login100-form-title">
			StraightAs
			<hr>
			<div style="text-align: center; color:#808080; font-size: 15px;">Quote of the day:</div>
			<div style="text-align: center;color:#000000;">It works for me.</div>
	</span>
	<hr>
	<div class="container-login100-form-btn">
		<div class="navigation-main100-form-btn">
			<button class="login100-form-btn">
				Domov
			</button>
		</div>
		
		<div class="navigation-main100-form-btn">
			<button class="login100-form-btn">
				Hrana
			</button>
		</div>
		
		<div class="navigation-main100-form-btn">
			<button class="login100-form-btn">
				Dogodki
			</button>
		</div>
		
		<div class="navigation-main100-form-btn">
			<button class="login100-form-btn" ng-click="nvm.odjava()">
				Odjava
			</button>
		</div>
	</div>
</div>
-->