<glava></glava>
<main role="main">
    <div class="container" style="text-align: center">
        <form id="vpisiPostajo" ng-submit="vm.najdiIdPostaje()" autocomplete="off">
            <label><b>Station:</b></label>
            <input type="text" name="postaja" placeholder="Bavarski dvor" required="required" id="postaja" ng-model="vm.postaja">
            <br/>
            <button class="btn btn-primary" id="btnSubmit" type="submit">Find routes for station</button>
        </form>
        <br/>
        <form id="izberiPostajo" ng-submit="vm.prikaziOdhode()">
            <label><b>Route</b></label>
            <select ng-model="vm.selected" name="selectedRoutes"
                    ng-options="x for x in vm.routes" ng-focus="vm.loadOptions()" ng-change="vm.prikaziOdhode()">
            </select>
            <br/>
            <button class="btn btn-primary" id="btnSelect" type="submit">Show bus arrivals</button>
        </form>
    </div>
    <br/>
    <div class="container" style="text-align: center;">
        <div class="alert-warning">{{ vm.emptyMessage}} </div>
        <div class="alert-warning">{{ vm.selectRoute}} </div>
        <div class="alert-warning">{{ vm.noData }} </div>
    </div>
    <br/>
    <div class="container" ng-repeat="data in vm.routesInfo">
        <div class="container" style="text-align: center">
            {{ data.name }}
        </div>
        <table class="container col col-sm-6 table table-striped table-responsive-md btn-table">
            <tbody>
                <tr ng-repeat="time in data.times">
                    <th>{{ time.arrival_time.substring(0,10)}}</th>
                    <th>{{ time.arrival_time.substring(11,16) }}</th>
                </tr>
            </tbody>
        </table>
        </br>
    </div>
</main>