<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>StraightAs Email Confirmation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <p>Hi there!</p>

    <p>To finish your registration, simply click:
        <a href="{{ verification_url }}">here</a>.
    </p>

    <p>If you have not registered for StraightAs, simply ignore this message.</p>
</body>
</html>