<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Password reset</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <p>Hi there!</p>

    <p>Oh no! You forgot your password :(</p>
    <p>Don't worry we have you covered! You can reset your password by clicking:
        <a href="{{ password_reset_url }}">here</a>.
    </p>

    <p>If you have not requested to reset your password, simply ignore this message.</p>
</body>
</html>