<navigacija></navigacija>
<div class="container mycontainer">
    
    <button style="margin-bottom: 10px" type="button" class="btn btn-info btn-lg center-block" data-toggle="modal" data-target="#SendMessage">Novo obvestilo</button>

    <div class="modal fade" id="SendMessage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <b>Pošiljanje sistemskih obvestil</b>
                </div>
                
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <label for="title">Naslov</label>
                        <input class="form-control"  name="title" id="title" ng-model="vm.notification.title"/>
                    </div>
                    <div class="md-form mb-5">
                        <label for="body">Obvestilo</label>
                        <textarea rows="10" class="form-control"  name="body" id="body" ng-model="vm.notification.body"></textarea>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Prekliči</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.posiljanjeSistemskihSporocil()">Potrdi</button>
                </div>
            </div>
        </div>
    </div>
</div>