<div class="row justify-content-center">
  <div class="col-lg-6 m-5">
    <input
      id="typeahead-basic"
      type="text"
      class="form-control"
      [(ngModel)]="postaja"
      [ngbTypeahead]="search"
      (selectItem)="prikazi_seznam_avtobusov($event)"
      [resultFormatter]="postajaToString"
      [inputFormatter]="postajaToString"
      placeholder="Vpišite ime ali številko postaje."
    />
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-6" *ngIf="prihodi$ | async; let prihodi$">
    <ul class="list-group" *ngIf="prihodi$.length == 0">
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div class="">
            <span class="h2"
              ><mdb-badge pill="true" primary="true">
                <i class="fas fa-walking"></i>
              </mdb-badge></span
            >
          </div>
          <div class="align-self-end">
            <span class="h4">Ni znanih prihodov</span>
          </div>
          <div class="align-self-baseline">
            <span></span>
          </div>
        </div>
      </li>
    </ul>
    <ul class="list-group" *ngIf="prihodi$.length > 0">
      <li class="list-group-item" *ngFor="let prihod of prihodi$">
        <div class="d-flex justify-content-between">
          <div class="">
            <span class="h2"
              ><mdb-badge pill="true" success="true">{{
                prihod.route_number
              }}</mdb-badge></span
            >
          </div>
          <div class="align-self-end">
            <span class="h4">{{ prihod.route_name }}</span>
          </div>
          <div class="align-self-baseline">
            <span>čez </span> <strong>{{ prihod.eta }} min</strong>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
