<div class="row mt-2">
  <div class="col-lg-8">
     <agm-map
            style="width: 100%; height: 50rem;"
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
        >
            <agm-marker *ngFor="let restavracija of restavracije" [latitude]="restavracija.lat" [longitude]="restavracija.lng">
                <agm-info-window>
                    <strong>{{restavracija.ime}}</strong>
                    <p>{{restavracija.naslov}}</p>
                    <p><strong>Doplačilo </strong>{{restavracija.doplacilo.toFixed(2)}} <strong>€</strong></p>
                    <p><strong>Oddaljenost </strong>{{restavracija.oddaljenost.toFixed(2)}} <strong>km</strong></p>
                </agm-info-window>
            </agm-marker>
            <agm-marker [latitude]="pos_lat" [longitude]="pos_lng" [iconUrl]="'http://maps.google.com/mapfiles/kml/paddle/blu-blank.png'">
                    <agm-info-window>
                            <strong>Trenutna pozicija</strong>
                        </agm-info-window>
            </agm-marker>
        </agm-map>
  </div>
  <div class="col-lg-4 mt-2">
    <!-- Card -->
    <div *ngIf="selectedValue" class="card mb-4">
      <!-- Card image -->

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">
          <a>{{ selectedValue.ime }}</a>
        </h4>
        <!-- Text -->
        <p class="card-text">{{ selectedValue.naslov }}</p>
        <p class="card-text">{{ selectedValue.doplacilo.toFixed(2) }} <strong>€</strong></p>
        <p class="card-text">{{ selectedValue.oddaljenost.toFixed(2) }} km</p>
      </div>
    </div>
    <!-- Card -->
    <select (ngModelChange)="updateLocation($event)"
      class="browser-default custom-select custom-select-lg mb-3"
      style="overflow-x: auto;"
      name=""
      id=""
      [ngModel]="selectedValue"
      size="15"
    >
      <option
        *ngFor="let restavracija of restavracije"
        [value]
        [ngValue]="restavracija"
      >
        {{ restavracija.ime }} ({{ restavracija.oddaljenost.toFixed(2) }} km)
      </option>
    </select>
  </div>
</div>
