<div *ngIf="!uporabnikService.pridobi_uporabnika()" class="row text-center">
  <div class="col-12">  

        <h2 id="landing-title" class="card-title h2-responsive mb-5 font-bold"><strong>Straight<span class="h1">A</span>s</strong></h2>
        <p>Znebi se odvečnih aplikacij, saj aplikacija StraightAs ponuja vse, kar kot študent potrebuješ. 
        </p>
        <p>
          Z uporabo aplikacije boš tako bolj organiziran in desetke že čakajo nate.
        </p>
        <a class="btn btn-outline-black btn-md" routerLink="/registracija">Preizkusi</a>

      </div>  

</div>
<div *ngIf="uporabnikService.pridobi_uporabnika()" class="row">
  <!--KOLEDAR-->
  <div class="col-md-8 p-2">
    <div class="row m-2">
      <div class="col-lg-4">
        <div class="btn-group">
          <div class="btn btn-outline-default" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            <i class="fas fa-arrow-left"></i>
          </div>
          <div class="btn btn-outline-dark" mwlCalendarToday [(viewDate)]="viewDate">
              <i class="far fa-calendar-alt"></i>
          </div>
          <div class="btn btn-outline-default" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'sl' }}</h3>
      </div>
    </div>
    <br />
    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="prikazi_obrazec_za_dodajanje_vnosa_v_koledar($event.day)"
      (eventClicked)="prikazi_obrazec_za_urejanje_vnosa_v_koledarju($event.event)" (eventTimesChanged)="eventTimesChanged($event)"
      [cellTemplate]="customCellTemplate" [weekStartsOn]="1" [locale]="locale">
    </mwl-calendar-month-view>
    <div class="p-3"></div>
    <ng-template
      #weekViewHourSegmentTemplate
      let-segment="segment"
      let-locale="locale"
      let-segmentHeight="segmentHeight"
      let-isTimeLabel="isTimeLabel"
    >
    <div
      #segmentElement
      class="cal-hour-segment"
      [style.height.px]="segmentHeight"
      [class.cal-hour-start]="segment.isStart"
      [class.cal-after-hour-start]="!segment.isStart"
      [ngClass]="segment.cssClass"
      (mousedown)="startDragToCreate(segment, $event, segmentElement)"
    >
      <div class="cal-time" *ngIf="isTimeLabel">
        {{ segment.date | calendarDate:'weekViewHour':locale }}
      </div>
    </div>
  </ng-template>

  <mwl-calendar-week-view
    [viewDate]="viewDateUrnik"
    [events]="eventsUrnik"
    [hourSegmentTemplate]="weekViewHourSegmentTemplate"
    [dayEndHour]="21"
    [dayStartHour]="7"
    [weekStartsOn]="1"
    [excludeDays]="[0,6]"
    (eventClicked)="odpri_vnos_urnika($event.event)"
    [locale]="locale"
  >
  </mwl-calendar-week-view>
  </div>
  <div class="col-md-4 p-2">
    <div class="row text-center"></div>
      <div class="row justify-content-center align-items-center align-middle">
          <div class="col col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <ul class="todo list-group">
          <li class="list-group-item list-group-item-dark"> <strong>
            Moji opravki
          </strong>   </li>
          <li *ngFor="let todo of todos$ | async" class="list-group-item list-group-item-warning">
            <strong>{{todo.opis}}</strong>
            <div class="float-right">
              <button class="btn btn-outline-dark btn-sm p-1" (click)='prikaziFormoZaUpdateTodo(todo)'><i class="far fa-edit"></i></button>
              <button class="btn btn-outline-danger btn-sm p-1" (click)='potrdi_brisanje_vnosa_v_todo(todo)'><i class="far fa-trash-alt"></i></button>
            </div>
            
          </li>
          
        </ul>
        <div class="float-right m-2"><button class="btn btn-dark btn-md" (click)="prikaziFormoZaAddTodo()" id="todo-add-btn">Dodaj opravek</button>
      </div>
    </div>
  </div>
  </div>
  <!--TODOs-->
</div>


<br /><br /><br />

<ng-template #modalAdd let-close="close">
    <form #koledarForm="ngForm">
      <div class="modal-header">
        <h5 *ngIf="addForm.isAdd" class="modal-title">Dodaj novo aktivnost</h5>
        <h5 *ngIf="!addForm.isAdd" class="modal-title">Uredi aktivnost</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="naziv">Naziv</label>
          <input type="text" class="form-control" [(ngModel)]="addForm.naziv" id="naziv" name="naziv" required #naziv="ngModel">
          <div [hidden]="naziv.valid || naziv.pristine"
              class="alert alert-danger">
            Opala! Prosim vpiši naziv.
          </div>
        </div>
        <div class="form-group">
            <label for="datum1">Začetek</label>
            <input class="form-control mesecZmalo" type="text" mwlFlatpickr [(ngModel)]="addForm.zacetniDatum"
              (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true" [locale]="'Slovenian'"
              [time24hr]="true" dateFormat="d-m-YTH:i" altFormat="j. F Y, H:i" placeholder="Not set" name="datum1" />
        </div>

        <div class="form-group">
            <label for="datum2">Konec</label>
            <input class="form-control mesecZmalo" type="text" mwlFlatpickr [(ngModel)]="addForm.koncniDatum"
              (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true" [locale]="'Slovenian'"
              [time24hr]="true" dateFormat="d-m-YTH:i" altFormat="j. F Y, H:i" placeholder="Not set" name="datum2" />
        </div>

        <div *ngIf="!addForm.isValid" class="alert alert-danger">
            Hopla! Napačen izbor datumov. Datum konca mora biti kasneje kot datum začetka, oba pa morata biti v prihodnosti.
        </div>

        <div class="form-group">
          <label for="barva">Barva</label><br>
          <input type="color" [(ngModel)]="addForm.barva" (change)="refresh.next()" name="barva" />
        </div>

        <div class="form-group">
            <label for="opis">Opis</label>
            <textarea rows="4" class="form-control" [(ngModel)]="addForm.opis" name="opis"></textarea> 
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="addForm.isAdd" type="button" class="btn btn-success" [disabled]="!koledarForm.form.valid" (click)="potrdi_dodajanje_vnosa_v_koledar()">
          Dodaj
        </button>
        <button *ngIf="!addForm.isAdd" type="button" class="btn btn-info" [disabled]="!koledarForm.form.valid" (click)="potrdi_urejanje_vnosa_v_koledarju()">
          Uredi
        </button>
      </div>
    </form>  
  </ng-template>

<ng-template #modalDelete let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Res želiš izbrisati aktivnost?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">
      Prekliči
    </button>
    <button type="button" class="btn btn-danger" (click)="potrdi_brisanje_vnosa_iz_koledarja(); close()">
      Izbriši
    </button>
  </div>
</ng-template>

<ng-template #customCellTemplate let-day="day" let-openDay="openDay" let-locale="locale"
  let-tooltipPlacement="tooltipPlacement" let-highlightDay="highlightDay" let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked" let-tooltipTemplate="tooltipTemplate" let-tooltipAppendToBody="tooltipAppendToBody">
  <div class="cal-cell-top">
    <span (click)="counterClick(day)" class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cal-events" *ngIf="day.events.length > 0">
    <div class="cal-event" *ngFor="let event of day.events; trackBy:trackByEventId"
      [style.backgroundColor]="event.color?.primary" [ngClass]="event?.cssClass"
      (mouseenter)="highlightDay.emit({event: event})" (mouseleave)="unhighlightDay.emit({event: event})"
      [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event" [tooltipPlacement]="tooltipPlacement"
      [tooltipEvent]="event" [tooltipTemplate]="tooltipTemplate" [tooltipAppendToBody]="tooltipAppendToBody"
      mwlDraggable [class.cal-draggable]="event.draggable" dragActiveClass="cal-drag-active"
      [dropData]="{event: event, draggedFrom: day}" [dragAxis]="{x: event.draggable, y: event.draggable}"
      (mwlClick)="eventClicked.emit({ event: event })">
    </div>
  </div>
</ng-template>




<ng-template #modalAddTodo let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Dodaj nov opravek</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="opis">Opis</label>
          <input id="todo-add-input" type="text" class="form-control" [(ngModel)]="formTodo.opis" name="opis" required>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button id="todo-add-confirm" type="button" class="btn btn-success" (click)="dodaj_vnos_v_todo(); close()">
      Dodaj
    </button>
  </div>
</ng-template>

<ng-template #modalUpdateTodo let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Uredi opravek</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="opis">Opis</label>
          <input type="text" class="form-control" [(ngModel)]="formTodo.opis" name="opis" required>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="posodobi_vnos_v_todo(); close()">
      Uredi
    </button>
  </div>
</ng-template>

<ng-template #modalDeleteTodo let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Res želiš izbrisati opravek?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">
       Prekliči
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteTodo(); close()">
      Izbriši
    </button>
  </div>
</ng-template>

<ng-template #modalAddUrnik let-close="close">
    <form #urnikForm="ngForm">
      <div class="modal-header">
        <h5 *ngIf="formUrnik.isAdd" class="modal-title">Dodaj obveznost</h5>
        <h5 *ngIf="!formUrnik.isAdd" class="modal-title">Uredi obveznost</h5>
        <button *ngIf="formUrnik.isAdd" type="button" class="close" (click)="prekini_vnos_v_urnik(); close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <button *ngIf="!formUrnik.isAdd" type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <div class="form-group">
          <label for="ime_urnik">Ime obveznosti</label>
          <input type="text" class="form-control" [(ngModel)]="formUrnik.ime" id="ime_urnik" name="ime_urnik" required #ime_urnik="ngModel">
          <div [hidden]="ime_urnik.valid || ime_urnik.pristine"
              class="alert alert-danger">
            Opala! Prosim vpiši ime obveznosti.
          </div>
        </div>
        <div *ngIf="!formUrnik.isAdd" class="form-group">
          <label for="dan">Dan v tednu</label>
          <select [(ngModel)]="formUrnik.dan" class="form-control" name="dan" required>
            <option value="0">Ponedeljek</option>
            <option value="1">Torek</option>
            <option value="2">Sreda</option>
            <option value="3">Četrtek</option>
            <option value="4">Petek</option>
          </select> 
        </div>
        <div *ngIf="!formUrnik.isAdd" class="form-group">
          <label for="zacetek">Začetek</label>
          <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="formUrnik.zacetek"
                [noCalendar]="true"
                [enableTime]="true"
                [dateFormat]="'H:i'"
                [time24hr]="true"
                [convertModelValue]="true"
                name="zacetek"
                required
          >
        </div>
        <div class="form-group">
          <label for="trajanje">Trajanje</label>
          <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="formUrnik.trajanje"
                [noCalendar]="true"
                [enableTime]="true"
                [dateFormat]="'H:i'"
                [time24hr]="true"
                [convertModelValue]="true"
                name="trajanje"
                required
          >
        </div>
        <div *ngIf="formUrnik.errorMsg.length > 0" class="alert alert-danger">
            {{ formUrnik.errorMsg }}
        </div>
        <div class="form-group">
          <label for="barva">Barva</label><br>
          <input type="color" [(ngModel)]="formUrnik.barva" (change)="refresh.next()" name="barva" />
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="formUrnik.isAdd" type="button" class="btn btn-success" [disabled]="!urnikForm.form.valid" (click)="dodaj_vnos_v_urniku()">
          Dodaj
        </button>
        <button *ngIf="!formUrnik.isAdd" type="button" class="btn btn-danger" (click)="odpri_brisanje_vnosa_iz_urnika(); close()">
          Izbriši
        </button>
        <button *ngIf="!formUrnik.isAdd" type="button" class="btn btn-info" [disabled]="!urnikForm.form.valid" (click)="posodobi_vnos_v_urniku()">
          Uredi
        </button>
      </div>
  </form>
</ng-template>

<ng-template #modalDeleteUrnik let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Res želiš izbrisati obveznost?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">
      Prekliči
    </button>
    <button type="button" class="btn btn-danger" (click)="potrdi_brisanje_vnosa_iz_urnika(); close()">
      Izbriši
    </button>
  </div>
</ng-template>

<ng-template #modalError let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Dodajanje aktivnosti za preteklost je onemogočeno. Mar imaš doma časovni stroj?</h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        Prekliči
      </button>
    </div>
  </ng-template>
