<div class="row justify-content-md-center">
  <div class="col-md-10">
    <table class="table table-hover">
      <thead class="dusty-grass-gradient">
        <tr>
          <th scope="col">Naziv</th>
          <th scope="col">Organizator</th>
          <th scope="col">Datum</th>
          <th scope="col">Opis</th>
        </tr>
      </thead>
      <tbody>
        <!-- ngIf -->
        <tr *ngFor="let dogodek of dogodki$ | async">
          <td>{{ dogodek.ime }}</td>
          <td>{{ dogodek.organizator }}</td>
          <td>{{ dogodek.datum }}</td>
          <td>{{ dogodek.opis }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-2">
    <button class="btn btn-lg btn-success" (click)="open(content)">
      Dodaj
    </button>
  </div>
</div>

<!-- Modal's HTML -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodaj dogodek</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <!--Forma-->
        <form
          [formGroup]="dogodekObrazec"
          novalidate
          (ngSubmit)="dodaj_dogodek()"
        >
          <div class="form-group">
            <label for="naziv">Naziv</label>
            <input
              formControlName="ime"
              class="form-control form-control-lg"
              placeholder="Naziv"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="naziv">Datum</label>
            <input
              formControlName="datum"
              class="form-control form-control-lg"
              type="date"
            />
          </div>
          <div class="form-group">
                <label for="naziv">Organizator</label>
            <input
              formControlName="organizator"
              class="form-control form-control-lg"
              placeholder="Organizator"
              type="text"
            />
          </div>
          <div class="form-group">
          <label for="naziv">Opis</label>
            <textarea
              formControlName="opis"
              class="form-control form-control-lg"
            ></textarea>
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="dogodekObrazec.pristine || dogodekObrazec.invalid"
            >
              Dodaj
            </button>
          </div>
        </form>
      </div>
  </div>
</ng-template>
