<navigation></navigation>
<div class="verification_page">
  <div class="row">
    <div class="container text-center col-md-4 col-md-offset-4"> 
      <h3>{{ vm.pageHeader.title }} </h3>
      <div class="login-box">
        <form ng-submit="vm.sendingData()" autocomplete="off">
          <div role="alert" ng-show="vm.errorOnForm" class="alert alert-danger">{{ vm.errorOnForm }}</div>
          <div role="alert" ng-show="vm.successOnForm" class="alert alert-success">{{ vm.successOnForm }}</div>
          <div class="alert alert-info" role="alert" ng-show="vm.infoOnForm">{{ vm.infoOnForm }}</div>
          <legend>Potrditev</legend>
          <div class="form-group">
            <label for="uuid">Niz</label>
            <input class="form-control" id="uuid" value="" placeholder="Niz znakov, ki ste ga prejeli na Email"  required="" ng-model="vm.verificationData.verificationUuid"/>
          </div>
          <div class="form-group">
            <input ng-disabled="vm.verified" id="verifyButton" class="btn btn-dark btn-login-submit btn-block m-t-md" type="submit" value="Send"/>
        </form>
      </div>
    </div>
  </div>
</div>