<div class="container">
    <div class="row" style="margin-top: 20px; ">
        <div class="col-12 col-md-6">
            <div class="row">
                <!-- Koledar -->
                <div class="col-12">
                    <p ng-if="vm.jePrijavljen && vm.trenutniUporabnik.tipUporabnika > 0">Funkcionalnost Koledar je na voljo samo za registriranega uporabnika!</p>

                    <div ng-if="!(vm.jePrijavljen && vm.trenutniUporabnik.tipUporabnika > 0)">
                        <div class="card card-body bg-light" id="calendarModule" ng-controller="koledarCtrl as kc">
                            <div class="calendar-header">
                                <div class="d-flex justify-content-between">
                                    <a href="#" ng-click="kc.previousMonth()">
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                    <p style="margin-bottom: 0; ">{{ kc.monthName }} {{ kc.year }}</p>
                                    <a href="#" ng-click="kc.nextMonth()">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="calendar-body">
                                <ul>
                                    <li>Mon</li>
                                    <li>Tue</li>
                                    <li>Wed</li>
                                    <li>Thu</li>
                                    <li>Fri</li>
                                    <li>Sat</li>
                                    <li>Sun</li>
                                </ul>
                                <ul class="entry-list">
                                    <li ng-repeat="n in [].constructor(kc.firstDayIx) track by $index">&nbsp;</li>
                                    <li ng-repeat="n in [].constructor(kc.numberOfDays) track by $index" ng-click="kc.izbran_dan($index)" ng-class="{ selected: kc.selectedIx == $index }">{{ $index + 1 }}</li>
                                </ul>
                            </div>
                            <div class="calendar-footer d-flex">
                                <a id="dodajVnosVKoledar" href="#" class="ml-auto mt-2" ng-click="kc.dodaj_vnos_v_koledar()"><i class="fas fa-plus-square fa-lg"></i></a>
                                <a href="#" class="ml-2 mt-2"><i class="fas fa-minus-square fa-lg"></i></a>
                            </div>

                            <hr>

                            <div id="theRealFooter" ng-if="kc.seznamDogodkov != null">
                                <h6 ng-if="kc.seznamDogodkov.length != 0">Events on the selected day:</h6>
                                <h6 ng-if="kc.seznamDogodkov.length == 0">No events scheduled for this day.</h6>
                                <ul class="event-list">
                                    <li class="seznamPrikazanihDogodkov" ng-repeat="dogodek in kc.seznamDogodkov">
                                        - ime: {{dogodek.ime}}, cas: {{dogodek.datumStr}}, opis: {{dogodek.opis}}, trajanje: {{dogodek.trajanje}}.   |
                                        <a href="#" class="ml-auto mt-2" ng-click="kc.uredi_vnos(dogodek)"><i class="fas fa-edit fa-lg"></i></a>
                                        <a href="#" class="ml-2 mt-2" ng-click="kc.izbrisi_vnos(dogodek)"><i class="fas fa-minus-square fa-lg"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <p ng-if="kc.seznamDogodkov == null">Select an entry from the calendar</p>

                        </div>
                    </div>
                </div>

                <!-- Urnik -->
                <div class="col-12" style="margin-top: 20px;" ng-controller="urnikCtrl as uc">
                    <p ng-if="vm.jePrijavljen && vm.trenutniUporabnik.tipUporabnika > 0">Funkcionalnost Urnik je na voljo samo za registriranega uporabnika!</p>
                    <div ng-if="!(vm.jePrijavljen && vm.trenutniUporabnik.tipUporabnika > 0)">
                        <table ng-else class="table table-bordered" id="scheduleModule">
                            <thead>
                            <tr>
                                <th scope="col">
                                    <div class="calendar-footer d-flex">
                                        <a href="#" ><i class="fas fa-plus-square fa-lg"></i></a>
                                        <a href="#" class="ml-2"><i class="fas fa-minus-square fa-lg"></i></a>
                                    </div>
                                </th>
                                <th scope="col">Mon</th>
                                <th scope="col">Tue</th>
                                <th scope="col">Wed</th>
                                <th scope="col">Thu</th>
                                <th scope="col">Fri</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="i in [] | range:0:12">
                                <th scope="row">{{ i+7 }}:00</th>
                                <td
                                        style="cursor: pointer;"
                                        ng-repeat="j in [] | range:0:5"
                                        ng-click="uc.vnosi[i*5+j].ime == '' ? vm.izberi_celico_v_urniku(i*5+j, 0, null) : null"
                                        ng-dblclick="uc.vnosi[i*5+j].ime != '' ? vm.izberi_celico_v_urniku(i*5+j, 1, uc.vnosi[i*5+j]) : null"
                                        ng-right-click="uc.vnosi[i*5+j].ime != '' ? vm.izberi_celico_v_urniku(i*5+j, 2, uc.vnosi[i*5+j]) : null"
                                        ng-style="{'background-color': uc.vnosi[i*5+j].barva}">
                                    {{ uc.vnosi[i*5+j].ime }}
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div ng-if="uc.napakaNaObrazcu" class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ uc.napakaNaObrazcu }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TODO seznam -->
        <div class="col-12 col-md-6">
            <p ng-if="vm.jePrijavljen && vm.trenutniUporabnik.tipUporabnika > 0">Funkcionalnost TODO seznam je na voljo samo za registriranega uporabnika!</p>
            <div ng-if="!(vm.jePrijavljen && vm.trenutniUporabnik.tipUporabnika > 0)">
                <div class="card card-body bg-light" id="todoModule" ng-controller="seznamCtrl as sc">

                    <!-- Controls -->
                    <div class="seznam d-flex">
                        <a href="#" id="dodajVnosVSeznam" ng-click="sc.dodaj_vnos_v_seznam()"><i class="fas fa-plus-square fa-lg"></i></a>
                    </div>

                    <div class="seznamPrikazanihOpravil" ng-repeat="opravilo in sc.uporabnikovaOpravila" >

                        <div class="card mt-2">
                            <div class="card-body">
                                <p id= "opisOpravila" class="card-text">{{opravilo.opis}}</p>
                                <a href="#" class="ml-auto mt-2"  ng-click="sc.uredi_vnos(opravilo)"><i class="fas fa-edit fa-lg"></i></a>
                                <a href="#" id= "izbrisVnosaVSeznamu" class="ml-2 mt-2" ng-click="sc.izbrisi_vnos(opravilo)"  ><i class="fas fa-minus-square fa-lg"></i></a>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>